<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5683aab0-99de-45b7-b142-c8ef3102689b" Alias="Common.Map.Location" Level="2">
  <Info>
    <Parent>Common.Map</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} &lt;span&gt;{1} location&lt;/span&gt;</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>