<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4595732b-6465-454a-bb78-115ce9a0a906" Alias="Common.Footer.Copyright Label" Level="2">
  <Info>
    <Parent>Common.Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright {0}. All rights reserved.</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>