<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84ff8f1f-9c39-493a-b6ad-40f9d105ee72" Alias="Common.Cards.Send Email To" Level="2">
  <Info>
    <Parent>Common.Cards</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Send email to {0}</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>