<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b4ec08cf-96fc-4645-80d0-80a76136c976" Alias="Common.Social Sharing.Twitter" Level="2">
  <Info>
    <Parent>Common.Social Sharing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share on Twitter</Translation>
    <Translation Language="nl-NL">Deel op Twitter</Translation>
  </Translations>
</Dictionary>