<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="af5a201a-d744-466e-9625-e3a5ad9b26bc" Alias="Common.Filters.Sort Oldest First" Level="2">
  <Info>
    <Parent>Common.Filters</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Oldest first</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>