<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b383779b-12a7-474f-8f5b-11cc8bd2fc39" Alias="Common.Breadcrumb.Label" Level="2">
  <Info>
    <Parent>Common.Breadcrumb</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You are here:</Translation>
    <Translation Language="nl-NL">Je bent hier:</Translation>
  </Translations>
</Dictionary>