<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="26816d9f-b965-4d31-9335-df81ca6f5732" Alias="Common.Social Sharing.Title" Level="2">
  <Info>
    <Parent>Common.Social Sharing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share</Translation>
  </Translations>
</Dictionary>