<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b099200e-edc2-4139-8b0b-80c2e54e8c26" Alias="Common.Downloads.Download PDF" Level="2">
  <Info>
    <Parent>Common.Downloads</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Download PDF {0}</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>