<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="050c7ace-8d10-467e-bce7-531f46a16c48" Alias="Common.Pagination.Previous" Level="2">
  <Info>
    <Parent>Common.Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
  </Translations>
</Dictionary>