<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fb087a4b-1a78-4f85-aedd-50239ccdc050" Alias="Common.Pagination.Current Page" Level="2">
  <Info>
    <Parent>Common.Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Current Page</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>