<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9f6d071f-6e55-4d9e-bbc0-edddd89edc97" Alias="Common.Pagination.Next Page" Level="2">
  <Info>
    <Parent>Common.Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next Page</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>