<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2154005d-ddcb-465d-af65-044d1f3de622" Alias="Common.Rich Text.Read Less" Level="2">
  <Info>
    <Parent>Common.Rich Text</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Read Less</Translation>
  </Translations>
</Dictionary>