<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aeed38cf-ad69-4aa9-ada2-a1df32a15deb" Alias="Common.Filters.Apply Filters" Level="2">
  <Info>
    <Parent>Common.Filters</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Apply filters {0}</Translation>
  </Translations>
</Dictionary>