<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="72dd4f7a-0a91-4ecf-a1a9-33dac8c3cddd" Alias="Common.Cards.Make Phone Call To" Level="2">
  <Info>
    <Parent>Common.Cards</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Make a phone call to {0}</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>