<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a7d6f899-3aa2-4885-8eec-8b6e6f983b03" Alias="Common.Pagination.Next" Level="2">
  <Info>
    <Parent>Common.Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>