<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b0a60175-41a3-490e-b44f-ffa4b332df8c" Alias="Common.Of" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Of</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>