<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="20a049fd-aacf-4d7f-839d-db127182dc7a" Alias="Common.Social Sharing.Facebook" Level="2">
  <Info>
    <Parent>Common.Social Sharing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share on Facebook</Translation>
  </Translations>
</Dictionary>