<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="77b583f0-dd1f-4453-b569-4bf4a966955b" Alias="Common.Pagination.Go To Page" Level="2">
  <Info>
    <Parent>Common.Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Go to page {0}</Translation>
  </Translations>
</Dictionary>