<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7cd81550-dcd2-4d0d-a878-a371a2c06a12" Alias="Common.Search.Search Label" Level="2">
  <Info>
    <Parent>Common.Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>