<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b929de65-ecb3-4865-b555-71c1a36bd54f" Alias="Common.Social Sharing.LinkedIn" Level="2">
  <Info>
    <Parent>Common.Social Sharing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share on LinkedIn</Translation>
  </Translations>
</Dictionary>