<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d8a67e0c-2044-4f0b-9826-8e0d5a68ac69" Alias="Common.Pagination.Previous Page" Level="2">
  <Info>
    <Parent>Common.Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous Page</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>