<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b3870560-d25d-4626-9e59-057c9242b818" Alias="Common.Footer.Link Groups Label" Level="2">
  <Info>
    <Parent>Common.Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Link Groups Label</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>