<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b3ceed0-c8ad-4967-bf72-d2ab804321b3" Alias="Common.Map.Locations" Level="2">
  <Info>
    <Parent>Common.Map</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} &lt;span&gt;{1} locations&lt;/span&gt;</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>