<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6b958d5f-074c-4b35-b3fb-667d37284693" Alias="Common.Filters.Sort Newest First" Level="2">
  <Info>
    <Parent>Common.Filters</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Newest first</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>