<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3754244c-4d60-4fba-ade6-994843f1c419" Alias="Common.Cookies.Save" Level="2">
  <Info>
    <Parent>Common.Cookies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Save</Translation>
    <Translation Language="nl-NL">Opslaan</Translation>
  </Translations>
</Dictionary>