<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3c5b7846-3990-4bc3-a055-036b080e281c" Alias="Common.Downloads" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Download</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>