<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bdd4fee1-1430-46de-afdc-d563a7f7518d" Alias="Common.Social Sharing.Whatsapp" Level="2">
  <Info>
    <Parent>Common.Social Sharing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share on Whatsapp</Translation>
    <Translation Language="nl-NL">Deel via Whatsapp</Translation>
  </Translations>
</Dictionary>