<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="226b544a-7e49-400d-9895-6283251cec1c" Alias="Common.Footer.Bottom Links Label" Level="2">
  <Info>
    <Parent>Common.Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Bottom Links Label</Translation>
  </Translations>
</Dictionary>