<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4e93e135-499a-484b-b5a8-239c23d2fd9f" Alias="Content.ContentTags" Level="1">
  <Info>
    <Parent>Content</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Tags</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>