<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b520037-924d-49cf-a277-f58f82f5a1a8" Alias="Forms.Fields.First Name" Level="2">
  <Info>
    <Parent>Forms.Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">First Name</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>