<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8771c70-64e3-4b63-9ee8-c3132b7f238f" Alias="Forms.Event Form.Submit Form Label" Level="2">
  <Info>
    <Parent>Forms.Event Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign up to event</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>