<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a07b5d20-e6f7-48d8-8936-726a384aae0c" Alias="Forms.Contact Form.Title" Level="2">
  <Info>
    <Parent>Forms.Contact Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact us</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>