<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7cb83b65-872e-44c5-8561-71f759a11942" Alias="Forms.Contact Form.Submit Form Label" Level="2">
  <Info>
    <Parent>Forms.Contact Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Send contact</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>