<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="612dc0cd-e07e-4c3c-a068-8bec10002f2c" Alias="Forms.Event Form.Submission Success Message" Level="2">
  <Info>
    <Parent>Forms.Event Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Form submitted.</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>