<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27426301-04ac-48b4-a42a-e5b603586ebb" Alias="Forms.Fields.Interested In.Error Message" Level="3">
  <Info>
    <Parent>Forms.Fields.Interested In</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Field is required.</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>