<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="41649248-00d7-4235-a047-e27bd476cb1d" Alias="Forms.Fields.Country.Error Message" Level="3">
  <Info>
    <Parent>Forms.Fields.Country</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>