<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4268692-0f19-4878-bb30-34d4d19d46fe" Alias="Forms.Fields.Privacy Policy.Error Message" Level="3">
  <Info>
    <Parent>Forms.Fields.Privacy Policy</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Field is required.</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>