<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="51d7a3e0-0aed-4269-890a-5b443074802e" Alias="Forms.Download Form.Submission Success Message" Level="2">
  <Info>
    <Parent>Forms.Download Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Form submitted.</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>