<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0591d15-bfd3-46eb-9862-bd42fe611a22" Alias="Forms.Fields.Last Name" Level="2">
  <Info>
    <Parent>Forms.Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Last Name</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>