<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d621de8-34b2-49c7-a7c6-90f3d3b4c89b" Alias="Forms.Contact Form.Submission Success Message" Level="2">
  <Info>
    <Parent>Forms.Contact Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your message was sent.</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>