<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8d903307-ad0a-479f-b474-6c07aad9474f" Alias="Forms.Fields.Company" Level="2">
  <Info>
    <Parent>Forms.Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Company</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>