<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34f4dceb-9b7c-4cc1-9387-ba2c42d4f281" Alias="Forms.Event Form.Title" Level="2">
  <Info>
    <Parent>Forms.Event Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Register</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>