<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a9400d0-0117-433f-9d11-d12ef48091fc" Alias="Forms.Download Form.Title" Level="2">
  <Info>
    <Parent>Forms.Download Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Request a download</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>