<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="39fd9b48-2d04-4504-a4ff-fc34d180efa8" Alias="Forms.Fields.Email" Level="2">
  <Info>
    <Parent>Forms.Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>