<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="14e3ea75-2532-4b8c-9f4e-a495675afd41" Alias="Navigation.Menu" Level="1">
  <Info>
    <Parent>Navigation</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Menu</Translation>
    <Translation Language="nl-NL">Menu NL</Translation>
  </Translations>
</Dictionary>