<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="befc0727-599d-4d2f-899d-faae50dc5ef4" Alias="Navigation.Main Navigation" Level="1">
  <Info>
    <Parent>Navigation</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Main Navigation</Translation>
  </Translations>
</Dictionary>