<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1b9635e9-e4b3-4d68-adfc-8d12dd564daa" Alias="Navigation.Home" Level="1">
  <Info>
    <Parent>Navigation</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Home</Translation>
    <Translation Language="nl-NL">Home NL</Translation>
  </Translations>
</Dictionary>