<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="764184aa-c1b7-4f67-8935-7ea7ab214c4e" Alias="Navigation.OpenMenu" Level="1">
  <Info>
    <Parent>Navigation</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open Menu</Translation>
    <Translation Language="nl-NL">Open Menu NL</Translation>
  </Translations>
</Dictionary>