<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="96f3d01a-a49b-4444-b049-beebd4a79151" Alias="Navigation.Select Language" Level="1">
  <Info>
    <Parent>Navigation</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change language</Translation>
  </Translations>
</Dictionary>