<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d98b5b8b-c231-49a2-948d-9f0f9f5081a7" Alias="Navigation.Close" Level="1">
  <Info>
    <Parent>Navigation</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Close</Translation>
    <Translation Language="nl-NL">Close NL</Translation>
  </Translations>
</Dictionary>