<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9f519b2e-c648-4e8b-b1e0-082d23bef967" Alias="Products.ResultsCount" Level="1">
  <Info>
    <Parent>Products</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} products</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>