<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="526ec49c-a720-4226-b844-1320ea790e1d" Alias="Products.ConnectivityType" Level="1">
  <Info>
    <Parent>Products</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Connectivity</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>