<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df41935b-0cfd-4e70-b6c1-1d2e2d0099f9" Alias="Products.ResultCount" Level="1">
  <Info>
    <Parent>Products</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} product</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>