<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bfdc439c-7847-404a-acf2-34bf52849b9f" Alias="Products.RouteOfAdministration" Level="1">
  <Info>
    <Parent>Products</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Route Of Administration</Translation>
  </Translations>
</Dictionary>