<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e65aba4d-0071-4194-93b9-fb1784f98f3c" Alias="Search.ResultsCount" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} results</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>