<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="22b27cd9-3b3b-4ec5-9fe9-eee370007899" Alias="Search.Type" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Type</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>