<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e62893c-ba2e-4a64-9373-6ea5c650aeaf" Alias="Search.Open Search" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open search</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>