<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="93a02593-4e48-46dd-9479-b64107b9b17c" Alias="Vacancies.ContractType" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Employment Type</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>