<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8487048d-9257-4ca5-b09d-b29f566dbc39" Alias="Vacancies.All Filter Options" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>