<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="273222fa-f024-45aa-91fa-beea6c1e8bec" Alias="Vacancies.Search Placeholder" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search for a vacancy</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>