<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb811f9a-ffb2-4919-b38f-14510584bc3e" Alias="Vacancies.All Filter Options.ContractType" Level="2">
  <Info>
    <Parent>Vacancies.All Filter Options</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All employment types</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>