<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b0027608-e204-4ecd-b0da-f09dbc7f97e8" Alias="Vacancies.Country" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Country</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>