<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5f0aecd3-167f-4adc-80a5-707d9c7c10c1" Alias="Vacancies.All Vacancies" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All vacancies</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>