<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc574b6f-a323-43af-be60-e7d3d60027ec" Alias="Vacancies.Function" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Function</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>