<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f30a032f-f273-44f5-86ca-fc3fe7c4fb1e" Alias="Vacancies.Search" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>