<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dbd13803-6be5-45bf-9b29-6d9d75a8389b" Alias="Vacancies.All Filter Options.Function" Level="2">
  <Info>
    <Parent>Vacancies.All Filter Options</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All functions</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>