<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aea46ac7-0a2b-44a3-9c27-8bfda6a52c01" Alias="Vacancies.JobLevel" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Seniority level</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>