<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="acd5c289-8883-4a88-9fd5-69fcf201c39c" Alias="Vacancies.All Filter Options.Country" Level="2">
  <Info>
    <Parent>Vacancies.All Filter Options</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All locations</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>