<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d6ff042-e296-43a0-9ddb-4ac40e33faed" Alias="Vacancies.Apply" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Apply now</Translation>
    <Translation Language="zh-Hant-TW">Apply now</Translation>
  </Translations>
</Dictionary>