<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4f27730f-21d2-4b99-b1b4-340a8f4ac97e" Alias="Vacancies.All Filter Options.Location" Level="2">
  <Info>
    <Parent>Vacancies.All Filter Options</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All Locations</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>