<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3b81e4ec-7d58-492c-95a2-73ab369a2152" Alias="Vacancies.Related Vacancies" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You might be interested in...</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>