<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="65d84190-8126-4d6d-82d4-3e1bb9f32bf6" Alias="Vacancies.ResultCount" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} vacancy</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>