<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8458332e-9f34-48e7-a63a-76e832ae0114" Alias="Vacancies.ResultsCount" Level="1">
  <Info>
    <Parent>Vacancies</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} vacancies</Translation>
    <Translation Language="zh-Hant-TW"></Translation>
  </Translations>
</Dictionary>