<?xml version="1.0" encoding="utf-8"?>
<Content Key="42e86845-9c0b-47f8-84da-ad489d66bf24" Alias="Injector 2" Level="4">
  <Info>
    <Parent Key="b6eb4813-9cd2-4f94-b7fa-923f913ef94e">Injectors</Parent>
    <Path>/Home/OurProducts/Injectors/Injector2</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-07-21T22:25:59</CreateDate>
    <NodeName Default="Injector 2">
      <Name Culture="en-us">Injector 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[[
  "Injector"
]]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Injector 2 test test&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5fb24e92-adef-4e2b-b1e0-0c28120bc777",
    "mediaKey": "d6539024-95b8-42f5-b599-9946ac76d2fb"
  }
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9a13180c61554a1da52c766a32e7e97e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/9a13180c61554a1da52c766a32e7e97e",
      "title": "Content Hero",
      "primaryLink": null,
      "secondaryLink": null,
      "text": "",
      "subTitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>