<?xml version="1.0" encoding="utf-8"?>
<Content Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>pageHome</ContentType>
    <CreateDate>2021-07-21T18:42:20</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
      <Name Culture="nl-nl">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f7021cf-8636-4dd4-a9bd-764f2e560acd">PageHome</Template>
  </Info>
  <Properties>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/845d35a61af94be09321bf163b65b15b",
        "settingsUdi": "umb://element/31f2245bafbb48b59f12f2dae88dd45c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "277e3f8a-21af-4d83-8af7-e53ec5cb171a",
      "udi": "umb://element/845d35a61af94be09321bf163b65b15b",
      "title": "2 column",
      "columns": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ebdc7c7bca6a4a1a9f00d12df2bc0997",
              "settingsUdi": "umb://element/621aa5dfb8c9421fa279cf556bb1f3f5"
            },
            {
              "contentUdi": "umb://element/98cfffb636ae41a6a1ad5ddca310c648",
              "settingsUdi": "umb://element/fc938fdf291a4e1b87832bc923928a71"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/98cfffb636ae41a6a1ad5ddca310c648",
            "image": [
              {
                "key": "0914f2ca-1537-4de8-ae75-480d99ce26e4",
                "mediaKey": "c483dff0-acc2-46ee-8972-b72bf3669cd8"
              }
            ],
            "caption": ""
          },
          {
            "contentTypeKey": "6964dbc8-d0ed-4bde-9ea3-9a01b126f811",
            "udi": "umb://element/ebdc7c7bca6a4a1a9f00d12df2bc0997",
            "title": "Welcome",
            "text": {
              "markup": "<p> </p>\n<h2>Welcome to the NL version of the Umbraco standard!</h2>\n<p>You can find the Umbraco documentation <a rel=\"noopener\" href=\"https://docs.umbraco.com/umbraco-cms/\" target=\"_blank\">here</a>.</p>\n<p>If you find any issues, please let us know!</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "showTitle": "0"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
            "udi": "umb://element/fc938fdf291a4e1b87832bc923928a71",
            "identifier": ""
          },
          {
            "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
            "udi": "umb://element/621aa5dfb8c9421fa279cf556bb1f3f5",
            "identifier": ""
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/31f2245bafbb48b59f12f2dae88dd45c",
      "identifier": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7f69b08033114612ace00b63abcf47ff"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "723a39e9-6df5-4e1a-a0f7-45834724b2ff",
      "udi": "umb://element/7f69b08033114612ace00b63abcf47ff",
      "heroTitle": "This is a large title for the hero section",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ca6b5b3d7a5a4ae497ae466e93b44f46"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "dcb4d3db-d942-4b0a-96f9-899c941de27a",
            "udi": "umb://element/ca6b5b3d7a5a4ae497ae466e93b44f46",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7296318913fb493cb541f26b5bff1346"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/7296318913fb493cb541f26b5bff1346",
                  "sourceSize": [
                    "720p"
                  ],
                  "videoLink": "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "image": [
        {
          "key": "0aadba07-fee3-406d-b6bb-b390664b6076",
          "mediaKey": "e06a4a80-d83e-4d7a-81a8-3efd4cdd206c"
        }
      ],
      "shortDescription": {
        "markup": "<p>This is short description</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "mainButtonLink": [
        {
          "name": "Home primary",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "secondaryButtonLink": [
        {
          "name": "Home secondary",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </ogTitle>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
      <Value Culture="nl-nl"><![CDATA[Home NL]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </slogan>
    <theme>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </theme>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>