<?xml version="1.0" encoding="utf-8"?>
<Content Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>pageHome</ContentType>
    <CreateDate>2021-07-21T18:42:20</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
      <Name Culture="nl-nl">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f7021cf-8636-4dd4-a9bd-764f2e560acd">PageHome</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/77101284570640f9a1fc49255d8a89b6",
        "settingsUdi": "umb://element/2822692b63ec4ae4966bc2bef09b70f5"
      },
      {
        "contentUdi": "umb://element/bb60675fdd5a4153978cc9f4a5e02a12"
      },
      {
        "contentUdi": "umb://element/900ba79d945a4bcd9ae9508f0c0d436f"
      },
      {
        "contentUdi": "umb://element/526f6371435e42d994a1ac4108ed2b69",
        "settingsUdi": "umb://element/79754913f984442c9d46285699994c11"
      },
      {
        "contentUdi": "umb://element/d1377b27b76d496886fc7149a54cd060",
        "settingsUdi": "umb://element/b950e0ab2419446a8aaf24f07b4d174d"
      },
      {
        "contentUdi": "umb://element/725077bd20ff41e593552f172273d4c1",
        "settingsUdi": "umb://element/d23c5393222f46dd98f12d760147be78"
      },
      {
        "contentUdi": "umb://element/e8fd68fadd924fb89bc5617c8e3a5a52",
        "settingsUdi": "umb://element/a011da10db8d472fbac812cc835f87d1"
      },
      {
        "contentUdi": "umb://element/59d37b2cd85e459594c726ac0037fae7",
        "settingsUdi": "umb://element/e08e16bc30804dc9a7e6b1e9ad1e39b5"
      },
      {
        "contentUdi": "umb://element/ceeb580ad34f4ad98648b9d3094fe367",
        "settingsUdi": "umb://element/d30630697ccf40d9a2d41e957e2261ef"
      },
      {
        "contentUdi": "umb://element/cc8b88b240b14ba3a7346dd3b5d5ddf9"
      },
      {
        "contentUdi": "umb://element/2abbcbeaf37643d7a94f666202269c56",
        "settingsUdi": "umb://element/05b162615d7c4f91b6e7b186dd848ad7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/526f6371435e42d994a1ac4108ed2b69",
      "title": "One focus, many uses",
      "text": {
        "markup": "<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/545853fe61434ded828483c4e89d2643"
            },
            {
              "contentUdi": "umb://element/91ae32af3de141c1a7427188def234f5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/91ae32af3de141c1a7427188def234f5",
            "title": "For start-ups",
            "text": {
              "markup": "<p>New to the market? We can lend you a helping hand. Let’s bring that molecule to the world, together.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "svgIcon": [
              {
                "key": "02df0a90-3531-4682-be4a-5607f79b7b35",
                "mediaKey": "e8fbdad7-33e1-45f1-ad61-275c08a64cfd"
              }
            ],
            "link": [
              {
                "name": "CTA",
                "target": "_blank",
                "url": "https://www.google.com"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/545853fe61434ded828483c4e89d2643",
            "title": "For pharma & biotech",
            "text": "",
            "icon": "",
            "svgIcon": [
              {
                "key": "952f45ca-0335-4f9a-ab68-ea03e58979ee",
                "mediaKey": "e8fbdad7-33e1-45f1-ad61-275c08a64cfd"
              }
            ],
            "link": null
          }
        ],
        "settingsData": []
      },
      "showCarousel": "1",
      "anchorId": "",
      "anchorTitle": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/77101284570640f9a1fc49255d8a89b6",
      "title": "We provide advanced drug delivery systems",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4bba17d498a04c3a82d2927777f70336"
            },
            {
              "contentUdi": "umb://element/dba36f2945b343c38e8f9022949a0586"
            },
            {
              "contentUdi": "umb://element/5e9adcdf81334db39f20913936eb0768"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/4bba17d498a04c3a82d2927777f70336",
            "title": "Our flagship: Molly®",
            "subTitle": "",
            "text": {
              "markup": "<p>Our most-wanted two-step device platform is modular and available for all. Fully customizable.&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "e7a34b7b-6a71-4b1d-8f6e-a464d887d623",
                "mediaKey": "9b5636d3-2f80-4751-990a-14aa72e47341"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/dba36f2945b343c38e8f9022949a0586",
            "title": "Our products",
            "subTitle": "",
            "text": {
              "markup": "<p>We have 15 single-use injectors and multi-use pens to choose from. Which one fits your molecule?</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "e90cdc7f-8260-4128-a956-8575ad66004f",
                "mediaKey": "1e1d0c00-53b7-4d8f-a79b-756d100e23d5"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/5e9adcdf81334db39f20913936eb0768",
            "title": "Our services",
            "subTitle": "",
            "text": {
              "markup": "<p>Need specific help? We can help you with any of the 10 different services we offer. Explore the possibilities.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "e4e4e640-db2c-4713-9c5a-071a03108866",
                "mediaKey": "5791072c-5aae-4710-bd4c-abd86c0dabdd"
              }
            ],
            "link": [
              {
                "name": "CTA",
                "target": "_blank",
                "url": "https://www.google.com"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "showCarousel": "1",
      "anchorId": "",
      "anchorTitle": ""
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/d1377b27b76d496886fc7149a54cd060",
      "title": "We offer complete support throughout the entire journey",
      "text": {
        "markup": "<p>With our 35 years of experience, we will make it happen. Including but not limited to:</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/73e330a845ca4cbeb7957defd776d42b"
            },
            {
              "contentUdi": "umb://element/4de5220afccd4ec88ac16bb33d9ca9e4"
            },
            {
              "contentUdi": "umb://element/6a9506387c2f4898ae7ff46f8ec3c1bc"
            },
            {
              "contentUdi": "umb://element/c4b355eb22e94838b60b8bc313ef7c73"
            },
            {
              "contentUdi": "umb://element/1bf4d68ae16e441083526e0bb984131c"
            },
            {
              "contentUdi": "umb://element/8dd6b408a2eb4442bab41a16c49d9883"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/73e330a845ca4cbeb7957defd776d42b",
            "title": "Device Development",
            "text": {
              "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/4de5220afccd4ec88ac16bb33d9ca9e4",
            "title": "Device assembly",
            "text": {
              "markup": "<p>Римский император Константин I Великий по достоинству оценил выгодное местоположение приморского Византия, расположенного на стыке Европы и Азии. Кроме того, на решение Константина повлияла неспокойная обстановка в самом Риме: недовольство знати и постоянные распри в борьбе за трон. Император хотел увенчать свою реформаторскую деятельность созданием нового административного центра огромной державы. Закладка города состоялась осенью 324 года, и Константин лично решил обозначить его границы.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/6a9506387c2f4898ae7ff46f8ec3c1bc",
            "title": "Regulatory & quality",
            "text": {
              "markup": "<p>وضع ابن الهيثم تصور واضح للعلاقة بين النموذج الرياضي المثالي ومنظومة الظواهر الملحوظة.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/c4b355eb22e94838b60b8bc313ef7c73",
            "title": "Technical services",
            "text": {
              "markup": "<p>北京位於華北平原的西北边缘，背靠燕山，有永定河流经老城西南，毗邻天津市、河北省，是一座有三千余年建城历史、八百六十余年建都史的历史文化名城，历史上有金、元、明、清、中华民国（北洋政府时期）等五个朝代在此定都，以及数个政权建政于此，荟萃了自元明清以来的中华文化，拥有众多历史名胜古迹和人文景观。《不列颠百科全书》将北京形容为全球最伟大的城市之一，而且断言，“这座城市是中国历史上最重要的组成部分。在中国过去的八个世纪里，不论历史是否悠久，几乎北京所有主要建筑都拥有着不可磨灭的民族和历史意义”。北京古迹众多，著名的有故宫、天坛、颐和园、圆明园、北海公园等。</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/1bf4d68ae16e441083526e0bb984131c",
            "title": "OEM services",
            "text": {
              "markup": "<p>Příliš žluťoučký kůň úpěl ďábelské ódy</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/8dd6b408a2eb4442bab41a16c49d9883",
            "title": "Alliance partnership",
            "text": {
              "markup": "<p>एक जल्दी भूरी लोमड़ी आलसी कुत्ते पर कूदता</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "primaryLink": [
        {
          "name": "Discover all dervices",
          "udi": "umb://document/9fe6dd1200b54a51848f2cc04dc2c5fc"
        }
      ],
      "secondaryLink": [
        {
          "name": "Why SHL Medical",
          "url": "https://www.google.com"
        }
      ],
      "image": [
        {
          "key": "6d2f9a78-e400-4c89-9a4e-c40bb996aa78",
          "mediaKey": "1e1d0c00-53b7-4d8f-a79b-756d100e23d5"
        }
      ],
      "video": null,
      "mediaDescription": "Media Description ",
      "mediaPosition": [
        "start"
      ],
      "theme": "",
      "anchorId": "",
      "anchorTitle": "",
      "buttonsSupportText": "Test button support text "
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/ceeb580ad34f4ad98648b9d3094fe367",
      "title": "We value diversity and strive for excellence",
      "text": {
        "markup": "<p>At our workplace, we value our international environment. We're not deterred by setbacks, but instead, we carry on with determination. We diligently research because we believe in the power of knowledge. Above all, our priority is always people.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": null,
      "primaryLink": [
        {
          "name": "About SHL Medical",
          "udi": "umb://document/9fe6dd1200b54a51848f2cc04dc2c5fc"
        }
      ],
      "secondaryLink": [
        {
          "name": "Purposes & values",
          "url": "https://www.google.com"
        }
      ],
      "image": [
        {
          "key": "cb9a011b-9e5f-44f1-9d03-bfdd9612a2d4",
          "mediaKey": "5791072c-5aae-4710-bd4c-abd86c0dabdd"
        }
      ],
      "video": null,
      "mediaDescription": "",
      "mediaPosition": [
        "end"
      ],
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 1,
        "id": "2"
      },
      "anchorId": "",
      "anchorTitle": "",
      "buttonsSupportText": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/bb60675fdd5a4153978cc9f4a5e02a12",
      "title": "Introducing the Electronic Motorized Autoinjector",
      "description": "It’s new, it’s revolutionary, and it’s here. Our flagship product Molly® is now available as an Electronic Motorized Autoinjector (EMAI).",
      "primaryButton": [
        {
          "name": "Discover the power of EMAI",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "start"
      ],
      "theme": {
        "value": "f3f9f8",
        "label": "pastel-blue",
        "sortOrder": 8,
        "id": "9"
      },
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3db58e77335b4855b60072e4e171e3d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/3db58e77335b4855b60072e4e171e3d6",
            "totalTime": "00:10",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/9e79528b6167480a86f6313f25f78b3a"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/9e79528b6167480a86f6313f25f78b3a",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Title",
            "description": "Description",
            "closedCaptions": null
          }
        ],
        "settingsData": []
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/96a92bf93e084926817bd06bbeca11d8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/96a92bf93e084926817bd06bbeca11d8",
            "image": [
              {
                "key": "1f72e517-10a2-4d2b-9d81-3e8a49848129",
                "mediaKey": "9b5636d3-2f80-4751-990a-14aa72e47341"
              }
            ],
            "caption": "Caption"
          }
        ],
        "settingsData": []
      },
      "anchorId": "",
      "anchorTitle": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/cc8b88b240b14ba3a7346dd3b5d5ddf9",
      "title": "Join us in crafting future healthcare solutions",
      "description": "Where innovation meets compassion in the realm of healthcare. We're revolutionizing the landscape of medical solutions.",
      "primaryButton": [
        {
          "name": "Explore vacancies",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "end"
      ],
      "theme": {
        "value": "fee8f9",
        "label": "lightest-pink",
        "sortOrder": 0,
        "id": "1"
      },
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/193903b22b8845deb39450a8636f4133"
            },
            {
              "contentUdi": "umb://element/5c9c4c1bdd1141bb8d449399da96467e"
            },
            {
              "contentUdi": "umb://element/308e06d9cc8c4b028ac378b2a7e268b4"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/193903b22b8845deb39450a8636f4133",
            "totalTime": "60",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/5a8d9f28e877496bacebc22345ad6b07"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/5a8d9f28e877496bacebc22345ad6b07",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Title",
            "description": "Description",
            "closedCaptions": null
          },
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/5c9c4c1bdd1141bb8d449399da96467e",
            "totalTime": "60",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c3a1649d8e1048218c304a7f68593a3e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/c3a1649d8e1048218c304a7f68593a3e",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Title",
            "description": "Description",
            "closedCaptions": null
          },
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/308e06d9cc8c4b028ac378b2a7e268b4",
            "totalTime": "60",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/23a73f4c90bc4f4385292d6013e1f1a1"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/23a73f4c90bc4f4385292d6013e1f1a1",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Title",
            "description": "Description",
            "closedCaptions": null
          }
        ],
        "settingsData": []
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bfeda93cefd34edc81bef2df6e3ae237"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/bfeda93cefd34edc81bef2df6e3ae237",
            "image": [
              {
                "key": "1f72e517-10a2-4d2b-9d81-3e8a49848129",
                "mediaKey": "9b5636d3-2f80-4751-990a-14aa72e47341"
              }
            ],
            "caption": "Caption"
          }
        ],
        "settingsData": []
      },
      "anchorId": "",
      "anchorTitle": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/2abbcbeaf37643d7a94f666202269c56",
      "title": "Discover the latest news, events and insights",
      "text": "",
      "primaryLink": [
        {
          "name": "Discover all",
          "udi": "umb://document/029e0765846749608c2765a15582e54d"
        }
      ],
      "secondaryLink": null,
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d0e504774fca4986a4905144465bc9eb"
            },
            {
              "contentUdi": "umb://element/771cfb810c5f42b3b51a7f758e0538d2"
            },
            {
              "contentUdi": "umb://element/66075f1dd1b340e6a4d3ce1ce41f1e26"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/d0e504774fca4986a4905144465bc9eb",
            "page": "umb://document/1b97d017d1164368ab4d4d2b0cbdc361"
          },
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/771cfb810c5f42b3b51a7f758e0538d2",
            "page": "umb://document/029e0765846749608c2765a15582e54d"
          },
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/66075f1dd1b340e6a4d3ce1ce41f1e26",
            "page": "umb://document/0ed9a7faa70b47d79c07370602d0f81f"
          }
        ],
        "settingsData": []
      },
      "showCarousel": "0",
      "anchorId": "",
      "anchorTitle": ""
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/900ba79d945a4bcd9ae9508f0c0d436f",
      "theme": {
        "value": "062f54",
        "label": "general",
        "sortOrder": 2,
        "id": "3"
      },
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ff273ece7b414f34b00241b5b201c3dd"
            },
            {
              "contentUdi": "umb://element/845b12edd1e04d91b2538b195a295496"
            },
            {
              "contentUdi": "umb://element/45649623f3d94222a188ce38b7a1eb20"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/ff273ece7b414f34b00241b5b201c3dd",
            "quoteText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus magna id feugiat aliquam.",
            "nameAuthor": "Test Dept",
            "role": "Tester",
            "company": "Dept",
            "image": [
              {
                "key": "04672119-a35d-4b03-979e-74ebf7681f8e",
                "mediaKey": "1e1d0c00-53b7-4d8f-a79b-756d100e23d5"
              }
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/845b12edd1e04d91b2538b195a295496",
            "quoteText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus magna id feugiat aliquam. 2",
            "nameAuthor": "Test Dept 2",
            "role": "Tester",
            "company": "Dept",
            "image": [
              {
                "key": "c373c6f5-6302-40a1-9316-ce75dc659f4b",
                "mediaKey": "dd85432d-c906-433f-8c5f-e3c38f98ffe5"
              }
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/45649623f3d94222a188ce38b7a1eb20",
            "quoteText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus magna id feugiat aliquam. 3",
            "nameAuthor": "Test Dept 3",
            "role": "Tester",
            "company": "Dept",
            "image": [
              {
                "key": "0acbdd28-86c4-4f78-9a58-94cd93a522b3",
                "mediaKey": "9b5636d3-2f80-4751-990a-14aa72e47341"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "anchorId": "",
      "anchorTitle": ""
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/e8fd68fadd924fb89bc5617c8e3a5a52",
      "title": "Frequently asked questions",
      "text": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/be6f29c1d98e4d5b9b80201bc10a9cd5"
            },
            {
              "contentUdi": "umb://element/102cdc85ad16411fa670bf492152251c"
            },
            {
              "contentUdi": "umb://element/44dd4e3447c5492baf2309c7f9ad71d9"
            },
            {
              "contentUdi": "umb://element/0ee6eb651deb468aa453f4efda5235b9"
            },
            {
              "contentUdi": "umb://element/6f4d6597ad93444fa1bbbd20308c8376"
            },
            {
              "contentUdi": "umb://element/9411de49464d4f08aaea0fb940077d1e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/be6f29c1d98e4d5b9b80201bc10a9cd5",
            "title": "Question",
            "text": {
              "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/102cdc85ad16411fa670bf492152251c",
            "title": "Question",
            "text": {
              "markup": "<p>Римский император Константин I Великий по достоинству оценил выгодное местоположение приморского Византия, расположенного на стыке Европы и Азии. Кроме того, на решение Константина повлияла неспокойная обстановка в самом Риме: недовольство знати и постоянные распри в борьбе за трон. Император хотел увенчать свою реформаторскую деятельность созданием нового административного центра огромной державы. Закладка города состоялась осенью 324 года, и Константин лично решил обозначить его границы.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/44dd4e3447c5492baf2309c7f9ad71d9",
            "title": "Question",
            "text": {
              "markup": "<p>وضع ابن الهيثم تصور واضح للعلاقة بين النموذج الرياضي المثالي ومنظومة الظواهر الملحوظة.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/0ee6eb651deb468aa453f4efda5235b9",
            "title": "Question",
            "text": {
              "markup": "<p>北京位於華北平原的西北边缘，背靠燕山，有永定河流经老城西南，毗邻天津市、河北省，是一座有三千余年建城历史、八百六十余年建都史的历史文化名城，历史上有金、元、明、清、中华民国（北洋政府时期）等五个朝代在此定都，以及数个政权建政于此，荟萃了自元明清以来的中华文化，拥有众多历史名胜古迹和人文景观。《不列颠百科全书》将北京形容为全球最伟大的城市之一，而且断言，“这座城市是中国历史上最重要的组成部分。在中国过去的八个世纪里，不论历史是否悠久，几乎北京所有主要建筑都拥有着不可磨灭的民族和历史意义”。北京古迹众多，著名的有故宫、天坛、颐和园、圆明园、北海公园等。</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/6f4d6597ad93444fa1bbbd20308c8376",
            "title": "Question",
            "text": {
              "markup": "<p>Příliš žluťoučký kůň úpěl ďábelské ódy</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/9411de49464d4f08aaea0fb940077d1e",
            "title": "Question",
            "text": {
              "markup": "<p>एक जल्दी भूरी लोमड़ी आलसी कुत्ते पर कूदता</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "primaryLink": null,
      "secondaryLink": null,
      "image": [],
      "video": null,
      "mediaDescription": "",
      "mediaPosition": [
        "start"
      ],
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 1,
        "id": "2"
      },
      "anchorId": "",
      "anchorTitle": "",
      "buttonsSupportText": ""
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/59d37b2cd85e459594c726ac0037fae7",
      "title": "Section title",
      "text": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0ed0843bbd504299b514c9bc000ac617"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/0ed0843bbd504299b514c9bc000ac617",
            "links": [
              {
                "name": "Link",
                "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
              },
              {
                "name": "Link",
                "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
              },
              {
                "name": "Link",
                "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
              },
              {
                "name": "Link",
                "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "primaryLink": null,
      "secondaryLink": null,
      "image": [],
      "video": null,
      "mediaDescription": "",
      "mediaPosition": [
        "start"
      ],
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 1,
        "id": "2"
      },
      "anchorId": "",
      "anchorTitle": "",
      "buttonsSupportText": ""
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/725077bd20ff41e593552f172273d4c1",
      "title": "We offer complete support throughout the entire journey",
      "text": {
        "markup": "<p>With our 35 years of experience, we will make it happen. Including but not limited to:</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0460467e9eb1481f9314657c743a6289"
            },
            {
              "contentUdi": "umb://element/61e7b84cc12b4f24b59f14e57584413f"
            },
            {
              "contentUdi": "umb://element/8a415387699b48c5873b64dd818e2ffd"
            },
            {
              "contentUdi": "umb://element/858dd60cecdf45dfa75d211ba4b74282"
            },
            {
              "contentUdi": "umb://element/6a29fcecc72145f5a6d782192b394c35"
            },
            {
              "contentUdi": "umb://element/fd6bfb7baf4846999ea903098522eb8e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/0460467e9eb1481f9314657c743a6289",
            "title": "Device Development",
            "text": {
              "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/61e7b84cc12b4f24b59f14e57584413f",
            "title": "Device assembly",
            "text": {
              "markup": "<p>Римский император Константин I Великий по достоинству оценил выгодное местоположение приморского Византия, расположенного на стыке Европы и Азии. Кроме того, на решение Константина повлияла неспокойная обстановка в самом Риме: недовольство знати и постоянные распри в борьбе за трон. Император хотел увенчать свою реформаторскую деятельность созданием нового административного центра огромной державы. Закладка города состоялась осенью 324 года, и Константин лично решил обозначить его границы.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/8a415387699b48c5873b64dd818e2ffd",
            "title": "Regulatory & quality",
            "text": {
              "markup": "<p>وضع ابن الهيثم تصور واضح للعلاقة بين النموذج الرياضي المثالي ومنظومة الظواهر الملحوظة.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/858dd60cecdf45dfa75d211ba4b74282",
            "title": "Technical services",
            "text": {
              "markup": "<p>北京位於華北平原的西北边缘，背靠燕山，有永定河流经老城西南，毗邻天津市、河北省，是一座有三千余年建城历史、八百六十余年建都史的历史文化名城，历史上有金、元、明、清、中华民国（北洋政府时期）等五个朝代在此定都，以及数个政权建政于此，荟萃了自元明清以来的中华文化，拥有众多历史名胜古迹和人文景观。《不列颠百科全书》将北京形容为全球最伟大的城市之一，而且断言，“这座城市是中国历史上最重要的组成部分。在中国过去的八个世纪里，不论历史是否悠久，几乎北京所有主要建筑都拥有着不可磨灭的民族和历史意义”。北京古迹众多，著名的有故宫、天坛、颐和园、圆明园、北海公园等。</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/6a29fcecc72145f5a6d782192b394c35",
            "title": "OEM services",
            "text": {
              "markup": "<p>Příliš žluťoučký kůň úpěl ďábelské ódy</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/fd6bfb7baf4846999ea903098522eb8e",
            "title": "Alliance partnership",
            "text": {
              "markup": "<p>एक जल्दी भूरी लोमड़ी आलसी कुत्ते पर कूदता</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "primaryLink": [
        {
          "name": "Discover all dervices",
          "udi": "umb://document/9fe6dd1200b54a51848f2cc04dc2c5fc"
        }
      ],
      "secondaryLink": [
        {
          "name": "Why SHL Medical",
          "url": "https://www.google.com"
        }
      ],
      "image": [
        {
          "key": "6d2f9a78-e400-4c89-9a4e-c40bb996aa78",
          "mediaKey": "1e1d0c00-53b7-4d8f-a79b-756d100e23d5"
        }
      ],
      "video": null,
      "mediaDescription": "Media Description ",
      "mediaPosition": [
        "end"
      ],
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 9,
        "id": "10"
      },
      "anchorId": "",
      "anchorTitle": "",
      "buttonsSupportText": "Test button support text "
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/79754913f984442c9d46285699994c11",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/2822692b63ec4ae4966bc2bef09b70f5",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/b950e0ab2419446a8aaf24f07b4d174d",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/d30630697ccf40d9a2d41e957e2261ef",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/05b162615d7c4f91b6e7b186dd848ad7",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/a011da10db8d472fbac812cc835f87d1",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e08e16bc30804dc9a7e6b1e9ad1e39b5",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/d23c5393222f46dd98f12d760147be78",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/845d35a61af94be09321bf163b65b15b",
        "settingsUdi": "umb://element/31f2245bafbb48b59f12f2dae88dd45c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "277e3f8a-21af-4d83-8af7-e53ec5cb171a",
      "udi": "umb://element/845d35a61af94be09321bf163b65b15b",
      "title": "2 column",
      "columns": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ebdc7c7bca6a4a1a9f00d12df2bc0997",
              "settingsUdi": "umb://element/621aa5dfb8c9421fa279cf556bb1f3f5"
            },
            {
              "contentUdi": "umb://element/98cfffb636ae41a6a1ad5ddca310c648",
              "settingsUdi": "umb://element/fc938fdf291a4e1b87832bc923928a71"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/98cfffb636ae41a6a1ad5ddca310c648",
            "image": [
              {
                "key": "0914f2ca-1537-4de8-ae75-480d99ce26e4",
                "mediaKey": "c483dff0-acc2-46ee-8972-b72bf3669cd8"
              }
            ],
            "caption": ""
          },
          {
            "contentTypeKey": "6964dbc8-d0ed-4bde-9ea3-9a01b126f811",
            "udi": "umb://element/ebdc7c7bca6a4a1a9f00d12df2bc0997",
            "title": "Welcome",
            "text": {
              "markup": "<p> </p>\n<h2>Welcome to the NL version of the Umbraco standard!</h2>\n<p>You can find the Umbraco documentation <a rel=\"noopener\" href=\"https://docs.umbraco.com/umbraco-cms/\" target=\"_blank\">here</a>.</p>\n<p>If you find any issues, please let us know!</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "showTitle": "0"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
            "udi": "umb://element/fc938fdf291a4e1b87832bc923928a71",
            "identifier": ""
          },
          {
            "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
            "udi": "umb://element/621aa5dfb8c9421fa279cf556bb1f3f5",
            "identifier": ""
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/31f2245bafbb48b59f12f2dae88dd45c",
      "identifier": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b65fb790da1a49a9aa0b7c5a405da728"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "723a39e9-6df5-4e1a-a0f7-45834724b2ff",
      "udi": "umb://element/b65fb790da1a49a9aa0b7c5a405da728",
      "heroTitle": "Leading in self- injection solutions",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cfc0ca9c8e354332824fe309bc47660a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "dcb4d3db-d942-4b0a-96f9-899c941de27a",
            "udi": "umb://element/cfc0ca9c8e354332824fe309bc47660a",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/cb285f1386c949a396f48e0ddac20dcb"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/cb285f1386c949a396f48e0ddac20dcb",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "image": [
        {
          "key": "aa624337-b5a6-43b6-b18d-03fd3c04d575",
          "mediaKey": "9b5636d3-2f80-4751-990a-14aa72e47341"
        }
      ],
      "shortDescription": {
        "markup": "<p>Our injectors &amp; pens are making a difference to 18 million people every day.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "mainButtonLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6145bb00b6774dc29fe96c3c313d0e5e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/6145bb00b6774dc29fe96c3c313d0e5e",
            "link": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "buttonIcon": [],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryButtonLink": null
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 2,
  "id": "10"
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
      <Value Culture="nl-nl"><![CDATA[Home NL]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/58cb8b846d454e558d0bafbcbd89de68"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/58cb8b846d454e558d0bafbcbd89de68",
      "text": "Caring. Inclsuive. Driven.",
      "animateOnScroll": "0"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>