<?xml version="1.0" encoding="utf-8"?>
<Content Key="22ea2f04-a9a2-4880-ac57-a012cc426ad5" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>pageHome</ContentType>
    <CreateDate>2024-11-11T15:32:39</CreateDate>
    <NodeName Default="Homepage">
      <Name Culture="en-us">Homepage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f7021cf-8636-4dd4-a9bd-764f2e560acd">PageHome</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/03beb4ff75a44f93a97de8f337787917",
        "settingsUdi": "umb://element/d5e4739d54e74551bcd2bff973944e54"
      },
      {
        "contentUdi": "umb://element/e2d07fa5d07a4dc9af638729e49da3ae",
        "settingsUdi": "umb://element/ed738e39cd2c47ebb5dea845ebb4a165"
      },
      {
        "contentUdi": "umb://element/fb7589f43d67454395d2841cda05ace4",
        "settingsUdi": "umb://element/d3b0b6c240064260a93019a2047af004"
      },
      {
        "contentUdi": "umb://element/a17b7a5f8bee454bb0cdce342d5616d0",
        "settingsUdi": "umb://element/6eab143254894968a27bfb3b52339284"
      },
      {
        "contentUdi": "umb://element/e65051a8bc3f44949ae52cb0b964fa55",
        "settingsUdi": "umb://element/ee290016579d42f38883e34cee10ce98"
      },
      {
        "contentUdi": "umb://element/6a6c88484ea84a0c89ff004f82827679",
        "settingsUdi": "umb://element/ffe8f5466b0a4d01b489c5af319cb2b9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/03beb4ff75a44f93a97de8f337787917",
      "title": "",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ec3cd00ee29044329a7e5e9c19636583"
            },
            {
              "contentUdi": "umb://element/9a68d49236184a1181d7d6159f7bb2c7"
            },
            {
              "contentUdi": "umb://element/57c6d5c742644030b2629852bc00efae"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/ec3cd00ee29044329a7e5e9c19636583",
            "title": "What we offer",
            "subTitle": "",
            "text": {
              "markup": "<p>By producing the world's best autoinjectors, we empower millions of patients worldwide to be more independent. Our impact is even bigger: we benefit the entire healthcare system by improving treatment results and reducing healthcare costs.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"8nhntj5jhnxq9ff88c2cwb\",\"FileName\":\"patient-using-molly-auto-injector.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8nhntj5jhnxq9ff88c2cwb/patient-using-molly-auto-injector.jpg\",\"AssetId\":\"vj833j3nq4rp8sxrv98sgt9\",\"AssetName\":\"patient-using-molly-auto-injector\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "About us",
                "udi": "umb://document/0f38816ffe88454a9b765bdf579f2766"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/9a68d49236184a1181d7d6159f7bb2c7",
            "title": "Our products",
            "subTitle": "",
            "text": {
              "markup": "<p><span>We believe that people living with chronic conditions should not be defined by their diseases. That is why we develop advanced drug delivery systems that help enhance self-injection. </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"8jjnms9kjhkjq8bmr98x2q\",\"FileName\":\"molly-package-autoinjector-shl.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8jjnms9kjhkjq8bmr98x2q/molly-package-autoinjector-shl.jpg\",\"AssetId\":\"4rnxh54k3fkw6z83xxm5qh8c\",\"AssetName\":\"molly-package-autoinjector-shl\",\"AssetDescription\":\"\\u003Cp\\u003EMolly autoinjector with it\\u0027s package displayed together on a desk\\u003C/p\\u003E\"}"
            ],
            "link": [
              {
                "name": "Our products",
                "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/57c6d5c742644030b2629852bc00efae",
            "title": "Our services",
            "subTitle": "",
            "text": {
              "markup": "<p>We provide full end-to-end solutions from device development to distribution, including final assembly, labeling, and packaging services for our drug delivery devices.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"444mzrqm3p3rbc557mwqmb6\",\"FileName\":\"shl-medical-smart-autoinjector-molly-powerpack-20240320-5.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/444mzrqm3p3rbc557mwqmb6/shl-medical-smart-autoinjector-molly-powerpack-20240320-5.jpg\",\"AssetId\":\"5mm6gcwznwrbwmbphcc38x4v\",\"AssetName\":\"SMART-Autoinjector-Molly-Powerpack-20240516-5\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Our services",
                "udi": "umb://document/65bc4c019a334750b18b597998595edf"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/fb7589f43d67454395d2841cda05ace4",
      "title": "Support throughout the entire journey",
      "text": {
        "markup": "<p>Covering the full drug delivery value chain, we provide peace of mind by offering end-to-end services.<span></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/107a355c74be43f0b94491aee99e7d4d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/107a355c74be43f0b94491aee99e7d4d",
            "image": "",
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9d81404947fe4ccfbe656a3531f4b262"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/9d81404947fe4ccfbe656a3531f4b262",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/9a5e1883f220449496b68dffd2676461"
                  },
                  {
                    "contentUdi": "umb://element/d95a0de150394eb7af0a1098f57fe84c"
                  },
                  {
                    "contentUdi": "umb://element/09fd1f72f18d4515ad0ef6f71a984a6d"
                  },
                  {
                    "contentUdi": "umb://element/1566dcd0569c450b8d2c786e615e65a8"
                  },
                  {
                    "contentUdi": "umb://element/999c6a2f720a4efe9212d7d7c29bdd3a"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/9a5e1883f220449496b68dffd2676461",
                  "link": [
                    {
                      "name": "Device development",
                      "udi": "umb://document/05b99996fc6c452195ff8cef8cc2b6e1"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/d95a0de150394eb7af0a1098f57fe84c",
                  "link": [
                    {
                      "name": "Final assembly",
                      "udi": "umb://document/61d8ff33e69a40588d94f0343359d4a6"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/1566dcd0569c450b8d2c786e615e65a8",
                  "link": [
                    {
                      "name": "Healthcare industrialization",
                      "udi": "umb://document/88caa51e7a564f67bbc3a76cd46a7971"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/999c6a2f720a4efe9212d7d7c29bdd3a",
                  "link": [
                    {
                      "name": "Alliance partnerships",
                      "udi": "umb://document/1f327ebb3a8a49dbb417025ce806e53a"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/09fd1f72f18d4515ad0ef6f71a984a6d",
                  "link": [
                    {
                      "name": "Device support services",
                      "udi": "umb://document/4bb3bbfcbb9f49b9a421c916f7c46319"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": [
        "left"
      ]
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/e65051a8bc3f44949ae52cb0b964fa55",
      "title": "Join us in crafting future healthcare solutions",
      "description": {
        "markup": "<p>Our self-injection solutions improve the lives of millions of patients. With an entrepreneurial mindset, we deliver results by listening attentively, thinking carefully, and acting boldly.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Go to our career page",
          "udi": "umb://document/9135a424e3644e2a80dd9dc1708fffca"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": [
        "right"
      ],
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a659c59e97da4fc9ad8e90a91434a2e2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/a659c59e97da4fc9ad8e90a91434a2e2",
            "image": [
              "{\"Id\":\"3zf4mrrf4wnbvg5r6m3f497s\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-55.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3zf4mrrf4wnbvg5r6m3f497s/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-55.jpg\",\"AssetId\":\"2tchmxgw9p89r4gj9xkxg4\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-55\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/e2d07fa5d07a4dc9af638729e49da3ae",
      "title": "Our leading products",
      "text": {
        "markup": "<p>We collaborate closely with leading pharmaceutical and biotechnology companies to develop innovative solutions designed to improve patients' quality of life. By combining cutting-edge science, advanced technologies, and a deep understanding of healthcare needs, we aim to address critical challenges and deliver impactful outcomes. Our partnerships are rooted in a shared commitment to advancing medical breakthroughs and ensuring that patients worldwide have access to treatments that make a meaningful difference in their lives.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a584e1af1dd548ab99f0363ba6719d3f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/a584e1af1dd548ab99f0363ba6719d3f",
            "buttonIcon": "",
            "link": [
              {
                "name": "Why choose us",
                "udi": "umb://document/ce62a422eecf4c7784aa75c9947b7b3f"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/01f1e99ca32841568940b6a3c08fb940"
            },
            {
              "contentUdi": "umb://element/9e7daffaeb8647289fca9e410d9f90b6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/01f1e99ca32841568940b6a3c08fb940",
            "title": "Autoinjectors",
            "subTitle": "",
            "text": {
              "markup": "<p>Our autoinjectors give access to self-injectable treatments for diseases such as diabetes and lupus.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"wv3rwqmbq5s7xcbqkv5kjhm7\",\"FileName\":\"Layouts_4_Maggie_gray_150dpi.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/wv3rwqmbq5s7xcbqkv5kjhm7/Layouts_4_Maggie_gray_150dpi.jpg\",\"AssetId\":\"vjhkrts89cv4rnh65n7tbhc\",\"AssetName\":\"Layouts 4 Maggie gray 150dpi\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Autoinjectors",
                "udi": "umb://document/488d367ba9824883b4a4be3cf51ea3ee"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/9e7daffaeb8647289fca9e410d9f90b6",
            "title": "Innovation",
            "subTitle": "",
            "text": {
              "markup": "<p>We pioneered the autoinjector space and continue to innovate, advancing drug delivery with new devices that enable novel home-based treatments.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"932cppftc4gk7qgbrwsxhf\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04094.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/932cppftc4gk7qgbrwsxhf/SHL-Medical_2024_CPHI-Milan_DSC04094.jpg\",\"AssetId\":\"5kvg7trtnx638kgccj82tw3\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04094\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Innovation",
                "udi": "umb://document/9697eee3e0dd429d8d1df8320b81a899"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/6a6c88484ea84a0c89ff004f82827679",
      "title": "Inclusive and innovative",
      "description": {
        "markup": "<p>With over 5,000 employees of 60+ different nationalities, we take pride in the diverse, inclusive working environment we have built. Together, we innovate constantly to maintain our leadership position in drug delivery systems.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "About us",
          "udi": "umb://document/0f38816ffe88454a9b765bdf579f2766"
        }
      ],
      "secondaryButton": [
        {
          "name": "How we work",
          "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
        }
      ],
      "mediaPosition": [
        "left"
      ],
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7f48aeebecee4c87a7ecc508aa3f32ce"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/7f48aeebecee4c87a7ecc508aa3f32ce",
            "image": [
              "{\"Id\":\"tqgx7zmjbzvkx44gjjt4k7w\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8514.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/tqgx7zmjbzvkx44gjjt4k7w/SHL-Medical-Office_People_Zug_Konstantin_KK5D8514.jpg\",\"AssetId\":\"nf9kxhhf93c8fmj29phjw9v\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8514\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/a17b7a5f8bee454bb0cdce342d5616d0",
      "title": "The latest news and insights",
      "description": {
        "markup": "<p>Stay informed about the latest updates from our organization by visiting our News and Insights page. Explore a wide range of content, including announcements about our newest products, key organizational developments, upcoming events, and in-depth industry insights.</p>\n<p>&nbsp;</p>\n<p>You will also find valuable information on upcoming events, thought-provoking blog posts, inspiring success stories, and a variety of resources available for download. Whether you're seeking the latest innovations, expert perspectives, or updates on our ongoing efforts, this is your comprehensive resource for staying connected and informed</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover news",
          "udi": "umb://document/db3ce2a7cda24108a67c5976aed6650b"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/afe7480dabbc455f88e78aede342f9be"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/afe7480dabbc455f88e78aede342f9be",
            "image": [
              "{\"Id\":\"jjvf9kkmsjhgwq5sfg87\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_IMG_5547.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jjvf9kkmsjhgwq5sfg87/SHL-Medical_2024_CPHI-Milan_IMG_5547.jpg\",\"AssetId\":\"x5bh8499r3mv59tnwp86bvrw\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan IMG 5547\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d5e4739d54e74551bcd2bff973944e54",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d3b0b6c240064260a93019a2047af004",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 12,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ee290016579d42f38883e34cee10ce98",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "662949",
        "label": "dark-pink",
        "sortOrder": 4,
        "id": "11"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ed738e39cd2c47ebb5dea845ebb4a165",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ffe8f5466b0a4d01b489c5af319cb2b9",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/6eab143254894968a27bfb3b52339284",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/59a7a881977746869461e683e85cc92f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "723a39e9-6df5-4e1a-a0f7-45834724b2ff",
      "udi": "umb://element/59a7a881977746869461e683e85cc92f",
      "title": "The pioneering leader in self-injection solutions",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/291c44fc24114b548243b0efe9186a16"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/291c44fc24114b548243b0efe9186a16",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/69884111f9f34a7999cc899d4b034455"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/69884111f9f34a7999cc899d4b034455",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1037858649/rendition/1080p/file.mp4?loc=external&log_user=0&signature=fdbac0f538ea338dc0d8f008028c3d1b803ad71c935513e0469f71e35e14fdee"
                }
              ],
              "settingsData": []
            },
            "title": "Reel",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "image": [
        "{\"Id\":\"c8fq838887rgwm3c8xs6hsq\",\"FileName\":\"Zug manufacturing site_20201111_1200x630_Zug.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/c8fq838887rgwm3c8xs6hsq/Zug_manufacturing_site_20201111_1200x630_Zug.jpg\",\"AssetId\":\"hg866btw9j5kh6b94pmgspqc\",\"AssetName\":\"Zug manufacturing site 20201111 1200x630 Zug\",\"AssetDescription\":\"\"}"
      ],
      "text": {
        "markup": "<p>We are the pioneering leader in designing, developing, and manufacturing self-injection devices such as autoinjectors, pen injectors, and innovative specialty delivery systems.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "mainButtonLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ec482e337b50488692d81ce271384270"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/ec482e337b50488692d81ce271384270",
            "buttonIcon": "",
            "link": [
              {
                "name": "About us",
                "url": "/about-shl"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryButtonLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c7c4478353b44852b0d6d65fe1f819a5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/c7c4478353b44852b0d6d65fe1f819a5",
            "buttonIcon": "",
            "link": [
              {
                "name": "Our products",
                "url": "/our-products"
              }
            ],
            "variant": [
              "secondary"
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 2,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[SHL Medical is the world leader in designing, developing, and manufacturing advanced drug delivery devices like autoinjectors and pen injectors. Read on.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[SHL Medical | Innovative Drug Delivery Solutions & Devices]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f6ba426e931a4f65bcff6e48bb9d0ec9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/f6ba426e931a4f65bcff6e48bb9d0ec9",
      "text": "Pioneering leader. Strongest track record. Scalable excellence."
    }
  ],
  "settingsData": []
}]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>