<?xml version="1.0" encoding="utf-8"?>
<Content Key="77c8ba15-2be9-42e6-95be-0d8e22592332" Alias="Job Test 2050-06" Level="4">
  <Info>
    <Parent Key="18fc109c-f2d1-4b4c-8cfd-3ca188de2415">Jobs at SHL Medical</Parent>
    <Path>/Homepage/Careers/JobsAtSHLMedical/JobTest205006</Path>
    <Trashed>false</Trashed>
    <ContentType>pageVacancy</ContentType>
    <CreateDate>2025-03-05T18:41:01</CreateDate>
    <NodeName Default="Job Test 2050-06">
      <Name Culture="en-us">Job Test 2050-06</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="14699a59-b01e-4fe0-b63f-dd84d4cc4fb5">PageVacancy</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <city>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </city>
    <company>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </company>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <contractType>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </contractType>
    <country>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </country>
    <createdAt>
      <Value><![CDATA[2050-06-01T00:00:00]]></Value>
    </createdAt>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <externalId>
      <Value><![CDATA[Job Test 2050-06]]></Value>
    </externalId>
    <externalUrl>
      <Value Culture="en-us"><![CDATA[https://www.deptagency.com]]></Value>
    </externalUrl>
    <function>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </function>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3ab0ac22339d4bc2a9655f181f6ea0eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/3ab0ac22339d4bc2a9655f181f6ea0eb",
      "title": "Job Test 2050-06",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <jobDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Job Test 2050-06</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </jobDescription>
    <jobLevel>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </jobLevel>
    <lastUpdatedAt>
      <Value><![CDATA[2050-06-01T12:00:00]]></Value>
    </lastUpdatedAt>
    <location>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </location>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <postalCode>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </postalCode>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <state>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </state>
    <title>
      <Value Culture="en-us"><![CDATA[Job Test 2050-06]]></Value>
    </title>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>