@mixin modal--aside {
  overflow: hidden;

  &.modal--is-showing {
    .modal__container {
      transform: translate3d(-100%, 0, 0);
      transition-delay: 200ms;
    }
  }

  .modal__header {
    padding: $spacing-24;
    background-color: $color-white;
    border-radius: $radii-12 $radii-12 0 0;
    z-index: 5;

    @include screen-sm-and-bigger {
      padding: $spacing-40 $spacing-40 $spacing-32 $spacing-40;
    }
  }

  .modal__button-close {
    right: 0;
  }

  .modal__container {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    max-width: 468px;
    transition: $modal-transition-time $modal-transition-ease;
    transition-property: transform;
    transition-delay: 0ms;
    transform: translate3d(0, 0, 0);
    top: 0;
    inset-inline-start: 100%;
  }

  .modal__content {
    flex-grow: 1;
    margin: $spacing-16;
    display: flex;
    flex-direction: column;
  }

  .modal__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 $spacing-24 $spacing-24 $spacing-24;

    @include screen-sm-and-bigger {
      padding: 0 $spacing-40 $spacing-40 $spacing-40;
    }
  }

  .filters__sticky-buttons-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
    padding-block-start: $spacing-32;
    align-items: center;

    .c-button {
      width: 100%;
    }

    &::before {
      @include linear-gradient($color: #{$color-white-rgb}, $alpha-from: 0, $alpha-to: 1);
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      display: block;
      height: 24px;
      pointer-events: none;
      transition: $modal-transition-time $modal-transition-ease;
      transition-property: opacity;
    }
  }
}
