@model DTNL.UmbracoCms.Web.Components.Downloads

<div class="styleguide__component-col styleguide__component-col--theme styleguide__component-col--12">
    <partial name="Downloads" model="Model" />
</div>
