.c-navigation-mobile-list {
  padding-block: $spacing-20;
}

.navigation-mobile-list__list {
  @include list--reset;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.navigation-mobile-list__anchor {
  color: currentcolor;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $spacing-16 $spacing-24;
  width: 100%;
  gap: $spacing-16;
  text-align: start;

  &--parent {
    @include h5;
    justify-content: flex-start;
  }

  &--main {
    @include h5;
  }

  &--small {
    @include body-l;
  }

  &--all {
    @include body-l;
    @include link--base;
  }
}
