/*------------------------------------*\
  #RICH TEXT
\*------------------------------------*/

// Custom scope for RTE styles.
.s-rich-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
}
