.navigation-desktop__list {
  @include list--reset;
  display: flex;
  gap: $spacing-16;
}

.navigation-desktop__list-item {
  &.is--open {
    z-index: 1;
  }
}

.navigation-desktop__item {
  color: currentcolor;
  display: inline-block;
  padding: $spacing-8 $spacing-16;
  position: relative;

  // Created bigger hover area when flyout is showing
  &::after {
    content: '';
    display: none;
    height: 200%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% + #{$spacing-60});
    z-index: -1;
    background: transparent;
  }

  // Use before element to preset the width when font is bold
  &::before {
    content: attr(title);
    display: block;
    font-weight: $font-weight-extrabold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .is--open & {
    font-weight: $font-weight-extrabold;

    &::after {
      display: block;
    }
  }

  @include hover-focus {
    font-weight: $font-weight-extrabold;
  }
}
