$loader-background-color: rgba(var(--color-dark-blue-rgb), 0.2);
$loader-size: 34px;
$loader-thickness: 4px;
$loader-color: var(--color-dark-blue-rgb);
$loader-transition-time: 200ms;
$loader-spin-speed: 1000ms;
$button-size: 75px;
