@model DTNL.UmbracoCms.Web.Components.FlyoutSearch

<div class="c-flyout" js-hook-flyout aria-hidden="true" id="flyout-@Model.Id">
    <div class="flyout__container">
        <div class="flyout__content flyout__content--shrink">
            <div class="flyout__search-column">
                <vc:search is-flyout-search="true"/>
            </div>
        </div>
    </div>
</div>
