<?xml version="1.0" encoding="utf-8"?>
<Content Key="7090342b-96a0-4471-8031-db679b4536c0" Alias="Article on Rotaject® Technology featured in World Pharmaceutical Frontiers" Level="4">
  <Info>
    <Parent Key="5c5c75df-84cf-48b4-8ece-8c261452f512">Events</Parent>
    <Path>/Homepage/NewsAndInsights/Events/ArticleOnRotajectTechnologyFeaturedInWorldPharmaceuticalFrontiers</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEvent</ContentType>
    <CreateDate>2024-12-09T10:38:01</CreateDate>
    <NodeName Default="Article on Rotaject® Technology featured in World Pharmaceutical Frontiers">
      <Name Culture="en-us">Article on Rotaject® Technology featured in World Pharmaceutical Frontiers</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="edf44b70-1d35-4780-86c6-038a4075d28d">PageEvent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"vtfj7f59wgwfmh7nnbfjp5\",\"FileName\":\"B_news_page_740x540.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vtfj7f59wgwfmh7nnbfjp5/B_news_page_740x540.png\",\"AssetId\":\"vs2g6j2k2xr9m9h9krhh3b\",\"AssetName\":\"B news page 740x540\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c6e9da5f619b4f43b178604494870174",
        "settingsUdi": "umb://element/20febc5e58da44598a8f6ed33ca9d62d"
      },
      {
        "contentUdi": "umb://element/78ab63b63aee4adf9ad1b734fb9dc281",
        "settingsUdi": "umb://element/7fb8003ac15941b8ad6712c5017cbcf0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/78ab63b63aee4adf9ad1b734fb9dc281",
      "text": {
        "markup": "\n<p></p>\n<p>The growing demand for treatments using biological drugs has created a challenge for injectable devices to deliver next-generation, high viscosity formulations all the while putting patient comfort and usability first. Building upon more than 10 years of experience with autoinjectors for highly viscous drugs, SHL’s Rotaject® technology is the ultimate solution for this challenge.</p>\n<p>This groundbreaking technology has been featured in the 2017 spring edition of World Pharmaceutical Frontiers magazine. To learn more about the Rotaject® technology, read the full article <a href=\"/download/pump-up-the-volume/\" target=\"_blank\" rel=\"noopener noreferrer\"><span style=\"text-decoration: underline; color: #3366ff;\">HERE</span></a>.</p>\n",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": null,
      "secondLink": null,
      "showReadMoreOption": ""
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/c6e9da5f619b4f43b178604494870174",
      "image": [
        "{\"Id\":\"vtfj7f59wgwfmh7nnbfjp5\",\"FileName\":\"B_news_page_740x540.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vtfj7f59wgwfmh7nnbfjp5/B_news_page_740x540.png\",\"AssetId\":\"vs2g6j2k2xr9m9h9krhh3b\",\"AssetName\":\"B news page 740x540\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/7fb8003ac15941b8ad6712c5017cbcf0",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/20febc5e58da44598a8f6ed33ca9d62d",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[[
  "Events"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2017-04-01T14:00:56]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9b0b37097c28468998cec13d3969613c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/9b0b37097c28468998cec13d3969613c",
      "title": "Article on Rotaject® Technology featured in World Pharmaceutical Frontiers",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>