<?xml version="1.0" encoding="utf-8"?>
<Content Key="7faf7c30-dde6-4884-a334-f57a28ccce63" Alias="SHL exhibiting at Drug Delivery Partnerships 2017" Level="4">
  <Info>
    <Parent Key="5c5c75df-84cf-48b4-8ece-8c261452f512">Events</Parent>
    <Path>/Homepage/NewsAndInsights/Events/SHLExhibitingAtDrugDeliveryPartnerships2017</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEvent</ContentType>
    <CreateDate>2024-12-09T10:37:59</CreateDate>
    <NodeName Default="SHL exhibiting at Drug Delivery Partnerships 2017">
      <Name Culture="en-us">SHL exhibiting at Drug Delivery Partnerships 2017</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="edf44b70-1d35-4780-86c6-038a4075d28d">PageEvent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"n35h7cw77mpn5hhqhxqfmw7\",\"FileName\":\"2107DDP-ad_170124_News-page-800x480.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/n35h7cw77mpn5hhqhxqfmw7/2107DDP-ad_170124_News-page-800x480.png\",\"AssetId\":\"mtbnfts877jx7mt8mk4cg5\",\"AssetName\":\"2107DDP-ad 170124 News-page-800x480\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1b164d540f2344748c1842215d47f206",
        "settingsUdi": "umb://element/ae0e5da96b814e96bcbbe9cb65d5e4f8"
      },
      {
        "contentUdi": "umb://element/11f6c9cacb024c54b863cf907024461e",
        "settingsUdi": "umb://element/61c33396ab8d437da9391cc6b55aea8b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/11f6c9cacb024c54b863cf907024461e",
      "text": {
        "markup": "\n<p></p>\n<p>SHL Group is proud to exhibit at Drug Delivery Partnerships in Palm Beach Gardens, Florida on February 7-9, 2017.</p>\n<p>SHL will showcase its vast range of drug delivery products, including the Molly® family of devices that can accommodate various pharma and biotech companies’ requirements, from high volume to connectivity. Another focus for 2017 will be SHL’s state-of-the-art devices for high viscosity solutions represented by several new offers.</p>\n<p>As a forward-looking company with extensive knowledge and experience, SHL delivers solutions for today on the path to tomorrow.</p>\n<p>To find out more about SHL’s latest research and innovation, comprehensive capabilities, and device commercialization solutions, talk to one of the SHL representatives in Booth #406.</p>\n<p>The Drug Delivery Partnership will take place on February 7-9, 2017 in the PGA National Resort &amp; Spa, Palm Beach Gardens, Florida, USA.</p>\n",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": null,
      "secondLink": null,
      "showReadMoreOption": ""
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/1b164d540f2344748c1842215d47f206",
      "image": [
        "{\"Id\":\"n35h7cw77mpn5hhqhxqfmw7\",\"FileName\":\"2107DDP-ad_170124_News-page-800x480.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/n35h7cw77mpn5hhqhxqfmw7/2107DDP-ad_170124_News-page-800x480.png\",\"AssetId\":\"mtbnfts877jx7mt8mk4cg5\",\"AssetName\":\"2107DDP-ad 170124 News-page-800x480\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/61c33396ab8d437da9391cc6b55aea8b",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/ae0e5da96b814e96bcbbe9cb65d5e4f8",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[[
  "Events"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2017-01-01T13:21:14]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/667f734f2e16467a9d963c9db7ac0a1d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/667f734f2e16467a9d963c9db7ac0a1d",
      "title": "SHL exhibiting at Drug Delivery Partnerships 2017",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>