<?xml version="1.0" encoding="utf-8"?>
<Content Key="d19970ff-3949-4ff7-9ab6-0188384ffb6f" Alias="Ulrich Faessler 出任 SHL Medical 執行長" Level="4">
  <Info>
    <Parent Key="5c5c75df-84cf-48b4-8ece-8c261452f512">Events</Parent>
    <Path>/Homepage/NewsAndInsights/Events/UlrichFaesslerSHLMedical</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEvent</ContentType>
    <CreateDate>2024-12-09T10:44:13</CreateDate>
    <NodeName Default="Ulrich Faessler 出任 SHL Medical 執行長">
      <Name Culture="zh-hant-tw">Ulrich Faessler 出任 SHL Medical 執行長</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="edf44b70-1d35-4780-86c6-038a4075d28d">PageEvent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5922dc41faf4930b351cbd04b2bd5db"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/f5922dc41faf4930b351cbd04b2bd5db",
      "text": "\n<p></p>\n<p>費思樂(Ulrich Faessler) 出任 SHL Medical 執行長。</p>\n<p>瑞健集團 (以下稱「瑞健」) 自 1980 年代末成立以來，由創辦人孫羅傑擔任執行長兼集團董事長。為因應瑞健持續進步成長的需求，集團決定在 SHL Medical 部門設置一個全新職位：全球執行長。</p>\n<p>SHL Medical Holding 全球執行長將由 費思樂 (Ulrich Faessler)出任。Ulrich 在瑞健服務已七年多，過去五年來擔任 SHL Medical 的亞洲營運總監，他將於 2018 年 1 月 1 日起正式擔任全球執行長。</p>\n<p>瑞健集團執行長孫羅傑表示：「我很高興 Ulrich願意承擔領導 SHL Medical Holding 的重責大任。他對瑞健、客戶和醫療器材產業都非常瞭解，相信他是帶領公司邁向未來最合適的人選。」</p>\n<p>孫羅傑則將繼續擔任瑞健集團董事長，並與 Ulrich密切合作。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "Events"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2017-12-01T02:59:20]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f8312ca7cc824d3a90ca38a6ac051eeb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/f8312ca7cc824d3a90ca38a6ac051eeb",
      "title": "Ulrich Faessler 出任 SHL Medical 執行長"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>