<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb6cd12e-bc96-48d0-9f78-c8e52e66f737" Alias="瑞健集團於首屆台灣PDA大會亮相" Level="4">
  <Info>
    <Parent Key="5c5c75df-84cf-48b4-8ece-8c261452f512">Events</Parent>
    <Path>/Homepage/NewsAndInsights/Events/PDA</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEvent</ContentType>
    <CreateDate>2024-12-09T10:44:08</CreateDate>
    <NodeName Default="瑞健集團於首屆台灣PDA大會亮相">
      <Name Culture="zh-hant-tw">瑞健集團於首屆台灣PDA大會亮相</Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="edf44b70-1d35-4780-86c6-038a4075d28d">PageEvent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d1e8d2e815dc4a63bceac435b50758bd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/d1e8d2e815dc4a63bceac435b50758bd",
      "text": "\n<p></p>\n<p>今(2018)年Parenteral Drug Association(PDA)首度來台辦展，預計將於11月6-7日在台北晶華酒店辦理為期兩天的PDA論壇大會。全球先進藥物輸送系統之主要供應商瑞健集團也將以參展者的身份在此次大會中嶄露頭角。</p>\n<p>今年訂定「從藥劑瓶到醫療裝置」主題的台灣場次將以產業法規之修訂相關議題揭開序幕，並以此展開藥材包裝、醫療裝置及藥劑填充與封裝等相關專題討論。身為全球先進藥物輸送系統之設計、研發、及製造龍頭，多位瑞健集團專業同仁將擔任數場演講的主講者及會展最終場座談會之專家評審。其演講主題內容將著重在注射醫材製造等相關議題，包括生產線設計、測試系統流程和數位化醫療的解決方案。</p>\n<p>除此之外，瑞健集團也不忘在展覽期間大展身手，展示本公司知名產品及技術。當日蒞臨的會眾可藉此機會了解種種由瑞健研發製造，並以客戶及患者需求為導向的藥物輸送產品。另外，瑞健將展示一系列的數位醫療產品，讓會眾一窺瑞健在快速成長的數位醫療市場中所推出的解決方案。</p>\n<p>瑞健集團由瑞典企業家孫羅傑於90年代初期來台創辦。歷經29年的淬鍊與演進，瑞健集團如今已成為擁有超過4000多名員工的跨國企業。身兼瑞健行銷部總監與此次大會副主席的麥格法肯(Magnus Fastmarken) 表示:「我們深信不論是對藥商、供應商甚至台灣政府，本屆大會將為其帶來前所未見的助益。我們很榮幸能參與瑞健集團在台灣近幾十年默默耕耘的成就，從小型私人製造商拓展至今日足以提供完善整合型服務的跨國企業。我們相信台灣因位處中國、南韓和日本的交通要道，必定是推廣亞洲PDA大會的最佳選擇。我們盼望能帶給想開拓歐美市場的亞洲相關企業豐富的資訊，而同樣地，也盼望能幫助到許多想在亞洲區域開拓關於藥物輸送系統市場的企業。」</p>\n<p>除了為期兩天的展會外，主辦單位還接續安排為期兩日的專題工作坊。瑞健集團的數位執行長馬可鮑爾(Markus Bauss) 與瑞健數位醫療總監羅福林(Ramin Rafiei)以及眾多業界人士將帶來精采豐富的演講內容，與參展人員分享他們的專業知識。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "Events"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2018-10-01T03:28:39]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f86745275f94740a3a92c5a694665f1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/8f86745275f94740a3a92c5a694665f1",
      "title": "瑞健集團於首屆台灣PDA大會亮相"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>