<?xml version="1.0" encoding="utf-8"?>
<Content Key="a537d2b0-0014-4616-a070-31f785ed0d70" Alias="瑞健科技獲頒 ASM AS「傑出供應商獎」" Level="4">
  <Info>
    <Parent Key="5c5c75df-84cf-48b4-8ece-8c261452f512">Events</Parent>
    <Path>/Homepage/NewsAndInsights/Events/ASMAS</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEvent</ContentType>
    <CreateDate>2024-12-09T10:43:58</CreateDate>
    <NodeName Default="瑞健科技獲頒 ASM AS「傑出供應商獎」">
      <Name Culture="zh-hant-tw">瑞健科技獲頒 ASM AS「傑出供應商獎」</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="edf44b70-1d35-4780-86c6-038a4075d28d">PageEvent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/34a5afebf0ae419ebc412b68b03d8122"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/34a5afebf0ae419ebc412b68b03d8122",
      "text": "\n<p></p>\n<p>瑞健科技 (SHL Technologies) 於 107 年 1 月 22 日榮獲重要客戶先進裝配系統有限公司 (ASM Assembly Systems GmbH &amp; Co. KG，簡稱 ASM AS) 所頒發的「傑出供應商獎」，此殊榮對長期身為 ASM AS 戰略夥伴的瑞健科技而言著實是一大肯定。</p>\n<p>瑞健科技總經理巴博雅 (Gabor Papp) 代表出席於新加坡舉行的「ASM AS 第七屆年度供應商頒獎典禮」並接受頒獎。</p>\n<p>ASM AS 是領航全球的表面黏著技術設備供應商。該公司長期仰賴瑞健科技供應其關鍵模組件以製成印刷電路板設備，而由這些設備製成的印刷電路板最終用於多個全球知名公司的消費電子產品之中。</p>\n<p>瑞健科技與 ASM AS 之合作關係始於 2004 年，當時瑞健科技與英商 DEK 簽立合約，供應表面黏著技術中錫膏印刷機的關鍵模組件。爾後，來自荷蘭的 ASM AS 為成為表面黏著技術解決方案的一站式服務供應商，且收購了英商 DEK 的錫膏印刷機產品線。</p>\n<p>此次瑞健科技獲得「傑出供應商獎」，是根據多項具體關鍵績效指標與標準被評選而出，包含供應商的採購、品管、物流和技術能力等等。</p>\n<p>巴博雅表示：「與 ASM AS 的合作對瑞健科技的發展一直佔有舉足輕重的影響，此外，此項殊榮歸功於同仁們於背後所付出的心血和努力，我引以為傲。」</p>\n<p>負責此項專案的邱彥群經理則表示，團隊將繼續專注於價值工程，透過增加成本效益與提升服務品質以保持市場競爭力。</p>\n<p></p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "Events"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2018-03-01T03:14:37]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ff968d17ad574e4396298a4cba0f9490"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/ff968d17ad574e4396298a4cba0f9490",
      "title": "瑞健科技獲頒 ASM AS「傑出供應商獎」"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>