<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5809133-1ab9-42ab-9a7a-913ae077c9dd" Alias="瑞健集團三度簽署臺灣投資意向書" Level="4">
  <Info>
    <Parent Key="5c5c75df-84cf-48b4-8ece-8c261452f512">Events</Parent>
    <Path>/Homepage/NewsAndInsights/Events/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageEvent</ContentType>
    <CreateDate>2024-12-09T10:44:09</CreateDate>
    <NodeName Default="瑞健集團三度簽署臺灣投資意向書">
      <Name Culture="zh-hant-tw">瑞健集團三度簽署臺灣投資意向書</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="edf44b70-1d35-4780-86c6-038a4075d28d">PageEvent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9fdf6cd24f00416a9edb3dfc4ef57815"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/9fdf6cd24f00416a9edb3dfc4ef57815",
      "text": "\n<p></p>\n<p>瑞健集團於今 (2018) 年 10 月 8 日與中華民國經濟部第三度簽署投資意向書，將於未來五年額外投資 1 億美元 (約 30 億台幣) 協助深化臺灣的醫療器材產業。</p>\n<p>瑞健集團為領航全球先進藥物輸送系統產業的設計、研發、及製造龍頭。為響應公司逐年累增的訂單量及創新研發專案，此項投資主要目的為擴充廠房與設備，提升自動化系統、模具和 CNC 加工等關鍵技術。瑞健看準臺灣電子產業在國際上極具優勢，進而在大台北地區成立育成中心，跨足數位醫療產業以開創藥物輸送之新契機。</p>\n<p>瑞健暨 2008 年首次簽署 1 億美元的投資意向書後，於 2013 年再度承諾投入 4,000 萬美元 (約12 億台幣) 強化其公司內部能力及生產能量。另外，瑞健單在 2016-18 年間便新增 900 名員工、於新北市汐止區設立辦公室，並完工位於桃園南崁六福路的 63,220 平方尺全新辦公暨廠房大樓。</p>\n<p>瑞健科技總經理巴博雅 (Gabor Papp) 今代表瑞健集團出席簽署活動，並與經濟部部長沈榮津簽下投資意向書。他表示：「我們感到很榮幸能受到臺灣政府的重視，並再度受邀參加這場深具代表性的盛會，共同宣示引領臺灣產業邁向全球發展的決心。臺灣位於亞太經貿樞紐的優越地理位置又擁有頂尖的人才庫，著實是本公司成功的關鍵。隨著我們邁向在臺灣的第 30 個年頭，我們比以往更有信心在臺灣的投資及拓展策略，也更期待在臺灣的下一個三十載！」</p>\n<p>這次意向同意書在由經濟部主辦的臺灣全球招商論壇舉行，蔡英文總統親臨會場致詞，其他與會跨國企業包括Expedia Group、德商DHL和日商三菱電機。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "Events"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2018-10-01T03:26:22]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c9ad7694733149158cd310663bed8006"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/c9ad7694733149158cd310663bed8006",
      "title": "瑞健集團三度簽署臺灣投資意向書"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>