<?xml version="1.0" encoding="utf-8"?>
<Content Key="1badd1ef-abee-4e4a-9ff5-0350c160a4ff" Alias="Design" Level="4">
  <Info>
    <Parent Key="05b99996-fc6c-4521-95ff-8cef8cc2b6e1">Device development</Parent>
    <Path>/Homepage/OurServices/DeviceDevelopment/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:53:25</CreateDate>
    <NodeName Default="Design">
      <Name Culture="en-us">Design</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cfc92eeaec4a425eb01a0cb6bc38878e",
        "settingsUdi": "umb://element/e500cfda08704d87b489adb7fc314c1e"
      },
      {
        "contentUdi": "umb://element/9d22b881a300460babcdc72a7bfeacdb",
        "settingsUdi": "umb://element/478b557d8da24fbd88d50539cd9d0978"
      },
      {
        "contentUdi": "umb://element/786736c848614a839052fe5af6a74107",
        "settingsUdi": "umb://element/6a359830ce2544d1b7243d210f3e1aee"
      },
      {
        "contentUdi": "umb://element/11eb05b937b741debb9a8b998e21478e",
        "settingsUdi": "umb://element/2c285fecce9e429598cea98f3b192689"
      },
      {
        "contentUdi": "umb://element/46ca43b4881d4b4980bac3274900b74b",
        "settingsUdi": "umb://element/313bf47a5a6946d0924d19f9b8078f67"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/9d22b881a300460babcdc72a7bfeacdb",
      "title": "Research and innovation",
      "description": {
        "markup": "<p><span data-sheets-root=\"1\">Device technologies originate from innovative concepts developed throughout the product journey. A dedicated team of engineers collaborates with various departments to design and produce prototypes that meet the evolving needs of the industry, customers, and patients.\u2028<br></span></p>\n<p>&nbsp;</p>\n<ul>\n<li><span data-sheets-root=\"1\">Developing technologies for timely, novel use cases</span></li>\n<li><span data-sheets-root=\"1\">Cross-functional research and concept development teams</span></li>\n<li><span data-sheets-root=\"1\">Rapid prototyping capabilities</span></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a37abcad35624a378ed277fa54143b30"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/a37abcad35624a378ed277fa54143b30",
            "image": [
              "{\"Id\":\"jcbgjz24r67sbq4ppmphrm5s\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7720.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jcbgjz24r67sbq4ppmphrm5s/SHL-Medical-Office_People_Zug_Konstantin_KK5D7720.jpg\",\"AssetId\":\"4bqtw78fqtpfv6t9cw3v84v\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7720\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/786736c848614a839052fe5af6a74107",
      "title": "Industrial design",
      "description": {
        "markup": "<p><span>Our success lies in our collaboration with pharma and biotech partners to co-create valuable, patient-centric solutions. Our in-house industrial designers and engineers focus on user needs, leading to a growing number of launched products and a strong pipeline of innovative injection devices.<br></span></p>\n<p>&nbsp;</p>\n<ul>\n<li>Strategic and creative device co-creation&nbsp;</li>\n<li>In-house design and usability expertise</li>\n<li>Award-winning innovative designs</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b6006d56e34841bf9971719a1e6fc82c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/b6006d56e34841bf9971719a1e6fc82c",
            "image": [
              "{\"Id\":\"hgx5gx4qnz6kjks7r8kf6v7p\",\"FileName\":\"Industrial Design Molly-square.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/hgx5gx4qnz6kjks7r8kf6v7p/Industrial_Design_Molly-square.jpg\",\"AssetId\":\"nwhvf29j2tbx2hf4m7wnkz\",\"AssetName\":\"Industrial Design Molly\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/46ca43b4881d4b4980bac3274900b74b",
      "title": "Get in touch",
      "text": {
        "markup": "<p>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else you want us to know about.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/24f496b295984045abc7fba73cb2a77e"
            },
            {
              "contentUdi": "umb://element/360b3149ab87482fb1b7ac9eef77a32b"
            },
            {
              "contentUdi": "umb://element/1fce3917acc64195b4eeaaca6c6b5cc1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/24f496b295984045abc7fba73cb2a77e",
            "icon": "",
            "title": "Email us",
            "text": {
              "markup": "<p>We usually respond within 24 hours on working days.<br><a href=\"mailto:info@shl-medical.com\">&nbsp;info@shl-medical.com</a></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/360b3149ab87482fb1b7ac9eef77a32b",
            "icon": "",
            "title": "Call us",
            "text": {
              "markup": "<p>Mon-Fri from 8:00AM-5:00PM (GMT+2) <br>+41 41 368 00 00</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/1fce3917acc64195b4eeaaca6c6b5cc1",
            "icon": "",
            "title": "Visit us",
            "text": {
              "markup": "<p>You can find our office HQ at&nbsp;<br>Gubelstrasse 22 <br>6300 Zug, Switzerland</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/11eb05b937b741debb9a8b998e21478e",
      "title": "Human factors engineering",
      "description": {
        "markup": "<div class=\"flex-shrink-0 flex flex-col relative items-end\">\n<div class=\"pt-0\">\n<div class=\"gizmo-bot-avatar flex h-8 w-8 items-center justify-center overflow-hidden rounded-full\">The patient is central to our work, so we prioritize understanding their needs. Our researchers and engineers analyze patient-device interactions. By collaborating with customers to collect data, we create safe and user-friendly device user interfaces.</div>\n</div>\n</div>\n<p>&nbsp;</p>\n<ul>\n<li>User-centric design thinking</li>\n<li>Expertise in usability engineering</li>\n<li>Experience in formative study implementation</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": [
        "right"
      ],
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f9b8b98d95ec44ce9ddda44544b3c073"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/f9b8b98d95ec44ce9ddda44544b3c073",
            "image": [
              "{\"Id\":\"whw4wrzvgv92qrjxnqs9kt\",\"FileName\":\"Human Factors_0060.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/whw4wrzvgv92qrjxnqs9kt/Human_Factors_0060.jpg\",\"AssetId\":\"nk2brnstk363f2jxmvb5v53\",\"AssetName\":\"Human Factors Industrial Design\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/cfc92eeaec4a425eb01a0cb6bc38878e",
      "text": {
        "markup": "<h2>User-centric design</h2>\n<p>The constant pursuit of innovative designs in self-injection solutions is a cornerstone of success. From concept development to human factors engineering, these competencies ensure user-centric designs that empower patients' independence.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/478b557d8da24fbd88d50539cd9d0978",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f3f9f8",
        "label": "pastel-blue",
        "sortOrder": 10,
        "id": "9"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/6a359830ce2544d1b7243d210f3e1aee",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/313bf47a5a6946d0924d19f9b8078f67",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/2c285fecce9e429598cea98f3b192689",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e5f9f7",
        "label": "pastel-green",
        "sortOrder": 5,
        "id": "13"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e500cfda08704d87b489adb7fc314c1e",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3b84fec9b1ee4ac29690d857da66b6a3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/3b84fec9b1ee4ac29690d857da66b6a3",
      "title": "Drug delivery device design",
      "text": {
        "markup": "<p>Our commitment to the innovative design of our product offerings solidifies our leadership in the drug delivery industry.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[We specialize in the design of drug delivery devices, focusing on user-centered solutions that enhance patient experience. Discover everything about it.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Drug Delivery Device Design | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>