:root {
  --form-item-margin: #{$spacing-20};
  --form-padding-left: #{$spacing-8};
  --form-item-error-border-width: 1px;
  --form-item-error-border-radius: 0;
  --form-item-error-padding-top: #{$spacing-4};
  --form-item-error-padding-bottom: #{$spacing-4};
  --form-item-error-padding-left: #{$spacing-8};
  --form-item-error-padding-right: #{$spacing-8};
}

.form__item:not(.input--hidden) {
  margin-bottom: var(--form-item-margin);
}

.form__item-link {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}
