:root {
  --error-border-width: 1px;
  --error-border-radius: 0;
  --error-border-color: transparent;
  --error-fill-color: transparent;
  --error-padding: 0;
  --error-text-color: var(--color-error);
}

.form__item-error {
  display: none;
  margin-top: $global-spacing / 2;
  box-shadow: 0 0 0 var(--error-border-width) rgba(var(--error-border-color), 1) inset;
  background-color: var(--error-fill-color);
  border-radius: var(--error-border-radius);
  padding: var(--error-padding);
  color: var(--error-text-color);

  .form__item--error & {
    display: inline-block;
  }
}
