{#
Card card-overlay Component
A component that displays a card-overlay effect on a card

Note: When using this component on card-overlay, the parent component that shows it on card-overlay should have class "c-card-overlay-parent"

Options:
  title: string (required)
  tag: string
  position: "start"
  visible: true
#}

{% from 'button.html' import button %}
{% from 'shape.html' import shape %}
{% from 'tag.html' import tag %}

{% macro cardOverlay(data) %}

  <div class="c-card-overlay
    {%- if data.position %} c-card-overlay--position-{{ data.position }}{% endif -%}
    {%- if data.visible %} c-card-overlay--is-visible{% endif -%}
    {%- if data.video %} c-card-overlay--has-video{% endif -%}">

    <div class="card-overlay__content">
      {% if data.video %}
        <div class="card-overlay__video">
          {{ button({
            label: global.resource.common.openVideoModal,
            srOnly: true,
            element: 'span',
            icon: 'play'
          }) }}
          {% if data.video.totalTime %}
            {{ data.video.totalTime }}
          {% endif %}
        </div>
      {% elseif data.tag %}
        {{ tag({
          classes: '',
          label: data.tag
        }) }}
      {% else %}
        {{ button({
          label: data.title,
          srOnly: true,
          element: 'span',
          icon: 'arrow-top-right',
          class: "card-overlay__button"
        }) }}
      {% endif %}
    </div>

    {{ shape({
      class: 'card-overlay__shape' ~ (' card-overlay__shape--' + data.position if data.position else '')
    }) }}

  </div>

{% endmacro %}
