{% set title='Headings' %} {% extends './block.html' %} {% block content %}

  <div class="styleguide__typography">
    <h1 class="styleguide__typography-d1">Display</h1>
    <h2 class="styleguide__typography-h1">Heading 1</h2>
    <h2 class="styleguide__typography-h2">Heading 2</h2>
    <h3 class="styleguide__typography-h3">Heading 3</h3>
    <h4 class="styleguide__typography-h4">Heading 4</h4>
    <h5 class="styleguide__typography-h5">Heading 5</h5>
    <h6 class="styleguide__typography-h6">Heading 6</h6>
  </div>

{% endblock %}
