{% set title='Grid' %}

{% extends './block.html' %}


{% block content %}
  <p>Use <code>shift+G</code> to toggle the grid overlay.</p>
  <br/>
  <div class="styleguide__grid">
    <div class="styleguide__col styleguide__col--full">
      <span>Full width</span>
    </div>

    <div class="styleguide__col styleguide__col--half">
      <span>Half width</span>
    </div>

    <div class="styleguide__col styleguide__col--half">
      <span>Half width</span>
    </div>

    <div class="styleguide__col styleguide__col--third">
      <span>Third width</span>
    </div>

    <div class="styleguide__col styleguide__col--third">
      <span>Third width</span>
    </div>

    <div class="styleguide__col styleguide__col--third">
      <span>Third width</span>
    </div>

    <div class="styleguide__col styleguide__col--half-end">
        <span>Half width, end</span>
    </div>

    <div class="styleguide__col styleguide__col--middle-half">
      <span>Middle half</span>
    </div>

    <div class="styleguide__col styleguide__col--half-start">
      <span>Half width, start</span>
    </div>

    <div class="styleguide__col styleguide__col--full">
      <span>Full width</span>
    </div>
  </div>
{% endblock %}

