@model DTNL.UmbracoCms.Web.Components.Slogan;

<div class="c-slogan c-slogan--@Model.Variant @Model.CssClasses" role="presentation" js-hook-slogan>
    <div class="slogan__inner marquee-inner">
        <div class="slogan__content marquee-content" js-hook-slogan-content>
            <span class="slogan__text-fill">@Model.Text</span>
        </div>
    </div>
</div>
