@model DTNL.UmbracoCms.Web.Components.Slogan;


<div class="c-slogan @Model.CssClasses" role="presentation"
    @(Model.AnimateOnScroll ? "js-hook-slogan-on-scroll" : "js-hook-slogan")
    >
    <div class="slogan__inner marquee-inner">
        <div class="slogan__content marquee-content" js-hook-slogan-content>
            <span class="slogan__text-fill">@Model.Text</span>
        </div>
    </div>
</div>
