<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61ddfd15-847f-4fd7-b40d-109e54a9b4ac" Alias="pageContent" Level="2">
  <Info>
    <Name>Page Content</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a3bab691-c534-487e-9d3d-39bee9369c13">compositionBasePage</Composition>
      <Composition Key="d1a4e000-2893-4031-966b-e1cc6cad1760">compositionContentBlocks</Composition>
      <Composition Key="90e0f3b6-75f9-4de1-baf0-0b75932016b5">compositionHero</Composition>
      <Composition Key="6b59155c-88ff-4b9e-8b97-e87f6053ec53">compositionSeo</Composition>
      <Composition Key="d5e2422c-7cd9-4537-a2e7-d98841895b8c">compositionSocialSharing</Composition>
      <Composition Key="6615c23d-b6bd-485d-838a-df539d914911">compositionSocialSharingOptions</Composition>
    </Compositions>
    <DefaultTemplate>PageContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="61ddfd15-847f-4fd7-b40d-109e54a9b4ac" SortOrder="0">pageContent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a879beff-5117-4b5a-9bc5-26fb7ae7a057</Key>
      <Name>All Link</Name>
      <Alias>allLink</Alias>
      <Definition>21755d9d-a8f9-43aa-917c-b2f79e90d9be</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ad97d0f-e761-48b8-993c-deff468cb435</Key>
      <Name>Feature</Name>
      <Alias>feature</Alias>
      <Definition>d6888f7c-89ed-427d-9a24-8201db5fe843</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ecb0f4ab-47b8-49a4-8852-32d317fd91a6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>