<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9f65f1de-e35d-46b8-8d58-ef299efb379d" Alias="pageProductOverview" Level="2">
  <Info>
    <Name>Page Product Overview</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a3bab691-c534-487e-9d3d-39bee9369c13">compositionBasePage</Composition>
      <Composition Key="c4808093-1fc8-4e59-904f-962f06913275">compositionCardDetails</Composition>
      <Composition Key="d1a4e000-2893-4031-966b-e1cc6cad1760">compositionContentBlocks</Composition>
      <Composition Key="90e0f3b6-75f9-4de1-baf0-0b75932016b5">compositionHero</Composition>
      <Composition Key="c11dc90c-1619-4290-816d-6bd2e2dcaacd">compositionNoResults</Composition>
      <Composition Key="6b59155c-88ff-4b9e-8b97-e87f6053ec53">compositionSeo</Composition>
      <Composition Key="d5e2422c-7cd9-4537-a2e7-d98841895b8c">compositionSocialSharing</Composition>
      <Composition Key="6615c23d-b6bd-485d-838a-df539d914911">compositionSocialSharingOptions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="61ddfd15-847f-4fd7-b40d-109e54a9b4ac" SortOrder="0">pageContent</ContentType>
    <ContentType Key="d1099d91-795d-4c0f-acc1-d848175088b5" SortOrder="1">pageProduct</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>