<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4f389b3-58e0-4e61-b28a-0cce8ffee02c" Alias="pageError" Level="2">
  <Info>
    <Name>Page Error</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a3bab691-c534-487e-9d3d-39bee9369c13">compositionBasePage</Composition>
      <Composition Key="d1a4e000-2893-4031-966b-e1cc6cad1760">compositionContentBlocks</Composition>
      <Composition Key="90e0f3b6-75f9-4de1-baf0-0b75932016b5">compositionHero</Composition>
      <Composition Key="6b59155c-88ff-4b9e-8b97-e87f6053ec53">compositionSeo</Composition>
    </Compositions>
    <DefaultTemplate>PageError</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="87edb1bd-f992-4f20-9ba6-a15ae7548424">PageError</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fc29e614-9d26-42c0-83f1-bad0c474d705</Key>
      <Name>Error Description</Name>
      <Alias>errorDescription</Alias>
      <Definition>354236bc-300e-4bd4-bf32-41114ba53005</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9cb549d-6be4-4f0d-863f-338cc3e3c535</Key>
      <Name>Error Message</Name>
      <Alias>errorMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d857c4ab-b11b-4cec-a6e4-69a77f74184c</Key>
      <Name>Primary Link</Name>
      <Alias>primaryLink</Alias>
      <Definition>7f673cf5-a3c7-43dc-8ed5-8f5f4841bada</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>957a8f5b-cd8b-4af1-994c-cc6d0bf79336</Key>
      <Name>Secondary Link</Name>
      <Alias>secondaryLink</Alias>
      <Definition>7f673cf5-a3c7-43dc-8ed5-8f5f4841bada</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e280f672-fe32-4a02-bab3-ec9047be680d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>