<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebb770c0-730e-436b-ba79-24fa6ba9b464" Alias="pageCookies" Level="2">
  <Info>
    <Name>Page Cookies</Name>
    <Icon>icon-disc color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a3bab691-c534-487e-9d3d-39bee9369c13">compositionBasePage</Composition>
      <Composition Key="248cd011-2cc6-4a97-8377-01e0fe61aeb6">compositionColorOptions</Composition>
      <Composition Key="d1a4e000-2893-4031-966b-e1cc6cad1760">compositionContentBlocks</Composition>
      <Composition Key="0f4e2912-edda-426a-bde5-ab8ccdf23767">compositionCookiesOptions</Composition>
      <Composition Key="6b59155c-88ff-4b9e-8b97-e87f6053ec53">compositionSeo</Composition>
    </Compositions>
    <DefaultTemplate>PageCookies</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d87d7cd-caab-4672-922f-d1e40814ac6f">PageCookies</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>