<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83713130-810c-452f-8f53-b7fc21bc96ec" Alias="pageNews" Level="2">
  <Info>
    <Name>Page News</Name>
    <Icon>icon-newspaper-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a3bab691-c534-487e-9d3d-39bee9369c13">compositionBasePage</Composition>
      <Composition Key="c4808093-1fc8-4e59-904f-962f06913275">compositionCardDetails</Composition>
      <Composition Key="d1a4e000-2893-4031-966b-e1cc6cad1760">compositionContentBlocks</Composition>
      <Composition Key="90e0f3b6-75f9-4de1-baf0-0b75932016b5">compositionHero</Composition>
      <Composition Key="fe6f63c8-7d7d-4df7-b379-1f892ed9e682">compositionKnowledgePage</Composition>
      <Composition Key="6b59155c-88ff-4b9e-8b97-e87f6053ec53">compositionSeo</Composition>
      <Composition Key="b299590d-8515-4c93-8897-6763c3f44610">compositionTagSettings</Composition>
    </Compositions>
    <DefaultTemplate>PageNews</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>