@using DTNL.UmbracoCms.Web.Helpers.Aliases

<div class="c-carousel-indicator" js-hook-carousel-indicator>
    <div class="carousel-indicator__container" js-hook-carousel-indicator-container>
    </div>
    <div class="carousel-indicator__icons-container" js-hook-carousel-indicator-icons>
        <svg src="@SvgAliases.Icons.ChevronLeft" />
        <svg src="@SvgAliases.Icons.ChevronRight" />
    </div>
</div>
