.c-hover {
  bottom: 0;
  inset-inline-end: 0;
  pointer-events: none;
  position: absolute;
  z-index: 0;

  &--position-start {
    inset-inline-end: auto;
    inset-inline-start: 0;
    transform: scaleX(-1);

    .c-tag {
      transform: scaleX(-1);
    }
  }
}

.hover__content {
  --button-primary-background-color: #{$color-light-blue};
  --button-primary-border-color: #{$color-light-blue};
  --button-primary-font-color: #{$color-white};

  transform: translateY(100%);
  transition: transform var(--card-animation-duration) var(--card-animation-ease);

  .c-hover--is-visible &,
  .c-hover-parent:hover & {
    transform: translateY(0);
    transition-delay: 50ms;
  }

  @include screen-sm-and-smaller {
    .c-button {
      height: 3.2rem;
      width: 3.2rem;
    }
  }
}

.hover__shape {
  bottom: 0;

  inset-inline-end: 0;
  position: absolute;
  --hover-shape-scale-size: 1;
  transform: scale(0) translateY(8px);
  transform-origin: bottom right;
  transition: transform var(--card-animation-duration) var(--card-animation-ease);
  transition-delay: var(--card-animation-delay);
  width: calc(100% + 110px);
  z-index: -1;

  .c-hover--is-visible &,
  .c-hover-parent:hover & {
    transform: scale(var(--hover-shape-scale-size)) translateY(0);
    transition-delay: 0ms;
  }

  @include screen-sm-and-smaller {
    .c-hover--is-visible &,
    .c-hover-parent:hover & {
      --hover-shape-scale-size: 0.9;
    }
  }
}
