.c-tag {
  background-color: $color-pale-blue;
  color: $color-dark-blue;
  font-weight: $font-weight-extrabold;
  display: inline-block;
  padding: $spacing-6 $spacing-12;
  border-radius: $radii-16;
}
