.navigation-mobile__line {
  background-color: rgba($color-dark-blue-rgb, 0.05);
  height: 1px;
  margin: $spacing-16 $spacing-24;
}

.navigation-mobile__language-selector {
  margin-inline: $spacing-24;
}
