<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4808093-1fc8-4e59-904f-962f06913275" Alias="compositionCardDetails" Level="2">
  <Info>
    <Name>Composition Card Details</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>84896d8f-477d-4d5b-8c9b-87c53fa850e8</Key>
      <Name>Description</Name>
      <Alias>cardDescription</Alias>
      <Definition>354236bc-300e-4bd4-bf32-41114ba53005</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to Hero Text, if not set.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="cardDetails">Card Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17ad9cf0-9b4d-48a0-83a5-52011f973d14</Key>
      <Name>Image</Name>
      <Alias>cardImage</Alias>
      <Definition>817d6efe-c3e8-479a-af9c-43e994ddf33e</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to Hero Image, if not set.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cardDetails">Card Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4afb2f38-eb01-4c12-8926-221e913b0f16</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>04f1780a-bdad-4be6-b634-fbfaddc672fe</Definition>
      <Type>readOnlyTags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="cardDetails">Card Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>11ce01c1-fcdc-457b-8cd5-52a373639d35</Key>
      <Caption>Card Details</Caption>
      <Alias>cardDetails</Alias>
      <Type>Group</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>