<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0279cd85-53aa-4041-a324-d21f2f825eef" Alias="compositionKnowledgeTags" Level="2">
  <Info>
    <Name>Composition Knowledge Tags</Name>
    <Icon>icon-tags color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1ae163ce-17f8-4a88-a6e3-32826498d224</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>04f1780a-bdad-4be6-b634-fbfaddc672fe</Definition>
      <Type>readOnlyTags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tagSettings">Tag Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>491b3e77-729d-4927-88d6-f4454d0549ab</Key>
      <Name>Types</Name>
      <Alias>type</Alias>
      <Definition>8d08f20b-4a9e-4cfd-b9aa-52c7a53ba8bf</Definition>
      <Type>readOnlyTags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tagSettings">Tag Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d9245c2-66f6-4309-a4d1-24b6e495d805</Key>
      <Caption>Tag Settings</Caption>
      <Alias>tagSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>