<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5e2422c-7cd9-4537-a2e7-d98841895b8c" Alias="compositionSocialSharing" Level="2">
  <Info>
    <Name>Composition Social Sharing</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6d3c78dc-d502-4df3-af71-9e6e76085bba</Key>
      <Name>Description</Name>
      <Alias>ogDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To overrule the description property for social sharing]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="socialSharing/openGraphSettings">Open Graph Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69b69367-0db6-4552-95f0-1f043266b882</Key>
      <Name>Image</Name>
      <Alias>ogImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image for sharing on social media. Facebook recommends 1200 x 630px]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="socialSharing/openGraphSettings">Open Graph Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bef8d6f8-3788-499e-81a2-1dd944977ba9</Key>
      <Name>Title</Name>
      <Alias>ogTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To overrule the title property for social sharing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialSharing/openGraphSettings">Open Graph Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e34183b-cb2f-4bca-9414-90f59c37ae27</Key>
      <Name>Twitter Description</Name>
      <Alias>twitterDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional override for twitter card description. If you do not fill in this field, Twitter will use the Open Graph tag.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="socialSharing/twitterTagSettings">Twitter Tag Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>866d9e98-75e1-4919-846a-f6aea57bd333</Key>
      <Name>Twitter Image</Name>
      <Alias>twitterImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional override for image card title. If you do not fill in this field, Twitter will use the Open Graph tag.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="socialSharing/twitterTagSettings">Twitter Tag Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>baa02245-268d-4464-a84f-9106bffb15ef</Key>
      <Name>Twitter title</Name>
      <Alias>twitterTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional override for twitter card title. If you do not fill in this field, Twitter will use the Open Graph tag.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialSharing/twitterTagSettings">Twitter Tag Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6f804d98-1be0-4724-accd-d3559fc2b6f5</Key>
      <Caption>Twitter Tag Settings</Caption>
      <Alias>socialSharing/twitterTagSettings</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>8e6a75da-419c-4691-b21b-f6a544382e09</Key>
      <Caption>Open Graph Settings</Caption>
      <Alias>socialSharing/openGraphSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>