<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e2fa5d4-38d2-4c77-af76-c25a5cac06f0" Alias="compositionErrorHandling" Level="2">
  <Info>
    <Name>Composition Error Handling</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e365fd16-ea8d-40fb-add7-5c5d8b07388f</Key>
      <Name>404 Page not found</Name>
      <Alias>umbracoError404</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set page to be shown on 404 errors]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="errorPages">Error Pages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>755bbb59-9fb2-4b6d-ac00-888b9269d252</Key>
      <Name>500 Error occured</Name>
      <Alias>umbracoError500</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set page to be shown on 500 error]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="errorPages">Error Pages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>57b97d06-ae04-43b2-a159-7fbdf38d9345</Key>
      <Caption>Error Pages</Caption>
      <Alias>errorPages</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>