<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a9dab3d-c3f8-46b5-8d39-8ab50cd502cf" Alias="compositionHomePage" Level="2">
  <Info>
    <Name>Composition HomePage</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0dd2c13f-ee1a-4415-9e03-9360a8743079</Key>
      <Name>Hero</Name>
      <Alias>hero</Alias>
      <Definition>63b1c95d-2590-421b-bf04-3c1dcf9cd62b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05577fed-c0d6-485d-9972-c309f37c8216</Key>
      <Name>Page Theme</Name>
      <Alias>pageTheme</Alias>
      <Definition>c2bd4cf1-f5db-4032-b1fb-6f5576cc53d9</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colorOptions">Color Options</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00868e58-424c-4fdf-8dbb-a38b657eaffc</Key>
      <Name>Slogan</Name>
      <Alias>slogan</Alias>
      <Definition>5c6f9011-00d6-4286-9ab3-10f7f6ef043e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerSlogan">Footer Slogan</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>073c0223-648b-4326-a865-4b47b32618de</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>3dc23ce4-f530-4a65-984f-32727caa8ba6</Key>
      <Caption>Footer Slogan</Caption>
      <Alias>footerSlogan</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>becbfc47-ac84-4d42-919b-f54174d48152</Key>
      <Caption>Color Options</Caption>
      <Alias>colorOptions</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>