<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0cdfd20a-4635-438f-a855-03ef35558899" Alias="compositionRedirects" Level="2">
  <Info>
    <Name>Composition Redirects</Name>
    <Icon>icon-filter-arrows color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f179d55d-8652-4d10-ae0b-3257b7e8308a</Key>
      <Name>Redirects File</Name>
      <Alias>redirectsFile</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload an Excel file here with the first column with Old urls, and second column with the new urls to redirect to.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="redirects">Redirects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>47c16e31-26ef-4e84-8ed4-337e12ba8665</Key>
      <Caption>Redirects</Caption>
      <Alias>redirects</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>