<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3bab691-c534-487e-9d3d-39bee9369c13" Alias="compositionBasePage" Level="2">
  <Info>
    <Name>Composition BasePage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>befe0d54-5e4e-4f47-b27d-095b6262143a</Key>
      <Name>Slogan</Name>
      <Alias>slogan</Alias>
      <Definition>5c6f9011-00d6-4286-9ab3-10f7f6ef043e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerSlogan">FooterSlogan</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b9bcc6d-ecea-4da3-a271-16755cbf11b8</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>16df234f-ee10-47d2-821a-2dbacdc1d669</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d0cf7f21-f4f8-4dc4-88df-264b7a72ab31</Key>
      <Caption>FooterSlogan</Caption>
      <Alias>footerSlogan</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>e738cc21-d23f-400a-b088-7ab07179cd99</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>feb0b469-e064-4eab-81e5-f1de44c54c8e</Key>
      <Caption>Theme</Caption>
      <Alias>theme</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>