<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f7bb9ac-badc-41cc-847d-62e52f8e31bb" Alias="compositionVacanciesSettings" Level="2">
  <Info>
    <Name>Composition Vacancies Settings</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>02b44ebb-105c-4cfb-829b-9fb2af7bc52f</Key>
      <Name>Content Blocks</Name>
      <Alias>vacanciesContentBlocks</Alias>
      <Definition>3fe7e7e2-9ea4-440a-b6df-7f8e942c6c16</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vacanciesSettings/components">Components</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>465c237b-7913-4e12-9595-9d99e967e141</Key>
      <Name>Page Theme</Name>
      <Alias>vacanciesPageTheme</Alias>
      <Definition>115a88e3-ffd1-4cb4-9d0f-642e0537aa84</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vacanciesSettings/colorOptions">Color Options</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ace8cc55-cead-461d-9987-e97c5035947d</Key>
      <Caption>Color Options</Caption>
      <Alias>vacanciesSettings/colorOptions</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>d84ab830-23e7-4893-8454-05a832ffc902</Key>
      <Caption>Vacancies Settings</Caption>
      <Alias>vacanciesSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fbb7812a-327c-4ef8-9629-4114628f528a</Key>
      <Caption>Components</Caption>
      <Alias>vacanciesSettings/components</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>