<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5169344-5e82-40b7-b28b-0589f2be072d" Alias="compositionStructuredData" Level="2">
  <Info>
    <Name>Composition Structured Data</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c3fd7ffe-414a-4052-b2be-7b37341ce3bd</Key>
      <Name>Company Logo</Name>
      <Alias>companyLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For Google Structured Data tags]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="searchEngineOptimizationSEO/structuredData">Structured Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ac6e0dd-ac25-425a-bd67-3ee0117ed2a9</Key>
      <Name>Company Name</Name>
      <Alias>companyName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For Google Structured Data tags]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="searchEngineOptimizationSEO/structuredData">Structured Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>822309dc-cbab-43d2-af36-b209bd1510a0</Key>
      <Caption>Structured Data</Caption>
      <Alias>searchEngineOptimizationSEO/structuredData</Alias>
      <Type>Group</Type>
      <SortOrder>90</SortOrder>
    </Tab>
    <Tab>
      <Key>fd649d12-b1aa-4211-b6e7-d6d8d31bc22d</Key>
      <Caption>Search Engine Optimization (SEO)</Caption>
      <Alias>searchEngineOptimizationSEO</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>