<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14d0c172-1396-45da-b7c3-317506c8c821" Alias="compositionSocialLinks" Level="2">
  <Info>
    <Name>Composition Social Links</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0f16dd2f-4059-47af-9e97-92f2ed12949d</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Supported platforms: Facebook, Instagram, X, Youtube and LinkedIn]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="social">Social</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>929a7901-e12f-4444-abf3-807b6f16d2c2</Key>
      <Name>Social Media Policy Link</Name>
      <Alias>socialMediaPolicyLink</Alias>
      <Definition>21755d9d-a8f9-43aa-917c-b2f79e90d9be</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="social">Social</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f13e98f9-fb5e-4e97-96ed-52d07aaeed44</Key>
      <Caption>Social</Caption>
      <Alias>social</Alias>
      <Type>Tab</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>