<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e4a8e54-4487-4aee-9c4d-a81bd022c4d4" Alias="133 2022 May Injectable SHL Medical" Level="4">
  <Info>
    <Parent Key="3bee6ab7-2e1c-4f26-9848-06a499c64249">Downloads</Parent>
    <Path>/Homepage/NewsAndInsights/Downloads/MayInjectableSHLMedical</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-12-13T06:12:33</CreateDate>
    <NodeName Default="133 2022 May Injectable SHL Medical">
      <Name Culture="en-us">133 2022 May Injectable SHL Medical</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"3j8m9hw5rbjnk6fcjzgr2sc\",\"FileName\":\"Ondrug-May-2024-Metabolics.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3j8m9hw5rbjnk6fcjzgr2sc/Ondrug-May-2024-Metabolics.png\",\"AssetId\":\"h5bktstxmstfqmj8ghrg366c\",\"AssetName\":\"Ondrug-May-2024-Metabolics\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1de838fd1c8d4cf98caf98eb7e3051d6",
        "settingsUdi": "umb://element/eede123a010143dfb6004882b85ae2c5"
      },
      {
        "contentUdi": "umb://element/e113ca79561840fd9f0678f8d0c6e739",
        "settingsUdi": "umb://element/2a0ebae05896454c8e83d6fee01679c6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/1de838fd1c8d4cf98caf98eb7e3051d6",
      "image": [
        "{\"Id\":\"5vwhkgqhq34rhmz66rcmb8z\",\"FileName\":\"may-injectable-shl-medical-2022-spaced.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5vwhkgqhq34rhmz66rcmb8z/may-injectable-shl-medical-2022-spaced.png\",\"AssetId\":\"ck69mfmsv9hrw62sqcwkgwbn\",\"AssetName\":\"may-injectable-shl-medical-2022-spaced\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "1"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/e113ca79561840fd9f0678f8d0c6e739",
      "text": {
        "markup": "<h5><span><a href=\"https://cdn.bfldr.com/DTG6CG68/at/mbpkpgsw3nscxm9n5xvhk5/133_2022_May_Injectable_SHL_Medical.pdf\">Download file</a></span></h5>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/eede123a010143dfb6004882b85ae2c5",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/2a0ebae05896454c8e83d6fee01679c6",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e45ee785d81d48c2a7ab23ac0e41a792"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/e45ee785d81d48c2a7ab23ac0e41a792",
      "title": "2022 May Injectable SHL Medical",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>