.page__content {
  color: $color-dark-blue;
  flex-grow: 1;
  border-radius: $radii-20;
  background-color: $color-white;

  @include screen-md-and-bigger {
    border-radius: $radii-40;
  }

  &.is--out-view::before {
    opacity: 0;
    transform: scaleX(0.95);
  }
}
