<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed21b91-1ad2-4751-94cf-4a1fc063513e" Alias="Molly® Connected Cap: A step into connected health" Level="4">
  <Info>
    <Parent Key="9697eee3-e0dd-429d-8d1d-f8320b81a899">Innovation</Parent>
    <Path>/Homepage/OurProducts/Innovation/MollyConnectedCapAStepIntoConnectedHealth</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:22:06</CreateDate>
    <NodeName Default="Molly® Connected Cap: A step into connected health">
      <Name Culture="en-us">Molly® Connected Cap: A step into connected health</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"ccwkxj6pt6sr735hcqr856h\",\"FileName\":\"Molly_cCap_B_rotate_2.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/ccwkxj6pt6sr735hcqr856h/Molly_cCap_B_rotate_2.png\",\"AssetId\":\"tnmwx8fs5gp76b4mpk2gr\",\"AssetName\":\"Molly Connected Cap\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31406c8de02b4998aea7af6a8b75daaf",
        "settingsUdi": "umb://element/dfcd0996f80140f0b01c9b6dd04e08d0"
      },
      {
        "contentUdi": "umb://element/6641789789d84136aa55fb7703ec8059",
        "settingsUdi": "umb://element/8acc181023a6472486e8db28140b0d1f"
      },
      {
        "contentUdi": "umb://element/f484ba4df5974677b761b71daa9866e0"
      },
      {
        "contentUdi": "umb://element/081b679658b64cd381efcf09f0978f20",
        "settingsUdi": "umb://element/bde9548925ba4f9a862b830b0fd38018"
      },
      {
        "contentUdi": "umb://element/73c26a15cea9487a98797504139f6ee3",
        "settingsUdi": "umb://element/c55f031c0e9541b785ed9e18db4c8589"
      },
      {
        "contentUdi": "umb://element/fce48472002e465e84e6938d76124579",
        "settingsUdi": "umb://element/e447082c17f9418189e71a2370f81396"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/31406c8de02b4998aea7af6a8b75daaf",
      "title": "Our innovation",
      "description": {
        "markup": "<p>Our commitment lies in advancing the future of digital therapeutics. From the Molly® Connected Cap to a portfolio of innovative products, we address the complexities of integrating connectivity into healthcare, leveraging data to enhance treatment pathways and improve patient outcomes.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Molly® Connected Cap",
          "udi": "umb://document/7e18f08f90f04eabbc14fde1e3c2d96c"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": [
        "right"
      ],
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/70f2fecdff2c4f8ea2a9bc16f289bd9a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/70f2fecdff2c4f8ea2a9bc16f289bd9a",
            "image": [
              "{\"Id\":\"2z7559crbgqp97675hm34n74\",\"FileName\":\"Molly_cCap_A_open_2.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2z7559crbgqp97675hm34n74/Molly_cCap_A_open_2.png\",\"AssetId\":\"tnmwx8fs5gp76b4mpk2gr\",\"AssetName\":\"Molly Connected Cap\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/6641789789d84136aa55fb7703ec8059",
      "title": "The benefits of connected care",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1303ffe99a7245fa9c58f0f6e7d18479"
            },
            {
              "contentUdi": "umb://element/5f5fb0fe9a184b929b8df7dace22f5b2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/1303ffe99a7245fa9c58f0f6e7d18479",
            "title": "Data-driven engagement ",
            "text": {
              "markup": "<p>Boost patient engagement with data-driven, personalized strategies for better treatments.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/5f5fb0fe9a184b929b8df7dace22f5b2",
            "title": "Remote clinical support",
            "text": {
              "markup": "<p>Support your clinical trials with remote patient monitoring for safer, more effective treatments.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/081b679658b64cd381efcf09f0978f20",
      "title": "Harness the power of digital",
      "description": "Unlock the full potential of digital connectivity with the Molly® Connected Cap. This innovative solution seamlessly blends data-driven technology with patient care.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/23c366fb37c9437dbff2f6e468b94d9d"
            },
            {
              "contentUdi": "umb://element/413cfc5fb422408b920fea27c1c39a4c"
            },
            {
              "contentUdi": "umb://element/c03a874981274ebcbf0c64396092bd4d"
            },
            {
              "contentUdi": "umb://element/2d7662b390be464bbe9d6171165ce48b"
            },
            {
              "contentUdi": "umb://element/87d822d075254951b9e11be66f7015ef"
            },
            {
              "contentUdi": "umb://element/67d49699a3404ab9b20660eea20f7720"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/23c366fb37c9437dbff2f6e468b94d9d",
            "title": "Retrofittable technology",
            "description": "Easily add connectivity to any Molly® autoinjector with our retrofittable design.",
            "image": [
              "{\"Id\":\"g5t4sj28cr8g2jcfrbmqmmx\",\"FileName\":\"Molly-connected-cap-Retrofittable-technology.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/g5t4sj28cr8g2jcfrbmqmmx/Molly-connected-cap-Retrofittable-technology.png\",\"AssetId\":\"xbr87cv8x5pcrm3z9tpff3gs\",\"AssetName\":\"Molly-connected-cap-Retrofittable-technology\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/413cfc5fb422408b920fea27c1c39a4c",
            "title": "Seamless usability",
            "description": "Same easy-to-use autoinjector, now with connected features and no extra patient or HCP training.",
            "image": [
              "{\"Id\":\"t6kfpq77n35x8s4c86mk94t\",\"FileName\":\"Molly-connected-cap-Seamless-usability.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/t6kfpq77n35x8s4c86mk94t/Molly-connected-cap-Seamless-usability.png\",\"AssetId\":\"952vq7q4gmxvhx6zb867955h\",\"AssetName\":\"Molly-connected-cap-Seamless-usability\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/c03a874981274ebcbf0c64396092bd4d",
            "title": "Faster development",
            "description": "Speed up clinical and commercial rollouts with flexible assembly options.",
            "image": [
              "{\"Id\":\"ctmrj55x39krtcbgk4m5tb6s\",\"FileName\":\"Molly-connected-cap-Faster-development.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/ctmrj55x39krtcbgk4m5tb6s/Molly-connected-cap-Faster-development.png\",\"AssetId\":\"44ps9q6zmccq4qq7nvxkmv6s\",\"AssetName\":\"Molly-connected-cap-Faster-development\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/2d7662b390be464bbe9d6171165ce48b",
            "title": "Digital integration",
            "description": "Sync with any digital ecosystem to generate actionable insights from treatment data.",
            "image": [
              "{\"Id\":\"mxxqx5mk3m2ppq4h5cxrgnnk\",\"FileName\":\"Molly-connected-cap-Digital-integration.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mxxqx5mk3m2ppq4h5cxrgnnk/Molly-connected-cap-Digital-integration.png\",\"AssetId\":\"w43jggtr7k5g7k3g7kjps4cz\",\"AssetName\":\"Molly-connected-cap-Digital-integration\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/87d822d075254951b9e11be66f7015ef",
            "title": "Sustainability",
            "description": "Built for recycling and reuse, supporting a greener future in connected care.\n",
            "image": [
              "{\"Id\":\"xc8bqqbr535mtmb7qwbsmrx\",\"FileName\":\"Molly-connected-cap-Sustainability.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xc8bqqbr535mtmb7qwbsmrx/Molly-connected-cap-Sustainability.png\",\"AssetId\":\"6rtknx68976zj6kgpksgqk\",\"AssetName\":\"Molly-connected-cap-Sustainability\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/67d49699a3404ab9b20660eea20f7720",
            "title": "Agile collaboration",
            "description": "Collaborate dynamically from clinical trials to market launch with our Innovation Partnership program.\n",
            "image": [
              "{\"Id\":\"xp545n393hqcpmhp8mqf998\",\"FileName\":\"Molly-connected-cap-Agile-collaboration.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xp545n393hqcpmhp8mqf998/Molly-connected-cap-Agile-collaboration.png\",\"AssetId\":\"fw53mgt98gs4j88sc2nh9jc\",\"AssetName\":\"Molly-connected-cap-Agile-collaboration\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/73c26a15cea9487a98797504139f6ee3",
      "title": "Want to get to know Molly Connected Cap better?",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b59464131e2e4267b055715c1ecb7a6b"
            },
            {
              "contentUdi": "umb://element/ef0b4afab79c4a22aaae01ca0836c999"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/b59464131e2e4267b055715c1ecb7a6b",
            "title": "Molly® Connected Cap product card",
            "description": "",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/ef0b4afab79c4a22aaae01ca0836c999",
            "title": "Molly® white paper",
            "description": "",
            "icon": "",
            "file": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/fce48472002e465e84e6938d76124579",
      "title": "Get in touch",
      "text": {
        "markup": "<p>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else we need to know about.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/183e859a31b44dbdb97bdf99fd7f1501"
            },
            {
              "contentUdi": "umb://element/30c590a325c94cefa220b2eb297bfd0e"
            },
            {
              "contentUdi": "umb://element/ab82fe466c82439fafe565a51af3a4bd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/183e859a31b44dbdb97bdf99fd7f1501",
            "icon": "",
            "title": "Email us",
            "text": {
              "markup": "<p><span>We usually respond within 24 hours on working days. <br></span>info@shl-medical.com<span> </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/30c590a325c94cefa220b2eb297bfd0e",
            "icon": "",
            "title": "Call us",
            "text": {
              "markup": "<p>Mon-Fri from 8:00AM-5:00PM (GMT+2) <br>+41 41 368 00 00</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/ab82fe466c82439fafe565a51af3a4bd",
            "icon": "",
            "title": "Visit us",
            "text": {
              "markup": "<p><span>You can find our office HQ at <br></span><span>Gubelstrasse 22 <br>6300 Zug, Switzerland</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/f484ba4df5974677b761b71daa9866e0",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c0b047d71bc34199bb4683857f2c3ec8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/c0b047d71bc34199bb4683857f2c3ec8",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/e596a3d964754769ab2409328fcd6057"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/e596a3d964754769ab2409328fcd6057",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/868176063/rendition/1080p/file.mp4?loc=external&log_user=0&signature=24981d8e243d97329bc78493dea1417a124d9d4a3466f0eca0c694d171ad3634"
                }
              ],
              "settingsData": []
            },
            "title": "Make Every Injection Count with Molly® Connected Cap",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"jv25832v8c6kcj7tvxq4xv9q\",\"FileName\":\"Molly(R) Connected Cap product demonstration-high.gif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jv25832v8c6kcj7tvxq4xv9q/MollyR_Connected_Cap_product_demonstration-high.gif\",\"AssetId\":\"4pr9pssrm6g5g84cxq32wbg\",\"AssetName\":\"Molly\\u00AE Connected Cap product demonstration-high\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/dfcd0996f80140f0b01c9b6dd04e08d0",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8acc181023a6472486e8db28140b0d1f",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/bde9548925ba4f9a862b830b0fd38018",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/c55f031c0e9541b785ed9e18db4c8589",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e447082c17f9418189e71a2370f81396",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/09d3db0b40f640a9b55f7c7aa4fa6c0f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/09d3db0b40f640a9b55f7c7aa4fa6c0f",
      "title": "Molly® Connected Cap: A step into connected health",
      "text": {
        "markup": "<p>Experience the added value connectivity brings to at-home treatments with the Molly® Connected Cap. Start improving patient engagement and treatment outcomes today.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[The Molly® Connected Cap enhances medication adherence through digital connectivity. Explore how this innovative device works seamlessly with autoinjectors.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Molly® Connected Cap | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>