@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListModel>
@{
    if (!Model.Any())
    {
        return;
    }
}
<div class="umb-block-list">
    @foreach (BlockListItem? block in Model)
    {
        if (block?.ContentUdi == null)
        {
            continue;
        }
        IPublishedElement? data = block.Content;

        @await Html.PartialAsync("BlockList/Components/" + data.ContentType.Alias, block)
    }
</div>
