<?xml version="1.0" encoding="utf-8"?>
<Content Key="24ac427c-0a84-492f-890b-e700d983bb88" Alias="Business operations of SHL Medical unaffected by the recent Taiwan earthquake" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/BusinessOperationsOfSHLMedicalUnaffectedByTheRecentTaiwanEarthquake</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:42:06</CreateDate>
    <NodeName Default="Business operations of SHL Medical unaffected by the recent Taiwan earthquake">
      <Name Culture="en-us">Business operations of SHL Medical unaffected by the recent Taiwan earthquake</Name>
    </NodeName>
    <SortOrder>76</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"pqb96hkw6jbmchqvp36xq5g\",\"FileName\":\"External-website_benner_Emergency_20240403.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pqb96hkw6jbmchqvp36xq5g/External-website_benner_Emergency_20240403.jpg\",\"AssetId\":\"sm8wv6jqrs7vxr6n5jvz26\",\"AssetName\":\"External-website benner Emergency 20240403\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1caaa72dd5e0454998490f02c3e8724b",
        "settingsUdi": "umb://element/6389a5e053c14a42b6e0df5a4d82bc8e"
      },
      {
        "contentUdi": "umb://element/e11b776c7c9e4deda9e92c441b52901a",
        "settingsUdi": "umb://element/ccbe7af8154548d084484a35c8ecc574"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/e11b776c7c9e4deda9e92c441b52901a",
      "text": {
        "markup": "\n\n\n\n\n<p>Following the 7.4 magnitude earthquake that struck Eastern Taiwan on April 3 at 7:58 AM local time, SHL Medical has swiftly implemented its risk management measures to ensure the safety of all our facilities and staff. Thorough inspections have been made and we are pleased to report that our employees are safe, and our manufacturing and supply chain operations remain unaffected by the earthquake. All business activities are proceeding as usual. <br><br>At SHL Medical, safety is paramount, and we are committed to protecting our colleagues and maintaining the continuity of our production and delivery processes.</p>\n",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": null,
      "secondLink": null,
      "showReadMoreOption": ""
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/1caaa72dd5e0454998490f02c3e8724b",
      "image": [
        "{\"Id\":\"pqb96hkw6jbmchqvp36xq5g\",\"FileName\":\"External-website_benner_Emergency_20240403.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pqb96hkw6jbmchqvp36xq5g/External-website_benner_Emergency_20240403.jpg\",\"AssetId\":\"sm8wv6jqrs7vxr6n5jvz26\",\"AssetName\":\"External-website benner Emergency 20240403\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/ccbe7af8154548d084484a35c8ecc574",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/6389a5e053c14a42b6e0df5a4d82bc8e",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2024-04-03T08:23:15]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d85e2cb6b0604ebe9227570015abe1ba"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/d85e2cb6b0604ebe9227570015abe1ba",
      "title": "Business operations of SHL Medical unaffected by the recent Taiwan earthquake",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>