<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7c24333-6017-4197-9d3b-deff6338f698" Alias="Join SHL at the Partnership Opportunities in Drug Delivery virtual event" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/JoinSHLAtThePartnershipOpportunitiesInDrugDeliveryVirtualEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:39:20</CreateDate>
    <NodeName Default="Join SHL at the Partnership Opportunities in Drug Delivery virtual event">
      <Name Culture="en-us">Join SHL at the Partnership Opportunities in Drug Delivery virtual event</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"fw6nmgsck88wtbpb87q6bf\",\"FileName\":\"2020-PODD-NewsPage.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/fw6nmgsck88wtbpb87q6bf/2020-PODD-NewsPage.jpg\",\"AssetId\":\"3bw3p66r54mx269679ft4gvv\",\"AssetName\":\"2020-PODD-NewsPage\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bb7baeeed572446b94de91165a31f215",
        "settingsUdi": "umb://element/e4593f1bb93744c0b0be4a4a87892fb8"
      },
      {
        "contentUdi": "umb://element/a7588284a04647dea9ae413d456e5ad8",
        "settingsUdi": "umb://element/05923f16717f4933976bd0322d3662b1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/a7588284a04647dea9ae413d456e5ad8",
      "text": {
        "markup": "\n<p></p>\n<p>SHL will exhibit at the 2020 virtual Partnership Opportunities in Drug Delivery (PODD) conference between October 8-9, Eastern Standard Time.</p>\n<p>In addition, SHL’ s experts Dr. Ramin Rafiei, Director of Digital Healthcare, and Jamie Gould, Manager of Business Development will give a presentation on how SHL’s digital initiatives in the drug delivery industry support the enhancement of effective chronic disease management through next-generation connected therapeutics.</p>\n<p>As recent circumstances call for most conferences to virtualize online, SHL’s experts will take visitor’s inquiries via the PODD digitalized platform. Visitors will be able to gain the full experience of an actual exhibition with rich, digitalized content containing webinars, presentations, and videos.</p>\n",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": ""
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/bb7baeeed572446b94de91165a31f215",
      "image": [
        "{\"Id\":\"fw6nmgsck88wtbpb87q6bf\",\"FileName\":\"2020-PODD-NewsPage.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/fw6nmgsck88wtbpb87q6bf/2020-PODD-NewsPage.jpg\",\"AssetId\":\"3bw3p66r54mx269679ft4gvv\",\"AssetName\":\"2020-PODD-NewsPage\",\"AssetDescription\":\"\"}"
      ],
      "caption": "2020 Podd Newspage",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/05923f16717f4933976bd0322d3662b1",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e4593f1bb93744c0b0be4a4a87892fb8",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2020-09-22T07:44:28]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/00b5cc6f9910458ba59b29c8f9601d1f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/00b5cc6f9910458ba59b29c8f9601d1f",
      "title": "Join SHL at the Partnership Opportunities in Drug Delivery virtual event",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>