<?xml version="1.0" encoding="utf-8"?>
<Content Key="b231dbf2-ccc7-48a1-bc72-e93aa08a5d99" Alias="Learn more about SHL’s design office in Sweden" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/LearnMoreAboutSHLSDesignOfficeInSweden</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:38:49</CreateDate>
    <NodeName Default="Learn more about SHL’s design office in Sweden">
      <Name Culture="en-us">Learn more about SHL’s design office in Sweden</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"kx7bcvrxbk9mp643c77btqmm\",\"FileName\":\"video-poster-800x480-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kx7bcvrxbk9mp643c77btqmm/video-poster-800x480-1.jpg\",\"AssetId\":\"4k3h27phs3n7cvkcszfxmjgx\",\"AssetName\":\"video-poster-800x480-1\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/53dc97194e5047f09661577264ca2f80"
      },
      {
        "contentUdi": "umb://element/79e91ba6a0b84a2fa18ab7f958fef290",
        "settingsUdi": "umb://element/de830984ea024b81b30d4395a150d5a9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/79e91ba6a0b84a2fa18ab7f958fef290",
      "text": {
        "markup": "<div><iframe src=\"https://player.vimeo.com/video/121097693?title=0&amp;byline=0&amp;portrait=0\" frameborder=\"0\" allowfullscreen=\"allowfullscreen\"></iframe></div>\n<p>With strong in-house design services that offer innovative designs for medical devices such as autoinjectors, pen injectors, and inhalers, SHL has successfully introduced numerous next-generation devices to the industry. To learn more about SHL’s design office in Sweden, we invite you to view the video above.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/53dc97194e5047f09661577264ca2f80",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/86c8ed2c65dc4290928c2130b41350aa"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/86c8ed2c65dc4290928c2130b41350aa",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/26136b07fda04b8b8a02c85bdbf6f6d9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/26136b07fda04b8b8a02c85bdbf6f6d9",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/video/121097693?title=0&byline=0&portrait=0"
                }
              ],
              "settingsData": []
            },
            "title": "Learn more about SHL’s design office in Sweden",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"kx7bcvrxbk9mp643c77btqmm\",\"FileName\":\"video-poster-800x480-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kx7bcvrxbk9mp643c77btqmm/video-poster-800x480-1.jpg\",\"AssetId\":\"4k3h27phs3n7cvkcszfxmjgx\",\"AssetName\":\"video-poster-800x480-1\",\"AssetDescription\":\"\"}"
      ],
      "caption": "Learn more about SHL’s design office in Sweden",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/de830984ea024b81b30d4395a150d5a9",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2015-08-01T14:20:01]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/82fc657830024e319bce9438a2f1c80f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/82fc657830024e319bce9438a2f1c80f",
      "title": "Learn more about SHL’s design office in Sweden",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>