<?xml version="1.0" encoding="utf-8"?>
<Content Key="567a5175-47df-4de4-b4fc-668bbe1e8c8f" Alias="SHL Medical announces new logo and domain name" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/SHLMedicalAnnouncesNewLogoAndDomainName</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:39:42</CreateDate>
    <NodeName Default="SHL Medical announces new logo and domain name">
      <Name Culture="en-us">SHL Medical announces new logo and domain name</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"h6gtvbckmj2bnbmmrgjfx5z\",\"FileName\":\"Newspage-rebranding_content.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/h6gtvbckmj2bnbmmrgjfx5z/Newspage-rebranding_content.jpg\",\"AssetId\":\"f6mqhxm264vfrcxhnrktf9m\",\"AssetName\":\"Newspage-rebranding content\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6a89039afd8243bc91f694a97139e42d",
        "settingsUdi": "umb://element/7d2352f6bfae4db897f0d390a35b1732"
      },
      {
        "contentUdi": "umb://element/857f4cb923874ecaa8623ca505c75fd3",
        "settingsUdi": "umb://element/f12a8f09fcf14677b59b43f0d750cfd6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/857f4cb923874ecaa8623ca505c75fd3",
      "text": {
        "markup": "\n<p></p>\n<p>SHL Medical has launched a new logo and domain name as part of a global effort to consolidate our drug delivery offerings.</p>\n<p>We will be taking a phased approach to implementing the updates. You will see immediate changes in our digital material, including our website, emails, and social media pages. This will be followed by gradual updates to our documentation, quality systems, as well as other physical assets.</p>\n<p>Our original email addresses (<a href=\"mailto:name@shl-group.com\">name@shl-group.com</a>) will still be in effect until further notice, but please assist us in updating our emails (<a href=\"mailto:name@shl-medical.com\">name@shl-medical.com</a>) in your Address Book.</p>\n<p>We appreciate your kind support. If you have any questions, please do not hesitate to <a href=\"mailto:info@shl-medical.com\">contact us</a>.</p>\n",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": ""
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/6a89039afd8243bc91f694a97139e42d",
      "image": [
        "{\"Id\":\"h6gtvbckmj2bnbmmrgjfx5z\",\"FileName\":\"Newspage-rebranding_content.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/h6gtvbckmj2bnbmmrgjfx5z/Newspage-rebranding_content.jpg\",\"AssetId\":\"f6mqhxm264vfrcxhnrktf9m\",\"AssetName\":\"Newspage-rebranding content\",\"AssetDescription\":\"\"}"
      ],
      "caption": "Newspage Rebranding Content",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/f12a8f09fcf14677b59b43f0d750cfd6",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/7d2352f6bfae4db897f0d390a35b1732",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2020-10-22T09:47:28]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bbcce39efb0f4c01bb3a9a18fcf52e97"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/bbcce39efb0f4c01bb3a9a18fcf52e97",
      "title": "SHL Medical announces new logo and domain name",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>