<?xml version="1.0" encoding="utf-8"?>
<Content Key="3102f4d2-697e-48cc-9a8e-afa920311ab2" Alias="SHL Medical’s COVID-19 statement" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/SHLMedicalSCOVID19Statement</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:39:17</CreateDate>
    <NodeName Default="SHL Medical’s COVID-19 statement">
      <Name Culture="en-us">SHL Medical’s COVID-19 statement</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"mbfj7cwq4ntv4crt7h9gt53z\",\"FileName\":\"virus_1760x420.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mbfj7cwq4ntv4crt7h9gt53z/virus_1760x420.png\",\"AssetId\":\"jwg3f6srttpnmct82w6x9p4\",\"AssetName\":\"virus 1760x420\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a9581f52a6e642248bfe5710511da587",
        "settingsUdi": "umb://element/5b8519ba09854a35b1f5e76d8e731e1d"
      },
      {
        "contentUdi": "umb://element/7f3c4a10f68c4d9fbf45f136c13d9ced",
        "settingsUdi": "umb://element/6daa560227f64e919afc35915be2ce32"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/7f3c4a10f68c4d9fbf45f136c13d9ced",
      "text": {
        "markup": "\n<p></p>\n<p>In response to the global effect of the Coronavirus (COVID-19), SHL Medical has taken proactive measures to protect the health and safety of our colleagues and ensure the continuity of business operations for our customers. As a world-leading provider of autoinjectors for major pharmaceutical companies worldwide, we are also committed to ensuring supply for the end-users of our customer’s drug delivery products.</p>\n<p>SHL officially deployed precautionary measures in January and has since been closely monitoring the situation on a continuous basis. Our measures encompass both our business operations and employee health.</p>\n<p><a href=\"https://www.shl-medical.com/statement-shl-covid-19\">Click here to read our full response statement</a>.</p>\n",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": ""
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/a9581f52a6e642248bfe5710511da587",
      "image": [
        "{\"Id\":\"mbfj7cwq4ntv4crt7h9gt53z\",\"FileName\":\"virus_1760x420.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mbfj7cwq4ntv4crt7h9gt53z/virus_1760x420.png\",\"AssetId\":\"jwg3f6srttpnmct82w6x9p4\",\"AssetName\":\"virus 1760x420\",\"AssetDescription\":\"\"}"
      ],
      "caption": "Virus 1760x420",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/6daa560227f64e919afc35915be2ce32",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/5b8519ba09854a35b1f5e76d8e731e1d",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2020-03-05T04:02:26]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4ffa86e5fffe4aaaabbf2b1a3dcd9825"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/4ffa86e5fffe4aaaabbf2b1a3dcd9825",
      "title": "SHL Medical’s COVID-19 statement",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>