<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f0e8562-6533-4412-a6ac-17984993ed61" Alias="瑞健官方LinkedIn 帳號正式啟動生活頁面" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/LinkedIn</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:44:34</CreateDate>
    <NodeName Default="瑞健官方LinkedIn 帳號正式啟動生活頁面">
      <Name Culture="zh-hant-tw">瑞健官方LinkedIn 帳號正式啟動生活頁面</Name>
    </NodeName>
    <SortOrder>104</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a0ebbd88d5084b3cad352e0d30d41bdc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/a0ebbd88d5084b3cad352e0d30d41bdc",
      "text": "\n<p> 瑞健醫療已正式上架LinkedIn 官方「生活」(LinkedIn Life Page) 頁面。這個新增的生活頁面讓訪客有機會窺見瑞健的工作環境並了解我們如何落實企業價值以實現我們的企業使命 – 為患者提供改善生活的解決方案，以實現其自主能力。這個新增的頁面讓我們有機會與未來有潛力的員工搭上線，並且吸引那些認同我們企業價值的員工與我們一起共創正能量。</p>\n<p>這個「生活」頁面不同於 LinkedIn 的官方頁面，它讓訪客有機會看看在瑞健工作比較活潑的樣貌，以及瑞健如何在每日工作中逐步達成使命。進入LinkedIn的「生活」頁面，底下出現的分頁以瑞健各地廠區 – 瑞士、台灣、瑞典、美國還有全球不分區為分類，訪客可從中見識到不同廠區所專精的服務與技術。除此之外，有些分頁還有概述公司未來願景。最重要的是，各廠區都設有清楚易見的徵才連結，讓許多有興趣應徵的人能輕鬆找到各廠區尋徵才職缺。</p>\n<p>企業服務長 Markus Jakobi 說：「這個LinkedIn『生活』頁面讓我們得以添加了比官方網站更多內容，也讓我們有機會能對外溝通除了企業產品與服務之外的其他面向。透過這個生活頁面，訪客看到瑞健比較軟性溫暖的一面，我們也希望能吸引更多適合的人才加入我們的瑞健大家庭。」 想逛逛我們瑞健LinkedIn「生活」頁面的訪客，<a href=\"https://www.linkedin.com/company/shlmedical/life/096ebe38-cd7f-481c-9889-c00ee00e78c5/?viewAsMember=true\">請點選這個連結</a>。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "LinkedIn"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2021-10-29T03:05:58]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/be3275491b1044128f3ed907f09ea93b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/be3275491b1044128f3ed907f09ea93b",
      "title": "瑞健官方LinkedIn 帳號正式啟動生活頁面"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>