<?xml version="1.0" encoding="utf-8"?>
<Content Key="6444f6e7-fe33-4ace-9d8f-c361f48450c2" Alias="瑞健持續改善努力締造亮眼成績" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:45:14</CreateDate>
    <NodeName Default="瑞健持續改善努力締造亮眼成績">
      <Name Culture="zh-hant-tw">瑞健持續改善努力締造亮眼成績</Name>
    </NodeName>
    <SortOrder>112</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/adec8a5cfdd748f891331243bb65fc92"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/adec8a5cfdd748f891331243bb65fc92",
      "text": "\n<p></p>\n<p>今年，瑞健持續改善專案獲得了由品質經理人協會頒發的卓越案例獎，以及財團法人中衛發展中心頒發的台灣持續改善競賽獎。</p>\n<p>獲獎的專案係由瑞健的供應鏈部門、模具部門、和持續改善部門所共同達到的成就，在公司的製造營運上提升效能與效率，包含導入即時生產(JIT)、零件直送的方法節省倉庫空間; 以及透過ECRS (排除、合併、重置、簡化) 法來縮減模具維修的時間。這些獎項除了讓瑞健提升在業界能的見度之外，同時也再次證明了我們身為先進醫療器材供應商的競爭力。</p>\n<p>堅持精益生產的準則，瑞健致力於在製造上提升效率，同時確保產品品質的一致性來協助我們整體公司的成長。透過不間斷地推動持續改善動能，瑞健亦精益求精追求流程優化以支持客戶產出最優質的自動注射器產品。</p>\n[caption id=\"attachment_27194\" align=\"alignnone\" width=\"2128\"] AQM 獎項團體照[/caption]\n<p>台灣廠區總經 Sebastian Feng 表示：「贏得這些獎項見證了我們在企業中追求持續進步的核心價值。讓公司的每一位成員都有這樣持續改善的觀念相當重要，因為這不但幫助我們持續優化在台灣的流程與製造程序，同時也支持了我們公司在前往歐美亞三地拓展廠區的擴張計畫。」</p>\n<p>持續改善部門的副總監Tracy Pedreso  也表示：「我很高興看到公司在持續改善及追求卓越的部分不斷地突破。在過去的兩年裡，我觀察到改善的動能並沒有隨著專案結束就畫下句點，而是不斷地有同仁將我們的成就推廣到外部參賽。連續兩年得獎是對於我們的製造流程一項很好的鼓勵，同時也代表我們在公司內部推動精實文化是在往正確的方向推進。參賽也是一個很好分享交流的機會，激勵我們挑戰自我，並從其他企業中有所學習。」</p>\n<p>秉持著簡化步驟的核心價值，瑞健將持續改善生產動能及供客戶更好的服務。</p>\n[caption id=\"attachment_27196\" align=\"alignnone\" width=\"1286\"] TCIA 獎項團體照[/caption]\n<p> </p>\n\n\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "SHL Medical"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2023-12-06T11:24:49]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5066889870dd4769bc273b50d2f91531"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/5066889870dd4769bc273b50d2f91531",
      "title": "瑞健持續改善努力締造亮眼成績"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>