<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2e1dc99-335f-4249-ad94-124de2c3859e" Alias="瑞健醫療通過ISO 14001 與 ISO 45001 認證" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/ISO14001ISO45001</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:45:07</CreateDate>
    <NodeName Default="瑞健醫療通過ISO 14001 與 ISO 45001 認證">
      <Name Culture="zh-hant-tw">瑞健醫療通過ISO 14001 與 ISO 45001 認證</Name>
    </NodeName>
    <SortOrder>110</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/51cf4e7b317a4e50a732600b28c6e71a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/51cf4e7b317a4e50a732600b28c6e71a",
      "text": "\n\n\n\n\n<p>瑞健醫療，亦是眾多藥廠及生技公司之藥物輸送解決方案企業夥伴，如今再度創下新里程碑，通過第三方驗證而取得兩張 ISO 認證。這兩張認證包含 ISO 14001:2015 環境管理系統與 ISO 45001:2018職業安全衛生管理系統驗證係由台灣廠區通過取得。公司針對環管與職安相關管理系統要求以國際認可標準為指標，在在說明瑞健對於工作與環境追求永續目標的的決心。</p>\n\n\n\n<p>身為針對患者自我注射療程遵循最嚴謹品質管理標準的醫療科技公司，瑞健注重員工的職場身心健康，同時也隨時監督公司工作流程中會引發的環境變化。</p>\n\n\n\n<p>台灣總經理 &nbsp;Sebastian Feng 說：「這對於公司來說是個非常棒的里程碑，因為這象徵著我們過去以來建立的工作安全、健康與環境管理措施如今獲得國際標準的認可。這不是一個結果終點，而僅是我們永續經營之路的一項里程碑，因為我們會繼續期許自己對於員工、客戶還有環境盡到應有的責任與承諾。」</p>\n\n\n\n瑞健致力於以永續經營的理念，透過創新與科技的方法來推動醫療衛生產業的進步。我們的永續相關措施係以環境、社會和治理(ESG) 為框架，以其為導引，幫助瑞健推動各項永續專案，好比在我們的價值鏈中減少碳排放、選用再生電能源、多選永續材質、或透過數位化革新與持續進步專案以求減少浪費。同時，公司也提供了各項員工促進健康與企業社會責任活動以支持員工以及鄰近社區。\n\n\n\n<p>永續經營總監Dora Rio 表示：「這項引以為傲的成就代表瑞健對於員工、社區關懷還有環境維護的承諾，透過持續進步我們的員工健康與安全還有環境保護表現以確保其達到產業界中最高水準。這項成就同時也認定了我們公司在減少危害員工健康與安全、降低自然資源的消耗還有避免不必要的環境汙染所設立的高標準原則。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "SHL Medical"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2024-11-26T05:32:16]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dfa74bb084fe4ab99fff5e77e48f36aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/dfa74bb084fe4ab99fff5e77e48f36aa",
      "title": "瑞健醫療通過ISO 14001 與 ISO 45001 認證"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>