<?xml version="1.0" encoding="utf-8"?>
<Content Key="5768ff34-3e4c-4b66-8386-f2a132ec48e0" Alias="瑞健醫療獲頒2021年桃園金牌企業卓越獎 人才培育結合永續發展備受肯定" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:44:39</CreateDate>
    <NodeName Default="瑞健醫療獲頒2021年桃園金牌企業卓越獎 人才培育結合永續發展備受肯定">
      <Name Culture="zh-hant-tw">瑞健醫療獲頒2021年桃園金牌企業卓越獎 人才培育結合永續發展備受肯定</Name>
    </NodeName>
    <SortOrder>105</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/47f6fcbe4e7549ad85ff561b94c7eec4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/47f6fcbe4e7549ad85ff561b94c7eec4",
      "text": "\n\n\n\n\n\n\n<p> </p>\n<p>2021年桃園金牌企業卓越獎昨日（28）揭曉，瑞健股份有限公司（以下簡稱「瑞健」）憑藉其優異的企業競爭力與營運策略、優良的企業福利制度、自由友善健康且多元開放的職場環境，獲頒「好福企」及「性別平等」兩個獎項。此金牌企業卓越獎係由桃園市政府主辦，為獎勵設立或設廠於桃園之企業，嘉許在地企業對桃園整體經貿環境之貢獻。  </p>\n<p> </p>\n\n\n\n<p>瑞健人力資源部資深總監Lillian Yao表示： 「瑞健以實現患者自主性（Enabling Patients’ Independence）為宗旨，結合以人為本People、永續設計Product、環境影響Planet等三P永續發展願景為策略目標。作為自動注射器全球業界龍頭，瑞健在發展業務的同時，仍不忘善盡全球企業社會責任。在桃園耕耘的三十多個年頭，瑞健持續投資在地，並積極推動數位化轉型與升級智慧製造製程。在人才培育上，瑞健不僅帶頭推廣瑞士學徒制，充分落實「學以致用」的精神；更持續推動各項在職進修、語言學習、精進專業技能，提供在職進修獎助學金等，鼓勵同仁持續學習，同時積極延攬產業人才，致力提供一個自由健康、自我提升及多元開放的友善職場環境。」</p>\n\n\n\n<div class=\"wp-block-image\"></div>\n\n\n\n<p>在工作平衡與健康促進具體作法方面，同時，除了每年提供健康檢查外，更積極規劃各項骨質、癌症等相關篩檢計畫，與減重、健走、馬拉松等健康促進相關活動，且在各廠區設立了舒壓按摩室，讓同仁在工作空檔前往放鬆。</p>\n<p>&nbsp;</p>\n\n\n\n<div class=\"wp-block-image\"></div>\n\n\n\n<p>於此同時，瑞健更積極推行母性健康計畫，提供良好的哺育空間，搭配友善的育嬰留停政策，讓同仁無後顧之憂，安心發展其家庭計畫。   疫情期間，瑞健除了積極落實各項防疫措施外，亦積極配合政府政策進行各種節水抗旱計畫。   瑞健持續關懷員工、回饋在地社區、擁抱文化多元價值的精神，從以上不同的行動中加以展現，使得瑞健在此次評比中脫穎而出，獲頒金牌企業卓越獎之「好福企」殊榮。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "Taiwan"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2021-12-29T03:56:10]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ff06e940ac6e4843bfb534883ede4078"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/ff06e940ac6e4843bfb534883ede4078",
      "title": "瑞健醫療獲頒2021年桃園金牌企業卓越獎 人才培育結合永續發展備受肯定"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>