<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e315c32-ae33-40cc-a3e9-b080459f4160" Alias="瑞健醫療參與2022臺灣科普環島列車" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:44:51</CreateDate>
    <NodeName Default="瑞健醫療參與2022臺灣科普環島列車">
      <Name Culture="zh-hant-tw">瑞健醫療參與2022臺灣科普環島列車</Name>
    </NodeName>
    <SortOrder>107</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de22a210ca2f4b6d8648dc3e0cba57ea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/de22a210ca2f4b6d8648dc3e0cba57ea",
      "text": "\n\n\n\n\n<p>瑞健醫療今年參與由國科會主辦的「2022臺灣科普環島列車」，期望透過多元的科普活動，共同推進台灣科普教育發展，此活動讓台灣16個縣市各地的國小生，在25個火車站周邊及搭乘火車時體驗各種科學實驗活動，激發學生對科學的好奇心，同時增進社會大眾對科學的重視。 &nbsp;</p>\n<p>瑞健醫療致力於保持其在先進藥物自動注射器市場的領先者地位，以患者為本發展頂尖創新科技，落實「實現患者自主性」的核心價值。在此次瑞健車廂中的實驗內容，即延伸瑞健的價值理念，將自動注射器的機械相關原理與產品所運用到的物理知識設計到實驗內，期望學童能在歡樂的列車實驗活動中學習更多新知。</p>\n\n\n\n\n\n\n\n<p>瑞健醫療馮文宏總經理於行前記者會中表示：「瑞健很高興能參與今年的科普環島列車，我們相信以人為本的科技創新、以患者為中心作為我們產品設計開發的基礎，能夠提升社會福祉，並讓藥物注射對於飽受疼痛所苦的病人來說更加輕鬆簡便。此次我們透過有趣的列車實驗，不僅期望能激發學生對科學的興趣，更期盼引發他們的同理心，期望今日參與活動的學童未來能成為造福世界的醫療科技人才。」  </p>\n<p>瑞健醫療在臺灣深耕三十餘年，除了參與此次科普列車活動，瑞健每年皆透過與不同的基金會與機構合作，在學科教育、健康等方面參與孩童的成長發展。瑞健對於厚植台灣醫療科技領域人才也相當重視，自2012 年起瑞健持續跟大專院校合作，提供在職訓練與發掘潛在的科技人才。  </p>\n<p>此次參與科普列車活動也體現了瑞健對於環境、社會與企業治理（ESG）其中對於普及優質教育的承諾。瑞健的永續發展策略三大主軸為─ People、Product、Planet：發展並設計以患者為本的永續創新產品，是為瑞健對於全球環境永續發展的承諾。以人為本的核心價值使我們致力於打造一個共創人類與社會福祉的永續社群。</p>\n<p>照片來源：2022年臺灣科普環島列車</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "SHL Medical"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2022-10-17T08:50:49]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c351f79c76c24b1996e5e1b51fbbaede"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/c351f79c76c24b1996e5e1b51fbbaede",
      "title": "瑞健醫療參與2022臺灣科普環島列車"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>