<?xml version="1.0" encoding="utf-8"?>
<Content Key="26550a3b-0ccd-405d-903a-0dd047435109" Alias="瑞健集團新廠址動土儀式" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:44:16</CreateDate>
    <NodeName Default="瑞健集團新廠址動土儀式">
      <Name Culture="zh-hant-tw">瑞健集團新廠址動土儀式</Name>
    </NodeName>
    <SortOrder>99</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a060e472d03b43e2a8b106fd4bc49110"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/a060e472d03b43e2a8b106fd4bc49110",
      "text": "\n<p></p>\n<p>隨著瑞健集團快速成長，以及筆型注射器和自動注射器的新興技術陸續問世，擴建桃園廠成必然之事。因瑞健在桃園南崁的新址，於 2015 年第 4 季動工。</p>\n<p>2018 年第 1 季，所有行政辦公室及部分生產線將遷到新廠區。這座擁有辦公部和產線區的大樓樓高 7 層，占地 3,700 ，樓地板面積總計將近 19,000 。這座新廠將可增加 SHL 集團產能、提高效率、並提升整體生產品質，可望帶動新的契機，落實最新的製造技術。</p>\n<p>為紀念這個特別時刻，2016 年 2 月 2 日上午舉行動土儀式，由瑞健集團董事長孫羅傑親自主持，瑞健集團其他高層主管皆出席，包括瑞健台灣分公司營運總監費斯樂 (Ulrich Faessler)、瑞健美國分公司營運總監 Peter Noolandi、商業運營及業務開發執行副總裁 Mats Persson、研發副總裁 Frank Isaksson、SHL Ventures 執行副總裁 Stefan Ahlquist、品保及法規事務副總裁 周國雙 (Shelley Chew)，以及供應鏈與卓越經營副總裁 Richard Koch。</p>\n<p>根據最新的產業報告，2020 年全球自動注射器市場規模將達到 25 億美元，自動注射器已然成為市場成長最快的藥物輸送解決方案之一，驅動因素包括方便自行施打、可在家施打、減少醫院就診次數 (進而降低醫療成本) 等。瑞健集團執行長兼董事長孫羅傑談到這次擴展計畫，表示：「如何滿足客戶需求，一直是 瑞健 集團的首要任務，瑞健採取制訂的每一項策略，都希望能超越客戶的期望。為了滿足筆型注射器和自動注射器持續成長的市場需求，我們必須不斷投資更先進的設備，擴大產能。」</p>\n<p>瑞健集團始終關注客戶的最佳利益，透過廠區擴建，得以提供更進步的設施、產品和服務。<br><br></p>\n<p><strong>動土儀式資訊：</strong></p>\n<p>日期：2016 年 2 月 2 日 (週二)<br>時間：10:30–14:00<br>地點：338 台灣桃園市蘆竹區六福路 44-1 號</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2016-01-01T02:34:30]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/239119f8911b4012ace9f0e82cbaad7f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/239119f8911b4012ace9f0e82cbaad7f",
      "title": "瑞健集團新廠址動土儀式"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>