<?xml version="1.0" encoding="utf-8"?>
<Content Key="5680a6aa-a412-4f33-b3cd-0e82a121ca50" Alias="瑞健榮獲微軟黑客松冠軍" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:44:28</CreateDate>
    <NodeName Default="瑞健榮獲微軟黑客松冠軍">
      <Name Culture="zh-hant-tw">瑞健榮獲微軟黑客松冠軍</Name>
    </NodeName>
    <SortOrder>100</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/879c6874efbe4a4ba7e54e6ae3eb9ce7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/879c6874efbe4a4ba7e54e6ae3eb9ce7",
      "text": "\n\n今年9月，瑞健醫療的製程部（PD）於台灣微軟主辦的「DevDays Asia 2020 Online亞太技術年會」系列活動中摘下黑客松競賽冠軍寶座，更在300 多位線上投票者的觀眾票選活動中獲得青睞，高票獲選觀眾人氣獎。\n\n瑞健製程部的四位同仁：Carol Tsai, Blake Kuo, Avril Chen 與 Reza Mortazavi，共同組成了名為「Power-Pack」的隊伍參加比賽。四位同仁被賦予優化PD（製程開發部）資料庫的任務，讓使用者能快速精確地掌握資料。他們最主要的目標是開發一個操作介面簡單的單一入口系統，好讓使用者能輕易地從海量資料庫中精準地索取正確的資料。成果即為一整合式平台，使用者能從連結PD各組資訊的關聯式資料庫中索取需要的資料，並且能更方便的瀏覽並追蹤資料來源，使得重要的資訊不再隱形、甚或流失於各組別的單一資料庫裡。瑞健團隊於十分鐘內交出漂亮的報告成績，包括六分鐘的講解操作說明，以及四分鐘的評審問與答。\n\n在參加這項比賽之前，瑞健團隊必須先於8月中參加微軟舉辦的Power Platform 工作坊，學習使用PowerApps, Power Automate, 和 Forms 等各項軟體應用程式。而在參加完工作坊後，參賽者緊接著參加了黑客松競賽，並於三週內，利用新學習到的軟體工具開發出一套可應用於實際工作中的解決方案。\n\nPower-Pack 團隊進行了分工，將工作坊學到的新知應用於單一入口應用程式的開發。這個團隊甚至加入了一點小巧思，好比更改色系，讓應用程式的介面符合 SHL 的品牌色調，還添加了個人化的「Hello User」功能。擁有超過20年注射器產業經驗的瑞健，在經年累月的運作下累積了大量關於開發注射器的資料。而當產業漸走入大數據的時代時，這樣整合式的資料庫著實能協助公司同仁在進行跨部門合作專案時，不論是在注射器的設計、開發或製造的階段中，進行更有效的溝通，亦能幫助企業做資料導向的決策。整合式數據資料庫確實響應了瑞健逐步邁向數位整合的新時代。\n\n微軟的黑客松競賽於9月3日舉行，由參賽的14支隊伍進行口頭報告，而參賽團隊則包括來自明基、宏碁、 聯發科技和中華電信等公司。評審內容包括整個應用程式的可操作性、完整性、技術水平，創新以及演講技巧。"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2020-11-20T09:51:31]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a7c644abdf7a484cacb25db9d672520d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/a7c644abdf7a484cacb25db9d672520d",
      "title": "瑞健榮獲微軟黑客松冠軍"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>