<?xml version="1.0" encoding="utf-8"?>
<Content Key="b410f629-0d48-44a2-9b39-26d6a6262f79" Alias="瑞健持續改善力量締造佳績榮獲2022品質卓越案例獎" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:44:49</CreateDate>
    <NodeName Default="瑞健持續改善力量締造佳績榮獲2022品質卓越案例獎">
      <Name Culture="zh-hant-tw">瑞健持續改善力量締造佳績榮獲2022品質卓越案例獎</Name>
    </NodeName>
    <SortOrder>106</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bf61d31860e948b0b2feb97c0975c2d1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/bf61d31860e948b0b2feb97c0975c2d1",
      "text": "\n\n\n\n\n<p>今年瑞健以縮短模具保養時程之專案參賽2022年品質卓越案例獎，於一般企業組的跨域合作類榮獲大獎。這樣的大幅縮短保養時程進而提升了射出成型機的產能。品質卓越案例獎由SGS台灣檢驗科技與AQM 品質經理人協會所舉辦，主要是為了表揚高品質生產的企業案例。</p>\n<p><span style=\"font-size: inherit;\">由工程師Robin Weng、James Jan 與 Josephine Huang 引領的團隊，集結了瑞健模具部與模管部的同仁一同協力構思出如何精簡流程以降低不必要的等候時間。在善用價值流程分析圖後，整個團隊鎖定並去除了許多流程中浪費掉的資源，好比模具等待保養的時間，且透過有策略性的調動班表以及增設人力來成功達成精簡流程的需求。</span></p>\n<p><span style=\"font-size: inherit;\">這個專案的結果，就是整體保養維護模具的時呈大幅度地降低了原所需時間的百分之60，且毫無縮減原保養的工作時間。這證明了瑞健的持續改善團隊如何得以在跨部門合作專案上，有效地提供精實生產的解決方案，特別是當瑞健的訂單不斷上升的情況下。</span></p>\n<p><span style=\"font-size: inherit;\"> 瑞健持續改善部門的副理 Tracy Pedreso表示：「對於這份榮譽我感到驕傲，因為這證明了我們的持續改善計畫在正確的道路上，我們可以幫助瑞健在增長的過程中注入精實有效的生產模式，但同時仍保有瑞健最引以為傲的高品質產品服務與法規遵循原則。簡化流程落實了瑞健永續節能的願景，因為這樣幫助我們推動更精實的生產，將不必要的浪費省去並提升了對我們客戶與我們都具附加價值的流程。」 </span></p>\n<p><span style=\"font-size: inherit;\">  瑞健的持續改善團隊於2019年成立，為一個跨部門的組成，在企業中各種工作流程中推動精實生產的價值理念。這個部門的創建是幫助瑞健實踐永續節能的使命，對於瑞健追求成立世界級的精實生產工廠與透過創新科技推動醫療產業有顯著的貢獻。</span></p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "SHL Medical"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2022-10-06T09:02:09]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0d5e9b7133c84e728fdde1dfda3b9beb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/0d5e9b7133c84e728fdde1dfda3b9beb",
      "title": "瑞健持續改善力量締造佳績榮獲2022品質卓越案例獎"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>