<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ff3cc92-db30-45c2-9d5b-a9acb6da6395" Alias="瑞健醫療捐贈6百萬台幣援助花蓮強震受災者" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:45:24</CreateDate>
    <NodeName Default="瑞健醫療捐贈6百萬台幣援助花蓮強震受災者">
      <Name Culture="zh-hant-tw">瑞健醫療捐贈6百萬台幣援助花蓮強震受災者</Name>
    </NodeName>
    <SortOrder>114</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/caff127bc7c647089ec4a340594d396f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/caff127bc7c647089ec4a340594d396f",
      "text": "\n\n\n\n\n<p>瑞健醫療針對慢性病患提供自我注射解決方案，作為業界創新領導者，宣布捐助6百萬台幣援助近期花蓮強震受災民眾。本次芮氏規模7.4強震 (本地報導規模7.2) 於台灣時間4月3日7:58 AM發生於東部近海，並帶來嚴重土石流，災民亟需外界救助。</p>\n\n\n\n瑞健醫療的善款將捐至<a href=\"https://www.worldvision.org.tw/\">台灣世界展望會</a>，該組織致力於幫助弱勢兒童及家庭脫離貧窮與危難，並在危機時期提供協助。台灣世界展望會與台灣政府和非政府組織合作，在本次震災現場提供檢傷、避難收容所、及調查災損情形等協助。瑞健醫療的捐款將有助於提供家戶修建補助、家具家電補助、生活扶助金等重建服務。<br>\n\n\n\n<p>「我們對本次受地震影響的人們致上誠摯的關懷。」瑞健醫療台灣總經理馮文宏表示，「瑞健醫療作為跨國企業，同時也是在地社群的一份子，有義務盡力協助災區重建工作，幫助台灣同胞度過難關。」</p>\n\n\n\n本次捐助行動再次彰顯了瑞健醫療對企業社會責任與回饋社群的承諾。「瑞健醫療非常重視將資源挹注在需要幫助的人們身上，以期對社會做出有意義的貢獻。」執行長Ulrich Faessler強調，「我們相信與台灣世界展望會合作，這份捐款將能提供受災民眾立即與長期的支援，協助他們重建家園。」<br>\n\n\n\n地震並未對瑞健醫療的業務造成影響，公司亦在4月3日發布<a href=\"https://www.shl-medical.com/zh-hant/%e7%91%9e%e5%81%a5%e9%86%ab%e7%99%82%e6%9c%aa%e5%8f%97%e8%bf%91%e6%9c%9f%e5%8f%b0%e7%81%a3%e5%9c%b0%e9%9c%87%e5%bd%b1%e9%9f%bf/\">公告</a>，說明業務維持穩定運作，並承諾持續提供高品質的解決方案，服務不中斷。<br>\n\n\n\n<p>瑞健醫療將繼續秉持協助在地社群度過難關的承諾，並將持續關注台灣震後的情形。</p>\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "SHL Medical"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2024-04-12T07:18:00]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5a71aa64f87c44d89c39c7c8bd0b8367"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/5a71aa64f87c44d89c39c7c8bd0b8367",
      "title": "瑞健醫療捐贈6百萬台幣援助花蓮強震受災者"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>