<?xml version="1.0" encoding="utf-8"?>
<Content Key="e43c7842-3b1d-4578-966a-e991d6af30a3" Alias="瑞健醫療捐助 10 萬美元投入土耳其和敘利亞的抗震救災" Level="4">
  <Info>
    <Parent Key="4f317760-3810-44d3-ad6f-b6dc834b5bb4">News</Parent>
    <Path>/Homepage/NewsAndInsights/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNews</ContentType>
    <CreateDate>2024-12-09T10:45:03</CreateDate>
    <NodeName Default="瑞健醫療捐助 10 萬美元投入土耳其和敘利亞的抗震救災">
      <Name Culture="zh-hant-tw">瑞健醫療捐助 10 萬美元投入土耳其和敘利亞的抗震救災</Name>
    </NodeName>
    <SortOrder>109</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="e9e10bc1-b033-4ae1-b176-fa33dd19151e">PageNews</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d352b2ab0e644a6eb930e6bea16a0f99"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/d352b2ab0e644a6eb930e6bea16a0f99",
      "text": "\n\n2 月 6 日的週一清晨，土耳其東南部和敘利亞北部發生了 7.8 級地震和多次餘震，造成數千人死亡與更多人受傷甚至無家可歸。 這些地區的救濟資源相當缺乏 –尤其是在敘利亞。在這次天災發生之前，因多次內戰發起的空襲和轟炸已經造成許多建築物和基礎設施結構弱化而瀕臨倒塌，惡劣的氣候環境也使得受害者及救援隊的處境更加不利而無法及時搶救。\n\n「我們對這場災難的規模及人們的傷亡感到震驚和深切悲痛。在我們的企業文化和價值觀當中，道德行為和對人性的關懷是不可或缺的一環。 因此，為這場悲劇的受害者提供醫療救援、安全庇護所和緊急物資對我們而言是相當重要的」，執行長 Ulrich Faessler 強調。\n\n為了支援被這場地震重創的人們，瑞健醫療各捐贈50,000美元給聯合國難民署 (UNHCR)及無國界醫生組織(MSF)。我們過去曾與此兩個慈善組織合作支持<a href=\"/?p=16264\">烏克蘭的人道主義援助</a>。聯合國難民署為無家可歸的人們提供帳篷、床墊、毯子、炊具、衛生用品，以及溫暖的冬衣，而無國界醫生組織則是透過捐贈緊急醫療設備及派遣救護車和醫護人員等，為醫療機構提供即時救援和人力支援。\n\n除了公司捐款之外，我們也鼓勵全球各廠的同事共同盡一份心力。"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "SHL Medical"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2023-02-09T07:49:49]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f288449bc17e413ca18c9659e7d1112a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/f288449bc17e413ca18c9659e7d1112a",
      "title": "瑞健醫療捐助 10 萬美元投入土耳其和敘利亞的抗震救災"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>