<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Enforce www" enabled="true" stopProcessing="true">
                    <match url="^(.*)/?$" />
                    <conditions>
                        <add input="{HTTP_HOST}" negate="true" pattern="^www\..+$" />
                        <!-- Don't append www to subdomains. -->
                        <!-- This won't work for Public Suffix Domains with 2 levels (e.g .co.uk) -->
                        <add input="{HTTP_HOST}" negate="true" pattern="^.+(\..+)(\..+)$" />
                        <add input="{SERVER_NAME}" negate="true" pattern="^localhost$" />
                        <add input="{SERVER_NAME}" negate="true" pattern="^.+\.local$" />
                    </conditions>
                    <action type="Redirect" url="https://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" appendQueryString="true" />
                </rule>
                <rule name="Enforce HTTPS" enabled="true" stopProcessing="true">
                    <match url="^(.*)/?$" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                        <add input="{SERVER_NAME}" negate="true" pattern="^localhost$" />
                        <add input="{SERVER_NAME}" negate="true" pattern="^local\..+$" />
                        <add input="{SERVER_NAME}" negate="true" pattern="^.+\.local$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering removeServerHeader="true">
                <!-- Increase the default request size limit for IIS to 50MB -->
                <!-- NOTE: This is also limited by Kestrel and configured by Umbraco (Umbraco:CMS:Runtime:MaxRequestLength) -->
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <httpCompression>
            <dynamicTypes>
                <!-- SVG Compression-->
                <remove mimeType="image/svg+xml"/>
                <add mimeType="image/svg+xml" enabled="true"/>
                <!-- XML Compression -->
                <remove mimeType="application/xml"/>
                <add mimeType="application/xml" enabled="true"/>
            </dynamicTypes>
        </httpCompression>
    </system.webServer>
</configuration>
