<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  <clear />
  <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  <add key="LocalPackages" value="azure-artifacts/" />
  </packageSources>


  <packageSourceMapping>
    <packageSource key="NuGet.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Azure.*" />
      <package pattern="Flurl.*" />
      <package pattern="Hangfire.*" />
      <package pattern="Nager.*" />
      <package pattern="NetEscapades.*" />
      <package pattern="Scrutor" />
      <package pattern="Serilog.*" />
      <package pattern="SimpleMvcSitemap.*" />
      <package pattern="Skybrud.*" />
      <package pattern="Umbraco.*" />
      <package pattern="uSync" />
      <package pattern="Roslynator.*" />
      <package pattern="StyleCop.*" />
      <package pattern="SmartAnalyzers.*" />
      <package pattern="NETStandard.*" />
    </packageSource>

    <packageSource key="LocalPackages">
      <package pattern="DEPT.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
