 <?xml version='1.0' encoding='utf-8'?>
 <configuration>
   <packageSources>
     <clear />
     <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
     <add key="LocalPackages" value="../../azure-artifacts/DTNL-Dotnet-Feed/" />
   </packageSources>
   <packageSourceMapping>
     <packageSource key="NuGet.org">
      <package pattern="Azure.*" />
      <package pattern="Examine.*" />
      <package pattern="Flurl.*" />
      <package pattern="Hangfire.*" />
      <package pattern="HtmlAgilityPack" />
      <package pattern="K4os.*" />
      <package pattern="MailKit" />
      <package pattern="Markdown" />
      <package pattern="MessagePack" />
      <package pattern="Microsoft.*" />
      <package pattern="MiniProfiler.*" />
      <package pattern="Nager.*" />
      <package pattern="NetEscapades.*" />
      <package pattern="NETStandard.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="NPoco" />
      <package pattern="OpenIddict.*" />
      <package pattern="Roslynator.*" />
      <package pattern="Scrutor" />
      <package pattern="Serilog" />
      <package pattern="Serilog.*" />
      <package pattern="SimpleMvcSitemap.*" />
      <package pattern="Skybrud.*" />
      <package pattern="SmartAnalyzers.*" />
      <package pattern="Smidge.*" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="StyleCop.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="System.*" />
      <package pattern="Umbraco.*" />
      <package pattern="uSync" />
     </packageSource>
     <packageSource key="LocalPackages">
       <package pattern="DEPT.*" />
     </packageSource>
   </packageSourceMapping>
 </configuration>
