<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7daaa4b-fe0a-4afb-927b-776a62d77934" Alias="How we hire" Level="3">
  <Info>
    <Parent Key="9135a424-e364-4e2a-80dd-9dc1708fffca">Careers</Parent>
    <Path>/Homepage/Careers/HowWeHire</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T12:44:58</CreateDate>
    <NodeName Default="How we hire">
      <Name Culture="en-us">How we hire</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1aed0314c79440b380f775f9cd57434d",
        "settingsUdi": "umb://element/35cbafc22b96430199ed6fd2cafa0dc7"
      },
      {
        "contentUdi": "umb://element/f8242d0b0d0f4c42a73a20d2b8400e8b",
        "settingsUdi": "umb://element/cc5176c6ffe34d9a93ce9037de7d8333"
      },
      {
        "contentUdi": "umb://element/709d2299a92e4e47a76552f49a8c6cbe",
        "settingsUdi": "umb://element/a2061caa150c40098e328398c6b10a90"
      },
      {
        "contentUdi": "umb://element/e2e885ac8e2543f69fdbf84267c5e3c8",
        "settingsUdi": "umb://element/0c17dce29df047cca8908bbe8c709077"
      },
      {
        "contentUdi": "umb://element/4b4422278ece47b2a2e60888bd1096fa",
        "settingsUdi": "umb://element/2ea5d5b0535343d2a33360f92466e1c4"
      },
      {
        "contentUdi": "umb://element/7997e8180e71454585bb1e6e6dbd9c2b",
        "settingsUdi": "umb://element/eb22eabc976b4a609a625ee479ca9a77"
      },
      {
        "contentUdi": "umb://element/fe6351af1c5547018a572ea37f904ff9",
        "settingsUdi": "umb://element/3e4d36ec0cd240ae97e055428cb0cf06"
      },
      {
        "contentUdi": "umb://element/7037ce75559c43e58278d8214a802698",
        "settingsUdi": "umb://element/0fe94352e4924723a9e6f71013d5b2ee"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/f8242d0b0d0f4c42a73a20d2b8400e8b",
      "title": "Belong to who we are at heart",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ca0b6eda05b849ab951db92ab271e66b"
            },
            {
              "contentUdi": "umb://element/3943f49f339e42e2ba57fa6b166f388e"
            },
            {
              "contentUdi": "umb://element/04a1ba8e118d4c5887db05783fb2274c"
            },
            {
              "contentUdi": "umb://element/5f97473067184c0692f0c1686e5fe358"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/ca0b6eda05b849ab951db92ab271e66b",
            "title": "Agile problem-solvers",
            "subTitle": "",
            "text": {
              "markup": "<p>Thriving in ambiguity means adapting with speed, thinking outside the box, and finding effective solutions in changing landscapes. We are agile, seeing opportunities amid uncertainty and taking new approaches to match the dynamic demands of our environment.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"kqw9wprbrtps5n4pccv2v\",\"FileName\":\"SHL-Medical_Container_Free_FATM-20240730-8.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kqw9wprbrtps5n4pccv2v/SHL-Medical_Container_Free_FATM-20240730-8.jpg\",\"AssetId\":\"x7c9kx8jfmm4g5z7jsk6jpg\",\"AssetName\":\"Container Free FATM (Fully Automatic Testing Machine)-Molly-20240730-8\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/3943f49f339e42e2ba57fa6b166f388e",
            "title": "Courageous leaders ",
            "subTitle": "",
            "text": {
              "markup": "<p>Leading with courage means standing by our opinions while respecting others and staying committed to team decisions. We value colleagues who can communicate openly, collaborate effectively, and take decisive actions that empower us to accomplish even greater outcomes.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"sp3479m6v2f7hk7vh2z8cb7\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04050.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/sp3479m6v2f7hk7vh2z8cb7/SHL-Medical_2024_CPHI-Milan_DSC04050.jpg\",\"AssetId\":\"p5v76xkp2vwb3jvt9mbf3j\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04050\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/04a1ba8e118d4c5887db05783fb2274c",
            "title": "Growth-minded learners",
            "subTitle": "",
            "text": {
              "markup": "<p>We believe a growth mindset is key to success. Together, we are learning, staying curious, and actively seeking ways to improve. Driven by a desire to grow both personally and professionally, we are open to feedback and bring fresh insights to every project.</p>\n<p>&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"m777smg3qs9wt4cx5qkmfcnf\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-24.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/m777smg3qs9wt4cx5qkmfcnf/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-24.jpg\",\"AssetId\":\"hzp34vgcc4nc2j3b6448j567\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-24\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/5f97473067184c0692f0c1686e5fe358",
            "title": "Purpose-driven achievers",
            "subTitle": "",
            "text": {
              "markup": "<p>In our fast-paced environment, resilience and a self-starter attitude are essential. We build our future with a hands-on approach while tackling challenges with grit and a positive outlook. As one team, we get things done and deliver results that matter.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"9jrp9nj453xs7kp9bzjmmswf\",\"FileName\":\"2024_Inventor Certificates Awarding Ceremony_20240627-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9jrp9nj453xs7kp9bzjmmswf/2024_Inventor_Certificates_Awarding_Ceremony_20240627-2.jpg\",\"AssetId\":\"963htqw3wgx62tf7mthqck\",\"AssetName\":\"2024 Inventor Certificates Awarding Ceremony 20240627-2\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/fe6351af1c5547018a572ea37f904ff9",
      "title": "Want to learn more about our teams?",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9da66fe3224d4ec99c582eda6dfd231c"
            },
            {
              "contentUdi": "umb://element/ebfa576d90da4c0a84699ca68cc88ce0"
            },
            {
              "contentUdi": "umb://element/66cebb4d44dd47f7af0c21bc874c40f4"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/9da66fe3224d4ec99c582eda6dfd231c",
            "title": "Engineering",
            "subTitle": "",
            "text": {
              "markup": "<p>Our engineers drive cutting-edge innovation, guiding products through every stage of design and development to keep us ahead of the curve.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"s7f3kjc44kfhj568x9mhk\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s7f3kjc44kfhj568x9mhk/SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"AssetId\":\"hq4k5rphjmpswpfcgw3tvx\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7293\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Engineering",
                "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/ebfa576d90da4c0a84699ca68cc88ce0",
            "title": "Operations",
            "subTitle": "",
            "text": {
              "markup": "<p>Our success is powered by a high-performance manufacturing and supply chain operation, enabling us to deliver seamlessly to clients and patients worldwide.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"3fc8b8hb977vxmbbb74br2s\",\"FileName\":\"SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3fc8b8hb977vxmbbb74br2s/SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"AssetId\":\"w3933fj8rkbnc8mj8mmc\",\"AssetName\":\"North Charleston USA Facility-NC-20240723-1\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Operations",
                "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/66cebb4d44dd47f7af0c21bc874c40f4",
            "title": "Commercial and Corporate",
            "subTitle": "",
            "text": {
              "markup": "<p>Our commercial and corporate teams fuel our growth - from building and supporting talent, to maintaining safe, compliant processes, and promoting our products on a global scale.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"gzjmgpkb3xb86hvn8vqch6hs\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gzjmgpkb3xb86hvn8vqch6hs/SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"AssetId\":\"5vtjb4b9k78fck2m3f3rnk\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04898\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Commercial and Corporate",
                "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/709d2299a92e4e47a76552f49a8c6cbe",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3a3a2ea2bc61454e81add328d75b86ff"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/3a3a2ea2bc61454e81add328d75b86ff",
            "quoteText": "\"From my first contact with the hiring team, I could tell this was a team of doers - open about challenges, clear about their goals, and full of energy. It felt like they weren’t just evaluating me, but welcoming me into their journey.\"",
            "nameAuthor": "Seda",
            "role": "Product Management",
            "company": "SHL Medical Switzerland",
            "image": [
              "{\"Id\":\"rkrhbkcf67h9t3m24q3355w\",\"FileName\":\"SHL-Medical_Portrait-SedaAksel_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/rkrhbkcf67h9t3m24q3355w/SHL-Medical_Portrait-SedaAksel_headshot.jpg\",\"AssetId\":\"3znr7nb387n4q4bw8ct6hbrp\",\"AssetName\":\"Seda Aksel\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/7037ce75559c43e58278d8214a802698",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": null,
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9fa3febd3bf5411a8c3bddba57ef9bf9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/9fa3febd3bf5411a8c3bddba57ef9bf9",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/9135a424e3644e2a80dd9dc1708fffca"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/7997e8180e71454585bb1e6e6dbd9c2b",
      "title": "FAQ about hiring at SHL Medical",
      "text": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/66cb1f58bc7641e5bc8378c3aa3e5736"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/66cb1f58bc7641e5bc8378c3aa3e5736",
            "image": [
              "{\"Id\":\"xzmqr6w3frnmrvh6bx34r5kk\",\"FileName\":\"2024_Inventor Certificates Awarding Ceremony_20240627-10b.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xzmqr6w3frnmrvh6bx34r5kk/2024_Inventor_Certificates_Awarding_Ceremony_20240627-10b.jpg\",\"AssetId\":\"gb3vwqsm68h88835hkhs5nw\",\"AssetName\":\"2024 Inventor Certificates Awarding Ceremony 20240627-10\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "1"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d0fbed428182425fa7836d63c8711256"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/d0fbed428182425fa7836d63c8711256",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c6f071ba6a2e49309e77e83084e47129"
                  },
                  {
                    "contentUdi": "umb://element/49c697bb9712429caf251a87463295b9"
                  },
                  {
                    "contentUdi": "umb://element/383db5f7a2074ddc8e2aefb67ffd3eda"
                  },
                  {
                    "contentUdi": "umb://element/39215c023fe54c5299fc1bd62793ab53"
                  },
                  {
                    "contentUdi": "umb://element/e34af585a30f48f5af0c44a03afa1320"
                  },
                  {
                    "contentUdi": "umb://element/3997a15a2dff456ba55b1a5cc83d7bfe"
                  },
                  {
                    "contentUdi": "umb://element/0a939c8c17124239968441df761be530"
                  },
                  {
                    "contentUdi": "umb://element/8f4dcfcba0af48eb8d5cd40a2ac24d83"
                  },
                  {
                    "contentUdi": "umb://element/1cbed402d22e4ddbb451907434b28ccd"
                  },
                  {
                    "contentUdi": "umb://element/5bf63d5037ee4ad790e3f505c48d3779"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/8f4dcfcba0af48eb8d5cd40a2ac24d83",
                  "title": "What is the remote working policy?",
                  "text": {
                    "markup": "<p> </p>\n<p><span>You may work from home up to 2 days a week. Remote work\u2028is an agreement between you and your manager and may differ based on the nature of your role.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0a939c8c17124239968441df761be530",
                  "title": "Does SHL Medical offer a relocation package?",
                  "text": {
                    "markup": "<p> </p>\n<p>Yes, we provide a relocation package for candidates relocating from outside the country of our SHL Medical sites. The package is tailored to your needs and personal circumstances.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/c6f071ba6a2e49309e77e83084e47129",
                  "title": "What is the average hiring process timeline?",
                  "text": {
                    "markup": "<p>&nbsp;</p>\n<p><span>After the confirmation of your application, it can take up 2-3 weeks for the initial feedback. This is to allow candidates enough time to apply and for us to thoroughly review all applications. The entire process can take a number of weeks, depending on the role and steps involved, however we strive to keep things efficient and transparent. We will keep you updated throughout the process, and if you are invited to a call with our recruiter, we will provide more detailed information on the specific stages and timeline.&nbsp;</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/1cbed402d22e4ddbb451907434b28ccd",
                  "title": "How does SHL Medical support employee development?",
                  "text": {
                    "markup": "<p> </p>\n<p><span>We are committed to the continuous development and growth of our colleagues, providing multiple opportunities\u2028for skill enhancement and career development in a fast-growing business. At SHL Medical, we learn and grow through on-the-job\u2028learning, supported by mentorships, training sessions, leadership development programs, and personal growth plans.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/5bf63d5037ee4ad790e3f505c48d3779",
                  "title": "Does SHL Medical offer internships and apprenticeships?",
                  "text": {
                    "markup": "<p> </p>\n<p><span>Yes, internship and apprenticeship openings are available on our careers website. You can find them by searching in the keyword\u2028field or filter for the type of job. </span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/49c697bb9712429caf251a87463295b9",
                  "title": "Who is the contact person during the application process?",
                  "text": {
                    "markup": "<p> </p>\n<p><span>The talent acquisition specialist is your primary contact for any questions, technical\u2028issues, or interview feedback. Feel free to connect with the talent acquisition specialist at any point during the process to make sure everything flows seamlessly.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/3997a15a2dff456ba55b1a5cc83d7bfe",
                  "title": "Which language should I apply in?",
                  "text": {
                    "markup": "<p> </p>\n<p><span>Most application processes and interviews are conducted in English. However, some interviews\u2028for positions may be conducted in local language. We will inform you beforehand.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/383db5f7a2074ddc8e2aefb67ffd3eda",
                  "title": "Will you be able to accommodate any specific needs I have during the hiring process?",
                  "text": {
                    "markup": "<p> </p>\n<p>We are committed to making our hiring process as accessible as possible. If you have specific needs or require adjustments, please feel free to let us know, and we will do our best to accommodate.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/39215c023fe54c5299fc1bd62793ab53",
                  "title": "Which platform will the online interview be conducted on?",
                  "text": {
                    "markup": "<p> </p>\n<p>Interviews are conducted on Microsoft Teams, unless otherwise specified.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/e34af585a30f48f5af0c44a03afa1320",
                  "title": "Is there a dresscode at SHL Medical?",
                  "text": {
                    "markup": "<p>&nbsp;</p>\n<p><span>At SHL Medical, we do not have a specific dress code. For interviews, we recommend smart casual attire – most importantly, wear something that makes you feel comfortable.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/e2e885ac8e2543f69fdbf84267c5e3c8",
      "title": "Inclusive and innovative",
      "description": {
        "markup": "<p>With almost 6,000 employees of 77+ different nationalities, we take pride in the inclusive and collaborative environment we have built - one where a true sense of belonging fosters meaningful exchange and shared growth.</p>\n<p>&nbsp;</p>\n<p>Together, we invest in our future to maintain our leadership position in drug delivery systems.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": null,
      "secondaryButton": null,
      "mediaPosition": "",
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0f969c8caed446259fa40e9828977d44"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/0f969c8caed446259fa40e9828977d44",
            "image": [
              "{\"Id\":\"t5kcgw97q63ssvg868t9vgf8\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8517.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/t5kcgw97q63ssvg868t9vgf8/SHL-Medical-Office_People_Zug_Konstantin_KK5D8517.jpg\",\"AssetId\":\"7kqnvk55ps3xkgrhqjpbj46z\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8517\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/1aed0314c79440b380f775f9cd57434d",
      "title": "The hiring process",
      "text": {
        "markup": "<p>Our recruitment process is focused on allowing you to show your personality, experience, and competencies, and we aim to provide an experience that is authentic and supportive, giving a great sense of our culture and who we are.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/add0f2e8088347d28499edab7ce1f427"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/add0f2e8088347d28499edab7ce1f427",
            "image": [
              "{\"Id\":\"xcghf62mpg7r9msrt3rtk9g\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6846.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xcghf62mpg7r9msrt3rtk9g/SHL-Medical-Office_People_Zug_Konstantin_KK5D6846.jpg\",\"AssetId\":\"4fmcj6bqsf4385v3vfqsmp5h\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6846\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/97e6a0ee6e91433c8434b63c50d35dc0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/97e6a0ee6e91433c8434b63c50d35dc0",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/32c65294d8e1476c96082117f3875ae4"
                  },
                  {
                    "contentUdi": "umb://element/c4f8d4fd48ff40278cb7ef700a9655ab"
                  },
                  {
                    "contentUdi": "umb://element/968444b75de84c7283994793a94d2d99"
                  },
                  {
                    "contentUdi": "umb://element/96bfeceb93ec469cbd74acbdbd1f6ee0"
                  },
                  {
                    "contentUdi": "umb://element/12d36c79ef1442f6870337535591a373"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/32c65294d8e1476c96082117f3875ae4",
                  "title": "Search and apply ",
                  "text": {
                    "markup": "<p> </p>\n<p><span>We are on an exciting growth journey and constantly creating new roles, so keep an eye on our website for new opportunities. Before applying, take a moment to explore our culture, core beliefs and spirit. Apply by sharing your resume and cover letter, showcasing your skills and how you align with the role and the SHL Medical spirit. After you've applied, it may take up to three weeks for us to review your application and provide feedback.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/c4f8d4fd48ff40278cb7ef700a9655ab",
                  "title": "Talent acquisition call",
                  "text": {
                    "markup": "<p> </p>\n<p>This is where you will start to get a real sense of SHL Medical. We like to kick-off the recruitment process with a chance to get to know each other. Over a video call with talent acquisition, you will get a chance to discuss the role further. We appreciate curious minds, so do not forget to make sure you have your own set of questions ready.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/968444b75de84c7283994793a94d2d99",
                  "title": "Meet the team",
                  "text": {
                    "markup": "<p> </p>\n<p>At this stage, you will get to meet the hiring manager and other colleagues who will give you a first-hand insight into the role, the team and the opportunity. We strive to prioritize face-to-face meetings whenever possible.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/96bfeceb93ec469cbd74acbdbd1f6ee0",
                  "title": "Cultural assessment",
                  "text": {
                    "markup": "<p>&nbsp;</p>\n<p>As much as assessing the professional skills required for the job, we will be looking to see how we align on our values as well as the set of competencies that drive success and create true belonging at SHL Medical.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/12d36c79ef1442f6870337535591a373",
                  "title": "Updates",
                  "text": {
                    "markup": "<p> </p>\n<p><span>After every interview, we will have internal feedback rounds and communicate our decision to you as soon as possible. Equally important, we value your feedback after the interview, as it helps us to refine and enhance our process and your experience. Talent acquisition will be in touch with you every step of the way to make this a smooth and transparent experience for both sides. </span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/4b4422278ece47b2a2e60888bd1096fa",
      "title": "Discover more",
      "text": "",
      "image": null,
      "items": null,
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "Who we are",
          "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
        }
      ],
      "secondaryLink": [
        {
          "name": "How we work",
          "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
        }
      ],
      "video": null,
      "mediaPosition": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/cc5176c6ffe34d9a93ce9037de7d8333",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/3e4d36ec0cd240ae97e055428cb0cf06",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/a2061caa150c40098e328398c6b10a90",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "662949",
        "label": "dark-pink",
        "sortOrder": 4,
        "id": "11"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0fe94352e4924723a9e6f71013d5b2ee",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/eb22eabc976b4a609a625ee479ca9a77",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0c17dce29df047cca8908bbe8c709077",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/35cbafc22b96430199ed6fd2cafa0dc7",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/2ea5d5b0535343d2a33360f92466e1c4",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a6278171329941a0aec1147bf1c96bd1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/a6278171329941a0aec1147bf1c96bd1",
      "title": "How we hire",
      "text": {
        "markup": "<p>We have a passion for driving simplicity and setting the stage for success from the very beginning.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "A space to belong",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dba159daa54348c38dffe978bae4de64"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/dba159daa54348c38dffe978bae4de64",
            "buttonIcon": "",
            "link": [
              {
                "name": "Jobs at SHL Medical",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/36819eeca2d247578b99657543c8b296"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/36819eeca2d247578b99657543c8b296",
            "buttonIcon": "",
            "link": [
              {
                "name": "Who we are",
                "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Find out more about our transparent and inclusive recruitment process, and learn how you can contribute to shaping the future of healthcare.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[How we hire | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>