<?xml version="1.0" encoding="utf-8"?>
<Content Key="2085a2d8-eb2c-445e-9a0e-07fa9dc28954" Alias="How we work" Level="3">
  <Info>
    <Parent Key="9135a424-e364-4e2a-80dd-9dc1708fffca">Careers</Parent>
    <Path>/Homepage/Careers/HowWeWork</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-26T12:13:56</CreateDate>
    <NodeName Default="How we work">
      <Name Culture="en-us">How we work</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e15d026dbc624be3bb3cc5df512a6375"
      },
      {
        "contentUdi": "umb://element/6497f56d77ab42b3aeb09d2781c6c89e",
        "settingsUdi": "umb://element/c8f01390e059490d95f30848e4f5f7ad"
      },
      {
        "contentUdi": "umb://element/fcf8fa57f58d428ea6d2dd7b2e6dbc79",
        "settingsUdi": "umb://element/7db1ea74b70a4984915813162ac7ee73"
      },
      {
        "contentUdi": "umb://element/c7604405c0a448bfb906085d2855a1aa",
        "settingsUdi": "umb://element/c43d5c7407f642f68a87e51aa208b671"
      },
      {
        "contentUdi": "umb://element/f698692093be429781418ffd2dc94dc9",
        "settingsUdi": "umb://element/0a2d78d4531a4e9588fdbcdf4e7ad946"
      },
      {
        "contentUdi": "umb://element/a149466db6934313938dc0425158169e",
        "settingsUdi": "umb://element/f8e522d201e24401877a25f146bd5744"
      },
      {
        "contentUdi": "umb://element/a4bfc054cf2042bc8912c54e9148d614",
        "settingsUdi": "umb://element/1bdd5d75eb5147fe9c685fac0b3afdfd"
      },
      {
        "contentUdi": "umb://element/8eb95599dc8b4109a25fc331d0dde8fb",
        "settingsUdi": "umb://element/d728213d618846d1b95af4a38e3a4b02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/fcf8fa57f58d428ea6d2dd7b2e6dbc79",
      "title": "Making it reality",
      "description": {
        "markup": "<p>We work with pace and we stay agile. And we are intent on creating a culture where we thrive as one team.</p>\n<p>&nbsp;</p>\n<p>Our self-injection products enhance the lives of millions, including those managing chronic illnesses, by providing greater autonomy and support. We know the importance of strong relationships and partnerships, and how we can grow with our customers.&nbsp;</p>\n<p>&nbsp;</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Our products",
          "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4fb753add12348fa946166d17a2592bd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/4fb753add12348fa946166d17a2592bd",
            "image": [
              "{\"Id\":\"5r2nxjjf7pmc5469cbthw\",\"FileName\":\"shl-medical-smart line integrated mesurement-20240620-18.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5r2nxjjf7pmc5469cbthw/shl-medical-smart_line_integrated_mesurement-20240620-18.jpg\",\"AssetId\":\"fkbghtmqv3f9vbp4v4xjr7z\",\"AssetName\":\"SLIM-Molly-People-20240424-18\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/6497f56d77ab42b3aeb09d2781c6c89e",
      "title": "Our core principles",
      "description": "Driven by our purpose to enable patients' independence and our entrepreneurial spirit, we deliver impactful results for our customers and patients.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fce69bd0bdf44003b503d07a6c7c8a2c"
            },
            {
              "contentUdi": "umb://element/31253c6eacae4f23ad092eb6e9356495"
            },
            {
              "contentUdi": "umb://element/f6b5cb9812ed45ae9b4f06337184e241"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/fce69bd0bdf44003b503d07a6c7c8a2c",
            "title": "Listen attentively, think carefully,\u2028act boldly",
            "description": "We courageously lead in ambiguity and see challenges as opportunities to explore new perspectives, deliver solutions, and create long-lasting impact.",
            "image": [
              "{\"Id\":\"tmkwxqg5x84cmz8xrvp52pvw\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8178.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/tmkwxqg5x84cmz8xrvp52pvw/SHL-Medical-Office_People_Zug_Konstantin_KK5D8178.jpg\",\"AssetId\":\"242663gcxfx8kbn6nkbjh33w\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8178\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/31253c6eacae4f23ad092eb6e9356495",
            "title": "Care and deliver together",
            "description": "Our commitment to care and deliver drives us to push boundaries and improve experiences and outcomes. We strive to deliver excellence in every aspect of what we do and how we do it.",
            "image": [
              "{\"Id\":\"hzbqggpj3mjqtpwvxm9j5b8\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7279.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/hzbqggpj3mjqtpwvxm9j5b8/SHL-Medical-Office_People_Zug_Konstantin_KK5D7279.jpg\",\"AssetId\":\"tfvqwrnh9cq65tksgtmxpm5f\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7279\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/f6b5cb9812ed45ae9b4f06337184e241",
            "title": "Imagine beyond the horizon",
            "description": "Empowered by our values, we will continue to broaden our expertise, leverage our potential, and invest in our future. At SHL Medical, we learn, we grow, and we build together — for today and tomorrow.",
            "image": [
              "{\"Id\":\"9bn3jssftgf5k4c7nfgsznh\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8238.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9bn3jssftgf5k4c7nfgsznh/SHL-Medical-Office_People_Zug_Konstantin_KK5D8238.jpg\",\"AssetId\":\"q3pb55338k7934rmr8sthkc\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8238\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "062f54",
        "label": "general",
        "sortOrder": 1,
        "id": "3"
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/f698692093be429781418ffd2dc94dc9",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/87570afc6d944274a6910851ed76085f"
            },
            {
              "contentUdi": "umb://element/113a5bf2720445008665f1528086fb24"
            },
            {
              "contentUdi": "umb://element/a7d22701dc234b16a9549b58ba2f6ab8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/87570afc6d944274a6910851ed76085f",
            "quoteText": "\"In many organizations, decisions go strictly top-down, which limits the room for individual impact. At SHL, it’s different - you’re empowered to make a real difference.\"",
            "nameAuthor": "Andy",
            "role": "Technology",
            "company": "SHL Medical Taiwan",
            "image": [
              "{\"Id\":\"9vb74schkfmvbfg7wj8gpj\",\"FileName\":\"SHL-Medical_Portrait-AndyWang_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9vb74schkfmvbfg7wj8gpj/SHL-Medical_Portrait-AndyWang_headshot.jpg\",\"AssetId\":\"ffjhw74bt8f7kqwsfgp6k96\",\"AssetName\":\"Andy Wang\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/a7d22701dc234b16a9549b58ba2f6ab8",
            "quoteText": "“I have never felt more supported in a workplace than at SHL. The company offers a remarkable blend of visionary innovation and a nurturing environment.”",
            "nameAuthor": "Mark",
            "role": "Operations",
            "company": "SHL Medical Charleston US",
            "image": [
              "{\"Id\":\"qbp4954395c93hhzrmfgnnnk\",\"FileName\":\"SHL-Medical_Portrait-MarkAnderson_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/qbp4954395c93hhzrmfgnnnk/SHL-Medical_Portrait-MarkAnderson_headshot.jpg\",\"AssetId\":\"4vhkfmv3pv58z7v645q7vbk\",\"AssetName\":\"Mark Anderson\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/113a5bf2720445008665f1528086fb24",
            "quoteText": "“I enjoy being part of an international team where different cultures come together. At SHL I can bring my own ideas and create processes as efficient as possible.”",
            "nameAuthor": "Nadine",
            "role": "Finance",
            "company": "SHL Medical Switzerland",
            "image": [
              "{\"Id\":\"hwg8nssxhnc5p6gkhfmh7vs\",\"FileName\":\"SHL-Medical_Portrait-NadineKirchhofer_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/hwg8nssxhnc5p6gkhfmh7vs/SHL-Medical_Portrait-NadineKirchhofer_headshot.jpg\",\"AssetId\":\"kqmvjm5gvv6kjm38pf5g6\",\"AssetName\":\"Nadine Kirchhofer\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/c7604405c0a448bfb906085d2855a1aa",
      "title": "Our values",
      "text": {
        "markup": "<p>Our values form the foundation of who we are and how we work every day.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6d4bac25a1fa4224be56396c50263f3a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/6d4bac25a1fa4224be56396c50263f3a",
            "image": [
              "{\"Id\":\"5sbccfkch82cqbxjfvk92q7b\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7162.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5sbccfkch82cqbxjfvk92q7b/SHL-Medical-Office_People_Zug_Konstantin_KK5D7162.jpg\",\"AssetId\":\"2rk4fbvx65kjkv4tvh84jp\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7162\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bfb101c95d58497c8c8ee63ecab7d2bd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/bfb101c95d58497c8c8ee63ecab7d2bd",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/69a961e602cf4102b1be61e2bbacbf2f"
                  },
                  {
                    "contentUdi": "umb://element/3ced5121a6324441aa1937d692b0adc6"
                  },
                  {
                    "contentUdi": "umb://element/a1287e23382643dfa732424607f5733e"
                  },
                  {
                    "contentUdi": "umb://element/57e567c10bc3420495adf46adb1a97fc"
                  },
                  {
                    "contentUdi": "umb://element/4dc15b50124d426d86c59c5c3a2d1974"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/69a961e602cf4102b1be61e2bbacbf2f",
                  "title": "Focus on the customer",
                  "text": {
                    "markup": "<p> </p>\n<p>We commit to exceeding customer needs.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/3ced5121a6324441aa1937d692b0adc6",
                  "title": "Operate with ethics and integrity",
                  "text": {
                    "markup": "<p> </p>\n<p>We work together with respect and understanding.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/a1287e23382643dfa732424607f5733e",
                  "title": "Drive simplicity",
                  "text": {
                    "markup": "<p>&nbsp;</p>\n<p>We create right-sized solutions and keep it simple.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/57e567c10bc3420495adf46adb1a97fc",
                  "title": "Learn and improve",
                  "text": {
                    "markup": "<p> </p>\n<p>We stay open-minded and curious to keep growing.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/4dc15b50124d426d86c59c5c3a2d1974",
                  "title": "Deliver together",
                  "text": {
                    "markup": "<p> </p>\n<p>We collaborate across boundaries and act as one team.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "How we hire",
          "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
        }
      ],
      "secondaryLink": "",
      "video": "",
      "mediaPosition": [
        "left"
      ]
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/a4bfc054cf2042bc8912c54e9148d614",
      "title": "Learn more about us",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/42cb6a98755f468b912b0d7b1ec5c5f9"
            },
            {
              "contentUdi": "umb://element/525a178378e045e7933e979682ffdd6a"
            },
            {
              "contentUdi": "umb://element/67938769f2974ab28c2ceccafc3068e7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/42cb6a98755f468b912b0d7b1ec5c5f9",
            "title": "Who we are",
            "subTitle": "",
            "text": {
              "markup": "<p>We are a pioneering leader in self-injection solutions. With close to 6,000 employees, we are on a relentless mission to improve lives.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"6vqgtpg3r8mc8s7vgxtwfh9\",\"FileName\":\"SHL-Medical_Container_Free_FATM-20240730-28.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/6vqgtpg3r8mc8s7vgxtwfh9/SHL-Medical_Container_Free_FATM-20240730-28.jpg\",\"AssetId\":\"kx77npm6cfcrfn4zk6xbvkst\",\"AssetName\":\"Container Free FATM (Fully Automatic Testing Machine)-Molly-20240730-28\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Who we are",
                "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/525a178378e045e7933e979682ffdd6a",
            "title": "How we hire",
            "subTitle": "",
            "text": {
              "markup": "<p>Our ambitions are limitless, so we are constantly on the lookout for new talent. Have a look at our vacancies and hiring process.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"b8j49bjx3vvppg94kfncxrj\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6833.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/b8j49bjx3vvppg94kfncxrj/SHL-Medical-Office_People_Zug_Konstantin_KK5D6833.jpg\",\"AssetId\":\"qqf4sbgc68br9rrjjrjw49h\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6833\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "How we hire",
                "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/67938769f2974ab28c2ceccafc3068e7",
            "title": "Our teams",
            "subTitle": "",
            "text": {
              "markup": "<p><span>We are unique in talent, and united in delivering results. Explore the teams driving our success. </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"bj8357f58gzfnnfcqfbs5b\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-48.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bj8357f58gzfnnfcqfbs5b/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-48.jpg\",\"AssetId\":\"xpmqbvhqmb752q7k9b4m25sf\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-48\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Teams",
                "udi": "umb://document/cd8755cb4c5e4751a4174f8bc230e415"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/8eb95599dc8b4109a25fc331d0dde8fb",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/93620e98e95845848d3e2c4428548061"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/93620e98e95845848d3e2c4428548061",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": ""
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/a149466db6934313938dc0425158169e",
      "title": "Our pillars for your success",
      "description": "Why do we thrive at SHL Medical?  \n\n\nWe believe it comes down to three powerful reasons.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dd5db0ff96ac4ca7a82018e5805be0c3"
            },
            {
              "contentUdi": "umb://element/f148dd6432274906a7f465356765c44f"
            },
            {
              "contentUdi": "umb://element/71b578e5147e4c358e9ca0959b2123f1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/dd5db0ff96ac4ca7a82018e5805be0c3",
            "title": "Impact",
            "description": "At SHL Medical, you have the opportunity to transform ideas into real impact, contributing to solutions that support millions of patients worldwide. As part of the industry leader in self-injection systems, you play a key role in shaping our growing business, expanding global presence, and ambitious long-term vision.\n",
            "image": [
              "{\"Id\":\"vqnsnkqvj3f8k3g7hb76m5r\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6426.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vqnsnkqvj3f8k3g7hb76m5r/SHL-Medical-Office_People_Zug_Konstantin_KK5D6426.jpg\",\"AssetId\":\"963ftqsv2329q7nrfppzhsc3\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6426\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/f148dd6432274906a7f465356765c44f",
            "title": "Growth",
            "description": "You get the chance to work with top-tier pharma and biotech partners, using state-of-the-art technology to drive innovation. You will experience numerous growth opportunities within a thriving business operating across three continents.",
            "image": [
              "{\"Id\":\"jktjsgtpvf6v3bqxqx37fxs\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-8.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jktjsgtpvf6v3bqxqx37fxs/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-8.jpg\",\"AssetId\":\"qzm8prz6czf9pjr9zkp4t\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-8\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/71b578e5147e4c358e9ca0959b2123f1",
            "title": "Care",
            "description": "You will thrive in a culture where care is at the heart of everything we do - not only for patients and the planet but also for each other. At SHL Medical, collaboration, support, and inclusivity come together to create a truly rewarding and multinational workplace.",
            "image": [
              "{\"Id\":\"9jwr9m3vxs5ckj33bqf52hpr\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7201.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9jwr9m3vxs5ckj33bqf52hpr/SHL-Medical-Office_People_Zug_Konstantin_KK5D7201.jpg\",\"AssetId\":\"694r9g6jc7vftfc467mj9\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7201\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/e15d026dbc624be3bb3cc5df512a6375",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5254571ed0d147bc8eea69bd61777c59"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/5254571ed0d147bc8eea69bd61777c59",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3845e6ecb4464c8aa23a2d2ef31259ad"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/3845e6ecb4464c8aa23a2d2ef31259ad",
                  "sourceSize": [
                    "720p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1038214050/rendition/720p/file.mp4?loc=external&log_user=0&signature=86788248feae61372f2ba2221932c6e4fed14b6cf427e5ef717c527d271fa6d5"
                }
              ],
              "settingsData": []
            },
            "title": "SHL Medical Values",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"ktc6h3nqt987fqrh6xssx29\",\"FileName\":\"how-we-work-reel.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/ktc6h3nqt987fqrh6xssx29/how-we-work-reel.png\",\"AssetId\":\"95b3rm4h4kwhh33trfkcfvq\",\"AssetName\":\"how-we-work-reel\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "1"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/7db1ea74b70a4984915813162ac7ee73",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/c8f01390e059490d95f30848e4f5f7ad",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0a2d78d4531a4e9588fdbcdf4e7ad946",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f3f9f8",
        "label": "pastel-blue",
        "sortOrder": 10,
        "id": "9"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c43d5c7407f642f68a87e51aa208b671",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/1bdd5d75eb5147fe9c685fac0b3afdfd",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d728213d618846d1b95af4a38e3a4b02",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/f8e522d201e24401877a25f146bd5744",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/25a307bed2f14924aefb865551141a78"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/25a307bed2f14924aefb865551141a78",
      "title": "What we stand for",
      "text": {
        "markup": "<p><span>Driven by great ambitions and a clear vision, we are investing in product and technology innovations. We take pride in getting things done and deliver on our promises.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "A space to care",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5b9afbc0134f4949991c189fb5b1a615"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/5b9afbc0134f4949991c189fb5b1a615",
            "buttonIcon": "",
            "link": [
              {
                "name": "Who we are",
                "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ea9d8059706947c4a0f74b5c9c9977e6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/ea9d8059706947c4a0f74b5c9c9977e6",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we hire",
                "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[What is it working like at SHL? Learn more about our ambitions, values, and way of working and join us in crafting next-generation healthcare solutions.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[What we stand for - SHL Medical careers]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>