<?xml version="1.0" encoding="utf-8"?>
<Content Key="18fc109c-f2d1-4b4c-8cfd-3ca188de2415" Alias="Jobs at SHL Medical" Level="3">
  <Info>
    <Parent Key="9135a424-e364-4e2a-80dd-9dc1708fffca">Careers</Parent>
    <Path>/Homepage/Careers/JobsAtSHLMedical</Path>
    <Trashed>false</Trashed>
    <ContentType>pageVacancyOverview</ContentType>
    <CreateDate>2024-11-13T16:33:47</CreateDate>
    <NodeName Default="Jobs at SHL Medical">
      <Name Culture="en-us">Jobs at SHL Medical</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b6f8106c-0366-41cf-b434-a8a6a5a88d4b">PageVacancyOverview</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b8795360b1d74d0eb540c3c4d45386f2",
        "settingsUdi": "umb://element/4c0aafeaa42f4edfa9fdbee5af5aac9d"
      },
      {
        "contentUdi": "umb://element/101c2ef22114461cb8c04eeb1f8e9d51",
        "settingsUdi": "umb://element/b6d5784d273948d3a4a6c5e71ced22c0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/101c2ef22114461cb8c04eeb1f8e9d51",
      "title": "Get to know our teams",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5bfba6b3c2c74702ada5e8ae44ca39b6"
            },
            {
              "contentUdi": "umb://element/591a84f239df496c96f6555d8c887a09"
            },
            {
              "contentUdi": "umb://element/7a59833cc5444ebc98c2cd305167afea"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/5bfba6b3c2c74702ada5e8ae44ca39b6",
            "title": "Engineering",
            "subTitle": "",
            "text": {
              "markup": "<p>Our engineers drive cutting-edge innovation, guiding products through every stage of design and development to keep us ahead of the curve.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"s7f3kjc44kfhj568x9mhk\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s7f3kjc44kfhj568x9mhk/SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"AssetId\":\"hq4k5rphjmpswpfcgw3tvx\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7293\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Engineering",
                "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/591a84f239df496c96f6555d8c887a09",
            "title": "Operations",
            "subTitle": "",
            "text": {
              "markup": "<p>Our success is powered by a high-performance manufacturing and supply chain operation, enabling us to deliver seamlessly to clients and patients worldwide.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"3fc8b8hb977vxmbbb74br2s\",\"FileName\":\"SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3fc8b8hb977vxmbbb74br2s/SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"AssetId\":\"w3933fj8rkbnc8mj8mmc\",\"AssetName\":\"North Charleston USA Facility-NC-20240723-1\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Operations",
                "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/7a59833cc5444ebc98c2cd305167afea",
            "title": "Commercial and Corporate",
            "subTitle": "",
            "text": {
              "markup": "<p>Our commercial and corporate teams fuel our growth - from building and supporting talent, to maintaining safe, compliant processes, and promoting our products on a global scale.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"gzjmgpkb3xb86hvn8vqch6hs\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gzjmgpkb3xb86hvn8vqch6hs/SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"AssetId\":\"5vtjb4b9k78fck2m3f3rnk\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04898\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Commercial and Corporate",
                "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/b8795360b1d74d0eb540c3c4d45386f2",
      "title": "More to explore",
      "text": {
        "markup": "<p>There is so much to discover about SHL Medical!</p>\n<p>&nbsp;</p>\n<p>Take a closer look at who we are, learn about our hiring process, and explore the unique teams that drive our success.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cd32d53638954a789520cdfd0ad5e051"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/cd32d53638954a789520cdfd0ad5e051",
            "image": [
              "{\"Id\":\"9pbr6xfk3wsbhbxfspv5rwxz\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9pbr6xfk3wsbhbxfspv5rwxz/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"AssetId\":\"bgsf74nrbm5jxgmrxcwj4smq\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/beec9b06105140449810aeb1078fdb1f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/beec9b06105140449810aeb1078fdb1f",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/bb421df07b9744b28254b57571b7496f"
                  },
                  {
                    "contentUdi": "umb://element/6c2b72260bae4a0f996ae5d31467a4e9"
                  },
                  {
                    "contentUdi": "umb://element/44e02f93567a4b8dabab021b4163269a"
                  },
                  {
                    "contentUdi": "umb://element/746063b5b02a4a8da69b5f554ffed4d8"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/6c2b72260bae4a0f996ae5d31467a4e9",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/44e02f93567a4b8dabab021b4163269a",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/746063b5b02a4a8da69b5f554ffed4d8",
                  "link": [
                    {
                      "name": "Our locations",
                      "udi": "umb://document/ec2e84770b36402e888451deb8855588"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/bb421df07b9744b28254b57571b7496f",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b6d5784d273948d3a4a6c5e71ced22c0",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4c0aafeaa42f4edfa9fdbee5af5aac9d",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6b60b625a9074a918215380ba1c10b6d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/6b60b625a9074a918215380ba1c10b6d",
      "title": "Careers at SHL Medical",
      "text": "",
      "subTitle": "Your space to grow",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <noResultsPrimaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsPrimaryLink>
    <noResultsSecondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsSecondaryLink>
    <noResultsText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>No Results Text - Content field&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </noResultsText>
    <noResultsTitle>
      <Value Culture="en-us"><![CDATA[No Results Title - Content field ]]></Value>
    </noResultsTitle>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Explore job openings at SHL Medical. Join our team and help us create cutting-edge healthcare solutions that improve patient lives worldwide. ]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Job openings | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <vacanciesContentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </vacanciesContentBlocks>
    <vacanciesPageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "0a5f5a",
  "label": "dark-green",
  "sortOrder": 7,
  "id": "12"
}]]></Value>
    </vacanciesPageTheme>
  </Properties>
</Content>