<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd8755cb-4c5e-4751-a417-4f8bc230e415" Alias="Teams" Level="3">
  <Info>
    <Parent Key="9135a424-e364-4e2a-80dd-9dc1708fffca">Careers</Parent>
    <Path>/Homepage/Careers/Teams</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-12-03T17:40:17</CreateDate>
    <NodeName Default="Teams">
      <Name Culture="en-us">Teams</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/af97a06985294eebacc239ec3b34078a",
        "settingsUdi": "umb://element/3667b4c101a345868222417dd5d9b6dd"
      },
      {
        "contentUdi": "umb://element/a9bffb68337347aebe6e6266c449d911",
        "settingsUdi": "umb://element/4bb1251ea69c4153a3c4dd40419fabf8"
      },
      {
        "contentUdi": "umb://element/09475f617a3b441b83c30df3f6244caf",
        "settingsUdi": "umb://element/0145e04d35c24f8ca1e78bc477673eaf"
      },
      {
        "contentUdi": "umb://element/e8ce5d8c1fa14393b61ccd40abe1077c",
        "settingsUdi": "umb://element/8aa1d9b17f074204bb1e75204c21d937"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/af97a06985294eebacc239ec3b34078a",
      "title": "Explore the teams driving our success",
      "text": {
        "markup": "<p>United by a shared purpose to enabling patients' independence, we strive to improve lives and make meaningful impact worldwide.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/513b30045a364db6ba1f4cdcb0a36024"
            },
            {
              "contentUdi": "umb://element/517399c944164f2aafa932f3700d9bb5"
            },
            {
              "contentUdi": "umb://element/be76a61ffcf3408f8dde55b0c7b52032"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/513b30045a364db6ba1f4cdcb0a36024",
            "title": "Engineering",
            "subTitle": "",
            "text": {
              "markup": "<p>Our engineers drive cutting-edge innovation, guiding products through every stage of design and development to keep us ahead of the curve.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"s7f3kjc44kfhj568x9mhk\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s7f3kjc44kfhj568x9mhk/SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"AssetId\":\"hq4k5rphjmpswpfcgw3tvx\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7293\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Engineering",
                "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/517399c944164f2aafa932f3700d9bb5",
            "title": "Operations",
            "subTitle": "",
            "text": {
              "markup": "<p>Our success is powered by a high-performance manufacturing and supply chain operation, enabling us to deliver seamlessly to clients and patients worldwide.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"3fc8b8hb977vxmbbb74br2s\",\"FileName\":\"SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3fc8b8hb977vxmbbb74br2s/SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"AssetId\":\"w3933fj8rkbnc8mj8mmc\",\"AssetName\":\"North Charleston USA Facility-NC-20240723-1\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Operations",
                "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/be76a61ffcf3408f8dde55b0c7b52032",
            "title": "Commercial and Corporate",
            "subTitle": "",
            "text": {
              "markup": "<p>Our commercial and corporate teams fuel our growth - from building and supporting talent, to maintaining safe, compliant processes, and promoting our products on a global scale.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"gzjmgpkb3xb86hvn8vqch6hs\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gzjmgpkb3xb86hvn8vqch6hs/SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"AssetId\":\"5vtjb4b9k78fck2m3f3rnk\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04898\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Commercial and Corporate",
                "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/a9bffb68337347aebe6e6266c449d911",
      "title": "Belong to who we are at heart",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0f2970f71c8d49e6a4a101b4afa2421c"
            },
            {
              "contentUdi": "umb://element/b11b3c3a32bd4f0aa02d530b6a7f80e7"
            },
            {
              "contentUdi": "umb://element/5ffe6e66fd2e47ce869813b55a15c51f"
            },
            {
              "contentUdi": "umb://element/1763ca28809a4009a27a4fa57816e4c1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/0f2970f71c8d49e6a4a101b4afa2421c",
            "title": "Agile problem-solvers",
            "subTitle": "",
            "text": {
              "markup": "<p>Thriving in ambiguity means adapting with speed, thinking outside the box, and finding effective solutions in changing landscapes. We are agile, seeing opportunities amid uncertainty and taking new approaches to match the dynamic demands of our environment.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"kqw9wprbrtps5n4pccv2v\",\"FileName\":\"SHL-Medical_Container_Free_FATM-20240730-8.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kqw9wprbrtps5n4pccv2v/SHL-Medical_Container_Free_FATM-20240730-8.jpg\",\"AssetId\":\"x7c9kx8jfmm4g5z7jsk6jpg\",\"AssetName\":\"Container Free FATM (Fully Automatic Testing Machine)-Molly-20240730-8\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/b11b3c3a32bd4f0aa02d530b6a7f80e7",
            "title": "Courageous leaders ",
            "subTitle": "",
            "text": {
              "markup": "<p>Leading with courage means standing by our opinions while respecting others and staying committed to team decisions. We value colleagues who can communicate openly, collaborate effectively, and take decisive actions that empower us to accomplish even greater outcomes.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"sp3479m6v2f7hk7vh2z8cb7\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04050.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/sp3479m6v2f7hk7vh2z8cb7/SHL-Medical_2024_CPHI-Milan_DSC04050.jpg\",\"AssetId\":\"p5v76xkp2vwb3jvt9mbf3j\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04050\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/5ffe6e66fd2e47ce869813b55a15c51f",
            "title": "Growth-minded learners",
            "subTitle": "",
            "text": {
              "markup": "<p>We believe a growth mindset is key to success. Together, we are learning, staying curious, and actively seeking ways to improve. Driven by a desire to grow both personally and professionally, we are open to feedback and bring fresh insights to every project.</p>\n<p>&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"m777smg3qs9wt4cx5qkmfcnf\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-24.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/m777smg3qs9wt4cx5qkmfcnf/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-24.jpg\",\"AssetId\":\"hzp34vgcc4nc2j3b6448j567\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-24\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/1763ca28809a4009a27a4fa57816e4c1",
            "title": "Purpose-driven achievers",
            "subTitle": "",
            "text": {
              "markup": "<p>In our fast-paced environment, resilience and a self-starter attitude are essential. We build our future with a hands-on approach while tackling challenges with grit and a positive outlook. As one team, we get things done and deliver results that matter.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"9jrp9nj453xs7kp9bzjmmswf\",\"FileName\":\"2024_Inventor Certificates Awarding Ceremony_20240627-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9jrp9nj453xs7kp9bzjmmswf/2024_Inventor_Certificates_Awarding_Ceremony_20240627-2.jpg\",\"AssetId\":\"963htqw3wgx62tf7mthqck\",\"AssetName\":\"2024 Inventor Certificates Awarding Ceremony 20240627-2\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/09475f617a3b441b83c30df3f6244caf",
      "title": "Learn more about us",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7df44f0723d2415b9cba64f299fa7870"
            },
            {
              "contentUdi": "umb://element/6cb7c437346a40338da9ae34d1e16dc0"
            },
            {
              "contentUdi": "umb://element/1a20113166004e69ac8cba5c3aea7489"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/7df44f0723d2415b9cba64f299fa7870",
            "title": "Who we are",
            "subTitle": "",
            "text": {
              "markup": "<p>We are a pioneering leader in self-injection solutions. With close to 6,000 employees, we are on a relentless mission to improve lives.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"6vqgtpg3r8mc8s7vgxtwfh9\",\"FileName\":\"SHL-Medical_Container_Free_FATM-20240730-28.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/6vqgtpg3r8mc8s7vgxtwfh9/SHL-Medical_Container_Free_FATM-20240730-28.jpg\",\"AssetId\":\"kx77npm6cfcrfn4zk6xbvkst\",\"AssetName\":\"Container Free FATM (Fully Automatic Testing Machine)-Molly-20240730-28\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Who we are",
                "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/1a20113166004e69ac8cba5c3aea7489",
            "title": "How we hire",
            "subTitle": "",
            "text": {
              "markup": "<p>Our ambitions are limitless, so we are constantly on the lookout for new talent. Have a look at our vacancies and hiring process.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"b8j49bjx3vvppg94kfncxrj\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6833.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/b8j49bjx3vvppg94kfncxrj/SHL-Medical-Office_People_Zug_Konstantin_KK5D6833.jpg\",\"AssetId\":\"qqf4sbgc68br9rrjjrjw49h\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6833\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "How we hire",
                "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/6cb7c437346a40338da9ae34d1e16dc0",
            "title": "How we work",
            "subTitle": "",
            "text": {
              "markup": "<p><span>We are unique in talent, and united in delivering results. Explore the teams driving our success. </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"bj8357f58gzfnnfcqfbs5b\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-48.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bj8357f58gzfnnfcqfbs5b/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-48.jpg\",\"AssetId\":\"xpmqbvhqmb752q7k9b4m25sf\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-48\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/e8ce5d8c1fa14393b61ccd40abe1077c",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": null,
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7767a2e2f86b4e0d956bf6900a6492d1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/7767a2e2f86b4e0d956bf6900a6492d1",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/9135a424e3644e2a80dd9dc1708fffca"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/3667b4c101a345868222417dd5d9b6dd",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4bb1251ea69c4153a3c4dd40419fabf8",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0145e04d35c24f8ca1e78bc477673eaf",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8aa1d9b17f074204bb1e75204c21d937",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/392b0173eeb94263a75c321fca912de3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/392b0173eeb94263a75c321fca912de3",
      "title": "Meet our teams",
      "text": {
        "markup": "<p>At SHL Medical, our people are the foundation of our success. Across three continents, our teams work as one to shape the future of self-injection solutions.&nbsp;</p>\n<p>&nbsp;</p>\n<p>Explore our diverse teams and see how you can be part of our growth journey.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Our teams | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>