<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dea5ada-3f98-479b-93e3-e5da63147ee8" Alias="Who we are" Level="3">
  <Info>
    <Parent Key="9135a424-e364-4e2a-80dd-9dc1708fffca">Careers</Parent>
    <Path>/Homepage/Careers/WhoWeAre</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-26T12:13:08</CreateDate>
    <NodeName Default="Who we are">
      <Name Culture="en-us">Who we are</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb7116caa60b49b4882b32b51030bcc3"
      },
      {
        "contentUdi": "umb://element/9499a7faf0bd4db0ab300eab464c9abd",
        "settingsUdi": "umb://element/43762a066f854ddca093d3983aaadc9c"
      },
      {
        "contentUdi": "umb://element/1d38dfce153741f2a6d4d7ffd90668c5",
        "settingsUdi": "umb://element/44a7fefe60224940bccd34d0c87c032c"
      },
      {
        "contentUdi": "umb://element/5aa1b439f0ba45ac875d5d4c49acaba0",
        "settingsUdi": "umb://element/b0a05d3031584731bf16b8beb34f5f70"
      },
      {
        "contentUdi": "umb://element/7dbf543d12de4b518ab0e524a36e0836",
        "settingsUdi": "umb://element/ac9fdca167ef4174a99dd595a1d72182"
      },
      {
        "contentUdi": "umb://element/ab693e309f7f42a892280c4b21d14baf",
        "settingsUdi": "umb://element/8dabede76cf14b948774e45cbb2b8a0a"
      },
      {
        "contentUdi": "umb://element/058b4c23fba24e5cbfabd8565002e77d",
        "settingsUdi": "umb://element/c608875e4f104b42a7ff5131c60511f0"
      },
      {
        "contentUdi": "umb://element/e7834ecbfd0546b489b5d7945e479e5c",
        "settingsUdi": "umb://element/f40650ffd974459b8bcb7b6faf0135dc"
      },
      {
        "contentUdi": "umb://element/b5caa3120c13468e9c4877c4a09e958e",
        "settingsUdi": "umb://element/b4408695f85047a696f9f33a7f8f35a5"
      },
      {
        "contentUdi": "umb://element/57e440b1268a49ec8ae39cc9f3cef998",
        "settingsUdi": "umb://element/b87b3902cd3e40b99647734ca226c944"
      },
      {
        "contentUdi": "umb://element/c87d26343d6a4279886cd859594bc035",
        "settingsUdi": "umb://element/7393665162e7411c89e0e26971bba5cb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/9499a7faf0bd4db0ab300eab464c9abd",
      "title": "Our impact",
      "description": {
        "markup": "<p><strong>Ever since the concept of SHL Medical was born, we have been on a mission to improve lives.</strong></p>\n<p>&nbsp;</p>\n<p>With our self-injection solutions covering a wide spectrum of chronic diseases we enable millions of patients worldwide to be more independent.</p>\n<p>&nbsp;</p>\n<p>Beyond individual benefits, we support the entire healthcare system by improving outcomes and helping to reduce overall costs and environmental impact.</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Our products",
          "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1354d1550392411bab6d4016a6ebea46"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/1354d1550392411bab6d4016a6ebea46",
            "image": [
              "{\"Id\":\"8v5nsjjj9ng6b4g467z3m8j\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04259.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8v5nsjjj9ng6b4g467z3m8j/SHL-Medical_2024_CPHI-Milan_DSC04259.jpg\",\"AssetId\":\"7qjw839mvt7cgt5r7psh8jf\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04259\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/7dbf543d12de4b518ab0e524a36e0836",
      "title": "Our solutions from design to delivery",
      "description": {
        "markup": "<p><span class=\"NormalTextRun SCXW147469415 BCX0\">We provide end-to-end solutions, from design, development, to manufacturing, including final assembly, labeling, and packaging.</span></p>\n<p>&nbsp;</p>\n<p><span class=\"NormalTextRun SCXW258267266 BCX0\">Our fully integrated in-house manufacturing capabilities, including tooling and automation, ensure faster development, cost efficiency, and minimized production risks, providing us with critical advantages in today’s fast-paced industry.</span>&nbsp;</p>\n<p>&nbsp;</p>\n<p><strong>This comprehensive approach opens up even more exciting opportunities for innovative and impactful projects to work on.</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Meet our teams",
          "udi": "umb://document/cd8755cb4c5e4751a4174f8bc230e415"
        }
      ],
      "secondaryButton": [
        {
          "name": "Jobs at SHL Medical",
          "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
        }
      ],
      "mediaPosition": "",
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/20675fa7d3a24e61aef2361f7a96d4fa"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/20675fa7d3a24e61aef2361f7a96d4fa",
            "image": [
              "{\"Id\":\"bqkmj4x78pn76pt3hc9r37bm\",\"FileName\":\"shl-medical-smart line integrated mesurement-20240620-19.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bqkmj4x78pn76pt3hc9r37bm/shl-medical-smart_line_integrated_mesurement-20240620-19.jpg\",\"AssetId\":\"pt2nnmv3fxq3cqcbqp6mc2v\",\"AssetName\":\"SLIM-Molly-People-20240424-19\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/ab693e309f7f42a892280c4b21d14baf",
      "title": "An inclusive workplace",
      "description": "Belonging is at the heart of who we are. It begins with our purpose and flows through our values, behaviors, and commitments.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f2f95732af4b439284e0ca1c45e30f19"
            },
            {
              "contentUdi": "umb://element/d6e7c23924b1404ea3a892aa19af771a"
            },
            {
              "contentUdi": "umb://element/1c2b14f98a3d40c99f256f738882bcce"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/f2f95732af4b439284e0ca1c45e30f19",
            "title": "A sense of belonging",
            "description": "Inclusion at SHL Medical means recognizing and valuing the contribution of every individual. \n\n\nIt is about empowering independence while fostering a sense of belonging where everyone knows they are essential to the collective success. \n",
            "image": [
              "{\"Id\":\"7xs3f3snthf8pm5h5nfvr\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7884.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/7xs3f3snthf8pm5h5nfvr/SHL-Medical-Office_People_Zug_Konstantin_KK5D7884.jpg\",\"AssetId\":\"9fspk5bppks3h4xkb978qcpj\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7884\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d6e7c23924b1404ea3a892aa19af771a",
            "title": "DEI in our people roadmap",
            "description": "We are dedicated to cultivating an inclusive workplace where Diversity, Equity, and Inclusion are seamlessly woven into our everyday actions. DEI is fully integrated within our People Roadmap, promoting engagement across all our teams and ensuring it remains a core aspect of our culture.",
            "image": [
              "{\"Id\":\"65k76snv7bc6hvkppjvf45\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7166.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/65k76snv7bc6hvkppjvf45/SHL-Medical-Office_People_Zug_Konstantin_KK5D7166.jpg\",\"AssetId\":\"qg3hb8kbgkrt2mwj9bj6r6q\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7166\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/1c2b14f98a3d40c99f256f738882bcce",
            "title": "Inclusive growth",
            "description": "Commitment to growth is a key part of inclusion at SHL Medical and goes beyond career advancement. It is about equal access to opportunities and fostering a culture where personal and professional development is encouraged and supported for all.",
            "image": [
              "{\"Id\":\"5zj3733nmz8p8z2c3x73bzr8\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-49.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5zj3733nmz8p8z2c3x73bzr8/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-49.jpg\",\"AssetId\":\"gs8rtjz9bm4g7ccf87px3tk\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-49\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/058b4c23fba24e5cbfabd8565002e77d",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ae348d924fad43f798da3b609302d3fe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/ae348d924fad43f798da3b609302d3fe",
            "quoteText": "\"At SHL Medical, flexibility and diversity are more than just words: they shape how we work and grow. I feel truly supported and valued in an inclusive environment that celebrates different perspectives.\"",
            "nameAuthor": "Laura",
            "role": "Process engineering",
            "company": "SHL Medical Taiwan",
            "image": [
              "{\"Id\":\"jvs8fcm7gfs6t8pwtx7ggmpq\",\"FileName\":\"SHL-Medical_Portrait-LauraSiezar_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jvs8fcm7gfs6t8pwtx7ggmpq/SHL-Medical_Portrait-LauraSiezar_headshot.jpg\",\"AssetId\":\"k5czrn7btvm3pw4mfcnwnmg\",\"AssetName\":\"Laura Siezar\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/e7834ecbfd0546b489b5d7945e479e5c",
      "title": "Inclusion in numbers",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bf6196fcd8144bbc946bb62d405a1d81"
            },
            {
              "contentUdi": "umb://element/d04cc77e3f524237b5d3e5038962e461"
            },
            {
              "contentUdi": "umb://element/2c307783462a46f19e4b34480b4deb6f"
            },
            {
              "contentUdi": "umb://element/c4df1e844d3344199e37d97fcdcfd21a"
            },
            {
              "contentUdi": "umb://element/7701c13850d24b1998230bab32483e0e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/bf6196fcd8144bbc946bb62d405a1d81",
            "title": "77",
            "subTitle": "Nationalities across 4 countries and 3 continents",
            "text": ""
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/2c307783462a46f19e4b34480b4deb6f",
            "title": "53%",
            "subTitle": "Women",
            "text": ""
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/d04cc77e3f524237b5d3e5038962e461",
            "title": "47%",
            "subTitle": "Men",
            "text": ""
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/c4df1e844d3344199e37d97fcdcfd21a",
            "title": "33%",
            "subTitle": "Women in senior management roles",
            "text": ""
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/7701c13850d24b1998230bab32483e0e",
            "title": "67%",
            "subTitle": "Men in senior management roles",
            "text": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/b5caa3120c13468e9c4877c4a09e958e",
      "title": "Sustainability as a core business",
      "text": {
        "markup": "<p><span>Sustainability runs through everything we do – from the materials that go into our products to the energy we use. </span></p>\n<p>&nbsp;</p>\n<p><span>We want to be a positive force for the patients, our colleagues, and for the world around us.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e11b94776ca74264bc28e58fdd1d6d2f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/e11b94776ca74264bc28e58fdd1d6d2f",
            "buttonIcon": "",
            "link": [
              {
                "name": "Learn more about our Sustainability strategy",
                "udi": "umb://document/8da37bc8c26f4be287c47df9c7604d56"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4ecff33180d243fc97897890d01fd615"
            },
            {
              "contentUdi": "umb://element/06e4940216bc4e9796e0e5ab87eebb4c"
            },
            {
              "contentUdi": "umb://element/ffa5d4bc1961480eb364340c7a10035a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/4ecff33180d243fc97897890d01fd615",
            "title": "Sustainable mission",
            "subTitle": "",
            "text": {
              "markup": "<p><span>We are on a mission to be a sustainable leader in our industry. Our 2030 Sustainability Strategy turns our ambitions into concrete actions.&nbsp;</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"v5qz7cqkrsj8b4hxch46j62n\",\"FileName\":\"External-Website-EcoVadis - background.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/v5qz7cqkrsj8b4hxch46j62n/External-Website-EcoVadis_-_background.jpg\",\"AssetId\":\"qpxxm7qz2fgfj7sx8mpxxspp\",\"AssetName\":\"Sustainable Mission\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/06e4940216bc4e9796e0e5ab87eebb4c",
            "title": "Sustainable goals",
            "subTitle": "",
            "text": {
              "markup": "<p><span>Our goals focus on driving patient health and independence, reducing our ecological footprint, and ensuring responsible business practices.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"95sq5kfgq62nb8qngz6r5p4r\",\"FileName\":\"SHL-Medical_E-Truck_External-website.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/95sq5kfgq62nb8qngz6r5p4r/SHL-Medical_E-Truck_External-website.jpg\",\"AssetId\":\"sctz8xsg6mpbnbpccpbs7\",\"AssetName\":\"Sustainable Goals - E-Truck - Zero Emissions\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/ffa5d4bc1961480eb364340c7a10035a",
            "title": "100% renewable energy",
            "subTitle": "",
            "text": {
              "markup": "<p><span>We aim to use 100% renewable energy by 2030, and we are confident in our goal. Already, we are reducing greenhouse gas emissions across our value chain.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"364cf73jqfcq4tq3jvcb79\",\"FileName\":\"Website_Sustainability_person-near-alternative-energy-plant-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/364cf73jqfcq4tq3jvcb79/Website_Sustainability_person-near-alternative-energy-plant-1.jpg\",\"AssetId\":\"g4v5prfnx45m3p6mrv6r8w\",\"AssetName\":\"100% Renewable Energy\",\"AssetDescription\":\"\"}"
            ],
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/c87d26343d6a4279886cd859594bc035",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": null,
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d3f85f14b5704e44964e6a701fd1b931"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/d3f85f14b5704e44964e6a701fd1b931",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/5aa1b439f0ba45ac875d5d4c49acaba0",
      "title": "Bringing our impact to life",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0905bad0c04b431a9f0db7d600abbb76"
            },
            {
              "contentUdi": "umb://element/fec0a1ed05e74b3398f1f7e748067183"
            },
            {
              "contentUdi": "umb://element/c0e9d25d61324da7b02a25156436f72b"
            },
            {
              "contentUdi": "umb://element/e0ec438111784750bce33fe028e328d9"
            },
            {
              "contentUdi": "umb://element/72c53d036f734cae9046363bc6e8d99f"
            },
            {
              "contentUdi": "umb://element/147146ffcecc41a0ac51d10433cb058f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/fec0a1ed05e74b3398f1f7e748067183",
            "title": "8",
            "subTitle": "Million patients by 2030 ",
            "text": {
              "markup": "<p><span class=\"NormalTextRun SCXW60300457 BCX0\">We keep pushing ourselves to improve self-injection products and reach more patients every day.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/0905bad0c04b431a9f0db7d600abbb76",
            "title": "3.4 ",
            "subTitle": "Million patients today ",
            "text": {
              "markup": "<p><span>Our devices empower patients to be more independent, relieving them from time-consuming and expensive doctor visits.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/e0ec438111784750bce33fe028e328d9",
            "title": "75+",
            "subTitle": "Markets",
            "text": {
              "markup": "<p><span>We have a positive impact on the entire healthcare system by improving treatment results and reducing health care costs.&nbsp;</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/72c53d036f734cae9046363bc6e8d99f",
            "title": "50+",
            "subTitle": "Combination products",
            "text": {
              "markup": "<p>SHL Medical launched a wide spectrum of combination products worldwide serving the largest pharma companies.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/147146ffcecc41a0ac51d10433cb058f",
            "title": "12",
            "subTitle": "Out of 12 therapeutic areas",
            "text": {
              "markup": "<p>And we constantly innovate to make self-injection solutions available to more treatment areas.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/c0e9d25d61324da7b02a25156436f72b",
            "title": "120+",
            "subTitle": "Million autoinjectors reach patients per year",
            "text": {
              "markup": "<p>And we continue to grow annually, expanding our reach to support more patients.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/57e440b1268a49ec8ae39cc9f3cef998",
      "title": "Explore the teams driving our success",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/68c3da9ce2f04a929f864f4028facb86"
            },
            {
              "contentUdi": "umb://element/56688327ecef405a9cf82631a062d423"
            },
            {
              "contentUdi": "umb://element/93dc62cee6774c50a33b691584e2709d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/68c3da9ce2f04a929f864f4028facb86",
            "title": "Engineering",
            "subTitle": "",
            "text": {
              "markup": "<p>Our engineers drive cutting-edge innovation, guiding products through every stage of design and development to keep us ahead of the curve.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"s7f3kjc44kfhj568x9mhk\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s7f3kjc44kfhj568x9mhk/SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"AssetId\":\"hq4k5rphjmpswpfcgw3tvx\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7293\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Engineering",
                "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/56688327ecef405a9cf82631a062d423",
            "title": "Operations",
            "subTitle": "",
            "text": {
              "markup": "<p>Our success is powered by a high-performance manufacturing and supply chain operation, enabling us to deliver seamlessly to clients and patients worldwide.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"3fc8b8hb977vxmbbb74br2s\",\"FileName\":\"SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3fc8b8hb977vxmbbb74br2s/SHL-Medical-SitePhotos-NC-20240723-1.jpg\",\"AssetId\":\"w3933fj8rkbnc8mj8mmc\",\"AssetName\":\"North Charleston USA Facility-NC-20240723-1\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Operations",
                "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/93dc62cee6774c50a33b691584e2709d",
            "title": "Commercial and Corporate",
            "subTitle": "",
            "text": {
              "markup": "<p>Our commercial and corporate teams fuel our growth - from building and supporting talent, to maintaining safe, compliant processes, and promoting our products on a global scale.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"gzjmgpkb3xb86hvn8vqch6hs\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gzjmgpkb3xb86hvn8vqch6hs/SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"AssetId\":\"5vtjb4b9k78fck2m3f3rnk\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04898\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Commercial and Corporate",
                "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/1d38dfce153741f2a6d4d7ffd90668c5",
      "title": "We are enabling patients' independence",
      "description": {
        "markup": "<p>SHL Medical proudly supports our pharmaceutical partners in launching combination products across all 12 IQVIA-recognized therapeutic areas.</p>\n<p>&nbsp;</p>\n<p>From autoinjectors for autoimmune conditions to emerging treatments for weight management, we are a trusted leader in innovative device solutions for global pharma and biotech.</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Therapy areas",
          "udi": "umb://document/d5e1ac7b57654ab7a16c78694ca0b0c1"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1bdbde93ce6d45169f7254fd74249518"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/1bdbde93ce6d45169f7254fd74249518",
            "image": [
              "{\"Id\":\"8nhntj5jhnxq9ff88c2cwb\",\"FileName\":\"patient-using-molly-auto-injector.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8nhntj5jhnxq9ff88c2cwb/patient-using-molly-auto-injector.jpg\",\"AssetId\":\"vj833j3nq4rp8sxrv98sgt9\",\"AssetName\":\"patient-using-molly-auto-injector\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/fb7116caa60b49b4882b32b51030bcc3",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4c9cb60f107c480bbd329f9256eadb09"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/4c9cb60f107c480bbd329f9256eadb09",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c1924e290c0747c3b9a0793bffc3231e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/c1924e290c0747c3b9a0793bffc3231e",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1038191779/rendition/1080p/file.mp4?loc=external&log_user=0&signature=6457d18f1bff79081bc28a1bf37cf36ec077d88a69a5507134ab0b983f642936"
                }
              ],
              "settingsData": []
            },
            "title": "SHL Medical EVP",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"2jwhgkbkpx2cqzvkt7nk5chz\",\"FileName\":\"who-we-are-reel.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2jwhgkbkpx2cqzvkt7nk5chz/who-we-are-reel.png\",\"AssetId\":\"x7kj7xbzpn8r2cf4q6rqw7vk\",\"AssetName\":\"who-we-are-reel\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "1"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/43762a066f854ddca093d3983aaadc9c",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ac9fdca167ef4174a99dd595a1d72182",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/8dabede76cf14b948774e45cbb2b8a0a",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c608875e4f104b42a7ff5131c60511f0",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "662949",
        "label": "dark-pink",
        "sortOrder": 4,
        "id": "11"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/f40650ffd974459b8bcb7b6faf0135dc",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b4408695f85047a696f9f33a7f8f35a5",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "0a5f5a",
        "label": "dark-green",
        "sortOrder": 7,
        "id": "12"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/7393665162e7411c89e0e26971bba5cb",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b0a05d3031584731bf16b8beb34f5f70",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b87b3902cd3e40b99647734ca226c944",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/44a7fefe60224940bccd34d0c87c032c",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d24bca9bae634a95be48223c5544b003"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/d24bca9bae634a95be48223c5544b003",
      "title": "Get to know us",
      "text": {
        "markup": "<p><span>We are a world leader in self-injection solutions with close to 6,000 employees sharing our purpose of enabling patients' independence.&nbsp;</span></p>\n<p>&nbsp;</p>\n<p><span>By fostering innovation and an entrepreneurial spirit, our work drives meaningful solutions for patients worldwide.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "A space to impact",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/813c2159269d442ab18b57133448ea12"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/813c2159269d442ab18b57133448ea12",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/998fd105bbbd4395a10b5e448e7f9e65"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/998fd105bbbd4395a10b5e448e7f9e65",
            "buttonIcon": "",
            "link": [
              {
                "name": "Our history",
                "udi": "umb://document/c8a321813b534f15b6f557c94db401ac"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Discover SHL Medical and our mission, values, and commitment to transforming healthcare through cutting-edge technologies and patient-focused designs.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Who we are]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>