:root {
  --image-transition-duration: 300ms;
  --image-transition-timing: #{$ease-out-quad};
  --image-skeleton-color: #{rgba($color-black, 0.03)};
}

.c-image {
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }

  &[js-hook-objectfit] {
    .image__holder {
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      height: 100%;
      max-width: none;
      max-height: none;
    }
  }
}

.image__holder {
  position: relative;
  background-color: var(--image-skeleton-color);

  .image--is-loaded & {
    transition: background-color 0ms var(--image-transition-timing) var(--image-transition-duration);
    background-color: transparent;
  }
}

.image__default {
  opacity: 0;
  transition: opacity var(--image-transition-duration) var(--image-transition-timing);

  .image--is-loaded & {
    opacity: 1;
  }
}

.image__caption {
  @include body-s;
  margin-top: $spacing-16;
}
