<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef94ddbd-5ef9-4569-b7c3-6cb32091e04f" Alias="0E5ecba36b3262b27b26aa559766018a" Level="2">
  <Info>
    <Parent Key="6c1cc45c-1e75-4f12-820e-dd666aebd5ee">QA Content</Parent>
    <Path>/QAContent/E5ecba36b3262b27b26aa559766018a</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T11:11:38</CreateDate>
    <NodeName Default="0E5ecba36b3262b27b26aa559766018a" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#788188]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xpojj15z/0e5ecba36b3262b27b26aa559766018a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>