<?xml version="1.0" encoding="utf-8"?>
<Media Key="76d7f03f-a3f8-40f9-bbdb-432c7508464c" Alias="5Abc49eae92256c87271b911b761a0f2" Level="2">
  <Info>
    <Parent Key="6c1cc45c-1e75-4f12-820e-dd666aebd5ee">QA Content</Parent>
    <Path>/QAContent/Abc49eae92256c87271b911b761a0f2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T08:49:35</CreateDate>
    <NodeName Default="5Abc49eae92256c87271b911b761a0f2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#B6CFE1]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hhyno3xy/5abc49eae92256c87271b911b761a0f2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>