<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b8bfa86-84a0-4770-9ec1-318a8a366200" Alias="E0bb275510cc2c82f871cf06797bb9c8" Level="2">
  <Info>
    <Parent Key="6c1cc45c-1e75-4f12-820e-dd666aebd5ee">QA Content</Parent>
    <Path>/QAContent/E0bb275510cc2c82f871cf06797bb9c8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T11:11:37</CreateDate>
    <NodeName Default="E0bb275510cc2c82f871cf06797bb9c8" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#594940]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qd3iw43a/e0bb275510cc2c82f871cf06797bb9c8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>