<?xml version="1.0" encoding="utf-8"?>
<Content Key="eac2c7ab-8262-4d80-b0da-b74ff5799f5c" Alias="Device academy" Level="3">
  <Info>
    <Parent Key="db3ce2a7-cda2-4108-a67c-5976aed6650b">News and insights</Parent>
    <Path>/Homepage/NewsAndInsights/DeviceAcademy</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:25:36</CreateDate>
    <NodeName Default="Device academy">
      <Name Culture="en-us">Device academy</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c1c4c02701b49c8869bd62adb6b70de",
        "settingsUdi": "umb://element/d25a758c5a5f4d728bbd7564cff1db71"
      },
      {
        "contentUdi": "umb://element/07a4be1421d545f3ac089ccd62456399",
        "settingsUdi": "umb://element/428635a13c7d49dfa7d873c6614ad461"
      },
      {
        "contentUdi": "umb://element/1fec2daf858b425dbfd592aff1379c28",
        "settingsUdi": "umb://element/0b27d7a75a0b449091db2999013fbda6"
      },
      {
        "contentUdi": "umb://element/6521d4f131074d90b63c1e3ea3148313",
        "settingsUdi": "umb://element/9d4930ffd3fe437b957a8691faf8e5b4"
      },
      {
        "contentUdi": "umb://element/fdf27d14335f48edb0972a73f85cf485",
        "settingsUdi": "umb://element/133936b5a53d418d8f47bc2f2bc0f817"
      },
      {
        "contentUdi": "umb://element/eb79271c1bf44bec9aba9cdc8bdff547",
        "settingsUdi": "umb://element/c45f9a1afc774da1af2db8f8194adbf5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/9c1c4c02701b49c8869bd62adb6b70de",
      "title": "",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1639dac476e04c799811c2d67085f5dc"
            },
            {
              "contentUdi": "umb://element/9afdebf6035740bc85ae7f0b2d736fcf"
            },
            {
              "contentUdi": "umb://element/23095aec5f94426f98cf721358d6e81d"
            },
            {
              "contentUdi": "umb://element/44780275a4074fb18202749ef785f5fe"
            },
            {
              "contentUdi": "umb://element/501f48dec41c40019b2a13bf0a5572f2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/1639dac476e04c799811c2d67085f5dc",
            "title": "",
            "text": {
              "markup": "<p>- An introduction to the self-injection landscape</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/9afdebf6035740bc85ae7f0b2d736fcf",
            "title": "",
            "text": {
              "markup": "<p>- A deep dive into autoinjector development</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/23095aec5f94426f98cf721358d6e81d",
            "title": "",
            "text": {
              "markup": "<p>- Understanding clinical trial and regulatory processes</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/44780275a4074fb18202749ef785f5fe",
            "title": "",
            "text": {
              "markup": "<p>- Gearing up for the manufacture, scale up, and ramp-up processes</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/501f48dec41c40019b2a13bf0a5572f2",
            "title": "",
            "text": {
              "markup": "<p>- Addressing post-launch and lifecycle management</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/07a4be1421d545f3ac089ccd62456399",
      "title": "An introduction to the self-injection landscape",
      "description": {
        "markup": "<p><span>Discover the evolving world of self-injection devices for biologics and how changing healthcare trends are shaping their development and use. Learn about key administration methods and emerging market needs. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover now",
          "url": "/"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/1fec2daf858b425dbfd592aff1379c28",
      "title": "A deep dive into autoinjector development",
      "description": {
        "markup": "<p>Explore the critical steps in developing combination products, including the challenges and innovations driving autoinjector design. See how platform solutions can accelerate time-to-market.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover now",
          "url": "/"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/6521d4f131074d90b63c1e3ea3148313",
      "title": "Understanding clinical trial and regulatory processes",
      "description": {
        "markup": "<p>Understand the regulatory pathways and strategies that guide combination product development. From clinical trials to global market approval, discover the critical steps in bringing biologics to market.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Read more",
          "url": "/"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/fdf27d14335f48edb0972a73f85cf485",
      "title": "Gearing up for the manufacture, scale up & ramp up processes",
      "description": {
        "markup": "<p>Learn about the complexities of manufacturing combination products, and how an integrated approach to design, tooling, and scalability ensures a smooth production process from start to finish.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover now",
          "url": "/"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/eb79271c1bf44bec9aba9cdc8bdff547",
      "title": "Addressing post-launch and lifecycle management",
      "description": {
        "markup": "<p><span>Discover the importance of post-market surveillance and lifecycle management for combination products. Understand the regulatory obligations and best practices for maintaining product quality and safety.<br></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Explore more",
          "url": "/"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d25a758c5a5f4d728bbd7564cff1db71",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/428635a13c7d49dfa7d873c6614ad461",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0b27d7a75a0b449091db2999013fbda6",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/9d4930ffd3fe437b957a8691faf8e5b4",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/133936b5a53d418d8f47bc2f2bc0f817",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c45f9a1afc774da1af2db8f8194adbf5",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f43e201044a6422cb0808c5555ffc0aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/f43e201044a6422cb0808c5555ffc0aa",
      "title": "Device academy",
      "text": {
        "markup": "<p>Dive into the evolving world of drug delivery devices and combination products. Device Academy by SHL Medical explores the background, development processes, and future trends shaping the landscape of self-injection systems and combination products.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>