<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bee6ab7-2e1c-4f26-9848-06a499c64249" Alias="Downloads" Level="3">
  <Info>
    <Parent Key="db3ce2a7-cda2-4108-a67c-5976aed6650b">News and insights</Parent>
    <Path>/Homepage/NewsAndInsights/Downloads</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-12-02T14:10:50</CreateDate>
    <NodeName Default="Downloads">
      <Name Culture="en-us">Downloads</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/37c82fef986c45dd8d27197ad93153ed",
        "settingsUdi": "umb://element/6c766c863c53452aad317be325d8f7a1"
      },
      {
        "contentUdi": "umb://element/ef3fcbed135b4be8a2af7df21bbf72c2",
        "settingsUdi": "umb://element/e7175b51819740918b8a8b68c217171c"
      },
      {
        "contentUdi": "umb://element/37361b435c944b578c1311dff3374a35",
        "settingsUdi": "umb://element/659d5c348a7e4c92ab8456464d706b64"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/ef3fcbed135b4be8a2af7df21bbf72c2",
      "title": "Whitepapers",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c937291b5c244cba9c955257eddb9e63"
            },
            {
              "contentUdi": "umb://element/0491d050420b47f1b7e424e563595e4d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/c937291b5c244cba9c955257eddb9e63",
            "title": "Molly® Autoinjector White Paper",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"kxrk5qpg5fqsmn99rbpg\",\"FileName\":\"Molly-Autoinjector-White-Paper_SHL-Medical-1.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kxrk5qpg5fqsmn99rbpg/Molly-Autoinjector-White-Paper_SHL-Medical-1.pdf\",\"AssetId\":\"jpw99cgbh7h62p2kmrgpqjms\",\"AssetName\":\"Molly-Autoinjector-White-Paper SHL-Medical-1\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/0491d050420b47f1b7e424e563595e4d",
            "title": "Auto Injectors From Planning to Launch",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"kcjvrnqvvpg3x627mgr56qrh\",\"FileName\":\"SHL_WhitePaper_Auto_Injector_From_Planning_to_Lunch_201709.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kcjvrnqvvpg3x627mgr56qrh/SHL_WhitePaper_Auto_Injector_From_Planning_to_Lunch_201709.pdf\",\"AssetId\":\"5s473khs4g48cw7sk2bx35r\",\"AssetName\":\"SHL WhitePaper Auto Injector From Planning to Lunch 201709\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/37361b435c944b578c1311dff3374a35",
      "title": "Want to dive deeper?",
      "description": {
        "markup": "<p>Discover how our unique approach and strategic vision set us apart. Learn more about why we are the trusted partner for innovative self-injection solutions.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Why choose us",
          "udi": "umb://document/ce62a422eecf4c7784aa75c9947b7b3f"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": null
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/37c82fef986c45dd8d27197ad93153ed",
      "title": "Articles",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c538267f2b7041d48aa4b3043c8c1dd1"
            },
            {
              "contentUdi": "umb://element/891ed016d16b41a1853def6c8d7dacab"
            },
            {
              "contentUdi": "umb://element/3094b80778984cb5aeb6ce5f9c8086ca"
            },
            {
              "contentUdi": "umb://element/777bd5e63bad4d65af8c614879a06359"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/c538267f2b7041d48aa4b3043c8c1dd1",
            "title": "Revolutionizing Drug-Device Development with SHL Medical's Elexy",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"hknk85vxtq3pkq46fkgf73gh\",\"FileName\":\"Revolutionizing-Drug-Device-Development-with-SHL-Medical-Elexy.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/hknk85vxtq3pkq46fkgf73gh/Revolutionizing-Drug-Device-Development-with-SHL-Medical-Elexy.pdf\",\"AssetId\":\"939vtx5kh35nj9pmc84c5qb\",\"AssetName\":\"Revolutionizing-Drug-Device-Development-with-SHL-Medical-Elexy\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/891ed016d16b41a1853def6c8d7dacab",
            "title": "Revolutionizing autoinjector assembly with SHL’s Semi-Modular Automatic Robot Track",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"7hbjbrjkrb8tn6cm3qnx6x5\",\"FileName\":\"revolutionizing-autoinjector-assembly.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/7hbjbrjkrb8tn6cm3qnx6x5/revolutionizing-autoinjector-assembly.pdf\",\"AssetId\":\"txxrsjnbbqcp6wwzrb3p4t\",\"AssetName\":\"WPF046 SHL FP ADV v2\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/3094b80778984cb5aeb6ce5f9c8086ca",
            "title": "SHL Medical's Elexy™: Redefining Possibilities",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"vts477jfttst58gcfg4vjxs\",\"FileName\":\"SHL_Medical_Elexy_Redefining_Possibilities.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vts477jfttst58gcfg4vjxs/SHL_Medical_Elexy_Redefining_Possibilities.pdf\",\"AssetId\":\"wjsv3xr3hqsspg874f5c5cz\",\"AssetName\":\"SHL Medical Elexy Redefining Possibilities\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/777bd5e63bad4d65af8c614879a06359",
            "title": "Empowering self-treatment to tackle cardiometabolic diseases",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"3hnrtwktgx6x6f45jwnrzv7\",\"FileName\":\"SHL-Medical-PMPS-cardiometabolic.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3hnrtwktgx6x6f45jwnrzv7/SHL-Medical-PMPS-cardiometabolic.pdf\",\"AssetId\":\"kn3hhxzfvvchgsq4jqjn6tw\",\"AssetName\":\"SHL-Medical-PMPS-cardiometabolic\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e7175b51819740918b8a8b68c217171c",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/659d5c348a7e4c92ab8456464d706b64",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/6c766c863c53452aad317be325d8f7a1",
      "identifier": "articles",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/362a6de69ac84febbc6b115f065c3841"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/362a6de69ac84febbc6b115f065c3841",
      "title": "Downloads",
      "text": {
        "markup": "<p>Find what you need on our Downloads page! Here, you’ll find the articles, brochures, and product cards, everything is just a click away</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Explore and download SHL Medical's publications and press releases. Stay updated with the latest news and insights from our company.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Downloads | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>