<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef9871ae-2da7-4fb0-8237-c86c847f6b4b" Alias="Success Stories" Level="3">
  <Info>
    <Parent Key="db3ce2a7-cda2-4108-a67c-5976aed6650b">News and insights</Parent>
    <Path>/Homepage/NewsAndInsights/SuccessStories</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:25:16</CreateDate>
    <NodeName Default="Success Stories">
      <Name Culture="en-us">Success Stories</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/097205c24f154ec39893356d7e2bbc51",
        "settingsUdi": "umb://element/9e5d3a24fd6f4f18acebccb9dd614a05"
      },
      {
        "contentUdi": "umb://element/cad55fab437449b691237613af33bfd3",
        "settingsUdi": "umb://element/7ce9a0bacb444f53b3e30430e3ede928"
      },
      {
        "contentUdi": "umb://element/9e74656021694d20a16461d525b7daca",
        "settingsUdi": "umb://element/8a0139e35a01474c90762c8bfa013541"
      },
      {
        "contentUdi": "umb://element/e4ca4d48ed9d4fc199c2c76b421e3b7b",
        "settingsUdi": "umb://element/79127935f54c4f488942108e8e111358"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/097205c24f154ec39893356d7e2bbc51",
      "title": "Winning combinations",
      "description": {
        "markup": "<p>Since the launch of our first injector in 1996, we have partnered with leading pharmaceutical brands to deliver combination products that have transformed patient care worldwide. These winning combinations have been developed and approved globally, improving the quality of life for millions of patients.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover our products",
          "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
        }
      ],
      "secondaryButton": [
        {
          "name": "Explore our services",
          "udi": "umb://document/65bc4c019a334750b18b597998595edf"
        }
      ],
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b29e214382c54f6fa3b240cfaf8fa139"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/b29e214382c54f6fa3b240cfaf8fa139",
            "image": [
              "{\"Id\":\"6hqbhps266k9tp6kbzn38c\",\"FileName\":\"6_Drug_E_Intellectual-Property.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/6hqbhps266k9tp6kbzn38c/6_Drug_E_Intellectual-Property.jpg\",\"AssetId\":\"xcxxm7q88ggphp56t7792zcj\",\"AssetName\":\"6 Drug E Intellectual-Property\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/cad55fab437449b691237613af33bfd3",
      "title": "Our successes",
      "description": "Over the past 2 decades, we have become a trusted partner for innovative drug delivery solutions. From Quick to Market™ services to our first preconfigured autoinjector, we have helped redefine industry standards. Every project is developed with our biopharma clients to ensure efficient and safe drug delivery.\n",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d01af4208a3e44bca459d63c892b09b3"
            },
            {
              "contentUdi": "umb://element/618b836fce7c4772b4384c1fa8408c79"
            },
            {
              "contentUdi": "umb://element/be2fa44a37064660a8fbf7134702506d"
            },
            {
              "contentUdi": "umb://element/e88072ff79e8420f9a8295f7ccff9e7b"
            },
            {
              "contentUdi": "umb://element/ee774b6313964af8a070beaa35e36df9"
            },
            {
              "contentUdi": "umb://element/2aaa46a635f74c1080eec55b7d23de9d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d01af4208a3e44bca459d63c892b09b3",
            "title": "Quick to Market™ services",
            "description": "Our Quick to Market™ services accelerate product launches by combining in-house expertise with streamlined processes. Supported by this program, the Molly® platform achieved key milestones within a year, advancing from FDA approval to commercial delivery in under a month.",
            "image": [
              "{\"Id\":\"r9chxngmjrpvghxxpmqtx9\",\"FileName\":\"molly-tiers-optimized-mailshot-transparent.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/r9chxngmjrpvghxxpmqtx9/molly-tiers-optimized-mailshot-transparent.png\",\"AssetId\":\"mpxc6p8vxr7gjrp33vprqrz\",\"AssetName\":\"molly-tiers-optimized-mailshot-transparent\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/618b836fce7c4772b4384c1fa8408c79",
            "title": "The modular platform autoinjector",
            "description": "The Molly® platform supports customizable device design for biologics, including the first high-volume autoinjector (≥2.0 mL). Its modular approach has seen continued success across global markets.",
            "image": [
              "{\"Id\":\"4pqngpkvx7vqf9kbvgcbk8b\",\"FileName\":\"Soul_and_Risa.144.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4pqngpkvx7vqf9kbvgcbk8b/Soul_and_Risa144.png\",\"AssetId\":\"6n9mvkr3s3wbsmgwmk8fvwrb\",\"AssetName\":\"Soul and Risa.144\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/be2fa44a37064660a8fbf7134702506d",
            "title": "The first preconfigured autoinjector",
            "description": "Introduced in 2010, Molly® is our first preconfigured autoinjector, developed to expedite development timelines and reduce costs. By 2016, it had earned the 2011 Good Design Award and supported treatments for migraines and autoimmune diseases.",
            "image": [
              "{\"Id\":\"s5hqqx5w7fcq9qxkpk69h5\",\"FileName\":\"Molly-success-story_success1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s5hqqx5w7fcq9qxkpk69h5/Molly-success-story_success1.jpg\",\"AssetId\":\"p949jwqrsb4q8cbpxkq3bqn\",\"AssetName\":\"Molly-success-story success1\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/e88072ff79e8420f9a8295f7ccff9e7b",
            "title": "High-precision autoinjector for viscous formulations",
            "description": "The development of our Precision Pen Injector (PPI®) highlights our success in addressing industry challenges. Featuring our patented Rotaject® technology for precise dose delivery of viscous formulations, it combines innovation with design excellence, earning the 2009 Red Dot Design Award.",
            "image": [
              "{\"Id\":\"3x88mk6qkckfsjpf4mnj\",\"FileName\":\"PPI_1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3x88mk6qkckfsjpf4mnj/PPI_1.jpg\",\"AssetId\":\"fs89t32chrctvbgjm92m38\",\"AssetName\":\"PPI 1\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/ee774b6313964af8a070beaa35e36df9",
            "title": "Button activated autoinjector",
            "description": "Launched in 2006, the DAI® autoinjector was one of the first modern autoinjectors. Designed for easier self-injection, it established SHL Medical as a market leader and earned the 2006 Taiwan Excellence Award.",
            "image": [
              "{\"Id\":\"67j7kxj7rnrvbbrkwnbcw3w\",\"FileName\":\"DAI-2-4.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/67j7kxj7rnrvbbrkwnbcw3w/DAI-2-4.png\",\"AssetId\":\"jztfnkwtm44bx8r4vrnbn7b\",\"AssetName\":\"DAI-2-4\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/2aaa46a635f74c1080eec55b7d23de9d",
            "title": "Solution for cartridge-based autoinjector",
            "description": "Our innovative Needle Isolation Technology (NIT®) was integrated to a cartridge-based autoinjector supporting the treatment of type 2 diabetes. The NIT autoinjector was selected as the Gold Winner of the 2019 Medical Design Excellence Awards (MDEA).",
            "image": [
              "{\"Id\":\"mvtkc7rmqqr89ckr3xrb27tg\",\"FileName\":\"Medical-Design-Excellence-Awards_2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mvtkc7rmqqr89ckr3xrb27tg/Medical-Design-Excellence-Awards_2.jpg\",\"AssetId\":\"9jfc4vfj5v75pg426rk5fkn\",\"AssetName\":\"Medical-Design-Excellence-Awards 2\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/9e74656021694d20a16461d525b7daca",
      "title": "Want to learn more?",
      "text": {
        "markup": "<p><span>Whether you want to learn more about who we are, our history, or our latest news, take a closer look and discover what sets us apart in the world of drug delivery. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2bcaf23af8274af7b3982ac1345ad1de"
            },
            {
              "contentUdi": "umb://element/f6a24896fd3044379deb953afc7fa32e"
            },
            {
              "contentUdi": "umb://element/3a20ad7a043d463f94fef8773c2a0797"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/2bcaf23af8274af7b3982ac1345ad1de",
            "title": "About us ",
            "subTitle": "",
            "text": {
              "markup": "<p><span>Get to know the purpose that drives SHL Medical as a leader in drug delivery solutions.&nbsp;</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"5c287585b9wqkfnmbcm5wq8s\",\"FileName\":\"TW_LF_building_20180703-20180703-CF003937- - - _s.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5c287585b9wqkfnmbcm5wq8s/TW_LF_building_20180703-20180703-CF003937-_-_-__s.png\",\"AssetId\":\"ctnbgp6nq9z5wj4f67x4m89\",\"AssetName\":\"TW_LF_building_20180703-20180703-CF003937-\\u5168\\u666F-\\u7DE8\\u8F2F-\\u7DE8\\u8F2F\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "About us",
                "udi": "umb://document/0f38816ffe88454a9b765bdf579f2766"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/f6a24896fd3044379deb953afc7fa32e",
            "title": "Our history ",
            "subTitle": "",
            "text": {
              "markup": "<p><span>Explore the milestones that have shaped SHL Medical since our founding. From early breakthroughs to global expansion.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"mmc8vxqhc9n7fg6wb5mw58\",\"FileName\":\"HomeSlider_NewBeginnings_v0.2_200713.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mmc8vxqhc9n7fg6wb5mw58/HomeSlider_NewBeginnings_v02_200713.jpg\",\"AssetId\":\"b49tfrzwpkxhbs873hch6fq\",\"AssetName\":\"HomeSlider NewBeginnings v0.2 200713\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Our history",
                "udi": "umb://document/c47fa347f62348a5a11f3f10124a5ae4"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/3a20ad7a043d463f94fef8773c2a0797",
            "title": "News and insights",
            "subTitle": "",
            "text": {
              "markup": "<p>Stay updated with the latest developments from SHL Medical, from cutting-edge products to industry thought leadership.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"mrj78zmzgxcvhcszgp3zwcv\",\"FileName\":\"PDA Japan 2023_shl-medical-pfss-Prefilled Syringe Seminar-tokyo-2023-3.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mrj78zmzgxcvhcszgp3zwcv/PDA_Japan_2023_shl-medical-pfss-Prefilled_Syringe_Seminar-tokyo-2023-3.tif\",\"AssetId\":\"tqgs4vwk8r9qx8xbkz5bsj\",\"AssetName\":\"PDA Japan 2023_shl-medical-pfss-Prefilled Syringe Seminar-tokyo-2023-3\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "News and insights",
                "udi": "umb://document/db3ce2a7cda24108a67c5976aed6650b"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/e4ca4d48ed9d4fc199c2c76b421e3b7b",
      "title": "Please contact us, we are happy to answer your questions!",
      "text": {
        "markup": "<p>For questions, ideas, partnership inquiries, or further requests, please don't hesitate to reach out. We will get back to you.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/624c08fc07cb4315b1f0f4f94f4e68fa"
            },
            {
              "contentUdi": "umb://element/ac115dc56e81421a8865c10fd120e152"
            },
            {
              "contentUdi": "umb://element/c5209e7c744e464997ebe771cb2c7336"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/624c08fc07cb4315b1f0f4f94f4e68fa",
            "icon": "",
            "title": "Email us ",
            "text": {
              "markup": "<p><span>We usually respond within 24 hours on working days. <br></span>info@shl-medical.com</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/ac115dc56e81421a8865c10fd120e152",
            "icon": "",
            "title": "Call us ",
            "text": {
              "markup": "<p>Mon-Fri from 8:00AM-5:00PM (GMT+2) <br>+41 41 368 00 00</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/c5209e7c744e464997ebe771cb2c7336",
            "icon": "",
            "title": "Visit us ",
            "text": {
              "markup": "<p><span>You can find our office HQ at <br>Gubelstrasse 22 <br>6300 Zug, Switzerland</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/9e5d3a24fd6f4f18acebccb9dd614a05",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/7ce9a0bacb444f53b3e30430e3ede928",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8a0139e35a01474c90762c8bfa013541",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/79127935f54c4f488942108e8e111358",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4bfbf3ba009940a18e7f1d7581783f11"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/4bfbf3ba009940a18e7f1d7581783f11",
      "title": "Success Stories",
      "text": {
        "markup": "<p><span lang=\"EN-US\">Since 1996, we have partnered with leading pharmaceutical companies to develop over 50 globally approved drug delivery devices. Focused on addressing conditions such as multiple sclerosis, diabetes, and migraine, we have established ourselves as a leader in medical innovation with several notable highlights over the years.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Discover how SHL Medical's innovative drug delivery solutions have led to transformative healthcare outcomes and positively impacting patient care.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Success Stories | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>