.t-general {
  --color-background: #{$color-dark-blue};
  --color-content: #{$color-white};
  --focus-theme-color: #{$color-light-blue};

  // Buttons
  --button-primary-font-color: var(--color-background);
  --button-primary-background-color: var(--color-content);
  --button-primary-border-color: var(--color-content);
  --button-secondary-font-color: var(--color-content);
  --button-secondary-border-color: var(--color-content);

  // Links
  --link-theme-underline-color: #{rgba($color-white-rgb, 0.2)};
}
