.t-dark-pink {
  --color-background: #{$color-dark-pink};
  --color-content: #{$color-white};
  --focus-theme-color: #{$color-light-blue};
  --color-error: #{$color-pale-pink};

  // Buttons
  --button-primary-font-color: #{$color-dark-pink};
  --button-primary-background-color: var(--color-content);
  --button-primary-border-color: var(--color-content);
  --button-secondary-font-color: var(--color-content);
  --button-secondary-border-color: var(--color-content);

  // Links
  --theme-color-content-60: #{rgba($color-white-rgb, 0.6)};
  --theme-color-content-20: #{rgba($color-white-rgb, 0.2)};

  // Cards
  --color-card-background: #{$color-pale-pink};
  --color-card-content: #{$color-dark-pink};

  // Job listing item
  --job-listing-item-color: #{$color-dark-pink};
  --job-listing-item-bg-color: #{$color-white};
  --job-listing-item-color-hover: #{$color-dark-pink};
  --job-listing-item-bg-color-hover: #{$color-pale-pink};
  --job-listing-item-tag-bg-color: #{$color-pale-pink};
}

html.t-dark-pink {
  background-color: var(--color-background);
}
