.t-pastel-blue {
  --color-background: #{$color-pastel-blue};
  --color-content: #{$color-dark-blue};
  --focus-theme-color: #{$color-light-blue};

  // Buttons
  --button-primary-font-color: #{$color-white};
  --button-primary-background-color: var(--color-content);
  --button-primary-border-color: var(--color-content);
  --button-secondary-font-color: var(--color-content);
  --button-secondary-border-color: var(--color-content);

  // Links
  --theme-color-content-60: #{rgba($color-dark-blue-rgb, 0.6)};
  --theme-color-content-20: #{rgba($color-dark-blue-rgb, 0.2)};

  // Cards
  --color-card-background: #{$color-dark-blue};
  --color-card-content: #{$color-white};

  // Product card
  --color-spec-value-level-default: var(--theme-color-content-20);
}

html.t-pastel-blue {
  background-color: var(--color-background);
}
