.t-general {
  --color-background: #{$color-dark-blue};
  --color-content: #{$color-white};
  --focus-theme-color: #{$color-light-blue};

  // Buttons
  --button-primary-font-color: var(--color-background);
  --button-primary-background-color: var(--color-content);
  --button-primary-border-color: var(--color-content);
  --button-secondary-font-color: var(--color-content);
  --button-secondary-border-color: var(--color-content);

  // Links
  --theme-color-content-60: #{rgba($color-white-rgb, 0.6)};
  --theme-color-content-20: #{rgba($color-white-rgb, 0.2)};

  // Cards
  --color-card-background: #{$color-white};
  --color-card-content: #{$color-dark-blue};
}

html.t-general {
  background-color: var(--color-background);
}
