.t-pale-green {
  --color-background: #{$color-pale-green};
  --color-content: #{$color-dark-green};
  --focus-theme-color: #{$color-light-blue};

  // Buttons
  --button-primary-font-color: #{$color-white};
  --button-primary-background-color: var(--color-content);
  --button-primary-border-color: var(--color-content);
  --button-secondary-font-color: var(--color-content);
  --button-secondary-border-color: var(--color-content);

  // Links
  --link-theme-underline-color: #{rgba($color-dark-green-rgb, 0.2)};
}
