@model DTNL.UmbracoCms.Web.Components.FormOverlay

<div class="c-form-overlay t-white">
    <partial name="Modal" model="@Model.Modal">
        <partial name="PardotForm" model="@Model.PardotForm" />
    </partial>
</div>
