<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f5e5f7b-07b6-4d03-803b-d2a98b17ac08" Alias="404" Level="3">
  <Info>
    <Parent Key="9a334b5a-8d1e-4e5c-95c5-6f9c2658dd2c">Special pages</Parent>
    <Path>/Homepage/SpecialPages/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageError</ContentType>
    <CreateDate>2024-11-12T10:58:51</CreateDate>
    <NodeName Default="404">
      <Name Culture="en-us">404</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="87edb1bd-f992-4f20-9ba6-a15ae7548424">PageError</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <errorDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<ul>\n<li>Check the URL for any errors</li>\n<li>Head back to our homepage</li>\n<li>Or contact our support team for assistance</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </errorDescription>
    <errorMessage>
      <Value Culture="en-us"><![CDATA[We can’t find the page you’re looking for, here’s what you can do]]></Value>
    </errorMessage>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/288dd91cd2c14a2b8fc0ab096e80e091"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/288dd91cd2c14a2b8fc0ab096e80e091",
      "title": "404",
      "text": "",
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <primaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </primaryLink>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <secondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </secondaryLink>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>