<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bbbfaf5-0bcf-4ef0-bd6e-e8ba6865e9ab" Alias="500" Level="3">
  <Info>
    <Parent Key="9a334b5a-8d1e-4e5c-95c5-6f9c2658dd2c">Special pages</Parent>
    <Path>/Homepage/SpecialPages/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageError</ContentType>
    <CreateDate>2024-11-12T10:59:39</CreateDate>
    <NodeName Default="500">
      <Name Culture="en-us">500</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="87edb1bd-f992-4f20-9ba6-a15ae7548424">PageError</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <errorDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>To be created by SHL</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </errorDescription>
    <errorMessage>
      <Value Culture="en-us"><![CDATA[To be created by SHL]]></Value>
    </errorMessage>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/440c89c506054e31bc465b7f1f87f2a5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/440c89c506054e31bc465b7f1f87f2a5",
      "title": "500",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <primaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </primaryLink>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <secondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </secondaryLink>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>