.c-slogan {
  @include d1;
  overflow: hidden;
  width: 100%;
  line-height: 1.1;
  display: flex;
  margin-block: $spacing-48;

  .is--reduced-motion & {
    @include h1;
    line-height: 1.1;
    justify-content: center;
  }

  @include screen-lg-and-bigger {
    margin-bottom: $spacing-80;
  }
}

.slogan__inner {
  align-items: center;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  will-change: transform;

  [js-hook-slogan] & {
    animation: slogan-left 30s linear infinite;
  }

  .is--reduced-motion & {
    animation: none;

    &:not(:first-child) {
      display: none;
    }
  }
}

.slogan__content {
  display: inline-block;
  white-space: nowrap;
  padding-inline-end: $spacing-24;

  .is--reduced-motion & {
    white-space: normal;
    padding-inline-end: 0;

    &:not(:first-child) {
      display: none;
    }
  }

  @include screen-lg-and-bigger {
    padding-inline-end: $spacing-32;
  }
}

@keyframes slogan-left {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
