@using DTNL.UmbracoCms.Web.Components
@model DTNL.UmbracoCms.Web.Components.OverviewItems

<div class="o-container" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px " js-hook-replace-content="number-items">
    @foreach (CardKnowledge resultCard in Model.ResultCards)
    {
        <partial name="CardKnowledge" model="@resultCard" />
    }
</div>
