<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8454ed3-4152-4ab8-9d90-7ed2dd51c524" Alias="Responsible business practices" Level="4">
  <Info>
    <Parent Key="8da37bc8-c26f-4be2-87c4-7df9c7604d56">Sustainability</Parent>
    <Path>/Homepage/AboutUs/Sustainability/ResponsibleBusinessPractices</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:27:15</CreateDate>
    <NodeName Default="Responsible business practices">
      <Name Culture="en-us">Responsible business practices</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/90b447a2f5ae4a828b7d003ffbef16bb",
        "settingsUdi": "umb://element/2163e541fcd8483c994b9c7419d08adb"
      },
      {
        "contentUdi": "umb://element/aed070a0f9f346a789bc5d711367bd1c",
        "settingsUdi": "umb://element/090a4e58c7c94830af27891a063134e5"
      },
      {
        "contentUdi": "umb://element/fa6da89d3a2145ac87f100e8601d2914",
        "settingsUdi": "umb://element/637f4ce950ba48b2a683fba83ab854cb"
      },
      {
        "contentUdi": "umb://element/edbd1adbaae94cbc9f055492efc8f9ae",
        "settingsUdi": "umb://element/209dc0e295aa4657915c0a3a57720937"
      },
      {
        "contentUdi": "umb://element/7080ed6403b8423e87be9a54c0fe4056",
        "settingsUdi": "umb://element/810af39a4c434f1b8dcca6856383e4b8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/90b447a2f5ae4a828b7d003ffbef16bb",
      "title": "Workplace goals",
      "description": {
        "markup": "<p><span>To establish a sustainable business foundation for our people and supply chain, we set clear goals and define precise actions.<br><br>By 2025<br>- 30% of senior management roles are held by women<br>- 100% of our suppliers have signed the Code of Conduct<br>- 90% of our suppliers have been assessed for sustainability<br>- 100% of our employees are annually trained on ethics\u2028<br><br>By 2030<br>- A minimum score of 7.8 on Employee Engagement<br>- A maximum of 1 Lost Time Injury per million working hours</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/aed070a0f9f346a789bc5d711367bd1c",
      "title": "Our path forward",
      "text": {
        "markup": "<p><span>We uphold the intrinsic worth of diversity, inclusion, and equal opportunity, fostering a culture where all individuals' unique perspectives and backgrounds are embraced and valued. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/aa9cdd5869a449d59ebcbfaa20648f7a"
            },
            {
              "contentUdi": "umb://element/e7905d1b82ee486caf9b047a935df59e"
            },
            {
              "contentUdi": "umb://element/4d28d10519cc4cadaa6d8d133456a05a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/aa9cdd5869a449d59ebcbfaa20648f7a",
            "title": "Corporate ethics ",
            "text": {
              "markup": "<p>We run ethical training programs for employees to foster a culture of responsible behavior and integrity.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/e7905d1b82ee486caf9b047a935df59e",
            "title": "Health and safety ",
            "text": {
              "markup": "<p>We prioritize a workplace focused on employee health and safety. We proactively prevent injuries.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/4d28d10519cc4cadaa6d8d133456a05a",
            "title": "Development ",
            "text": {
              "markup": "<p><span>We recruit top-tier talent and foster their growth through robust developmental initiatives. </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/fa6da89d3a2145ac87f100e8601d2914",
      "title": "Related publications",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/154abbbbf869437bbd2336efe65caf92"
            },
            {
              "contentUdi": "umb://element/bb354d08eae144e0a83847420c6c0f81"
            },
            {
              "contentUdi": "umb://element/0bfcb0d5d6be4de4b3fcbdaeb73e826c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/154abbbbf869437bbd2336efe65caf92",
            "title": "Sustainability Report 2023",
            "description": "In this report, we share our goals, initiatives, and progress of our Sustainability Strategy 2030.",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/bb354d08eae144e0a83847420c6c0f81",
            "title": "Supplier Code of Conduct",
            "description": "Guidelines and expectations for suppliers regarding ethical behavior, sustainability, and social responsibility.",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/0bfcb0d5d6be4de4b3fcbdaeb73e826c",
            "title": " Interview about sustainability",
            "description": "Dora Rio of SHL Medical discusses various aspects of the company’s approach to sustainability.",
            "icon": "",
            "file": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/7080ed6403b8423e87be9a54c0fe4056",
      "title": "Latest news",
      "text": {
        "markup": "<p>Discover all</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": ""
    },
    {
      "contentTypeKey": "ba13aea6-6c44-46dd-bfe4-cf370e95a047",
      "udi": "umb://element/edbd1adbaae94cbc9f055492efc8f9ae",
      "title": "",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6a7babc72fa74c7281521b68fa14ce7f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6038619c-71e5-4d67-b89c-3d3af0683162",
            "udi": "umb://element/6a7babc72fa74c7281521b68fa14ce7f",
            "image": [
              "{\"Id\":\"8k6h5qgf6gp8k3bhfvpm3w\",\"FileName\":\"2023_SHL-Medical_Silver-Medal.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8k6h5qgf6gp8k3bhfvpm3w/2023_SHL-Medical_Silver-Medal.png\",\"AssetId\":\"56svrf9txj9tk6fh9g3wpx\",\"AssetName\":\"2023 SHL-Medical Silver-Medal\",\"AssetDescription\":\"\"}"
            ],
            "sizeRatio": "",
            "caption": ""
          }
        ],
        "settingsData": []
      },
      "showCarousel": "1"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/2163e541fcd8483c994b9c7419d08adb",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/090a4e58c7c94830af27891a063134e5",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/637f4ce950ba48b2a683fba83ab854cb",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/810af39a4c434f1b8dcca6856383e4b8",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/209dc0e295aa4657915c0a3a57720937",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cfb7fe33557e436ba129b07ff6365542"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/cfb7fe33557e436ba129b07ff6365542",
      "title": "Responsible business practices",
      "text": {
        "markup": "<p>We create an empowering work environment that promotes diversity, equity, and inclusion, while ensuring the health and safety of our employees.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6feed15bd8f9422ab639b8e124cc037a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/6feed15bd8f9422ab639b8e124cc037a",
            "buttonIcon": "",
            "link": [
              {
                "name": "More about us",
                "udi": "umb://document/0f38816ffe88454a9b765bdf579f2766"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "0a5f5a",
  "label": "dark-green",
  "sortOrder": 7,
  "id": "12"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[We create an empowering work environment that promotes diversity, equity, and inclusion, while ensuring the health and safety of employees. Find out more.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Responsible Business Practices | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>