@using DTNL.UmbracoCms.Web.Components
@model DTNL.UmbracoCms.Web.Components.LanguageSwitch

<div class="c-language-switch">
    @foreach (LanguageSwitch.Language language in Model.Languages)
    {
        <a class="@(language.IsActive ? "active" : null)" href="@language.Url" title="@language.Label">
            <svg src="@language.Icon" />
        </a>
    }
</div>
