@import '../../../../node_modules/swiper/swiper.scss';

.c-carousel {
  position: relative;
  height: fit-content;

  .swiper-slide {
    height: auto;
  }
}

.carousel__footer {
  @include screen-md-and-smaller {
    display: none;
  }
}

.carousel__pagination {
  position: relative;
  margin-top: $spacing-64;
  height: 1px;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 1px;
    background-color: var(--color-content-20);
  }

  &.swiper-pagination-lock {
    display: none;
  }
}

.carousel__pagination-fill {
  width: 100%;
  height: 3px;
  transform-origin: 0%;
  background-color: var(--color-content);
}
