<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="4a792763-3b16-41a0-ae0d-fe0a75c26999" Alias="brandfolderFolder" Level="1">
  <Info>
    <Name>Brandfolder Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>65ef4300-4ce3-4f17-8894-8bd3ce5a5e98</Key>
      <Name>Brandfolder Folder</Name>
      <Alias>folderId</Alias>
      <Definition>6318f635-5d9b-4826-af52-29d1e7df0dff</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the folder which will be used to search assets]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="brandfolderSettings">Brandfolder Settings</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3dcfe97-97fb-43fa-82a5-89c5101257ba</Key>
      <Name>Brandfolder Section</Name>
      <Alias>sectionId</Alias>
      <Definition>e5b1a1b0-6b67-41fa-bcfd-b1d7d633189d</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. Select the section which will be used to search assets]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="brandfolderSettings">Brandfolder Settings</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure>
    <MediaType Key="de22cd50-efd2-47e3-a367-7bc4e8ff1bcf" SortOrder="0">brandfolderImage</MediaType>
    <MediaType Key="4a792763-3b16-41a0-ae0d-fe0a75c26999" SortOrder="1">brandfolderFolder</MediaType>
  </Structure>
  <Tabs>
    <Tab>
      <Key>141d4c2f-85b0-4e7c-94cc-fc1b5dd8d082</Key>
      <Caption>Brandfolder Settings</Caption>
      <Alias>brandfolderSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>