@model DTNL.UmbracoCms.Web.Components.Odometer

<div class="c-odometer" id="@Model.Id" js-hook-odometer>
    @foreach (int digit in Model.Digits)
    {
        <div class="odometer__digit-container" js-hook-odometer-digit-container>
            <div class="odometer__digit" data-number="@digit" data-dur="@Model.Direction">
                @(Model.Direction is "up" ? "0 9 8 7 6 5 4 3 2 1 0" : "0 1 2 3 4 5 6 7 8 9 0")
            </div>
        </div>
    }
</div>
