{% set careerDetailPageData = global.content.careerDetailPage %}
{% set footerScrollingText = careerDetailPageData.footerScrollingText %}
{% set showCarouselMouseIndicator = true %}

{% set theme = "pale-blue" %}
{% set themeColor = "#662949" %}

{% extends 'layouts/default.html' %}

{% from 'hero-content.html' import heroContent %}
{% from 'media-section.html' import mediaSection %}
{% from 'text-media-list.html' import textMediaList %}
{% from 'text-media.html' import textMedia %}
{% from 'section-card-carousel.html' import sectionCardCarousel %}
{% from 'banner-quote.html' import bannerQuote %}
{% from 'section-job-vacancies.html' import sectionJobVacancies %}

{% block hero %}
  <!-- Todo finish hero-content with content data -->
  {{ heroContent(careerDetailPageData.hero) }}
{% endblock %}

{% block content %}

  {{ mediaSection(careerDetailPageData.mainImage | clone | merge({ variant: "no-padding" })) }}

  {{ sectionCardCarousel(careerDetailPageData.carousel1) }}

  {{ sectionCardCarousel(careerDetailPageData.carousel2) }}

  {{ textMedia(careerDetailPageData.textMedia) }}

  {{ textMediaList(careerDetailPageData.textMediaList2) }}

  {{ sectionCardCarousel(careerDetailPageData.carousel3) }}

  {{ sectionJobVacancies(careerDetailPageData.jobVacancies) }}

{% endblock %}
