{% set theme = "light-blue" %}
{% set themeColor = "#007cbe" %}
{% set footerScrollingText = global.content.contact.footerScrollingText %}

{% extends 'layouts/default.html' %}

{% from 'hero-content.html' import heroContent %}
{% from 'contact-block.html' import contactBlock %}
{% from 'map.html' import map %}

{% block hero %}
  {{ heroContent({
    breadcrumbs: global.content.contact.breadcrumbs,
    title: global.content.contact.hero.title
  }) }}
{% endblock %}

{% block content %}

  {{ contactBlock(global.content.contact.contactBlock) }}

  {{ map(global.content.map) }}

{% endblock %}

