{% set theme = "general" %}
{% set themeColor = "#082E55" %}
{% set headerIsWhite = false %}
{% set showFiltersModal = true %}

{% extends 'layouts/default.html' %}

{% from 'hero-content.html' import heroContent %}
{% from 'pagination.html' import pagination %}
{% from 'filters.html' import filters %}
{% from 'card-knowledge.html' import cardKnowledge %}
{% from 'layout-section.html' import layoutSection %}

{% set eventsData = global.content.eventsOverviewPage %}

{% block hero %}
  {{ heroContent(eventsData.hero) }}
{% endblock %}

{% block content %}

  {{ filters(eventsData.filter) }}

  <div js-hook-replace-content="overview-content" js-hook-gtm-overview="event">
    {% call layoutSection({
      variant: "grid",
      id: "content"
    }) %}
      {# this first for is just to show the same card multiple times #}
      {% for _ in range(3) %}
        {% for data in eventsData.cards %}
          {{ cardKnowledge(data) }}
        {% endfor %}
      {% endfor %}
    {% endcall %}

    {{ pagination (global.content.pagination) }}
  </div>

{% endblock %}
