{% set theme = "light-blue" %}
{% set themeColor = "#007cbe" %}
{% set headerIsWhite = true %}

{% extends 'layouts/default.html' %}

{% from 'hero-home.html' import heroHome %}
{% from 'pagination.html' import pagination %}

{% block hero %}
  {{ heroHome({
    title: global.content.home.hero.title,
    description: global.content.home.hero.description,
    ctas: global.content.home.hero.ctas,
    video: global.content.home.hero.video
  }) }}
{% endblock %}

{% block content %}
  <div class="o-container">
    <div class="s-rich-text">
      <h2>Todo: home</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis sollicitudin leo, eu aliquet nisi
        posuere ut. In eu mollis lectus, ac lacinia tellus. Nulla vel eros molestie, sagittis neque quis, fringilla
        diam. Nam est enim, semper in ligula et, hendrerit feugiat leo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nam a venenatis quam. Maecenas a eros vitae diam gravida pharetra. Integer bibendum nulla vitae
        pellentesque posuere. Sed scelerisque tellus eu porttitor ultricies. Donec ullamcorper ornare tortor, id euismod
        dolor porttitor ac. Phasellus fringilla vehicula elit, sit amet pharetra mi fringilla a. Morbi sapien orci,
        rhoncus id scelerisque et, viverra sit amet nisl. In quis felis pharetra, sodales massa vel, hendrerit turpis.
        Suspendisse consectetur purus justo, sed ornare dolor blandit id.</p>
    </div>
  </div>

  {{ pagination (global.content.pagination) }}

{% endblock %}
