{% set theme = "dark-pink" %}
{% set themeColor = "#662949" %}

{% set headerIsWhite = true %}
{% set showFiltersModal = true %}

{% extends 'layouts/default.html' %}

{% from 'hero-content.html' import heroContent %}
{% from 'pagination.html' import pagination %}
{% from 'filters.html' import filters %}
{% from 'job-listing-item.html' import jobListingItem %}
{% from 'layout-section.html' import layoutSection %}

{% set jobData = global.content.jobOverviewPage %}

{% block hero %}
  {{ heroContent(jobData.hero) }}
{% endblock %}

{% block content %}

  {{ filters(global.content.filters) }}

  <div js-hook-replace-content="overview-content">
    {% call layoutSection({
      variant: "grid-single-column",
      id: "content"
    }) %}
      {# this first for is just to show the same card multiple times #}
      {% for _ in range(3) %}
        {% for data in jobData.jobItems %}
          {{ jobListingItem(data) }}
        {% endfor %}
      {% endfor %}
    {% endcall %}

    {{ pagination (global.content.pagination) }}
  </div>

{% endblock %}
