<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb2aa18c-99a6-4972-8d85-3c08ac26c0ff" Alias="9562315Dd6657e11e5a2dd4e54072506" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dd6657e11e5a2dd4e54072506</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-23T08:10:21</CreateDate>
    <NodeName Default="9562315Dd6657e11e5a2dd4e54072506" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#7C442E]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkqdv43g/9562315dd6657e11e5a2dd4e54072506.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>