<?xml version="1.0" encoding="utf-8"?>
<Media Key="96be559c-dd3c-436e-87dd-bd8564dd31f5" Alias="Brandfolder Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandfolderImages</Path>
    <Trashed>false</Trashed>
    <ContentType>brandfolderFolder</ContentType>
    <CreateDate>2024-10-15T14:46:04</CreateDate>
    <NodeName Default="Brandfolder Images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <folderId>
      <Value><![CDATA[[
  "mwg84wj332k8hhkgr6qnkm"
]]]></Value>
    </folderId>
  </Properties>
</Media>