<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e5d9118-4f44-4dce-a17a-1a427be8f0b5" Alias="Elexy On Table 1PU 2Cassettes 1 20240711" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ElexyOnTable1PU2Cassettes120240711</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T13:53:42</CreateDate>
    <NodeName Default="Elexy On Table 1PU 2Cassettes 1 20240711" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#D3D3D3]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d0if0xse/elexy_on-table_1pu-2cassettes_1_20240711.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>