<?xml version="1.0" encoding="utf-8"?>
<Media Key="86d51023-0f89-4935-8d96-bd109d60f122" Alias="Entrance1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Entrance1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-25T12:45:05</CreateDate>
    <NodeName Default="Entrance1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#B5BEC4]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/euinlbuj/entrance1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>