<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb51e38b-6204-44d9-9a81-c2557e719e28" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-27T08:04:11</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>