<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8a5ab09-b3cc-4e7b-a09e-21f15a8d8a91" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-11T15:44:53</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>