<?xml version="1.0" encoding="utf-8"?>
<Media Key="f891c23e-2d07-4808-8b4c-875bca47b185" Alias="Molly Connected cap" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MollyConnectedCap</Path>
    <Trashed Parent="96be559c-dd3c-436e-87dd-bd8564dd31f5">true</Trashed>
    <ContentType>brandfolderImage</ContentType>
    <CreateDate>2024-10-15T14:57:54</CreateDate>
    <NodeName Default="Molly Connected cap" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <umbracoFile>
      <Value><![CDATA[[
  "rjjmfbzfnn488tt4h47z2j"
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>