<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f22176e-10c7-4a57-9603-3a3ea1c1ae5e" Alias="North Charleston USA Facility-NC-20240723-3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/NorthCharlestonUSAFacilityNC202407233</Path>
    <Trashed Parent="96be559c-dd3c-436e-87dd-bd8564dd31f5">true</Trashed>
    <ContentType>brandfolderImage</ContentType>
    <CreateDate>2024-10-15T17:15:28</CreateDate>
    <NodeName Default="North Charleston USA Facility-NC-20240723-3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <umbracoFile>
      <Value><![CDATA[[
  "https://cdn.bfldr.com/DTG6CG68/at/vqg8gpqcff9kvx89krq79q/vqg8gpqcff9kvx89krq79q?height=350&width=350"
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>