<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c1cc45c-1e75-4f12-820e-dd666aebd5ee" Alias="QA Content" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QAContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T11:11:29</CreateDate>
    <NodeName Default="QA Content" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>