<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc590bbd-f145-4d1e-846a-45308097b965" Alias="Samples" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Samples</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-22T13:57:01</CreateDate>
    <NodeName Default="Samples" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>