<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2575378-4c45-478e-9b28-cce7c32ad742" Alias="Shlmedical 2023Sustainabilityreport" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shlmedical2023Sustainabilityreport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-12-09T19:30:38</CreateDate>
    <NodeName Default="Shlmedical 2023Sustainabilityreport" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzjfpmsf/shlmedical_2023sustainabilityreport.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>