<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1d550e3-d505-4397-a31f-cad3ab51d51f" Alias="Video Container" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoContainer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-26T09:02:07</CreateDate>
    <NodeName Default="Video Container" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#BDC5C8]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2vinlqif/video-container.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>