<?xml version="1.0" encoding="utf-8"?>
<Media Key="beb3d1a3-7c1b-4363-b46f-68d12be5e7c6" Alias="FP Services" Level="2">
  <Info>
    <Parent Key="c4ad9922-4460-4989-be1f-c3f6f95c532b">DEPT TEST</Parent>
    <Path>/DEPTTEST/FPServices</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-31T15:30:40</CreateDate>
    <NodeName Default="FP Services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#888B95]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uxilhpq1/fp-services.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>