<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fbd209a-36cd-45fc-b637-a50abf41953c" Alias="Test Image 3" Level="2">
  <Info>
    <Parent Key="c4ad9922-4460-4989-be1f-c3f6f95c532b">DEPT TEST</Parent>
    <Path>/DEPTTEST/TestImage3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-31T15:30:40</CreateDate>
    <NodeName Default="Test Image 3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#0706A3]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tqql1d4n/test-image-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>