<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5a5ece9-c978-422a-b6e3-1de5837614f9" Alias="Test Image 4" Level="2">
  <Info>
    <Parent Key="c4ad9922-4460-4989-be1f-c3f6f95c532b">DEPT TEST</Parent>
    <Path>/DEPTTEST/TestImage4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-31T15:30:39</CreateDate>
    <NodeName Default="Test Image 4" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#3A3A3A]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/35wklrly/test-image-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>