<?xml version="1.0" encoding="utf-8"?>
<Media Key="adcf8666-2c2e-4cf3-8494-ce259e6231f0" Alias="Test Image 2" Level="2">
  <Info>
    <Parent Key="c4ad9922-4460-4989-be1f-c3f6f95c532b">DEPT TEST</Parent>
    <Path>/DEPTTEST/TestImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-31T15:30:40</CreateDate>
    <NodeName Default="Test Image 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#595900]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mcdm5ljo/test-image-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>