<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3a49b1e-faea-4f02-89ff-5b6b2dd7488a" Alias="contentFolder" Level="2">
  <Info>
    <Name>Content Folder</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d4f389b3-58e0-4e61-b28a-0cce8ffee02c" SortOrder="0">pageError</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>