<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b29d1a49-97ce-4c04-89a0-8c642eeda6b7" Alias="dataFolder" Level="2">
  <Info>
    <Name>Data Folder</Name>
    <Icon>icon-server-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4ebcbca7-709b-4be5-bdde-ab55fe0371ed" SortOrder="1">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>