<header class="c-header" js-hook-header>
  <div class="header__container">
    <div class="header__content">
      <a href="/" class="header__logo" title="Home">
        {% svg 'brand/logo-color' %}
      </a>

      <button class="header__hamburger">
        {% svg 'icons/menu' %}
        Menu
      </button>

      <div class="header__navigation">
        {% include 'navigation-desktop.html' %}
      </div>

      <div class="header__language-selector">
        <!-- Todo: language selector -->
      </div>
    </div>
  </div>
</header>
