{% from 'language-selector.html' import languageSelector %}

<header class="c-header" js-hook-header>
  <div class="header__container">
    <div class="header__content">
      <a href="/" class="header__logo" title="{{ global.resource.navigation.home }}">
        {% svg 'brand/logo-color' %}
      </a>

      <button
        js-hook-header-hamburger
        class="header__hamburger"
        aria-controls="navigation-mobile"
        aria-label="{{ global.resource.navigation.openMenu }}">
        {% svg 'icons/menu' %}
        {{ global.resource.navigation.menu }}
      </button>

      <div class="header__navigation">
        {% include 'navigation-desktop.html' %}
      </div>

      <div class="header__language-selector">
          {{ languageSelector({mobile: false}) }}
      </div>
    </div>
  </div>
</header>

{% include 'navigation-mobile.html' %}
