<?xml version="1.0" encoding="utf-8"?>
<Content Key="494f9002-1297-429a-86ba-c93a81162796" Alias="Sweden" Level="4">
  <Info>
    <Parent Key="ec2e8477-0b36-402e-8884-51deb8855588">Locations</Parent>
    <Path>/Homepage/Careers/Locations/Sweden</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T11:27:33</CreateDate>
    <NodeName Default="Sweden">
      <Name Culture="en-us">Sweden</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/662a4f7df26b4103a2784ceb7179f911",
        "settingsUdi": "umb://element/8368124d1ddb40bdbdfc653c2d781aaa"
      },
      {
        "contentUdi": "umb://element/b6ffb3ac47e346e6b48d49af06658e69",
        "settingsUdi": "umb://element/32e1b6e04a7249a498ee3ac8991beb3f"
      },
      {
        "contentUdi": "umb://element/0ef9f87801d04b07b2b31e18b89a886e",
        "settingsUdi": "umb://element/aa1444875cf84aeebdf6af61af9cf96e"
      },
      {
        "contentUdi": "umb://element/38e43adb0aaf455fbda384bdc66d33ba",
        "settingsUdi": "umb://element/5a3358971dd54077ad6ce93b915a6de8"
      },
      {
        "contentUdi": "umb://element/4d49e2e500474b3986f1ddf28869667f",
        "settingsUdi": "umb://element/dfeb6e3b050a45c1b19b8cfa8624c2eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/662a4f7df26b4103a2784ceb7179f911",
      "title": "About this location",
      "description": "Here we look at current and emerging technologies to ensure that we continue to evolve and innovate, and maintain our leadership position in the drug delivery market.  It is a very diverse environment, with many different nationalities; and it has a history of helping us to develop our portfolio of market-leading patents.\n",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0a84cdfeb2e1433d9a35558e44dc9e22"
            },
            {
              "contentUdi": "umb://element/c09944d5e40d42c8930acf4042b9f133"
            },
            {
              "contentUdi": "umb://element/38d1bb44dd664247a1f4280dd29e5aef"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/0a84cdfeb2e1433d9a35558e44dc9e22",
            "title": "Our history",
            "description": "Established in 1996, Sweden became our first design office outside of Taiwan.  We have a strong legacy in innovation, design, industrial design and usability engineering – which have all been critical to our ongoing success of our products.",
            "image": [
              "{\"Id\":\"jks5mn8n658kh6562zbrkhvw\",\"FileName\":\"Sweden_shlgroup_37.1_noCrop.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jks5mn8n658kh6562zbrkhvw/Sweden_shlgroup_371_noCrop.png\",\"AssetId\":\"xvc7hz7bh9xnh56366vsxq\",\"AssetName\":\"Sweden_shlgroup_37.1_noCrop\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/c09944d5e40d42c8930acf4042b9f133",
            "title": "Our focus on innovation",
            "description": "The collaboration between our Innovation teams, product development, quality assurance, regulatory affairs, and intellectual property has helped us develop a strong patent portfolio and identify future opportunities. With world-class facilities – from prototyping testing in our advanced testing laboratories to driving global process excellence – we transform concepts into market-ready products. ",
            "image": [
              "{\"Id\":\"9bb5vzgg6k3v8s4nj9gc2b6c\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7327.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9bb5vzgg6k3v8s4nj9gc2b6c/SHL-Medical-Office_People_Zug_Konstantin_KK5D7327.jpg\",\"AssetId\":\"mhbqbg3smfqkqk23g3sz7zf7\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7327\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/38d1bb44dd664247a1f4280dd29e5aef",
            "title": "Our unique environment",
            "description": "This is a stunning place to work, overlooking the sea which heads inland towards the center of Stockholm. Working here means close collaboration with many teams around the world, be it internally or externally with suppliers or customers on development projects. We have strong links with the Royal Institute of Technology and other universities in the area, creating a great partnership for our people and for future talent.",
            "image": [
              "{\"Id\":\"9zk8rcm88zkp8b4mvxpctgkj\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-12.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9zk8rcm88zkp8b4mvxpctgkj/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-12.jpg\",\"AssetId\":\"jzsbjvctg9cq6js73hq46v\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-12\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/b6ffb3ac47e346e6b48d49af06658e69",
      "title": "SHL Medical Sweden in numbers",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7dbf1253c76f40d0bd5324eac8718412"
            },
            {
              "contentUdi": "umb://element/d03bb92e8815484b94e1b79966f13894"
            },
            {
              "contentUdi": "umb://element/01bda73482084c7a9438a4a499d007f6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/7dbf1253c76f40d0bd5324eac8718412",
            "title": "+50% ",
            "subTitle": "Of our patent families",
            "text": {
              "markup": "<p><span>Encompass inventions or substantial contributions created here.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/d03bb92e8815484b94e1b79966f13894",
            "title": "~85",
            "subTitle": "Employees",
            "text": {
              "markup": "<p><span>Developing product solutions through fruitful collaborations in a close-knit environment.&nbsp;</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/01bda73482084c7a9438a4a499d007f6",
            "title": "30",
            "subTitle": "Years",
            "text": {
              "markup": "<p><span>Of history and continuity, with many colleagues who have been here for most of the journey.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/0ef9f87801d04b07b2b31e18b89a886e",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9efd4411d4724429a92238f68bfa9110"
            },
            {
              "contentUdi": "umb://element/bbf0feaa5016459aa4156081d8f51b79"
            },
            {
              "contentUdi": "umb://element/c6f71da5a1a84827a3e85846e5ac79d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/c6f71da5a1a84827a3e85846e5ac79d6",
            "quoteText": "\"At SHL Medical I’m able to improve current products and technology together with authentic- and competent colleagues. I strive to get the best out of everyone in the team in a creative atmosphere - bonus: We laugh a lot.\"\n\n\n",
            "nameAuthor": "Emma",
            "role": "Innovation",
            "company": "SHL Medical Sweden",
            "image": [
              "{\"Id\":\"m52hmm9hwrnbxtcbn485kjt6\",\"FileName\":\"SHL-Medical_Portrait-EmmaCallerstrom_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/m52hmm9hwrnbxtcbn485kjt6/SHL-Medical_Portrait-EmmaCallerstrom_headshot.jpg\",\"AssetId\":\"xrp6q24v76vpsp4vx9pr8h9\",\"AssetName\":\"Emma Callerstrom\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/bbf0feaa5016459aa4156081d8f51b79",
            "quoteText": "\"I appreciate how colleagues at SHL demonstrate a strong dedication to their professions while maintaining open, collaborative communication across sites. This culture of teamwork allows us to deliver results together.”\n",
            "nameAuthor": "Chun",
            "role": "Usability Engineering",
            "company": "SHL Medical Sweden",
            "image": [
              "{\"Id\":\"4t8k56kvcp5q3kb6k7f64k3w\",\"FileName\":\"SHL-Medical_Portrait-ChunChang_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4t8k56kvcp5q3kb6k7f64k3w/SHL-Medical_Portrait-ChunChang_headshot.jpg\",\"AssetId\":\"5w2bf89rpcwr4t87gtj39bv\",\"AssetName\":\"Chun Chang\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/9efd4411d4724429a92238f68bfa9110",
            "quoteText": "“The culture of innovation and excellence across our global locations inspires me every day, from brainstorming ideas to seeing our products come to life. I feel empowered to continuously develop and contribute to something truly meaningful, and it’s rewarding to be part of a global team that is so passionate about our mission to enable patients’ independence.”",
            "nameAuthor": "Sofia",
            "role": "Testing",
            "company": " SHL Medical Sweden",
            "image": [
              "{\"Id\":\"xxk9vjsbnmvqvwffccksnjmb\",\"FileName\":\"SHL-Medical_Portrait-SofiaJonasson_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xxk9vjsbnmvqvwffccksnjmb/SHL-Medical_Portrait-SofiaJonasson_headshot.jpg\",\"AssetId\":\"8vpm56vrc6wvwxrjr7cmw\",\"AssetName\":\"Sofia Jonasson\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/38e43adb0aaf455fbda384bdc66d33ba",
      "title": "More to explore",
      "text": {
        "markup": "<p>There is so much to discover about SHL Medical!</p>\n<p>&nbsp;</p>\n<p><span>Take a closer look at who we are, learn about our hiring process, and explore the unique teams that drive our success.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/79d4e5ee47f64af7a74ba0f7152de7fe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/79d4e5ee47f64af7a74ba0f7152de7fe",
            "image": [
              "{\"Id\":\"9pbr6xfk3wsbhbxfspv5rwxz\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9pbr6xfk3wsbhbxfspv5rwxz/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"AssetId\":\"bgsf74nrbm5jxgmrxcwj4smq\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2a9d0b912d144880a2f87e83681c7427"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/2a9d0b912d144880a2f87e83681c7427",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7527d24bb4364da993f002d5a797d228"
                  },
                  {
                    "contentUdi": "umb://element/883cef68a84342049ec7cc907e7c50ab"
                  },
                  {
                    "contentUdi": "umb://element/3bebdb8f042b47f29279b24dbf5ab68c"
                  },
                  {
                    "contentUdi": "umb://element/8412ff3dc32446b8b3021431a54ed49e"
                  },
                  {
                    "contentUdi": "umb://element/d6fba70785e04450add35de5ba0513b8"
                  },
                  {
                    "contentUdi": "umb://element/917d8f85de364caebfcb06dd70ce3db9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/883cef68a84342049ec7cc907e7c50ab",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/3bebdb8f042b47f29279b24dbf5ab68c",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/8412ff3dc32446b8b3021431a54ed49e",
                  "link": [
                    {
                      "name": "Meet our Engineering team",
                      "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/d6fba70785e04450add35de5ba0513b8",
                  "link": [
                    {
                      "name": "Meet our Operations team",
                      "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/917d8f85de364caebfcb06dd70ce3db9",
                  "link": [
                    {
                      "name": "Meet our Commercial and Corporate team",
                      "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/7527d24bb4364da993f002d5a797d228",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/4d49e2e500474b3986f1ddf28869667f",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": null,
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/657e3343acaa48a2bcd99981f839c6cc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/657e3343acaa48a2bcd99981f839c6cc",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/8368124d1ddb40bdbdfc653c2d781aaa",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/32e1b6e04a7249a498ee3ac8991beb3f",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/aa1444875cf84aeebdf6af61af9cf96e",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e5f9f7",
        "label": "pastel-green",
        "sortOrder": 5,
        "id": "13"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/5a3358971dd54077ad6ce93b915a6de8",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/dfeb6e3b050a45c1b19b8cfa8624c2eb",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/da2aa4e406d4430085335e74ee7c064c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/da2aa4e406d4430085335e74ee7c064c",
      "title": "SHL Medical Sweden - Our design and innovation hub",
      "text": {
        "markup": "<p><span>SHL Medical Sweden is a major hub in our global network, dedicated to the design and development of our products and harbors a wealth of knowledge in current and emerging technologies. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b1f6af2a47a74fb0b03918bc90572b9d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/b1f6af2a47a74fb0b03918bc90572b9d",
            "buttonIcon": "",
            "link": [
              {
                "name": "Jobs at SHL Medical",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5d5228c76a224f23b7d716c7f75c2280"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/5d5228c76a224f23b7d716c7f75c2280",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Discover SHL Medical’s design and development center near Stockholm, Sweden. Here we innovate patient-friendly drug delivery systems, from concept to market.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[SHL Medical Nacka Strand, Sweden]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>