<?xml version="1.0" encoding="utf-8"?>
<Content Key="b44ac8a6-0362-43bd-8406-b4d2d62828a9" Alias="Switzerland" Level="4">
  <Info>
    <Parent Key="ec2e8477-0b36-402e-8884-51deb8855588">Locations</Parent>
    <Path>/Homepage/Careers/Locations/Switzerland</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T12:49:36</CreateDate>
    <NodeName Default="Switzerland">
      <Name Culture="en-us">Switzerland</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b9356535fbf4f8da60073511fbfbd76",
        "settingsUdi": "umb://element/f3c00b370aeb45d09885be170b974399"
      },
      {
        "contentUdi": "umb://element/dc33c73777e74d338b9b33fea570e26a",
        "settingsUdi": "umb://element/ae79c5ec9e7543758e0e93c5096e40a0"
      },
      {
        "contentUdi": "umb://element/4693e08870db474d84822d6288d715d3",
        "settingsUdi": "umb://element/8068996666f74a219fea8ccd792cb414"
      },
      {
        "contentUdi": "umb://element/102f6f6266204896830f57c7685d0ea6",
        "settingsUdi": "umb://element/5a20a2a9b2764c1cac6a84992b57f52a"
      },
      {
        "contentUdi": "umb://element/ad8eba9bf2a5436f931f75d724660685",
        "settingsUdi": "umb://element/44919ec9f2a743559893f3de15770bc7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/0b9356535fbf4f8da60073511fbfbd76",
      "title": "About this location",
      "description": "This is an agile environment, with over 45 nationalities working together under one roof. Beyond being our corporate headquarters, we have developed strong capabilities in design and process development, and soon, we will add a cutting-edge manufacturing facility to our site.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dadb25ec10cb4aeaa5f1a0c3b400faa2"
            },
            {
              "contentUdi": "umb://element/f15f9bca67754d3783f5d03478b56df7"
            },
            {
              "contentUdi": "umb://element/17a55c65e04f49ddbef585c55553de9f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/dadb25ec10cb4aeaa5f1a0c3b400faa2",
            "title": "Our headquarters",
            "description": "Since establishing our headquarters in Zug in 2018, we have created a vibrant international hub where a strong sense of belonging unites our team. Now, with construction underway, our new state-of-the-art corporate headquarters and manufacturing facility is set to open in 2026, reinforcing our commitment to innovation and growth.",
            "image": [
              "{\"Id\":\"c8fq838887rgwm3c8xs6hsq\",\"FileName\":\"Zug manufacturing site_20201111_1200x630_Zug.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/c8fq838887rgwm3c8xs6hsq/Zug_manufacturing_site_20201111_1200x630_Zug.jpg\",\"AssetId\":\"hg866btw9j5kh6b94pmgspqc\",\"AssetName\":\"Zug manufacturing site 20201111 1200x630 Zug\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/f15f9bca67754d3783f5d03478b56df7",
            "title": "A center of excellence",
            "description": "This site is designed as a global center of excellence, where collaboration flourishs through dynamic exchanges with professionals from all our hubs. Our hub in Zug offers exposure to our full value chain and opportunities to contribute to projects with wide-reaching impact.",
            "image": [
              "{\"Id\":\"6r98r3npn62b5g25pfpnb84z\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8031.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/6r98r3npn62b5g25pfpnb84z/SHL-Medical-Office_People_Zug_Konstantin_KK5D8031.jpg\",\"AssetId\":\"x4c8w3kw286wgkfbqs9xfn\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8031\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/17a55c65e04f49ddbef585c55553de9f",
            "title": "Sustainable operations",
            "description": "Built to the highest sustainability standards, our new headquarters will use primarily wood construction, solar energy, and lake water for heating. With excess energy directed to other uses, the site is designed to operate as a carbon-neutral production plant, representing our commitment to sustainable practices.",
            "image": [
              "{\"Id\":\"wzvjvsm6tnjv5jm5bp4xsqn9\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7546.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/wzvjvsm6tnjv5jm5bp4xsqn9/SHL-Medical-Office_People_Zug_Konstantin_KK5D7546.jpg\",\"AssetId\":\"6p5k27ghjxwh74tfrwq6zq\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7546\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/dc33c73777e74d338b9b33fea570e26a",
      "title": "SHL Medical Switzerland in numbers",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4576e4a333544d9e93ce6c924e72601d"
            },
            {
              "contentUdi": "umb://element/ac1dfec6b6cd410f9d831247869b98e8"
            },
            {
              "contentUdi": "umb://element/ad21d04ae8714e228a24d5e8e209fabf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/4576e4a333544d9e93ce6c924e72601d",
            "title": "280+",
            "subTitle": "Employees",
            "text": {
              "markup": "<p>Work at SHL Medical in Switzerland today, and many more to come.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/ac1dfec6b6cd410f9d831247869b98e8",
            "title": "21,000",
            "subTitle": "sqm",
            "text": {
              "markup": "<p>New facility by 2026, combining high-tech manufacturing as well as modern office spaces.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/ad21d04ae8714e228a24d5e8e209fabf",
            "title": "45+",
            "subTitle": "Nationalities",
            "text": {
              "markup": "<p>Highlight SHL Medical Switzerland's great sense of inclusiveness.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/4693e08870db474d84822d6288d715d3",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e7e06acc2c694735885c06886b68049d"
            },
            {
              "contentUdi": "umb://element/66a856b7010e4ec8b88d9c7de10eedbb"
            },
            {
              "contentUdi": "umb://element/35f4a4e59c1e4e2883cba3b320059220"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/66a856b7010e4ec8b88d9c7de10eedbb",
            "quoteText": "\"I love being part of the emerging technology development team in Switzerland, where the mix of cutting-edge innovation, collaboration with brilliant engineers, and a dynamic work environment allows me to truly make an impact on the future of home infusion systems.\"",
            "nameAuthor": "Hilmar",
            "role": "Emerging Technologies",
            "company": "SHL Medical Switzerland",
            "image": [
              "{\"Id\":\"4r4qm2xg58kgrwkmzbwct\",\"FileName\":\"SHL-Medical_Portrait-HilmarEhlert_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4r4qm2xg58kgrwkmzbwct/SHL-Medical_Portrait-HilmarEhlert_headshot.jpg\",\"AssetId\":\"fwnw66t36rnp667nmscffx3p\",\"AssetName\":\"Hilmar Ehlert\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/e7e06acc2c694735885c06886b68049d",
            "quoteText": "\"I’ve had the opportunity to grow quickly in my role thanks to the supportive team culture where knowledge is actively shared. I was even empowered to launch workshops that foster collaboration and communication across teams and locations, which was truly impactful.\"",
            "nameAuthor": "Winnie",
            "role": "Legal",
            "company": "SHL Medical Switzerland",
            "image": [
              "{\"Id\":\"25v5t34n8qrqv3kx4ttkhv\",\"FileName\":\"SHL-Medical_Portrait-WinnieLee_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/25v5t34n8qrqv3kx4ttkhv/SHL-Medical_Portrait-WinnieLee_headshot.jpg\",\"AssetId\":\"qwmkmgqps859cckxqxbb9b5f\",\"AssetName\":\"Winnie Lee\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/35f4a4e59c1e4e2883cba3b320059220",
            "quoteText": "\"The dynamic and fast-growing industry we operate in is exciting. And the opportunity to collaborate with talented colleagues from around the world makes each day rewarding.\"",
            "nameAuthor": "Nils",
            "role": "Commercial",
            "company": "SHL Medical Switzerland",
            "image": [
              "{\"Id\":\"8x6c99kmt42f6z23rhkf\",\"FileName\":\"SHL-Medical_Portrait-NilsWijngaard_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8x6c99kmt42f6z23rhkf/SHL-Medical_Portrait-NilsWijngaard_headshot.jpg\",\"AssetId\":\"gfqvh4j543j8xk6p64qwv4\",\"AssetName\":\"Nils Wijngaard\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/102f6f6266204896830f57c7685d0ea6",
      "title": "More to explore",
      "text": {
        "markup": "<p>There is so much to discover about SHL Medical!</p>\n<p>&nbsp;</p>\n<p>Take a closer look at who we are, learn about our hiring process, and explore the unique teams that drive our success.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3d38138ef832487b93c73712ee331f7e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/3d38138ef832487b93c73712ee331f7e",
            "image": [
              "{\"Id\":\"9pbr6xfk3wsbhbxfspv5rwxz\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9pbr6xfk3wsbhbxfspv5rwxz/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"AssetId\":\"bgsf74nrbm5jxgmrxcwj4smq\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/adeb20a63f8444b697fd72e03a3f1216"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/adeb20a63f8444b697fd72e03a3f1216",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/01433081106645868cd8cd22adcf0262"
                  },
                  {
                    "contentUdi": "umb://element/6b763fc82e324b63927ea0e52edb3acc"
                  },
                  {
                    "contentUdi": "umb://element/6845b88761c1412e8f0810dc9d7dd513"
                  },
                  {
                    "contentUdi": "umb://element/a95771c42168494f925da5ffe5fa46a1"
                  },
                  {
                    "contentUdi": "umb://element/c65e007d607048b4a943cbb08b815b72"
                  },
                  {
                    "contentUdi": "umb://element/8103ea8feacd4492bf70db00a507454a"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/6b763fc82e324b63927ea0e52edb3acc",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/6845b88761c1412e8f0810dc9d7dd513",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/a95771c42168494f925da5ffe5fa46a1",
                  "link": [
                    {
                      "name": "Meet our Engineering team",
                      "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/c65e007d607048b4a943cbb08b815b72",
                  "link": [
                    {
                      "name": "Meet our Operations team",
                      "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/8103ea8feacd4492bf70db00a507454a",
                  "link": [
                    {
                      "name": "Meet our Commercial and Corporate team",
                      "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/01433081106645868cd8cd22adcf0262",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/ad8eba9bf2a5436f931f75d724660685",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d1a6499ef50a4dceae94c2988f417a0a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/d1a6499ef50a4dceae94c2988f417a0a",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/f3c00b370aeb45d09885be170b974399",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ae79c5ec9e7543758e0e93c5096e40a0",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8068996666f74a219fea8ccd792cb414",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e5f9f7",
        "label": "pastel-green",
        "sortOrder": 5,
        "id": "13"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/5a20a2a9b2764c1cac6a84992b57f52a",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/44919ec9f2a743559893f3de15770bc7",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/25627babee1549b9945708cc6741b4f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/25627babee1549b9945708cc6741b4f7",
      "title": "SHL Medical Switzerland - Our global headquarters",
      "text": {
        "markup": "<p>We are the segment leader in self-injection solutions with our corporate headquarters in Zug, unlocking new opportunities to pursue sustainable operations and advance innovative technologies.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c2a300e053624b8fb53862a21ee83b73"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/c2a300e053624b8fb53862a21ee83b73",
            "buttonIcon": "",
            "link": [
              {
                "name": "Apply now",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/87145106565a431b82658a11b7b4523b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/87145106565a431b82658a11b7b4523b",
            "buttonIcon": "",
            "link": [
              {
                "name": "Who we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Read more about SHL Medical’s global headquarters in Zug, Switzerland. Discover how we drive innovation in drug delivery systems, shaping the future of healthcare.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[SHL Medical - Zug, Switzerland]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>