<?xml version="1.0" encoding="utf-8"?>
<Content Key="bda0bece-c6f0-4218-8014-5fda69acfa61" Alias="Taiwan" Level="4">
  <Info>
    <Parent Key="ec2e8477-0b36-402e-8884-51deb8855588">Locations</Parent>
    <Path>/Homepage/Careers/Locations/Taiwan</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T11:51:46</CreateDate>
    <NodeName Default="Taiwan">
      <Name Culture="en-us">Taiwan</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1e53dfdacc94e00901b748ca233f909",
        "settingsUdi": "umb://element/54a88617b03c42e2b2a1440e9b51d52e"
      },
      {
        "contentUdi": "umb://element/28feeaf9f6f6438ab7dc5f6f3bfb023f"
      },
      {
        "contentUdi": "umb://element/6c58572692b448369422738901237e42",
        "settingsUdi": "umb://element/d8b8bff52e3b4d4191eaa93d7218b7cc"
      },
      {
        "contentUdi": "umb://element/e69de971a685426a91acadd6c1a35049",
        "settingsUdi": "umb://element/b1f815a3c2da495abc8c136d7f6af53a"
      },
      {
        "contentUdi": "umb://element/7099b3aa7660414ea4933ed2a3c13652",
        "settingsUdi": "umb://element/6c4fa98e0099490993f5dc583b4c767a"
      },
      {
        "contentUdi": "umb://element/683eabb82fdf40e0a6a7521c9d11b2f3",
        "settingsUdi": "umb://element/b9310281de204d65a4fd1ea90c065458"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/a1e53dfdacc94e00901b748ca233f909",
      "title": "About this location",
      "description": "Home to over 5,000 professionals, our Taiwan hub fosters a strong sense of belonging and community. It serves as a true \"global village\", bringing together talent from around the world in a vibrant, collaborative environment.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/83470099268e4d9e9ff8d62fa6285368"
            },
            {
              "contentUdi": "umb://element/ce0a970757e94fa3a2208c17abbd6735"
            },
            {
              "contentUdi": "umb://element/7adb5187a05b402c819a6193f202361a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/83470099268e4d9e9ff8d62fa6285368",
            "title": "The core",
            "description": "SHL Medical Taiwan is where it all began. As our largest hub, it offers comprehensive, end-to-end capabilities from product design to manufacturing. ",
            "image": [
              "{\"Id\":\"gt94bm7m5r4wqw4pq45z67bg\",\"FileName\":\"SHL-Medical_Container_Free_FATM-20240730-25.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gt94bm7m5r4wqw4pq45z67bg/SHL-Medical_Container_Free_FATM-20240730-25.jpg\",\"AssetId\":\"cz7ctbvr29nhv46n3g5bm2t\",\"AssetName\":\"Container Free FATM (Fully Automatic Testing Machine)-Molly-20240730-25\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/ce0a970757e94fa3a2208c17abbd6735",
            "title": "Talent development",
            "description": "We are passionate about developing talent with a range of programs including mentoring, apprenticeships, internships, technical skills development, and so much more.",
            "image": [
              "{\"Id\":\"brvmrz4vsvggvmtjmftjrrvx\",\"FileName\":\"2024_Inventor Certificates Awarding Ceremony_20240627-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/brvmrz4vsvggvmtjmftjrrvx/2024_Inventor_Certificates_Awarding_Ceremony_20240627-1.jpg\",\"AssetId\":\"6wqsbfk8tr3b4jf43nz5z3\",\"AssetName\":\"2024 Inventor Certificates Awarding Ceremony 20240627-1\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/7adb5187a05b402c819a6193f202361a",
            "title": "Strategic location",
            "description": "Our site here serves as both our APAC business hub and a gateway to other parts of the world. With our global mobility programs, we also offer opportunities to visit and work in our other sites.",
            "image": [
              "{\"Id\":\"7hfxp39c8hv5jjsqpzp4\",\"FileName\":\"TW_LF_building_20180703-20180703-CF004022- - -3.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/7hfxp39c8hv5jjsqpzp4/TW_LF_building_20180703-20180703-CF004022-_-_-3.tif\",\"AssetId\":\"kgw5gzns5z3cmqpmp4t8mq8w\",\"AssetName\":\"TW_LF_building_20180703-20180703-CF004022-\\u5168\\u666F-\\u7DE8\\u8F2F-3\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/6c58572692b448369422738901237e42",
      "title": "SHL Medical Taiwan in numbers",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0eee68293cb04484981a7e9d3b5cb1a1"
            },
            {
              "contentUdi": "umb://element/6cc97f2ec7ec4b86a0a169ee96022d19"
            },
            {
              "contentUdi": "umb://element/c724f3f8b1e240f1ad8a068cf1f98f96"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/0eee68293cb04484981a7e9d3b5cb1a1",
            "title": "5,000",
            "subTitle": "Employees",
            "text": {
              "markup": "<p><span>Work at SHL Medical Taiwan, the leading and largest medical device manufacturer in Taiwan.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/6cc97f2ec7ec4b86a0a169ee96022d19",
            "title": "160,000",
            "subTitle": "Square metre",
            "text": {
              "markup": "<p>Is the size of our location in Taiwan.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/c724f3f8b1e240f1ad8a068cf1f98f96",
            "title": "48",
            "subTitle": "Nationalities",
            "text": {
              "markup": "<p>Making this site the highest percentage employer of international professionals among foreign corporations.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/e69de971a685426a91acadd6c1a35049",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c658c709920c48bb9472d0bf70adb192"
            },
            {
              "contentUdi": "umb://element/8e09ca06a48f47fe8dffcd5e26406e3a"
            },
            {
              "contentUdi": "umb://element/ad0c82e1d66f49528fb800bfa3fe2e37"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/8e09ca06a48f47fe8dffcd5e26406e3a",
            "quoteText": "\"Working here is not only inspiring, but it also contributes to society. Our vision drives everything we do, and everyone can grow, develop, and make an impact within this diverse and inclusive environment.\"",
            "nameAuthor": "Venny",
            "role": "Talent Development",
            "company": "SHL Medical Taiwan",
            "image": [
              "{\"Id\":\"ssxx9rcqqxjgjfnfnv2x5r\",\"FileName\":\"SHL-Medical_Portrait-VennyChiu_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/ssxx9rcqqxjgjfnfnv2x5r/SHL-Medical_Portrait-VennyChiu_headshot.jpg\",\"AssetId\":\"4v4m6cnz3qsfnn5tj8nfqj\",\"AssetName\":\"Venny Chiu\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/c658c709920c48bb9472d0bf70adb192",
            "quoteText": "\"Working at SHL feels to me like being part of a big global family. If you want to be part of a friendly, energetic and multicultural environment right here in Taiwan, join us in enabling patients’ independence while growing alongside amazing people from all over the world.\"",
            "nameAuthor": "Zhuosheng",
            "role": "Automation",
            "company": "SHL Medical Taiwan",
            "image": [
              "{\"Id\":\"kvkm6h9gtpct4z6q3f7qj6\",\"FileName\":\"SHL-Medical_Portrait-ZhuoshengHuang_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kvkm6h9gtpct4z6q3f7qj6/SHL-Medical_Portrait-ZhuoshengHuang_headshot.jpg\",\"AssetId\":\"jtn8h7sg9njbgnqbcc3kj\",\"AssetName\":\"Zhuosheng Huang\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/ad0c82e1d66f49528fb800bfa3fe2e37",
            "quoteText": "\"At SHL Medical, my contributions have a direct impact on the success of the company, our customers’ satisfaction, and the well-being of our employees. With the rapid growth of the industry and international expansion of SHL Medical, every day offers new opportunities to advance, optimize, and innovate both our processes and our products.\"",
            "nameAuthor": "Tobias",
            "role": "Process Development",
            "company": "SHL Medical Taiwan",
            "image": [
              "{\"Id\":\"r9c43jmgjjbm2tvzgps8qmm\",\"FileName\":\"SHL-Medical_Portrait-Tobias_Stadler_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/r9c43jmgjjbm2tvzgps8qmm/SHL-Medical_Portrait-Tobias_Stadler_headshot.jpg\",\"AssetId\":\"843wgrqzgz53r3933tgzpbkp\",\"AssetName\":\"Tobias Stadler\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/7099b3aa7660414ea4933ed2a3c13652",
      "title": "More to explore",
      "text": {
        "markup": "<p>There is so much to discover about SHL Medical!</p>\n<p>&nbsp;</p>\n<p>Take a closer look at who we are, learn about our hiring process, and explore the unique teams that drive our success.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/127d2edf8fa84fccb9399f7fe6a2a73f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/127d2edf8fa84fccb9399f7fe6a2a73f",
            "image": [
              "{\"Id\":\"9pbr6xfk3wsbhbxfspv5rwxz\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9pbr6xfk3wsbhbxfspv5rwxz/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"AssetId\":\"bgsf74nrbm5jxgmrxcwj4smq\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b89966bbb4774e7c8d77e68cbde522cf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/b89966bbb4774e7c8d77e68cbde522cf",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/e1d4ace57e234c6fa167c65482daf750"
                  },
                  {
                    "contentUdi": "umb://element/646c76b926474cbbacfc3ebe1878c3b4"
                  },
                  {
                    "contentUdi": "umb://element/05537505fb754543b40bd339fd2b8ae8"
                  },
                  {
                    "contentUdi": "umb://element/f70118b5f48b469a80cff58588a9f0c2"
                  },
                  {
                    "contentUdi": "umb://element/64a0dd74c30a49b38d80ceaeb5dde009"
                  },
                  {
                    "contentUdi": "umb://element/a327e1d9b2494adab7156c22c291cf00"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/646c76b926474cbbacfc3ebe1878c3b4",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/05537505fb754543b40bd339fd2b8ae8",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/f70118b5f48b469a80cff58588a9f0c2",
                  "link": [
                    {
                      "name": "Meet our Engineering team",
                      "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/64a0dd74c30a49b38d80ceaeb5dde009",
                  "link": [
                    {
                      "name": "Meet our Operations team",
                      "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/a327e1d9b2494adab7156c22c291cf00",
                  "link": [
                    {
                      "name": "Meet our Commercial and Corporate team",
                      "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/e1d4ace57e234c6fa167c65482daf750",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/683eabb82fdf40e0a6a7521c9d11b2f3",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/100d754adebe4649b1ba3fd7e1021821"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/100d754adebe4649b1ba3fd7e1021821",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": ""
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/28feeaf9f6f6438ab7dc5f6f3bfb023f",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ed6f624650da47a485a65e7b6337a841"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/ed6f624650da47a485a65e7b6337a841",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/361a86a853c04eeaad9c986965c49465"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/361a86a853c04eeaad9c986965c49465",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/940622922/rendition/1080p/file.mp4?loc=external&log_user=0&signature=edf561f5f511b773a7f2c53917ec071a746eec14fb842f01006f7bc54d8f452b"
                }
              ],
              "settingsData": []
            },
            "title": "Check out",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"pzv7xknp92rsgwr77kq9nw\",\"FileName\":\"Taiwan-liufu (1).tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pzv7xknp92rsgwr77kq9nw/Taiwan-liufu_1.tif\",\"AssetId\":\"28kxxcs8wpvg23qjw32c5nw\",\"AssetName\":\"Taiwan-liufu\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/54a88617b03c42e2b2a1440e9b51d52e",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d8b8bff52e3b4d4191eaa93d7218b7cc",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b1f815a3c2da495abc8c136d7f6af53a",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e5f9f7",
        "label": "pastel-green",
        "sortOrder": 5,
        "id": "13"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/6c4fa98e0099490993f5dc583b4c767a",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b9310281de204d65a4fd1ea90c065458",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/30a1cb6c519b46c5835a3557184affb3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/30a1cb6c519b46c5835a3557184affb3",
      "title": "SHL Medical Taiwan - Our biggest hub",
      "text": {
        "markup": "<p>As SHL Medical's primary production site, our Taiwan location boasts full capabilities - from product development to industrialization.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/90e031e55d544928b839f79a586e6d9c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/90e031e55d544928b839f79a586e6d9c",
            "buttonIcon": "",
            "link": [
              {
                "name": "Apply now",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c6fe8cd84d8b4068bdb1b41f0c1e53de"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/c6fe8cd84d8b4068bdb1b41f0c1e53de",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[In our manufacturing facility in Taoyuan City, we combine state-of-the-art production technologies to deliver top-quality drug delivery solutions. Read on.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[SHL Medical Taiwan]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>