<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba759ff0-1135-48c4-93a3-353a42fd3f76" Alias="USA Deerfield Beach" Level="4">
  <Info>
    <Parent Key="ec2e8477-0b36-402e-8884-51deb8855588">Locations</Parent>
    <Path>/Homepage/Careers/Locations/USADeerfieldBeach</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T13:37:43</CreateDate>
    <NodeName Default="USA Deerfield Beach">
      <Name Culture="en-us">USA Deerfield Beach</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2217a5ca44d410bb9b747cb0fcb6ca4",
        "settingsUdi": "umb://element/96a12b49a070493a81901245daac8af3"
      },
      {
        "contentUdi": "umb://element/46820c9dd8e8468e950c179ad4f729a1",
        "settingsUdi": "umb://element/240f2521a5234e1fbc2dec0834eb9dd2"
      },
      {
        "contentUdi": "umb://element/97ec0e308431457db152afe2b10a2e84",
        "settingsUdi": "umb://element/1190f644340c47258ff66c1168be2cb4"
      },
      {
        "contentUdi": "umb://element/5d9d4a0f7cf44dd2a354b93642914e66",
        "settingsUdi": "umb://element/ea4b16bdd02f4002aa4f9b742aca4ce3"
      },
      {
        "contentUdi": "umb://element/8ae10ea966ad400ea60908f4105e3f2d",
        "settingsUdi": "umb://element/9a9bb6cb4a9b43dcba61615c20f0463b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/e2217a5ca44d410bb9b747cb0fcb6ca4",
      "title": "About this location",
      "description": "SHL Medical Florida first opened in 2011 to support the Quick to Market™ assembly of our products. In time we have added high-speed assembly equipment to increase our commercial production capability and support our customers' growth. In a region with little medtech heritage, we stand out as a progressive employer offering exciting global career opportunities. ",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a9042fadc37444359ecbdaa8b5b7422d"
            },
            {
              "contentUdi": "umb://element/6ef9a3d37f864fcfbc7b874202947b80"
            },
            {
              "contentUdi": "umb://element/9aa326e5dcd343e996728d1d6fbe03ae"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/a9042fadc37444359ecbdaa8b5b7422d",
            "title": "Final assembly at its finest",
            "description": "Here we customize our products to the client specification, combine our devices with syringes or cartridges provided by the client and deliver the final assembled autoinjector product.  ",
            "image": [
              "{\"Id\":\"bxk9bxxxcv6wwq8mx73p5bpb\",\"FileName\":\"SHL Pharma_Light Table 2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bxk9bxxxcv6wwq8mx73p5bpb/SHL_Pharma_Light_Table_2.jpg\",\"AssetId\":\"784t788vrfhnsqqqcmrgfj\",\"AssetName\":\"SHL Pharma_Light Table 2\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/6ef9a3d37f864fcfbc7b874202947b80",
            "title": "Full service support",
            "description": "In addition to the assembly and packaging services - the Florida team handles all aspects of method development, testing, and validation of autoinjector systems - including stability and transportation studies.",
            "image": [
              "{\"Id\":\"rc2b778fq46j628mpfcb4bj\",\"FileName\":\"SHL-Medical_USA_Deerfield-Beach_2024_DSC00108.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/rc2b778fq46j628mpfcb4bj/SHL-Medical_USA_Deerfield-Beach_2024_DSC00108.jpg\",\"AssetId\":\"6z2q5qrnkz6g8v5ztj2sgw7q\",\"AssetName\":\"SHL-Medical USA Deerfield-Beach 2024 DSC00108\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/9aa326e5dcd343e996728d1d6fbe03ae",
            "title": "Where talent shines bright",
            "description": "Our Deerfield Beach site is the perfect place to grow, with a vibrant, inclusive culture, an excellent work-life balance, and great opportunities to expand your skills. Plus, who would not love working where the sun shines year-round?",
            "image": [
              "{\"Id\":\"mb45gqm42pjcjfrhh79snv98\",\"FileName\":\"USA_Florida_SHL_208-medical.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mb45gqm42pjcjfrhh79snv98/USA_Florida_SHL_208-medical.jpg\",\"AssetId\":\"c8jvmcmzr7n99vfk74st9f\",\"AssetName\":\"USA_Florida_SHL_208\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "062f54",
        "label": "general",
        "sortOrder": 1,
        "id": "3"
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/46820c9dd8e8468e950c179ad4f729a1",
      "title": "SHL Medical Florida in numbers",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/63c15642d37c40dc93e1af6689a01ffe"
            },
            {
              "contentUdi": "umb://element/1b7f0b18ac38402b8acb7a5433aff0d6"
            },
            {
              "contentUdi": "umb://element/49093547aea44262ab5913401d794264"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/63c15642d37c40dc93e1af6689a01ffe",
            "title": "~200",
            "subTitle": "Employees",
            "text": {
              "markup": "<p>Making SHL Medical Florida a close-knit, yet diverse community.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/1b7f0b18ac38402b8acb7a5433aff0d6",
            "title": "45,000 sf",
            "subTitle": "Contract manufacturing facility ",
            "text": {
              "markup": "<p>Providing final assembly, labeling, and packaging services for auto-injectors.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/49093547aea44262ab5913401d794264",
            "title": "Millions",
            "subTitle": "Of devices for patients",
            "text": {
              "markup": "<p>Getting assembled 3 miles away from the beach.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/97ec0e308431457db152afe2b10a2e84",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c96c39baee5b45aeab982aa296b95fef"
            },
            {
              "contentUdi": "umb://element/c943fcb7144240319b3ee1ca03934a76"
            },
            {
              "contentUdi": "umb://element/9b9cbe528bbd4e29a817c8c2968030ab"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/9b9cbe528bbd4e29a817c8c2968030ab",
            "quoteText": "\"The smaller size of SHL in Florida lets me engage in cross-functional projects and gain deep experience quickly, while the team’s passion makes tackling each challenge exciting.\"",
            "nameAuthor": "Amy",
            "role": "Process Development",
            "company": "SHL Medical Florida",
            "image": [
              "{\"Id\":\"44rqj8nwhkgsnbbnrxkkcb4\",\"FileName\":\"SHL-Medical_Portrait-AmyHartl_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/44rqj8nwhkgsnbbnrxkkcb4/SHL-Medical_Portrait-AmyHartl_headshot.jpg\",\"AssetId\":\"rzn9v52p2h267rngwksxsgrq\",\"AssetName\":\"Amy Hartl\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/c96c39baee5b45aeab982aa296b95fef",
            "quoteText": "\"I like working at SHL in Deerfield because of the team I work with daily. We always strive to accomplish our daily goals together and that makes my job very joyful.\"",
            "nameAuthor": "Clover",
            "role": "Manufacturing",
            "company": "SHL Medical Florida",
            "image": [
              "{\"Id\":\"7482hf9gbm69bnmcs6tnc4w\",\"FileName\":\"SHL-Medical_Portrait-CloverBuckley_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/7482hf9gbm69bnmcs6tnc4w/SHL-Medical_Portrait-CloverBuckley_headshot.jpg\",\"AssetId\":\"8cm332h8xg7nv8sxq3skwqg\",\"AssetName\":\"Clover Buckley\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/c943fcb7144240319b3ee1ca03934a76",
            "quoteText": "\"Moving here from Taiwan was a thrilling transition. It feels like I joined a close-knit family where everyone is supportive. The work is both challenging and exciting, making each day a truly enriching experience.\"",
            "nameAuthor": "Lucy",
            "role": "Product Management",
            "company": "SHL Medical Florida",
            "image": [
              "{\"Id\":\"99qmcqfw45vn9bjzbg8scnt\",\"FileName\":\"SHL-Medical_Portrait-LucyLee_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/99qmcqfw45vn9bjzbg8scnt/SHL-Medical_Portrait-LucyLee_headshot.jpg\",\"AssetId\":\"scgnf8bx8smj3ww83tsmq93p\",\"AssetName\":\"Lucy Lee\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/5d9d4a0f7cf44dd2a354b93642914e66",
      "title": " More to explore",
      "text": {
        "markup": "<p>There is so much to discover about SHL Medical!</p>\n<p>&nbsp;</p>\n<p>Take a closer look at who we are, learn about our hiring process, and explore the unique teams that drive our success.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d107494a423745638d90d86605009c6a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/d107494a423745638d90d86605009c6a",
            "image": [
              "{\"Id\":\"9pbr6xfk3wsbhbxfspv5rwxz\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9pbr6xfk3wsbhbxfspv5rwxz/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"AssetId\":\"bgsf74nrbm5jxgmrxcwj4smq\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2a9267e3ba644bf4ab8c4e3738a5197a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/2a9267e3ba644bf4ab8c4e3738a5197a",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7324cdcff51a4fe799485870dac586dc"
                  },
                  {
                    "contentUdi": "umb://element/c39b9c7fa22345788e32cae70da3fcb3"
                  },
                  {
                    "contentUdi": "umb://element/1739f4ac68774ca9bb98ec7b66875367"
                  },
                  {
                    "contentUdi": "umb://element/e0f944413c3a4e8091bafb02882c06be"
                  },
                  {
                    "contentUdi": "umb://element/46686901ada94e14bc89cd9b06f47c19"
                  },
                  {
                    "contentUdi": "umb://element/8cb5b63f624a4879a3e0d9d50e719a87"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/c39b9c7fa22345788e32cae70da3fcb3",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/1739f4ac68774ca9bb98ec7b66875367",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/e0f944413c3a4e8091bafb02882c06be",
                  "link": [
                    {
                      "name": "Meet our Engineering team",
                      "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/46686901ada94e14bc89cd9b06f47c19",
                  "link": [
                    {
                      "name": "Meet our Operations team",
                      "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/8cb5b63f624a4879a3e0d9d50e719a87",
                  "link": [
                    {
                      "name": "Meet our Commercial and Corporate team",
                      "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/7324cdcff51a4fe799485870dac586dc",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/8ae10ea966ad400ea60908f4105e3f2d",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3d98f6373cde462fb361a5fb951fa177"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/3d98f6373cde462fb361a5fb951fa177",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/96a12b49a070493a81901245daac8af3",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/240f2521a5234e1fbc2dec0834eb9dd2",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/1190f644340c47258ff66c1168be2cb4",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e5f9f7",
        "label": "pastel-green",
        "sortOrder": 5,
        "id": "13"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ea4b16bdd02f4002aa4f9b742aca4ce3",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/9a9bb6cb4a9b43dcba61615c20f0463b",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e8720c840f3846c0939c20d7c4b3fe65"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/e8720c840f3846c0939c20d7c4b3fe65",
      "title": "SHL Medical Florida, US - Full service design and assembly",
      "text": {
        "markup": "<p><span class=\"NormalTextRun SCXW46031450 BCX0\">Our Deerfield Beach site in Florida is</span> home to almost 200 people focused on design and assembly of high-quality autoinjectors.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a2534781fb85418bb66023af22f448b9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/a2534781fb85418bb66023af22f448b9",
            "buttonIcon": "",
            "link": [
              {
                "name": "Apply now",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ed9ff509ef614983a66f451da67e3bee"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/ed9ff509ef614983a66f451da67e3bee",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Read more about SHL's office in Florida. Our presence in the USA strengthens partnerships, supports clients, and drives innovation in drug delivery.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[SHL Medical USA - Florida]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>