<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc56c13e-1832-4425-a691-94f0fbb9e18c" Alias="USA North Charleston" Level="4">
  <Info>
    <Parent Key="ec2e8477-0b36-402e-8884-51deb8855588">Locations</Parent>
    <Path>/Homepage/Careers/Locations/USANorthCharleston</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T14:05:57</CreateDate>
    <NodeName Default="USA North Charleston">
      <Name Culture="en-us">USA North Charleston</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/790263ed8ae249c7b157cc564b8f0b26",
        "settingsUdi": "umb://element/67530b5ca0874ff9b6816187d3c597f5"
      },
      {
        "contentUdi": "umb://element/d563aef3b20442c5934e120b9ab989a1",
        "settingsUdi": "umb://element/92117779167d4317bf0d06b8aa5b1dae"
      },
      {
        "contentUdi": "umb://element/40e490c31a44473ebd32d097ca7dbe47",
        "settingsUdi": "umb://element/8d2179c3e7094b5392a29f0fc335ee50"
      },
      {
        "contentUdi": "umb://element/801dd83c9ae44e829a30d7b012612ece",
        "settingsUdi": "umb://element/9dbf6c318d6446328af8b314e70e0638"
      },
      {
        "contentUdi": "umb://element/12f3f07ac3854fee94317f34d351eafa",
        "settingsUdi": "umb://element/78f00d4914d242968424b463be34e6f2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/790263ed8ae249c7b157cc564b8f0b26",
      "title": "About this location",
      "description": "Our 360,000 sf site in North Charleston, South Carolina opened in 2024, providing SHL Medical with an unprecedented capability in the US. In addition to our existing final assembly facility in Deerfield Beach, Florida, this hub provides customers an end-to-end solution for manufacturing and assembly of autoinjectors. ",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cc1c1ed58eb0422392febca863ed1276"
            },
            {
              "contentUdi": "umb://element/28a7e8ef67cd4fdd984413831e8f7024"
            },
            {
              "contentUdi": "umb://element/1b6b82ebd6f445a1b48d690e67f35448"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/cc1c1ed58eb0422392febca863ed1276",
            "title": "Manufacturing hub",
            "description": "The site is a highly automated manufacturing facility, focusing on injection molding and assembly of medical devices. We support a wide range of pharma clients across the country.",
            "image": [
              "{\"Id\":\"tfs5phg36c68czftbcbfbgvh\",\"FileName\":\"North_Charleston_USA_Facility-20240612-11.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/tfs5phg36c68czftbcbfbgvh/North_Charleston_USA_Facility-20240612-11.jpg\",\"AssetId\":\"txvb3ffh9jgm9z37x7gc8bv7\",\"AssetName\":\"North Charleston USA Facility-20240612-11\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/28a7e8ef67cd4fdd984413831e8f7024",
            "title": "Closer to our clients",
            "description": "Our new US facilities give us the opportunity to work even closer with our pharma clients, to create best-in-class autoinjectors.  With design and assembly working on the same site, it helps us to respond to our clients’ needs more effectively.",
            "image": [
              "{\"Id\":\"x9mcqk4f8wvh4xsj232nvg2k\",\"FileName\":\"SHL-Medical-SitePhotos-NC-20240723-3.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/x9mcqk4f8wvh4xsj232nvg2k/SHL-Medical-SitePhotos-NC-20240723-3.jpg\",\"AssetId\":\"vqg8gpqcff9kvx89krq79q\",\"AssetName\":\"North Charleston USA Facility-NC-20240723-3\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/1b6b82ebd6f445a1b48d690e67f35448",
            "title": "A community of talent",
            "description": "As a leading medtech employer in the region, we are looking to develop a wide range of talent for the long term. We have over 300 colleagues working here already - more are to come. It is a dynamic and diverse environment to be part of, with great opportunities to develop your skills and progress within our global business.",
            "image": [
              "{\"Id\":\"xbn9n73f8xpnwbh5ghb3m29\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-17.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xbn9n73f8xpnwbh5ghb3m29/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-17.jpg\",\"AssetId\":\"fzrjkgrk4t45x9bqccfj9kx6\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-17\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/d563aef3b20442c5934e120b9ab989a1",
      "title": "SHL Medical North Charleston in numbers",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b5ef7d493231464aadf161c1cbf7b8b8"
            },
            {
              "contentUdi": "umb://element/2ea0310088d64aae91949e1d202f2888"
            },
            {
              "contentUdi": "umb://element/e3252ce45b254835aec637a5d1169308"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/b5ef7d493231464aadf161c1cbf7b8b8",
            "title": "360,000",
            "subTitle": "Square feet site",
            "text": {
              "markup": "<p>In North Charleston opened in 2024.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/2ea0310088d64aae91949e1d202f2888",
            "title": "21,000+",
            "subTitle": "Box positions",
            "text": {
              "markup": "<p>Are in our automated logistics system combined with an automated pallet warehouse.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/e3252ce45b254835aec637a5d1169308",
            "title": "110",
            "subTitle": "Injection molding machines",
            "text": {
              "markup": "<p>Plus a number of fully automated assembly machines are running the show.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/40e490c31a44473ebd32d097ca7dbe47",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9a44910a1c2a4f95b1e11a447af07690"
            },
            {
              "contentUdi": "umb://element/be83d4293edc4e3ab5a3bac2fca98618"
            },
            {
              "contentUdi": "umb://element/90392a5a6b954109a40f791652e1a89d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/be83d4293edc4e3ab5a3bac2fca98618",
            "quoteText": "\"Every day at SHL's startup in Charleston, it's like a new adventure. As we build and innovate, I get to breathe life into exciting ideas and embrace challenges with optimism. Just like South Carolina’s motto inspires hope, our startup inspires growth and possibilities.\"",
            "nameAuthor": "Ninfamaria",
            "role": "Compliance",
            "company": "SHL Medical Charleston",
            "image": [
              "{\"Id\":\"ww7kjxct2pbqcz2fphj6w68x\",\"FileName\":\"SHL-Medical_Portrait-NinfamariaWalsh_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/ww7kjxct2pbqcz2fphj6w68x/SHL-Medical_Portrait-NinfamariaWalsh_headshot.jpg\",\"AssetId\":\"pt5zmfqr5j9r967btpw838g\",\"AssetName\":\"Ninfamaria Walsh\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/9a44910a1c2a4f95b1e11a447af07690",
            "quoteText": "\"I've never felt more supported in a workplace than at SHL. The company offers a remarkable blend of visionary innovation and a nurturing environment.\"",
            "nameAuthor": "Mark",
            "role": "Manufacturing",
            "company": "SHL Medical Charleston",
            "image": [
              "{\"Id\":\"qbp4954395c93hhzrmfgnnnk\",\"FileName\":\"SHL-Medical_Portrait-MarkAnderson_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/qbp4954395c93hhzrmfgnnnk/SHL-Medical_Portrait-MarkAnderson_headshot.jpg\",\"AssetId\":\"4vhkfmv3pv58z7v645q7vbk\",\"AssetName\":\"Mark Anderson\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/90392a5a6b954109a40f791652e1a89d",
            "quoteText": "\"I love that all my teammates at SHL come from different backgrounds and cultures. And the mission to make medical treatments more accessible to patients from all over the world is truly inspiring.\"",
            "nameAuthor": "Michael",
            "role": "Facility Services",
            "company": "SHL Medical Charleston",
            "image": [
              "{\"Id\":\"37t9mw4rnqfnr594nrkvvv4\",\"FileName\":\"SHL-Medical_Portrait-MichaelKnight_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/37t9mw4rnqfnr594nrkvvv4/SHL-Medical_Portrait-MichaelKnight_headshot.jpg\",\"AssetId\":\"b8jk6t4j5sfpqmgk3bx7whb\",\"AssetName\":\"Michael Knight\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/801dd83c9ae44e829a30d7b012612ece",
      "title": "More to explore",
      "text": {
        "markup": "<p>There is so much to discover about SHL Medical!</p>\n<p>&nbsp;</p>\n<p>Take a closer look at who we are, learn about our hiring process, and explore the unique teams that drive our success.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/759034d20a344c2c8927fdef764e5841"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/759034d20a344c2c8927fdef764e5841",
            "image": [
              "{\"Id\":\"9pbr6xfk3wsbhbxfspv5rwxz\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9pbr6xfk3wsbhbxfspv5rwxz/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-2.jpg\",\"AssetId\":\"bgsf74nrbm5jxgmrxcwj4smq\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d1e0cfee3936420cb02e5a2fe05b364f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/d1e0cfee3936420cb02e5a2fe05b364f",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/182578dfdd904040a0ac4df73ae1e004"
                  },
                  {
                    "contentUdi": "umb://element/e1889e1e59f84f26bd17130baab5055c"
                  },
                  {
                    "contentUdi": "umb://element/fb5b3084098c42c996842d77917e1fde"
                  },
                  {
                    "contentUdi": "umb://element/0d25843d53584ed48ef39ad3b769a32f"
                  },
                  {
                    "contentUdi": "umb://element/de238aa73bf04f0b97a00262d418896c"
                  },
                  {
                    "contentUdi": "umb://element/ca922f8275a342e295832e35059d7bad"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/e1889e1e59f84f26bd17130baab5055c",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/fb5b3084098c42c996842d77917e1fde",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/0d25843d53584ed48ef39ad3b769a32f",
                  "link": [
                    {
                      "name": "Meet our Engineering team",
                      "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/de238aa73bf04f0b97a00262d418896c",
                  "link": [
                    {
                      "name": "Meet our Operations team",
                      "udi": "umb://document/5d0da370cd514d7a87ef25722665fa18"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/ca922f8275a342e295832e35059d7bad",
                  "link": [
                    {
                      "name": "Meet our Commercial and Corporate team",
                      "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/182578dfdd904040a0ac4df73ae1e004",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/12f3f07ac3854fee94317f34d351eafa",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": null,
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/71a1665800474512aa56a34438ef68ab"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/71a1665800474512aa56a34438ef68ab",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/67530b5ca0874ff9b6816187d3c597f5",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/92117779167d4317bf0d06b8aa5b1dae",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8d2179c3e7094b5392a29f0fc335ee50",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e5f9f7",
        "label": "pastel-green",
        "sortOrder": 5,
        "id": "13"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/9dbf6c318d6446328af8b314e70e0638",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/78f00d4914d242968424b463be34e6f2",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8772cf0e4dec49f9a2f2f30ce18ab8c3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/8772cf0e4dec49f9a2f2f30ce18ab8c3",
      "title": "SHL Medical North Charleston - Advancing our capabilities",
      "text": {
        "markup": "<p>Our brand-new site in North Charleston, South Carolina, helps to drive our success across the US, supporting our global expansion and strengthening our presence in key markets worldwide.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3776bda7b7664367a1d7e1c41a9f0f13"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/3776bda7b7664367a1d7e1c41a9f0f13",
            "buttonIcon": "",
            "link": [
              {
                "name": "Apply now",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/78aa13975bc04cc78bf81a796458f6a5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/78aa13975bc04cc78bf81a796458f6a5",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Visit SHL Medical’s operational base in Charleston, SC. Here we enhance our global logistics and supply chain, ensuring timely delivery of solutions.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[SHL Medical USA - South Carolina]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>