@model DTNL.UmbracoCms.Web.Components.MobileFloatingButton

<section class="c-mobile-floating-button @Model.CssClasses t-white" js-hook-mobile-floating-button>
    <partial name="Button" model="@Model.Button" />
</section>
