{#
Options:
  title: string
  subtitle: string
  description: string
  image: object
  url: string (optional)
#}

{% from 'card-overlay.html' import cardOverlay %}
{% from 'image.html' import image %}

{% macro cardImage(data) %}
  <{{ data.url and 'a' or 'article' }} class="c-card-image c-card-image--has-image
  {%- if data.url %} c-card-image--has-url c-card-overlay-parent{% endif -%}
  {%- if data.theme %} {{ data.theme }}{% endif -%}"
  {%- if data.url %} href="{{ data.url }}"{% endif -%}
  aria-label="{{ data.title }}">

  <div class="card-image__image-container">
    {{ image({
      objectFit: true,
      classes: 'card-image__image',
      imageStyle: 'card'
    }) }}

    {% if data.url %}
      {{ cardOverlay({
        title: data.title
      }) }}
    {% endif %}
  </div>

  <div class="card-image__content-container">

    <h3 class="card-image__title">{{ data.title }}</h3>
    <h4 class="card-image__subtitle">{{ data.subtitle }}</h4>
    <p class="card-image__content">{{ data.content }}</p>

  </div>

  </{{ data.url and 'a' or 'article' }}>
{% endmacro %}
