<?xml version="1.0" encoding="utf-8"?>
<Content Key="07788a54-dd30-410f-b361-1b92daec1644" Alias="Molly® - Copy" Level="3">
  <Info>
    <Parent Key="dd9dee27-4f1d-4543-bc6e-c4c65663c913">Product Overview</Parent>
    <Path>/Home/ProductOverview/MollyCopy</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-05T12:02:04</CreateDate>
    <NodeName Default="Molly® - Copy">
      <Name Culture="en-us">Molly® - Copy</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/20dfbe1a11b044c3b54973441510f212"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/20dfbe1a11b044c3b54973441510f212",
      "title": "Meet Molly® a patient-centric, 2-step autoinjector built on a modular platform technology.",
      "image": [
        {
          "key": "70c606b6-efab-460c-99a5-655041dbcac5",
          "mediaKey": "b12dd5a0-14e8-4e57-86af-47a65bb81c3c"
        }
      ],
      "subTitle": "Optional text",
      "text": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[[
  "Technology"
]]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Card Description</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "af9d65a5-7bf7-4283-b6ea-08ebead8e0de",
    "mediaKey": "d6539024-95b8-42f5-b599-9946ac76d2fb"
  }
]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[[
  "yes"
]]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[[
  "Pre-filled syringe"
]]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a226057d3f7b43e9a6cfe899d8fb96eb",
        "settingsUdi": "umb://element/3affd6bcb39f4f55887835a27c353a5e"
      },
      {
        "contentUdi": "umb://element/31a950b57fe445b1afa9bffe9fb2ae47",
        "settingsUdi": "umb://element/0e47b344e1204afe93500fdb43c8b3b4"
      },
      {
        "contentUdi": "umb://element/f43541edab9047b58ba858969ccc53da",
        "settingsUdi": "umb://element/d71b901e521544a88949e472afcc1e5f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/a226057d3f7b43e9a6cfe899d8fb96eb",
      "title": "",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0f5a993723414bcbab96fd884096696b"
            },
            {
              "contentUdi": "umb://element/c6c6bc84ceef4fc5a9c03f4f12bd1242"
            },
            {
              "contentUdi": "umb://element/95701ef966f2424a904e9ed9bd29c31a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/0f5a993723414bcbab96fd884096696b",
            "productPage": "umb://document/3d6e9891755c4162b64cd994fa457e21"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/c6c6bc84ceef4fc5a9c03f4f12bd1242",
            "productPage": "umb://document/3d6e9891755c4162b64cd994fa457e21"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/95701ef966f2424a904e9ed9bd29c31a",
            "productPage": "umb://document/3d6e9891755c4162b64cd994fa457e21"
          }
        ],
        "settingsData": []
      },
      "showCarousel": "1"
    },
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/31a950b57fe445b1afa9bffe9fb2ae47",
      "text": "This is my new fancy slogan"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/f43541edab9047b58ba858969ccc53da",
      "text": {
        "markup": "<h3>Rich text title</h3>\n<p>&nbsp;</p>\n<p>Some description</p>\n<ul>\n<li>item 1</li>\n<li>item 2</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": null,
      "secondLink": null,
      "showReadMoreOption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/3affd6bcb39f4f55887835a27c353a5e",
      "identifier": "carousel-1",
      "navigationTitle": "carousel-1",
      "theme": {
        "value": "a4ead4",
        "label": "pale-green",
        "sortOrder": 4,
        "id": "5"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/0e47b344e1204afe93500fdb43c8b3b4",
      "identifier": "slogan",
      "navigationTitle": "slogan"
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/d71b901e521544a88949e472afcc1e5f",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[[
  "Reusable electromechanical autoinjector"
]]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e49e51cecc504b0293b7942055601007"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/e49e51cecc504b0293b7942055601007",
      "title": "Molly® autoinjectors",
      "text": {
        "markup": "<p>Modular platform with Bluetooth-enabled add-on and large-volume option. Fully customizable.Modular platform with Bluetooth-enabled add-on and large-volume option. Fully customizable.Modular platform with Bluetooth-enabled add-on and large-volume option. Fully customizable.Modular platform with Bluetooth-enabled add-on and large-volume option. Fully customizable.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d8c55a8cd2f54cd6bef47faae4f36904"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/d8c55a8cd2f54cd6bef47faae4f36904",
            "buttonIcon": [],
            "link": [
              {
                "name": "Home",
                "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "image": [
        {
          "key": "6f10d4d5-0cf2-4d1d-9bc4-3a74679ead32",
          "mediaKey": "d6539024-95b8-42f5-b599-9946ac76d2fb"
        }
      ],
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/47e44d624cbb471391b691537d812a8d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/47e44d624cbb471391b691537d812a8d",
            "buttonIcon": [],
            "link": [
              {
                "name": "Home",
                "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
              }
            ],
            "variant": [
              "secondary"
            ]
          }
        ],
        "settingsData": []
      },
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      },
      "hideAnchorLinks": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Subcutaneous"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/013c07c02c864b55a1ffd92b17778152"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/013c07c02c864b55a1ffd92b17778152",
      "title": "Specificaiton 1 ",
      "specifications": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c40083ecd2ee4f33b3c1d2a146ac14f0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/c40083ecd2ee4f33b3c1d2a146ac14f0",
            "title": "Specification Title - 1 ",
            "text": "Specification Text - 1 "
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[[
  "Low"
]]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[[
  "Medium"
]]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[[
  "≤ 1.0 ml"
]]]></Value>
    </volumeRange>
  </Properties>
</Content>