<?xml version="1.0" encoding="utf-8"?>
<Content Key="13016a13-7585-4e24-a69a-92faf37ba563" Alias="Product" Level="3">
  <Info>
    <Parent Key="c854bbae-c0c9-4943-907b-f7b9d18931fe">Product overview</Parent>
    <Path>/Home/ProductOverview/Product</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-07-29T13:06:08</CreateDate>
    <NodeName Default="Product">
      <Name Culture="en-us">Product</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d973c76804444205b0aec9881b729f2a",
        "settingsUdi": "umb://element/d8e5dbc608d54d4db2adef3c202bd7a0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/d973c76804444205b0aec9881b729f2a",
      "title": "Meet Molly® a patient-centric, 2-step autoinjector built on a modular platform technology.",
      "image": [
        {
          "key": "f1c16f01-1be5-41a8-9c8e-ada7cf08ab86",
          "mediaKey": "c8be16fd-a733-4ebb-8cc3-1665badf6fa6"
        }
      ],
      "subTitle": "Optional text",
      "text": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bcdc74f13f7f4845b3ff3c1a32f1e692",
        "settingsUdi": "umb://element/eb42d88045c9439693d471937754332a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/bcdc74f13f7f4845b3ff3c1a32f1e692",
      "title": "Specifications",
      "specifications": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/eb42d88045c9439693d471937754332a",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3713205d81b54977952073a5d963eda0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/3713205d81b54977952073a5d963eda0",
      "title": "Product Hero title",
      "text": {
        "markup": "<p>Product hero text</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "image": [
        {
          "key": "709c56c8-c2ba-450e-b315-4a434789cff3",
          "mediaKey": "8466d1d9-e187-4cbe-b531-253dfd0b4e9a"
        }
      ],
      "secondaryLink": null,
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 1,
        "id": "2"
      },
      "hideAnchorLinks": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "ffffff",
  "label": "white",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Intramuscular"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </volumeRange>
  </Properties>
</Content>