<?xml version="1.0" encoding="utf-8"?>
<Content Key="13016a13-7585-4e24-a69a-92faf37ba563" Alias="Product" Level="3">
  <Info>
    <Parent Key="c854bbae-c0c9-4943-907b-f7b9d18931fe">Product overview</Parent>
    <Path>/Home/ProductOverview/Product</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-07-29T13:06:08</CreateDate>
    <NodeName Default="Product">
      <Name Culture="en-us">Product</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3713205d81b54977952073a5d963eda0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/3713205d81b54977952073a5d963eda0",
      "title": "Product Hero title",
      "text": {
        "markup": "<p>Product hero text</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": [
        {
          "name": "Home",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "image": [
        {
          "key": "a382bb90-14ef-4f95-a4fe-7216e9f961df",
          "mediaKey": "e06a4a80-d83e-4d7a-81a8-3efd4cdd206c"
        }
      ],
      "hideNavigationLinks": "0",
      "secondaryLink": null,
      "theme": {
        "value": "e6e7e8",
        "label": "light-grey",
        "sortOrder": 1,
        "id": "2"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <productDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Product Description</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </productDescription>
    <productImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2bb991dc-869c-458a-b463-2bfd06faea57",
    "mediaKey": "e06a4a80-d83e-4d7a-81a8-3efd4cdd206c"
  }
]]]></Value>
    </productImage>
    <productName>
      <Value Culture="en-us"><![CDATA[Product Name]]></Value>
    </productName>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Intramuscular"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <theme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </theme>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </volumeLevel>
  </Properties>
</Content>