<?xml version="1.0" encoding="utf-8"?>
<Content Key="43571b10-8f92-4da7-834d-823d795b0466" Alias="Tobi product 4" Level="3">
  <Info>
    <Parent Key="dd9dee27-4f1d-4543-bc6e-c4c65663c913">Product Overview</Parent>
    <Path>/Home/ProductOverview/TobiProduct4</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-06T14:37:12</CreateDate>
    <NodeName Default="Tobi product 4">
      <Name Culture="en-us">Tobi product 4</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9e4562886d1d4dec8b9cf25826b0a716"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/9e4562886d1d4dec8b9cf25826b0a716",
      "title": "Tobi page 4",
      "image": [
        {
          "key": "afd5f5b7-259a-45cb-bc5f-a5b6c3d66819",
          "mediaKey": "622feeba-6015-44b6-b6ce-81ae7e287f1a"
        }
      ],
      "subTitle": "",
      "text": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ced2f88c7ed9483fbe336cf420c6b155"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/ced2f88c7ed9483fbe336cf420c6b155",
      "title": "Tobi page 4",
      "text": {
        "markup": "<p>Tobi page 4</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "hideAnchorLinks": "0",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 12,
        "id": "8"
      },
      "productHeroImage": [
        "{\"Id\":\"sr7zhx593j2ts7nwcg25fjcv\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/as/sr7zhx593j2ts7nwcg25fjcv/sr7zhx593j2ts7nwcg25fjcv?height=250\\u0026width=250\\u0026fit=crop\",\"Name\":\"Molding_SHL1706-22_retouch\"}"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "baedf3",
  "label": "pale-blue",
  "sortOrder": 12,
  "id": "8"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[[
  "Low"
]]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[[
  "High"
]]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </volumeRange>
  </Properties>
</Content>