/*----------------------------------*\
  #RADII
\*----------------------------------*/

$radii-4: var(--radii-4);
$radii-12: var(--radii-12);
$radii-16: var(--radii-16);
$radii-20: var(--radii-20);
$radii-24: var(--radii-24);
$radii-40: var(--radii-40);
$radii-full: var(--radii-full);

:root {
  --radii-4: 4px;
  --radii-12: 12px;
  --radii-16: 16px;
  --radii-20: 20px;
  --radii-24: 24px;
  --radii-40: 40px;
  --radii-full: 100%;
}
