<?xml version="1.0" encoding="utf-8"?>
<Content Key="33c1a690-a7a8-4691-8af4-a9ec6ec06358" Alias="contract maker (438-en_US)" Level="3">
  <Info>
    <Parent Key="40014bfa-7c51-4fd9-a65d-33d3a6c32d25">Vacancies</Parent>
    <Path>/Home/Vacancies/contractMaker438En_US</Path>
    <Trashed>false</Trashed>
    <ContentType>pageVacancy</ContentType>
    <CreateDate>2024-11-18T14:30:14</CreateDate>
    <NodeName Default="contract maker (438-en_US)">
      <Name Culture="en-us">contract maker (438-en_US)</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="14699a59-b01e-4fe0-b63f-dd84d4cc4fb5">PageVacancy</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <city>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </city>
    <company>
      <Value Culture="en-us"><![CDATA[SHL Medical AG]]></Value>
    </company>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <contractType>
      <Value Culture="en-us"><![CDATA[Part time]]></Value>
    </contractType>
    <country>
      <Value Culture="en-us"><![CDATA[Switzerland]]></Value>
    </country>
    <createdAt>
      <Value><![CDATA[2024-11-18T01:00:00]]></Value>
    </createdAt>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </doNotIndex>
    <externalId>
      <Value><![CDATA[438-en_US]]></Value>
    </externalId>
    <externalUrl>
      <Value Culture="en-us"><![CDATA[https://tsshlmedical.valhalla12.stage.jobs2web.com/job/contract-maker/176428951/?feedId=416333&utm_source=CorpSite]]></Value>
    </externalUrl>
    <function>
      <Value Culture="en-us"><![CDATA[Human Resources]]></Value>
    </function>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/66ab74078961439db75d81333bce034c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/66ab74078961439db75d81333bce034c",
      "title": "contract maker",
      "subTitle": "Switzerland"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </hideFromSearch>
    <jobDescription>
      <Value Culture="en-us"><![CDATA[<p>test</p>]]></Value>
    </jobDescription>
    <jobLevel>
      <Value Culture="en-us"><![CDATA[Executive]]></Value>
    </jobLevel>
    <lastUpdatedAt>
      <Value><![CDATA[2024-11-26T10:05:44]]></Value>
    </lastUpdatedAt>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <postalCode>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </postalCode>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <state>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </state>
    <title>
      <Value Culture="en-us"><![CDATA[contract maker]]></Value>
    </title>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>