<?xml version="1.0" encoding="utf-8"?>
<Content Key="cee53a63-e649-4617-8afd-25fd652073db" Alias="404 Test" Level="3">
  <Info>
    <Parent Key="daae07e7-1ff5-4bde-9bf0-94ef5aea1f95">Special pages</Parent>
    <Path>/Home/SpecialPages/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>pageError</ContentType>
    <CreateDate>2024-09-30T14:53:35</CreateDate>
    <NodeName Default="404 Test">
      <Name Culture="en-us">404 Test</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="87edb1bd-f992-4f20-9ba6-a15ae7548424">PageError</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b689da72c95b430caeacc0ffeefc0366",
        "settingsUdi": "umb://element/b76dda9ea8154afa8588613e85f2bf93"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/b689da72c95b430caeacc0ffeefc0366",
      "title": "Introducing the Electronic Motorized Autoinjector",
      "text": {
        "markup": "<p>It’s new, it’s revolutionary, and it’s here. Our flagship product Molly® is now available as an Electronic Motorized Autoinjector (EMAI).</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fb42657491f645a99dd5fcfc758a3cea"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/fb42657491f645a99dd5fcfc758a3cea",
            "image": [
              {
                "key": "02200052-536d-4374-8674-446174cd979a",
                "mediaKey": "d0fe0738-785e-4563-8180-b37cd7af0379"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      },
      "items": null,
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "Discover the power of EMAI",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "secondaryLink": null,
      "video": null,
      "mediaPosition": [
        "left"
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b76dda9ea8154afa8588613e85f2bf93",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <errorDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<ul>\n<li>Check the URL for any errors</li>\n<li>Head back to our homepage</li>\n<li>Or contact our support team for assistance</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </errorDescription>
    <errorMessage>
      <Value Culture="en-us"><![CDATA[We can’t find the page you’re looking for, here’s what you can do]]></Value>
    </errorMessage>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3620f767cb7542f9b85a4ae9b8142235"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/3620f767cb7542f9b85a4ae9b8142235",
      "title": "404",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <primaryLink>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/edd77c81f68c40a898442eb3cc1614c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
      "udi": "umb://element/edd77c81f68c40a898442eb3cc1614c4",
      "buttonIcon": [],
      "link": [
        {
          "name": "Back to homepage",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "variant": [
        "primary"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </primaryLink>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <secondaryLink>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c692e914bae341569998b3e6d0875b22"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
      "udi": "umb://element/c692e914bae341569998b3e6d0875b22",
      "buttonIcon": [],
      "link": [
        {
          "name": "Get in touch",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "variant": [
        "secondary"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </secondaryLink>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/249811f7e11b4f0d913ecdaa4d772d77"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/249811f7e11b4f0d913ecdaa4d772d77",
      "text": "404 • "
    }
  ],
  "settingsData": []
}]]></Value>
    </slogan>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>