<?xml version="1.0" encoding="utf-8"?>
<Content Key="a419f124-7a50-4f14-9e71-90887bc87379" Alias="500" Level="3">
  <Info>
    <Parent Key="daae07e7-1ff5-4bde-9bf0-94ef5aea1f95">Special pages</Parent>
    <Path>/Home/SpecialPages/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageError</ContentType>
    <CreateDate>2024-09-30T14:54:20</CreateDate>
    <NodeName Default="500">
      <Name Culture="en-us">500</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="87edb1bd-f992-4f20-9ba6-a15ae7548424">PageError</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/788179bddd724cd99c68b2bf499873e0",
        "settingsUdi": "umb://element/4c3b63e0a05c43228357cd124bcc6213"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/788179bddd724cd99c68b2bf499873e0",
      "title": "Introducing the Electronic Motorized Autoinjector",
      "text": {
        "markup": "<p>It’s new, it’s revolutionary, and it’s here. Our flagship product Molly® is now available as an Electronic Motorized Autoinjector (EMAI).</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/802aa5dd19bd4c13abebe4694a94ebe1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/802aa5dd19bd4c13abebe4694a94ebe1",
            "image": [
              {
                "key": "02200052-536d-4374-8674-446174cd979a",
                "mediaKey": "d0fe0738-785e-4563-8180-b37cd7af0379"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      },
      "items": null,
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "Discover the power of EMAI",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "secondaryLink": null,
      "video": null,
      "mediaPosition": [
        "left"
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4c3b63e0a05c43228357cd124bcc6213",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <errorDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<ul>\n<li>\n<p>Unknown error!</p>\n</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </errorDescription>
    <errorMessage>
      <Value Culture="en-us"><![CDATA[Unknown error?]]></Value>
    </errorMessage>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/83be49f91618412b8eff1acdc5738f55"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/83be49f91618412b8eff1acdc5738f55",
      "title": "500",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <primaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </primaryLink>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <secondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </secondaryLink>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dcb82dae9ac14c5186210bdf24e33796"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/dcb82dae9ac14c5186210bdf24e33796",
      "text": "500 • "
    }
  ],
  "settingsData": []
}]]></Value>
    </slogan>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>