<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8fc8d13-e4df-4ac4-9917-d9d9cb25f5ac" Alias="500" Level="3">
  <Info>
    <Parent Key="daae07e7-1ff5-4bde-9bf0-94ef5aea1f95">Special pages</Parent>
    <Path>/Home/SpecialPages/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageError</ContentType>
    <CreateDate>2024-09-10T12:42:00</CreateDate>
    <NodeName Default="500">
      <Name Culture="en-us">500</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="87edb1bd-f992-4f20-9ba6-a15ae7548424">PageError</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <errorDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Unknown error!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </errorDescription>
    <errorMessage>
      <Value Culture="en-us"><![CDATA[Unknown error?]]></Value>
    </errorMessage>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ff93c4280b424dd1a41fa3b027055a96"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a2db7b26-a2a9-4f3a-8486-232f4f22048c",
      "udi": "umb://element/ff93c4280b424dd1a41fa3b027055a96",
      "title": "500"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "062f54",
  "label": "general",
  "sortOrder": 2,
  "id": "3"
}]]></Value>
    </pageTheme>
    <primaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </primaryLink>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <secondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </secondaryLink>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>