<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efc5a14b-10ef-4373-86b1-4bf418f60264" Alias="nestedBlockKnowledgeCards" Level="3">
  <Info>
    <Name>Knowledge Cards</Name>
    <Icon>icon-playing-cards color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+Blocks/Carousel</Folder>
    <Compositions>
      <Composition Key="ec3f09f6-54c4-4936-af4b-c84e7157ffd9">compositionAnchors</Composition>
      <Composition Key="49ad37dd-ed34-464a-99e0-1c6a80837da5">compositionCards</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4521a8ec-bdb7-4236-b7ac-6dced589098a</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>623dba4c-062e-422a-a8ee-69e3b6826606</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4238fc03-e306-45fd-851d-54136979733b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>