<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9040e34-e98e-4dd7-bc30-b527556e461e" Alias="nestedBlockProductCards" Level="3">
  <Info>
    <Name>Product Cards</Name>
    <Icon>icon-playing-cards color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+Blocks/Carousel</Folder>
    <Compositions>
      <Composition Key="ec3f09f6-54c4-4936-af4b-c84e7157ffd9">compositionAnchors</Composition>
      <Composition Key="49ad37dd-ed34-464a-99e0-1c6a80837da5">compositionCards</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e9dce17b-cb8f-41e4-af2f-6bba417ddad8</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>e13b7460-b544-4295-92b2-7df334a5bff4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>de9c295d-761f-4f06-91fd-d8bb6fefc973</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>