<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="445794ef-8481-4f6a-8eaf-845fda4fb393" Alias="nestedBlockContactCards" Level="3">
  <Info>
    <Name>Contact Cards</Name>
    <Icon>icon-playing-cards color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+Blocks/Carousel</Folder>
    <Compositions>
      <Composition Key="49ad37dd-ed34-464a-99e0-1c6a80837da5">compositionCards</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1c8cc6a3-2dd7-4703-ab3a-51ab35b7d99b</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>6438ed03-68db-40b6-bf87-afec4427c35b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aa670801-c917-41ca-a536-25340024224c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>