<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa105447-3138-49d1-ba9a-3617af036298" Alias="nestedBlockHeaderMenu" Level="2">
  <Info>
    <Name>Header Menu</Name>
    <Icon>icon-browser-window color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="52fbe2d8-6814-41db-a9f0-849bca7dd23f" SortOrder="0">headerFeature</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f7f20207-68f5-4a46-940a-917f6ba05b1a</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>c2af88cc-4191-4cdc-99ea-3208ae552e18</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b313092e-edb1-4810-b8b1-eacfca85a743</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>