.c-text-download {
  --text-download-transition-time: var(--button-transition-time);
  --text-download-transition-ease: var(--button-transition-ease);

  @include grid(2);
  gap: $spacing-40;

  @include screen-lg-and-bigger {
    grid-template-areas: 'colstart colend';
  }
}

.text-download__col {
  @include col-span(2);

  &--media {
    margin-top: $spacing-24;
  }

  @include screen-lg-and-bigger {
    @include col-span(1);

    &--text {
      grid-area: colstart;
    }

    &--media {
      grid-area: colend;
      margin-top: 0;
    }

    .c-text-download--media-position-start & {
      &--text {
        grid-area: colend;
      }

      &--media {
        grid-area: colstart;
      }
    }

    .c-layout-section:not(.c-layout-section--in-grid)
      .c-text-download--media-position-start
      &--text {
      padding-inline-start: $spacing-40;
    }
  }
}

.text-download__title {
  text-wrap: balance;
}

.text-download__description {
  margin-top: $spacing-32;
  max-width: 500px;
  text-wrap: balance;

  @include fluid-type($font-size-body-l, $font-size-body-m);

  @include screen-lg-and-bigger {
    padding-inline-start: $spacing-40;
  }
}

.text-download__title {
  .c-layout-section--in-grid & {
    @include h3;
  }
}

.text-download__image {
  position: relative;

  .image__holder {
    overflow: hidden;
    border-radius: $radii-12;
    aspect-ratio: 1 / 1;
  }

  .c-shape {
    --bg-color: var(--color-background);
  }

  .c-button {
    --button-primary-background-color: var(--color-content);
    --button-primary-font-color: var(--color-card-content);
  }

  @include screen-lg-and-bigger {
    .c-layout-section--in-grid & {
      max-width: 430px;
      margin-inline-start: auto;
    }

    .c-layout-section--in-grid .c-text-download--media-position-start & {
      margin-inline-start: 0;
      margin-inline-end: auto;
    }
  }
}

.text-download__ctas {
  @include cta-container;
}

.c-download-item {
  position: relative;
  display: grid;
  padding-block: $spacing-24;
  grid-template-columns: auto 1fr;
  gap: $spacing-16;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(var(--color-dark-blue-rgb), 0.2);
  }

  @include screen-xl-and-bigger {
    grid-template-columns: auto 1fr auto;
  }
}

.download-item__icon-container {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.download-item__link-container {
  grid-column-end: -1;
}

.download-item__title {
  @include h6;
}

.download-item__title,
.download-item__icon-container {
  transition: var(--text-download-transition-time) var(--text-download-transition-ease);
  transition-property: color;

  .c-download-item:hover & {
    color: $color-light-blue;
  }
}

.download-item__link {
  display: inline-flex;
  align-items: center;
  gap: $spacing-8;
  background-color: $color-pastel-blue;
  color: $color-dark-blue;
  padding: $spacing-8 $spacing-16;
  border-radius: $radii-40;
  transition: var(--text-download-transition-time) var(--text-download-transition-ease);
  transition-property: background-color, color;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  @include hover-focus(false) {
    background-color: $color-light-blue;
    color: $color-pastel-blue;
  }

  @include screen-xl-and-bigger {
    background-color: transparent;
  }
}

.download-item__description {
  text-wrap: balance;
}

.download-item__link-icon {
  flex-grow: 0;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}
