@model DTNL.UmbracoCms.Web.Components.Navigation

<nav class="c-navigation-desktop" js-hook-navigation-desktop title="mainNav">

    <ul class="navigation-desktop__list">
        @foreach (Components.Navigation.MenuItem item in Model.Items)
        {
            <li class="navigation-desktop__list-item" js-hook-navigation-desktop-item>
                @if (item?.Submenu?.Items.Count() > 0)
                {
                    <button class="navigation-desktop__item" js-hook-navigation-desktop-anchor
                    @Html.Attribute("aria-expanded", "false")
                    @Html.Attribute("aria-controls", item?.Submenu != null ? $"flyout-@{item.Submenu?.Id}" : null)
                    >
                        @item?.Link?.Label
                    </button>
                    <partial name="./Flyout.cshtml" model="@(item)" />
                } else {
                    <a href="@item?.Link?.Url"
                       target="@item?.Link?.Target"
                       class="navigation-desktop__item"
                       js-hook-navigation-desktop-anchor
                    >
                        @item?.Link?.Label
                    </a>
                }               
            </li>
        }
    </ul>
</nav>
