@model DTNL.UmbracoCms.Web.Components.NestedBlock.NestedBlockSlogan

<div class="styleguide__component-col styleguide__component-col--theme styleguide__component-col--12">
    <partial name="Slogan" model="Model.Slogan" />
</div>
