<?xml version="1.0" encoding="utf-8"?>
<Content Key="268ba5b1-2d8c-458f-9a88-b2d234c34485" Alias="Data" Level="2">
  <Info>
    <Parent Key="22ea2f04-a9a2-4880-ac57-a012cc426ad5">Homepage</Parent>
    <Path>/Homepage/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>dataFolder</ContentType>
    <CreateDate>2024-11-12T10:57:24</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>