<?xml version="1.0" encoding="utf-8"?>
<Content Key="21192522-bf8e-4532-839d-88739fe48bf4" Alias="Get in touch" Level="2">
  <Info>
    <Parent Key="22ea2f04-a9a2-4880-ac57-a012cc426ad5">Homepage</Parent>
    <Path>/Homepage/GetInTouch</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:43:40</CreateDate>
    <NodeName Default="Get in touch">
      <Name Culture="en-us">Get in touch</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/59f51a2569f244f482cb91f67878e01d",
        "settingsUdi": "umb://element/e0d1c76c318f499bbfdff7f510ea73fb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/59f51a2569f244f482cb91f67878e01d",
      "title": "Please contact us, we are happy to answer your questions! ",
      "text": {
        "markup": "<p>For questions, ideas, partnership inquiries, or further requests, please don't hesitate to reach out. We will get back to you.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8914c3874b5e4fd29cb70b74125bd06b"
            },
            {
              "contentUdi": "umb://element/4a45a101745c40599332ae97e32022e1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/8914c3874b5e4fd29cb70b74125bd06b",
            "icon": "",
            "title": "Call us",
            "text": {
              "markup": "<p><strong>+41 41 368 00 00</strong></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/4a45a101745c40599332ae97e32022e1",
            "icon": "",
            "title": "Visit us",
            "text": {
              "markup": "<p>Find us in one of our offices or at our HQ in Zug</p>\n<p><strong>Gubelstrasse 22</strong><br><strong>6300 Zug</strong><br><strong>Switzerland</strong></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e0d1c76c318f499bbfdff7f510ea73fb",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f127821f8ce4f5ea9f3a14334bc12a1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/4f127821f8ce4f5ea9f3a14334bc12a1",
      "title": "Get in touch",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>