<?xml version="1.0" encoding="utf-8"?>
<Content Key="db3ce2a7-cda2-4108-a67c-5976aed6650b" Alias="News and insights" Level="2">
  <Info>
    <Parent Key="22ea2f04-a9a2-4880-ac57-a012cc426ad5">Homepage</Parent>
    <Path>/Homepage/NewsAndInsights</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:42:53</CreateDate>
    <NodeName Default="News and insights">
      <Name Culture="en-us">News and insights</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2d92171401be4d53a5f5552c425c62d9",
        "settingsUdi": "umb://element/4ac7bd19fe714e26b0cadb4bc10888f5"
      },
      {
        "contentUdi": "umb://element/32f6a8bac3cd4c4399b332ebe13b66e2",
        "settingsUdi": "umb://element/f4e92a28919546c89c21c206f4ab7e04"
      },
      {
        "contentUdi": "umb://element/8ea8877467854cedb2d74072bd47b98f",
        "settingsUdi": "umb://element/bb69fd4f4b4d4b20b5edfcbe77d4e35e"
      },
      {
        "contentUdi": "umb://element/c8982f3f807546c4aca8acc462993a81",
        "settingsUdi": "umb://element/b1f0ba92c9a44ac78e953b5a337ef221"
      },
      {
        "contentUdi": "umb://element/b1a201b9e8c34afcb6c866d0c1b9fe60",
        "settingsUdi": "umb://element/4adc0686c14442b4a6819bac01c1fb2c"
      },
      {
        "contentUdi": "umb://element/8a5e11a63fef4d2a9f515703729a9eac",
        "settingsUdi": "umb://element/a5e28b3b94304cdda4942a9f5ade8ad0"
      },
      {
        "contentUdi": "umb://element/35a0d51e2af04719984f299ea7da1384",
        "settingsUdi": "umb://element/89763bfcf1d242dc9c8c52390a62677d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/32f6a8bac3cd4c4399b332ebe13b66e2",
      "title": "",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ecf20cb5fab7458c9f74b80d134d85cd"
            },
            {
              "contentUdi": "umb://element/d115370650384b0fac9ba7366575e2d0"
            },
            {
              "contentUdi": "umb://element/14a9f8e81f4c40669c03cc3a4af41878"
            },
            {
              "contentUdi": "umb://element/edd1df3139eb4b8e9ddf369c863e1ed6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/ecf20cb5fab7458c9f74b80d134d85cd",
            "title": "Publications ",
            "text": {
              "markup": "<p>Explore reports like our Sustainability Report 2023, Supplier Code of Conduct, and recent press releases.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": [
              {
                "name": "Publications and press releases",
                "udi": "umb://document/f4de992c803c40128c4c740a821d65d0"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/d115370650384b0fac9ba7366575e2d0",
            "title": "Events ",
            "text": {
              "markup": "<p>Get the scoop on the industry’s biggest events, where we share our latest advancements in drug delivery.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": [
              {
                "name": "Events",
                "udi": "umb://document/5c5c75df84cf48b48ece8c261452f512"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/14a9f8e81f4c40669c03cc3a4af41878",
            "title": "Blog",
            "text": {
              "markup": "<p><span>Gain insights from our thought leaders, with articles on topics like improving global networks with innovative technologies. </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": [
              {
                "name": "Blogs",
                "udi": "umb://document/f6211f7b47404f2a8c071960a60941eb"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/edd1df3139eb4b8e9ddf369c863e1ed6",
            "title": "News",
            "text": {
              "markup": "<p>Get up to speed with the latest news at SHL Medical.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": [
              {
                "name": "News",
                "udi": "umb://document/4f317760381044d3ad6fb6dc834b5bb4"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/8a5e11a63fef4d2a9f515703729a9eac",
      "title": "Our publications",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/76f07ba5d24149bb939bcdd9fa584d9e"
            },
            {
              "contentUdi": "umb://element/30fc60da01b8412a82227640a20c7466"
            },
            {
              "contentUdi": "umb://element/39e0af3110234f7d84657388cc0111f6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/76f07ba5d24149bb939bcdd9fa584d9e",
            "title": "Sustainability Report 2023",
            "description": "In this report, we share our goals, initiatives, and progress of our Sustainability Strategy 2030.",
            "icon": "",
            "file": [
              "{\"Id\":\"szvbgc6g4s9nm7bxgnn5bxqb\",\"FileName\":\"SHLMedical_2023SustainabilityReport.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/szvbgc6g4s9nm7bxgnn5bxqb/SHLMedical_2023SustainabilityReport.pdf\",\"AssetId\":\"vk94mxhk55326ss7qcr4k5f\",\"AssetName\":\"SHLMedical 2023SustainabilityReport\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/30fc60da01b8412a82227640a20c7466",
            "title": "SHL Medical's Elexy: Redefining Possibilities",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"pmsm5kwnk39t5hq6nmk37nq\",\"FileName\":\"SHL-Medical-Elexy-Redefining-Possibilities.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pmsm5kwnk39t5hq6nmk37nq/SHL-Medical-Elexy-Redefining-Possibilities.jpg\",\"AssetId\":\"gfq4937fmh7k8g7xpcsg85x7\",\"AssetName\":\"SHL-Medical-Elexy-Redefining-Possibilities\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/39e0af3110234f7d84657388cc0111f6",
            "title": "Automating high-mix, low-to-medium-volume autoinjector assembly",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"gngm9xv4fsccmwjsx3wvv43\",\"FileName\":\"Automating-high-mix-low-to-medium-volume-autoinjector-assembly.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gngm9xv4fsccmwjsx3wvv43/Automating-high-mix-low-to-medium-volume-autoinjector-assembly.jpg\",\"AssetId\":\"jgjwvcmt6h8qwbnbk57k8k8p\",\"AssetName\":\"Automating-high-mix-low-to-medium-volume-autoinjector-assembly\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/c8982f3f807546c4aca8acc462993a81",
      "title": "Our successes",
      "description": "Over the past two decades, we have become a trusted partner for innovative drug delivery solutions. From Quick to Market™ services to our first preconfigured autoinjector, we have helped redefine industry standards. Every project is developed with our biopharma clients to ensure efficient and safe drug delivery.\n",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a409ec16f8b24293acf830ead47519b5"
            },
            {
              "contentUdi": "umb://element/d1c4a9083bd04ce5aaf765f4b4545ce0"
            },
            {
              "contentUdi": "umb://element/df1734c0397242a5b1552fa33edb406c"
            },
            {
              "contentUdi": "umb://element/2e6aa60632ba4fa5852d613cc9c81883"
            },
            {
              "contentUdi": "umb://element/d9f0231192db4a6ab62905175ed566ba"
            },
            {
              "contentUdi": "umb://element/4d7e4883be68466b8514975013915bc9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/a409ec16f8b24293acf830ead47519b5",
            "title": "Quick to Market™ services",
            "description": "Our Quick to Market™ services accelerate product launches by combining in-house expertise with streamlined processes. Supported by this program, the Molly® platform achieved key milestones within a year, advancing from FDA approval to commercial delivery in under a month.",
            "image": [
              "{\"Id\":\"r9chxngmjrpvghxxpmqtx9\",\"FileName\":\"molly-tiers-optimized-mailshot-transparent.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/r9chxngmjrpvghxxpmqtx9/molly-tiers-optimized-mailshot-transparent.png\",\"AssetId\":\"mpxc6p8vxr7gjrp33vprqrz\",\"AssetName\":\"molly-tiers-optimized-mailshot-transparent\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d1c4a9083bd04ce5aaf765f4b4545ce0",
            "title": "The modular platform autoinjector",
            "description": "The Molly® platform supports customizable device design for biologics, including the first high-volume autoinjector (≥2.0 mL). Its modular approach has seen continued success across global markets.",
            "image": [
              "{\"Id\":\"4pqngpkvx7vqf9kbvgcbk8b\",\"FileName\":\"Soul_and_Risa.144.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4pqngpkvx7vqf9kbvgcbk8b/Soul_and_Risa144.png\",\"AssetId\":\"6n9mvkr3s3wbsmgwmk8fvwrb\",\"AssetName\":\"Soul and Risa.144\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/df1734c0397242a5b1552fa33edb406c",
            "title": "The first preconfigured autoinjector",
            "description": "Introduced in 2010, Molly® is our first preconfigured autoinjector, developed to expedite development timelines and reduce costs. By 2016, it had earned the 2011 Good Design Award and supported treatments for migraines and autoimmune diseases.",
            "image": [
              "{\"Id\":\"s5hqqx5w7fcq9qxkpk69h5\",\"FileName\":\"Molly-success-story_success1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s5hqqx5w7fcq9qxkpk69h5/Molly-success-story_success1.jpg\",\"AssetId\":\"p949jwqrsb4q8cbpxkq3bqn\",\"AssetName\":\"Molly-success-story success1\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/2e6aa60632ba4fa5852d613cc9c81883",
            "title": "High-precision autoinjector for viscous formulations",
            "description": "The development of our Precision Pen Injector (PPI®) highlights our success in addressing industry challenges. Featuring our patented Rotaject® technology for precise dose delivery of viscous formulations, it combines innovation with design excellence, earning the 2009 Red Dot Design Award.",
            "image": [
              "{\"Id\":\"3x88mk6qkckfsjpf4mnj\",\"FileName\":\"PPI_1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3x88mk6qkckfsjpf4mnj/PPI_1.jpg\",\"AssetId\":\"fs89t32chrctvbgjm92m38\",\"AssetName\":\"PPI 1\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d9f0231192db4a6ab62905175ed566ba",
            "title": "Button activated autoinjector",
            "description": "Launched in 2006, the DAI® autoinjector was one of the first modern autoinjectors. Designed for easier self-injection, it established SHL Medical as a market leader and earned the 2006 Taiwan Excellence Award.",
            "image": [
              "{\"Id\":\"67j7kxj7rnrvbbrkwnbcw3w\",\"FileName\":\"DAI-2-4.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/67j7kxj7rnrvbbrkwnbcw3w/DAI-2-4.png\",\"AssetId\":\"jztfnkwtm44bx8r4vrnbn7b\",\"AssetName\":\"DAI-2-4\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/4d7e4883be68466b8514975013915bc9",
            "title": "Solution for cartridge-based autoinjector",
            "description": "Our innovative Needle Isolation Technology (NIT®) was integrated to a cartridge-based autoinjector supporting the treatment of type 2 diabetes. The NIT autoinjector was selected as the Gold Winner of the 2019 Medical Design Excellence Awards (MDEA).",
            "image": [
              "{\"Id\":\"mvtkc7rmqqr89ckr3xrb27tg\",\"FileName\":\"Medical-Design-Excellence-Awards_2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mvtkc7rmqqr89ckr3xrb27tg/Medical-Design-Excellence-Awards_2.jpg\",\"AssetId\":\"9jfc4vfj5v75pg426rk5fkn\",\"AssetName\":\"Medical-Design-Excellence-Awards 2\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/8ea8877467854cedb2d74072bd47b98f",
      "title": "We have the expertise to drive the industry",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f77dcef087844dccb04939b73f726af4"
            },
            {
              "contentUdi": "umb://element/dd617c93fb3b45ecb7c98cef4d63bc3b"
            },
            {
              "contentUdi": "umb://element/57d005576aea4d32bf40e38b5ec56e07"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/f77dcef087844dccb04939b73f726af4",
            "title": "120+ M",
            "subTitle": "Patients reached",
            "text": {
              "markup": "<p><span>SHL Medical autoinjectors reach patients worldwide in a year.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/dd617c93fb3b45ecb7c98cef4d63bc3b",
            "title": "50+",
            "subTitle": "Combination products",
            "text": {
              "markup": "<p>Launched in the market, covering 12 out of 12 therapeutic areas as defined by IQVIA.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/57d005576aea4d32bf40e38b5ec56e07",
            "title": "75+",
            "subTitle": "Markets",
            "text": {
              "markup": "<p>Are reached by our commercialized solutions</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/b1a201b9e8c34afcb6c866d0c1b9fe60",
      "title": "Our insights cover the whole drug delivery device value chain",
      "text": {
        "markup": "<p>We support you through every stage of development and production, providing tailored solutions and expert insights. Our modular device development strategy, refined over years, ensures the lasting value of self-injection systems designed in collaboration with our customers. In combination product development, we address varied device needs by leveraging our platform offerings and end-to-end services — from research and testing to regulatory filings and final assembly. This integrated approach ensures a smooth and reliable experience, meeting the highest demands of our pharma and biotech partners.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f58e3075cdb44cb390f99ee1d2775223"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/f58e3075cdb44cb390f99ee1d2775223",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/999d2bef30534ebf97bf9f66e485f3c0"
                  },
                  {
                    "contentUdi": "umb://element/33282ec6953d4bc1b2318d22ec9da2b5"
                  },
                  {
                    "contentUdi": "umb://element/c6ce26c9cd7a442dbad2bb1f8a06b352"
                  },
                  {
                    "contentUdi": "umb://element/81b5d21d7522472b84549486cf669f4d"
                  },
                  {
                    "contentUdi": "umb://element/0a162370f2ec4a0b9fe8f66988a2d3c9"
                  },
                  {
                    "contentUdi": "umb://element/900b25f9b63f48ecb3175b0e539e9071"
                  },
                  {
                    "contentUdi": "umb://element/48da606331104d94a96536b29fb7d3a8"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/999d2bef30534ebf97bf9f66e485f3c0",
                  "title": "Feasibility and device selection",
                  "text": {
                    "markup": "<p>We help customers assess their drug and primary packaging compatibility through functional testing and dimension analysis, reducing costly risks and optimizing package selection.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/33282ec6953d4bc1b2318d22ec9da2b5",
                  "title": "Design",
                  "text": {
                    "markup": "<p>Our constant pursuit of contemporary yet innovative designs in drug delivery technologies is a cornerstone of our success. From concept development to human factors engineering, our competencies ensure user-centric designs.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/c6ce26c9cd7a442dbad2bb1f8a06b352",
                  "title": "Development",
                  "text": {
                    "markup": "<p><span>We collaborate with the top 25 pharma and biotech companies to develop innovative devices, leveraging scientific principles and extensive product development expertise in design, testing, and manufacturing. </span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/81b5d21d7522472b84549486cf669f4d",
                  "title": "Scale-up",
                  "text": {
                    "markup": "<p>Our in-house manufacturing enables flexible, scalable solutions that meet customer needs throughout the product lifecycle. We accelerate time-to-market with tailored support and integrated processes for efficient production and assembly.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0a162370f2ec4a0b9fe8f66988a2d3c9",
                  "title": "Production",
                  "text": {
                    "markup": "<p>We have delivered hundreds of millions of self-injection devices to patients, supporting both established and novel treatments in the industry. We are committed to expanding our global manufacturing operations and exploring new markets with our partners.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/900b25f9b63f48ecb3175b0e539e9071",
                  "title": "Final assembly, labeling, and packaging",
                  "text": {
                    "markup": "<p>We offer final assembly, labeling, and packaging services in the US and in Europe through our alliance partners. Our Deerfield Beach site provides equipment qualification, process development, and turnkey solutions, along with labeling, packaging, and serialization.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/48da606331104d94a96536b29fb7d3a8",
                  "title": "Lifecycle management and support",
                  "text": {
                    "markup": "<p>Our quality, regulatory, and supply chain expertise is fully integrated into each device project to fulfill clinical, commercial, and aftermarket needs.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/35a0d51e2af04719984f299ea7da1384",
      "title": "Get in touch to discuss our latest insights",
      "text": {
        "markup": "<p><span>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else you want us to know about. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d774a74939b645e9b2cfbbedb05eda63"
            },
            {
              "contentUdi": "umb://element/1cdf7efafc0d417a8453ac891aef7e2a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/d774a74939b645e9b2cfbbedb05eda63",
            "icon": "",
            "title": "Call us",
            "text": {
              "markup": "<p><span>Mon-Fri from 8:00AM-5:00PM (GMT+2)&nbsp;<br>+41 41 368 00 00</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/1cdf7efafc0d417a8453ac891aef7e2a",
            "icon": "",
            "title": "Visit us",
            "text": {
              "markup": "<p><span>You can find our office HQ at <br>Gubelstrasse 22 6300 Zug, Switzerland</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/2d92171401be4d53a5f5552c425c62d9",
      "text": {
        "markup": "<h2>Our thought leadership</h2>\n<p>In our news and insights section, we showcase our thought leadership in the industry, sharing breakthroughs, innovations, and expert perspectives that define the future of drug delivery. With the strongest track record of delivering scalable solutions, we leverage our unmatched expertise to address global challenges. Explore how we continue to scale global impact through cutting-edge technology and insightful commentary.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": [
        "large"
      ],
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/f4e92a28919546c89c21c206f4ab7e04",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/a5e28b3b94304cdda4942a9f5ade8ad0",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/b1f0ba92c9a44ac78e953b5a337ef221",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/bb69fd4f4b4d4b20b5edfcbe77d4e35e",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4adc0686c14442b4a6819bac01c1fb2c",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/89763bfcf1d242dc9c8c52390a62677d",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/4ac7bd19fe714e26b0cadb4bc10888f5",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4441f11af4ab4477be6b5860781bdb22"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/4441f11af4ab4477be6b5860781bdb22",
      "title": "News and insights",
      "text": {
        "markup": "<p>Stay informed with the latest insights from the pioneering leader in designing, developing, and manufacturing self-injection devices.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Stay informed with SHL Medical's latest news and insights on drug delivery technologies, medical device innovations, industry trends, and company updates.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[News and Insights | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[news-insights]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>