<?xml version="1.0" encoding="utf-8"?>
<Content Key="65bc4c01-9a33-4750-b18b-597998595edf" Alias="Our services" Level="2">
  <Info>
    <Parent Key="22ea2f04-a9a2-4880-ac57-a012cc426ad5">Homepage</Parent>
    <Path>/Homepage/OurServices</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:42:41</CreateDate>
    <NodeName Default="Our services">
      <Name Culture="en-us">Our services</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/683c20c2aaad4c22ace12561147fac40",
        "settingsUdi": "umb://element/b8ce0ab4aaf448a1abcf3a53152dec9b"
      },
      {
        "contentUdi": "umb://element/9e9548129cb54d2c8d8707b5e2f9bb9b",
        "settingsUdi": "umb://element/6eaa58c11c414e9093041841dcd2e605"
      },
      {
        "contentUdi": "umb://element/cf932b69e09040c7a2db7020048ba592"
      },
      {
        "contentUdi": "umb://element/d3beeeee43804293802d95de5cf716e7",
        "settingsUdi": "umb://element/f3a8739d17ac4352b180144d043f5152"
      },
      {
        "contentUdi": "umb://element/18f4aab26c9d405aa97228fe49312fda",
        "settingsUdi": "umb://element/c999a57e3e3b4b1ca9277caa8f533a9e"
      },
      {
        "contentUdi": "umb://element/0f1db448aa2c48cd87cedebc0c59dc3c",
        "settingsUdi": "umb://element/c86dc04ae4c4413da0211ad73b950e29"
      },
      {
        "contentUdi": "umb://element/f7922bf8357841328a2c1763aad900ff",
        "settingsUdi": "umb://element/3d94d6d39b774701b53cbf5a12a015b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/d3beeeee43804293802d95de5cf716e7",
      "title": " End-to-end solutions",
      "description": {
        "markup": "<p><span data-sheets-root=\"1\">We are not only designing, developing, and manufacturing advanced self-injection solutions. We also take care of the final assembly, labeling, and packaging.<br></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Development",
          "udi": "umb://document/13c6e78c7e1644978440f6229093fe96"
        }
      ],
      "secondaryButton": [
        {
          "name": "Final assembly, labelling, and packaging",
          "udi": "umb://document/61d8ff33e69a40588d94f0343359d4a6"
        }
      ],
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/37851e38510d4344a17dc23d85b42298"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/37851e38510d4344a17dc23d85b42298",
            "image": [
              "{\"Id\":\"kjvvf32pgk6vcqbq6rzq2g\",\"FileName\":\"FATM_9004e_Blue-s.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kjvvf32pgk6vcqbq6rzq2g/FATM_9004e_Blue-s.png\",\"AssetId\":\"x7msxt4jjtcrwc8qvv99qwx\",\"AssetName\":\"FATM_9004e_Blue\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/0f1db448aa2c48cd87cedebc0c59dc3c",
      "title": "Partnerships",
      "description": {
        "markup": "<p><span>We have initiated an Alliance Management program to build strong partnerships along the pharma and drug delivery value chain. Our partners include primary container providers, CMOs/CDMOs, and other service providers and suppliers.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Read more",
          "udi": "umb://document/1f327ebb3a8a49dbb417025ce806e53a"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4a3a8ebaade944d2b03f382063236d5f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/4a3a8ebaade944d2b03f382063236d5f",
            "image": [
              "{\"Id\":\"4rcfbmrp7j8ktkj7s28r7q6\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6852.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4rcfbmrp7j8ktkj7s28r7q6/SHL-Medical-Office_People_Zug_Konstantin_KK5D6852.jpg\",\"AssetId\":\"xmgb9j7q4f2kfpbwg3x66q\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6852\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/f7922bf8357841328a2c1763aad900ff",
      "title": "Our latest innovations",
      "text": {
        "markup": "<p>We have dedicated years of expertise, commitment, and resources to developing world-class healthcare solutions that empower people. The Molly Connected Cap and Elexy are our latest innovations.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5fc449abd1074fc48bba723c03aa623f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/5fc449abd1074fc48bba723c03aa623f",
            "buttonIcon": "",
            "link": [
              {
                "name": "Explore out latest innovations",
                "udi": "umb://document/9697eee3e0dd429d8d1df8320b81a899"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/17eee7ad8f8f4ee495ebe152aa902945"
            },
            {
              "contentUdi": "umb://element/f7c4499da92740b8acf1766a0eff63bf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/17eee7ad8f8f4ee495ebe152aa902945",
            "productPage": "umb://document/7e18f08f90f04eabbc14fde1e3c2d96c"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/f7c4499da92740b8acf1766a0eff63bf",
            "productPage": "umb://document/0063a8124a4d42c09490473f60c87819"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/683c20c2aaad4c22ace12561147fac40",
      "title": "Our ambition",
      "description": {
        "markup": "<p>Our leadership in the autoinjector industry is underpinned by decades of commitment to customers. Yet, our ambition does not stop there. We will continue to expand our range of services to further support our customers’ projects and create innovative solutions that set new standards in self- and home-treatment.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": [
        "right"
      ],
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/63ca16c35e1747e38334477b18bccfa5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/63ca16c35e1747e38334477b18bccfa5",
            "image": [
              "{\"Id\":\"kvx23r64sf87vngsq9pp5v9\",\"FileName\":\"Project Management_PM_Slides_01.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kvx23r64sf87vngsq9pp5v9/Project_Management_PM_Slides_01.jpg\",\"AssetId\":\"qnwkmh6ntb8s6vg8t39t4g2k\",\"AssetName\":\"Project Management_PM_Slides_01\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/9e9548129cb54d2c8d8707b5e2f9bb9b",
      "title": "Device development services",
      "text": {
        "markup": "<p>Every core competency and value-added service across our modular device development strategy has been constantly refined over the years to ensure the lasting value of the self-injection systems that we design and develop with our customers.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d47f04d41ea8442f8a3e57d587abadf7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/d47f04d41ea8442f8a3e57d587abadf7",
            "image": [
              "{\"Id\":\"hf7fgtp4r6trkxg8pgtcpz2z\",\"FileName\":\"SHL-Medical_Container_Free_FATM-20240730-26.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/hf7fgtp4r6trkxg8pgtcpz2z/SHL-Medical_Container_Free_FATM-20240730-26.jpg\",\"AssetId\":\"8gk5p86knhk4wxwhnw4ns4k\",\"AssetName\":\"Container Free FATM (Fully Automatic Testing Machine)-Molly-20240730-26\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/59f2538f5f574d289f64dcdbabf5c8ed"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/59f2538f5f574d289f64dcdbabf5c8ed",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/6ab222bb89884be98497e78a14540a6a"
                  },
                  {
                    "contentUdi": "umb://element/acfa338d138b4e84a86abe0c99337a97"
                  },
                  {
                    "contentUdi": "umb://element/f5ad3fb1989a475799f7c211cb1bf671"
                  },
                  {
                    "contentUdi": "umb://element/42b3749958754b46b5342664243e4d18"
                  },
                  {
                    "contentUdi": "umb://element/d01ac17a96f64fd38453c2e65faa1859"
                  },
                  {
                    "contentUdi": "umb://element/1a0de88b7d5b4aa6bf36226ac67281ea"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/6ab222bb89884be98497e78a14540a6a",
                  "link": [
                    {
                      "name": "Feasibility and device selection",
                      "udi": "umb://document/2c1c23f8331848aa8d202d9815ac9a68"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/acfa338d138b4e84a86abe0c99337a97",
                  "link": [
                    {
                      "name": "Design",
                      "udi": "umb://document/1badd1efabee4e4a9ff50350c160a4ff"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/f5ad3fb1989a475799f7c211cb1bf671",
                  "link": [
                    {
                      "name": "Development",
                      "udi": "umb://document/13c6e78c7e1644978440f6229093fe96"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/42b3749958754b46b5342664243e4d18",
                  "link": [
                    {
                      "name": "Scale up",
                      "udi": "umb://document/3a98d92042f144959245ed716c1ee48a"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/d01ac17a96f64fd38453c2e65faa1859",
                  "link": [
                    {
                      "name": "Production",
                      "udi": "umb://document/2f5dd7c355a049799fadd8a91abaf769"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/1a0de88b7d5b4aa6bf36226ac67281ea",
                  "link": [
                    {
                      "name": "Final assembly",
                      "udi": "umb://document/61d8ff33e69a40588d94f0343359d4a6"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/18f4aab26c9d405aa97228fe49312fda",
      "title": "Support services",
      "description": {
        "markup": "<p>Our quality, regulatory, and supply chain expertise is fully integrated into each device project to fulfill clinical, commercial, and aftermarket needs. We support you across device development stages with integrated services:</p>\n<p>&nbsp;</p>\n<ul>\n<li>Project management</li>\n<li><span>Supply chain management </span></li>\n<li><span>Regulatory affairs</span><span></span></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Device support services",
          "udi": "umb://document/4bb3bbfcbb9f49b9a421c916f7c46319"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bc486d17d94d47e98a9251b21c87d461"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/bc486d17d94d47e98a9251b21c87d461",
            "image": [
              "{\"Id\":\"5cj5kpt7x94zc5rhbm5m2f\",\"FileName\":\"Project Management_PM_Slides_03.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5cj5kpt7x94zc5rhbm5m2f/Project_Management_PM_Slides_03.jpg\",\"AssetId\":\"3wf9sqsw9t2n5qxpz7skjk3\",\"AssetName\":\"Project Management_PM_Slides_03\",\"AssetDescription\":\"A group of people are sitting around a table with laptops in a conference room\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/cf932b69e09040c7a2db7020048ba592",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d9baea06fe0b42fcadf6ddd3151f421b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/d9baea06fe0b42fcadf6ddd3151f421b",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/72b1bbab632943caba01e7abb3355c9c"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/72b1bbab632943caba01e7abb3355c9c",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/940622922/rendition/1080p/file.mp4?loc=external&log_user=0&signature=edf561f5f511b773a7f2c53917ec071a746eec14fb842f01006f7bc54d8f452b"
                }
              ],
              "settingsData": []
            },
            "title": "Check out",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"pzv7xknp92rsgwr77kq9nw\",\"FileName\":\"Taiwan-liufu (1).tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pzv7xknp92rsgwr77kq9nw/Taiwan-liufu_1.tif\",\"AssetId\":\"28kxxcs8wpvg23qjw32c5nw\",\"AssetName\":\"Taiwan-liufu\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/f3a8739d17ac4352b180144d043f5152",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 12,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c86dc04ae4c4413da0211ad73b950e29",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/3d94d6d39b774701b53cbf5a12a015b5",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b8ce0ab4aaf448a1abcf3a53152dec9b",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 12,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/6eaa58c11c414e9093041841dcd2e605",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c999a57e3e3b4b1ca9277caa8f533a9e",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "a4ead4",
        "label": "pale-green",
        "sortOrder": 6,
        "id": "5"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8eef10bc43484022b736a1fc7f7309b2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/8eef10bc43484022b736a1fc7f7309b2",
      "title": "Our services",
      "text": {
        "markup": "<p>Covering the full drug delivery value chain, we provide peace of mind by offering end-to-end services. This is all part of our Quick-To-Market™ strategy.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[SHL Medical specializes in the design, development, and manufacturing of advanced drug delivery devices. Learn more about our end-to-end services.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Our services | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[our-services]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[services]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>