<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a334b5a-8d1e-4e5c-95c5-6f9c2658dd2c" Alias="Special pages" Level="2">
  <Info>
    <Parent Key="22ea2f04-a9a2-4880-ac57-a012cc426ad5">Homepage</Parent>
    <Path>/Homepage/SpecialPages</Path>
    <Trashed>false</Trashed>
    <ContentType>contentFolder</ContentType>
    <CreateDate>2024-11-12T10:58:16</CreateDate>
    <NodeName Default="Special pages" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>