<?xml version="1.0" encoding="utf-8"?>
<Content Key="75ccb9ef-8b93-4ff3-a066-ae985588e114" Alias="Governance" Level="3">
  <Info>
    <Parent Key="0f38816f-fe88-454a-9b76-5bdf579f2766">About us</Parent>
    <Path>/Homepage/AboutUs/Governance</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T10:51:29</CreateDate>
    <NodeName Default="Governance">
      <Name Culture="en-us">Governance</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ecd397dd1adf4ca6be0feeec6eb05287",
        "settingsUdi": "umb://element/808115da2b59401793c5e0585b377cfd"
      },
      {
        "contentUdi": "umb://element/110490d63b5f44a4b0d91dd821dbc12b",
        "settingsUdi": "umb://element/9f183c0f187e4b978a201bdc0edefc5e"
      },
      {
        "contentUdi": "umb://element/e5141ae7b4604fe39df02a0a7fac1ab8",
        "settingsUdi": "umb://element/c0c9849829ea4d6a832cd80e09d2ce8b"
      },
      {
        "contentUdi": "umb://element/770e154a11404926ad78ffb04c9bdbb5",
        "settingsUdi": "umb://element/b60a7a78be944725a5ed74150bbc1771"
      },
      {
        "contentUdi": "umb://element/c23e08f6c2ee4a98856985f760b25cbf",
        "settingsUdi": "umb://element/2f1ca16b42af4614859bc9d2ffab8092"
      },
      {
        "contentUdi": "umb://element/81e9a91cb0cb46309c6eb3c4f3118376",
        "settingsUdi": "umb://element/51bbef395ad64f82a17afae461248f45"
      },
      {
        "contentUdi": "umb://element/758de61561814ae6808a493ff809ec3f",
        "settingsUdi": "umb://element/cef0762628cf4cbf8144231cede35538"
      },
      {
        "contentUdi": "umb://element/85af0e905f7a4bd086dc8ff5326e5b5d",
        "settingsUdi": "umb://element/917b4a2c00af45d68391fcf9cec97194"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/ecd397dd1adf4ca6be0feeec6eb05287",
      "title": "Our entities",
      "text": {
        "markup": "<p>SHL Medical, formally known as SHL Medical AG, is headquartered in Zug, Switzerland, with branches in Taiwan, Sweden, and the United States.</p>\n<p>&nbsp;</p>\n<p>The company fully owns two subsidiaries:</p>\n<p>&nbsp;</p>\n<ul>\n<li>SHL Technologies is a contract manufacturer and original equipment manufacturer (OEM) that supports customers in the medtech and industrial sectors</li>\n</ul>\n<p>&nbsp;</p>\n<ul>\n<li>SHL Advantec specializes in providing tooling and automation solutions for the healthcare sector and other industries. Besides the locations in Switzerland and the United States, SHL Advantec also has offices in China and Mexico.</li>\n</ul>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/35351af298e54637b43978eeec7b6a69"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/35351af298e54637b43978eeec7b6a69",
            "image": [
              "{\"Id\":\"jb43gbngqwbw8b8cfs378ks\",\"FileName\":\"goverance-4.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jb43gbngqwbw8b8cfs378ks/goverance-4.jpg\",\"AssetId\":\"56bfnfqr6559xhbrqvhmjwfv\",\"AssetName\":\"Goverance\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/016d696efbbf47ea96c201139f4cc98e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/016d696efbbf47ea96c201139f4cc98e",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/02dece53f721426cb05701bdf6c19bc9"
                  },
                  {
                    "contentUdi": "umb://element/0bcae315f7754312989937ea5433c509"
                  },
                  {
                    "contentUdi": "umb://element/6b295fce3e044f1bad90265076ec3bb4"
                  },
                  {
                    "contentUdi": "umb://element/f40c7e7232934cc3a67a1069bdda1bf0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/0bcae315f7754312989937ea5433c509",
                  "link": [
                    {
                      "name": "SHL Advantec - SMC Mould Innovation AG",
                      "target": "_blank",
                      "url": "https://www.smc-mould.ch/"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/6b295fce3e044f1bad90265076ec3bb4",
                  "link": [
                    {
                      "name": "SHL Advantec - LCA Automation AG",
                      "target": "_blank",
                      "url": "https://www.lca.ch/"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/f40c7e7232934cc3a67a1069bdda1bf0",
                  "link": [
                    {
                      "name": "SHL Advantec - Superior Tooling Inc.",
                      "target": "_blank",
                      "url": "https://www.sti-nc.com/"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/02dece53f721426cb05701bdf6c19bc9",
                  "link": [
                    {
                      "name": "SHL Technologies",
                      "target": "_blank",
                      "url": "https://www.shl-tech.com/"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/110490d63b5f44a4b0d91dd821dbc12b",
      "title": "Executive management",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9890ee515933417086006ccd79fee9ab"
            },
            {
              "contentUdi": "umb://element/353a1756f1d648ef9e11055f81cabcb1"
            },
            {
              "contentUdi": "umb://element/c854785600da4affa445484d40181810"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/9890ee515933417086006ccd79fee9ab",
            "image": [
              "{\"Id\":\"n4qfqp2m9spxmqqz2kxhrwcq\",\"FileName\":\"Ulrich-Faessler-SHL-Medical-lowres.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/n4qfqp2m9spxmqqz2kxhrwcq/Ulrich-Faessler-SHL-Medical-lowres.jpg\",\"AssetId\":\"trnmkb4c36r992t6668n6c\",\"AssetName\":\"Ulrich-Faessler-SHL-Medical-lowres\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Ulrich Faessler",
            "role": "Chief Executive Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/353a1756f1d648ef9e11055f81cabcb1",
            "image": [
              "{\"Id\":\"8xmbqbfh3z4hcv7c6v2hh93x\",\"FileName\":\"6_Ralph-Howald.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8xmbqbfh3z4hcv7c6v2hh93x/6_Ralph-Howald.jpg\",\"AssetId\":\"nswpmb34x89hqt5xwxxnxg8m\",\"AssetName\":\"6 Ralph-Howald\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Ralph Howald​",
            "role": "Chief Technology Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/c854785600da4affa445484d40181810",
            "image": [
              "{\"Id\":\"ks25sk34qkr8qcf6fjzwz33\",\"FileName\":\"Said-Djauat_Portrait_web.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/ks25sk34qkr8qcf6fjzwz33/Said-Djauat_Portrait_web.jpg\",\"AssetId\":\"jsvch57m3c3z8bfq6tjjshn\",\"AssetName\":\"Said-Djauat Portrait web\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Said Djaouat",
            "role": "Chief Quality & Regulatory Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/e5141ae7b4604fe39df02a0a7fac1ab8",
      "title": "",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3864d3dded274bd1b43521178a331815"
            },
            {
              "contentUdi": "umb://element/89bc60b0b83c4ee0a538cf88af6c447e"
            },
            {
              "contentUdi": "umb://element/8da9e9ede3c94e1f9eb79cd115b949aa"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/3864d3dded274bd1b43521178a331815",
            "image": [
              "{\"Id\":\"qmprggh3fbkcnmpcngsxz3m\",\"FileName\":\"Satbir-Bains_website_20230503.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/qmprggh3fbkcnmpcngsxz3m/Satbir-Bains_website_20230503.jpg\",\"AssetId\":\"svqhcxsxpbnntcwxwps52nvr\",\"AssetName\":\"Satbir-Bains website 20230503\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Satbir Bains",
            "role": "Chief Human Resources Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/89bc60b0b83c4ee0a538cf88af6c447e",
            "image": [
              "{\"Id\":\"pb7rbc8c555c57svm52c4ts\",\"FileName\":\"Markus_Puusepp_1-1200x1600-6c9eaff.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pb7rbc8c555c57svm52c4ts/Markus_Puusepp_1-1200x1600-6c9eaff.jpg\",\"AssetId\":\"fzkfcj33973wbt6s246q44jr\",\"AssetName\":\"Markus Puusepp profile\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Markus Puusepp",
            "role": "Chief Growth Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/8da9e9ede3c94e1f9eb79cd115b949aa",
            "image": [
              "{\"Id\":\"2zfp9rq5j7twvt5p4hpx84h\",\"FileName\":\"9_Martin-Turvill.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2zfp9rq5j7twvt5p4hpx84h/9_Martin-Turvill.jpg\",\"AssetId\":\"7vt5946jbfb58hrfx8mm65g\",\"AssetName\":\"9 Martin-Turvill\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Martin Turvill",
            "role": "Chief Operating Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/770e154a11404926ad78ffb04c9bdbb5",
      "title": "",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7816e101c9a643978ab8c70282599d10"
            },
            {
              "contentUdi": "umb://element/77622650ada149fd8115b4febce10f0b"
            },
            {
              "contentUdi": "umb://element/09d062085f134b5b892959755e9807ae"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/7816e101c9a643978ab8c70282599d10",
            "image": [
              "{\"Id\":\"45444nnwhr2bgnkksxh5qh\",\"FileName\":\"Dietmar-Bettio.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/45444nnwhr2bgnkksxh5qh/Dietmar-Bettio.jpg\",\"AssetId\":\"h35v86kxs7gg7ww8bfzrpst\",\"AssetName\":\"Dietmar-Bettio\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Dietmar Bettio",
            "role": "Chief Digital Transformation Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/77622650ada149fd8115b4febce10f0b",
            "image": [
              "{\"Id\":\"4cgx6w2snjxmpx3pt4hc8qmb\",\"FileName\":\"Sebastien_Martin_Image2-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4cgx6w2snjxmpx3pt4hc8qmb/Sebastien_Martin_Image2-1.jpg\",\"AssetId\":\"pmcf86gt35knr47mnqmk6zw9\",\"AssetName\":\"Sebastien Martin Image2-1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Sébastien Martin",
            "role": "Chief Digital Implementation Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/09d062085f134b5b892959755e9807ae",
            "image": [
              "{\"Id\":\"bvnj6qsnf3kr3586sz69v9\",\"FileName\":\"Anne-Pagenkemper-website-profile.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bvnj6qsnf3kr3586sz69v9/Anne-Pagenkemper-website-profile.jpg\",\"AssetId\":\"kkjzr7cf46mnkbfwfbpgcwt5\",\"AssetName\":\"Anne-Pagenkemper-Website-cropped\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Anne Pagenkemper",
            "role": "Chief Financial Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/c23e08f6c2ee4a98856985f760b25cbf",
      "title": "",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/399c449ba38742ea86f573c37fabd5d9"
            },
            {
              "contentUdi": "umb://element/94747af4c6584e6e9d3c5a0989dc2daa"
            },
            {
              "contentUdi": "umb://element/b4260484506f44d7b17b322b57a330b5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/399c449ba38742ea86f573c37fabd5d9",
            "image": [
              "{\"Id\":\"5sn4658zbzj5xrwhcks46gq6\",\"FileName\":\"Barbara-Lange-Website-profile-new.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5sn4658zbzj5xrwhcks46gq6/Barbara-Lange-Website-profile-new.jpg\",\"AssetId\":\"7hkktr394thfbt9j7smpw3g\",\"AssetName\":\"Barbara-Lange-Website-profile-new\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Barbara Lange",
            "role": "Chief Legal Officer",
            "location": [
              "Switzerland"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/94747af4c6584e6e9d3c5a0989dc2daa",
            "image": [
              "{\"Id\":\"g7wqtb8vn7jn3nvptkj59h\",\"FileName\":\"Sebastian-Feng-100dpi-1800x1200-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/g7wqtb8vn7jn3nvptkj59h/Sebastian-Feng-100dpi-1800x1200-1.jpg\",\"AssetId\":\"862c5v2r933gwx333n77zcn\",\"AssetName\":\"Sebastian-Feng-100dpi-1800x1200-1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Sebastian Feng",
            "role": "General Manager",
            "location": [
              "Taiwan"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/b4260484506f44d7b17b322b57a330b5",
            "image": [
              "{\"Id\":\"k66msqnf7mfrgmxmqg967b96\",\"FileName\":\"Karin-lindman-body-100dpi-lowres_shl-medical_Sweden_general-manager.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/k66msqnf7mfrgmxmqg967b96/Karin-lindman-body-100dpi-lowres_shl-medical_Sweden_general-manager.jpg\",\"AssetId\":\"4kfwbksjr8977h89fwwgkh\",\"AssetName\":\"Karin-lindman-body-100dpi-lowres shl-medical Sweden general-manager\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Karin Lindman",
            "role": "General Manager",
            "location": [
              "Sweden"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/81e9a91cb0cb46309c6eb3c4f3118376",
      "title": "",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/43db9d1a384c490087cd11faaf6b631e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/43db9d1a384c490087cd11faaf6b631e",
            "image": [
              "{\"Id\":\"5rtcbs7zfwchnsv8nx8kmgpm\",\"FileName\":\"Kimberlee Steele_governace_web.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5rtcbs7zfwchnsv8nx8kmgpm/Kimberlee_Steele_governace_web.jpg\",\"AssetId\":\"fn7w734kjbqbqztwqb8rnnb\",\"AssetName\":\"Kimberlee Steele 1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Kimberlee Steele",
            "role": "Managing Director",
            "location": [
              "USA"
            ],
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/758de61561814ae6808a493ff809ec3f",
      "title": "Our board members",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ac830ebfebfc4f338bc88ec547f82875"
            },
            {
              "contentUdi": "umb://element/02b12168a83f47c5a3f0dd26ea916fdc"
            },
            {
              "contentUdi": "umb://element/50725f831b874b2a87f627b904fdda5f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/ac830ebfebfc4f338bc88ec547f82875",
            "image": [
              "{\"Id\":\"pt5hgb9px47m94kr6hvz2ghq\",\"FileName\":\"Ulrich Faessler-lowres.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pt5hgb9px47m94kr6hvz2ghq/Ulrich_Faessler-lowres.jpg\",\"AssetId\":\"trnmkb4c36r992t6668n6c\",\"AssetName\":\"Ulrich-Faessler-SHL-Medical-lowres\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Ulrich Faessler",
            "role": "",
            "location": "",
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/02b12168a83f47c5a3f0dd26ea916fdc",
            "image": [
              "{\"Id\":\"hmc6jp4tknk5mq855rh4rs7\",\"FileName\":\"Andreas-Aschenbrenner-400x400-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/hmc6jp4tknk5mq855rh4rs7/Andreas-Aschenbrenner-400x400-1.jpg\",\"AssetId\":\"5fxrwfc7sb38jfmq274cx8w\",\"AssetName\":\"Andreas-Aschenbrenner-400x400-1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Andreas Aschenbrenner​",
            "role": "",
            "location": "",
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/50725f831b874b2a87f627b904fdda5f",
            "image": [
              "{\"Id\":\"6k3trvp6tjv6gjt4qtmsb4f\",\"FileName\":\"Oppenlaender_Steffen_400x400-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/6k3trvp6tjv6gjt4qtmsb4f/Oppenlaender_Steffen_400x400-1.jpg\",\"AssetId\":\"5m8mrj8c4pv7ccfsnk9rc2w\",\"AssetName\":\"Oppenlaender Steffen 400x400-1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Steffen Oppenländer​",
            "role": "",
            "location": "",
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/85af0e905f7a4bd086dc8ff5326e5b5d",
      "title": "",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a3865a0071d545ad88f3ff087e7bfe90"
            },
            {
              "contentUdi": "umb://element/b9c7beb5790149589590c28518ee1b74"
            },
            {
              "contentUdi": "umb://element/b4418bcb5a9143a09d4dbdddec614fa2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/a3865a0071d545ad88f3ff087e7bfe90",
            "image": [
              "{\"Id\":\"75gnwtk8w4xbrxs9h4qhhnc\",\"FileName\":\"Petra-Rumpf-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/75gnwtk8w4xbrxs9h4qhhnc/Petra-Rumpf-1.jpg\",\"AssetId\":\"gpc9h85fq8nbn93vhg454k\",\"AssetName\":\"Petra-Rumpf-1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Petra Rumpf",
            "role": "",
            "location": "",
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/b9c7beb5790149589590c28518ee1b74",
            "image": [
              "{\"Id\":\"nhp5p3f9pqphb4x6637mt4rh\",\"FileName\":\"Steve-Oesterle.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/nhp5p3f9pqphb4x6637mt4rh/Steve-Oesterle.jpg\",\"AssetId\":\"pqkbvt4gkq8ck36wsrgt3c3\",\"AssetName\":\"Steve-Oesterle\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Stephen Oesterle",
            "role": "",
            "location": "",
            "phoneNumber": "",
            "email": "",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/b4418bcb5a9143a09d4dbdddec614fa2",
            "image": [
              "{\"Id\":\"jftnr4msvhnfhxccj3gwrsc4\",\"FileName\":\"Thomas-Ebeling-400x400-1.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/jftnr4msvhnfhxccj3gwrsc4/Thomas-Ebeling-400x400-1.jpg\",\"AssetId\":\"nt83kpbm8csswnz9k3xbhwz\",\"AssetName\":\"Thomas-Ebeling-400x400-1\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Thomas Ebeling",
            "role": "",
            "location": "",
            "phoneNumber": "",
            "email": "",
            "description": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/808115da2b59401793c5e0585b377cfd",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/9f183c0f187e4b978a201bdc0edefc5e",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c0c9849829ea4d6a832cd80e09d2ce8b",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b60a7a78be944725a5ed74150bbc1771",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/2f1ca16b42af4614859bc9d2ffab8092",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/51bbef395ad64f82a17afae461248f45",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/cef0762628cf4cbf8144231cede35538",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/917b4a2c00af45d68391fcf9cec97194",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d5c3b1159f754fffabe1b88677aded8f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/d5c3b1159f754fffabe1b88677aded8f",
      "title": "Governance",
      "text": {
        "markup": "<p>We are committed to creating an effective governance model that is fully tailored to meet the needs of our customers. By prioritizing transparency and collaboration, we ensure that every project is set up for success from start to finish.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[SHL Medical upholds strong governance practices with a focus on transparency, accountability, and ethical decision-making.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Governance | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>