@using DTNL.UmbracoCms.Web.Components
@using static DTNL.UmbracoCms.Web.Components.Navigation

@model DTNL.UmbracoCms.Web.Components.Header

<header class="c-header" js-hook-header>
    <div class="header__container">
        <div class="header__content">
            <a href="/" class="header__logo" title=CultureDictionary.GetTranslation(TranslationAliases.Navigation.Home>
                <svg src="@(SvgAliases.Brand.LogoColor)" />
            </a>

            <button js-hook-header-hamburger
                    class="header__hamburger"
                    aria-controls="navigation-mobile"
                    aria-label=CultureDictionary.GetTranslation(TranslationAliases.Navigation.OpenMenu>
                <svg src="@(SvgAliases.Icons.Menu)" />
                Menu
            </button>

            <div class="header__navigation">
                <partial name="Navigation/NavigationDesktop" model="@(Navigation.Create(Model.Navigation))" />
            
            </div>

            <div class="header__language-selector">
            </div>
        </div>
    </div>
</header>

<div>
    <partial name="Navigation/NavigationMobile" model="@(Navigation.Create(Model.Navigation))" />
</div>

