<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae6953b3-ffab-4526-bcd0-3c93df19e2dd" Alias="瑞健醫療在台新廠區舉行動土儀式" Level="4">
  <Info>
    <Parent Key="f4de992c-803c-4012-8c4c-740a821d65d0">Publications and webinars</Parent>
    <Path>/Homepage/NewsAndInsights/PublicationsAndWebinars/</Path>
    <Trashed>false</Trashed>
    <ContentType>pagePublication</ContentType>
    <CreateDate>2024-12-09T10:45:26</CreateDate>
    <NodeName Default="瑞健醫療在台新廠區舉行動土儀式">
      <Name Culture="zh-hant-tw">瑞健醫療在台新廠區舉行動土儀式</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-tw">true</Published>
    </Published>
    <Schedule />
    <Template Key="14d2feef-22d6-4362-bc78-606a1413304c">PagePublication</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e51449ebca6d491f8f7347ad81f439c1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/e51449ebca6d491f8f7347ad81f439c1",
      "text": "\n\n瑞健醫療是領先全球的醫療科技公司，致力於自動注射器的研發、設計、與製造。為整合廠區、增進營運效能，瑞健醫療與山榮資產於桃園合作規劃全新廠區。7月3日在桃園南美舉行新廠動土儀式，由瑞健醫療台灣總經理馮文宏 (Sebastian Feng) 及高層主管團隊、山榮資產團隊、南美里里長黃雅蓉、以及南上里里長陳鼎景共同參與。<br>這座位於桃園的南美新廠區是瑞健醫療在台發展的重要里程碑。成立於1989年的瑞健醫療，已在桃園深耕35年，擁有超過五千名員工，是台灣生技醫療產業的重要合作夥伴，在全球的事業據點橫跨三大洲。過去35年來，瑞健醫療在台事業不斷擴展，至2019年時已擴建至九座廠區。<br>\n\n新廠區預計於2027年落成。新建物樓高七層，總樓地板面積達47,000平方公尺，並將容納瑞健醫療製造流程中的數個關鍵部門，透過整合現有廠區，新廠區將進一步優化人流、車流、物流效益，以及降低運輸碳足跡。建築本身亦將實踐瑞健醫療一貫的永續理念，導入綠電及太陽能板設施。新廠區設施升級，也將改善辦公環境，展現瑞健醫療對員工福利的重視。<br>「隨著瑞健醫療不斷壯大，我們將持續提升效能，並強化我們在全球市場的領導地位。」瑞健醫療台灣總經理馮文宏對新廠表達深切期許。「新廠將能有效整合部分現有資源，提升瑞健醫療在台灣的營運效率。」<br>\n\n瑞健醫療是自動注射器研發及生產的創新領航企業，從產品設計、模具生產、機械加工、自動化組裝、測試、到品質確效，提供一條龍的完整解決方案，以實現促進病患自主能力的願景。未來五年，瑞健醫療將投資新台幣30億元，除新廠區的建設及整合資源外，也將用於台灣廠區的整體設備升級及營運優化。瑞健醫療將關鍵業務根留台灣，除創造在地工作機會外，更持續提升專業技術，培育本地人才轉型，帶動台灣與全球醫療科技市場共生共榮。<br>「我們非常重視企業對在地的貢獻。」瑞健醫療全球執行長費斯樂 (Ulrich Faessler) 強調，「透過新廠設立，我們期盼能進一步強化我們深耕台灣的承諾，並推動台灣醫療科技產業的升級發展。」<br>"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="zh-hant-tw"><![CDATA[[
  "Press Release"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="zh-hant-tw"><![CDATA[2024-07-03T01:38:13]]></Value>
    </date>
    <doNotFollow>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="zh-hant-tw"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/db68429f77824542870b6bce49130f58"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/db68429f77824542870b6bce49130f58",
      "title": "瑞健醫療在台新廠區舉行動土儀式"
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </hideFromSearch>
    <pageTheme>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </slogan>
    <type>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="zh-hant-tw"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>