<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f327ebb-3a8a-49db-b417-025ce806e53a" Alias="Alliance partnerships" Level="3">
  <Info>
    <Parent Key="65bc4c01-9a33-4750-b18b-597998595edf">Our services</Parent>
    <Path>/Homepage/OurServices/AlliancePartnerships</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:52:51</CreateDate>
    <NodeName Default="Alliance partnerships">
      <Name Culture="en-us">Alliance partnerships</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9ff45dd8be594c3dac13882b5135e1ec",
        "settingsUdi": "umb://element/0e83c1b592d14caabe8a50bf40e7909e"
      },
      {
        "contentUdi": "umb://element/4f96e1d0014945158411fa39d78b333c",
        "settingsUdi": "umb://element/c32c1c3be5b544edbf96790c9bb53d9c"
      },
      {
        "contentUdi": "umb://element/302fef9446dd436fa5f45847fe0455dc",
        "settingsUdi": "umb://element/637f99fad94c40e28cf13ae9d4856219"
      },
      {
        "contentUdi": "umb://element/e2154ec862304c2f997a538c09631767",
        "settingsUdi": "umb://element/3df16f99aefb436d87bb4be62d3536f9"
      },
      {
        "contentUdi": "umb://element/c3e08793dd65496e88b40b32166f4edc",
        "settingsUdi": "umb://element/bcc2b8f09c564cc3a78a01f64a690544"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/9ff45dd8be594c3dac13882b5135e1ec",
      "title": "Creating value through collaboration",
      "description": {
        "markup": "<p>We believe that maximizing value for our customers depends on strong connections within the drug delivery ecosystem. That is why we have launched the Alliance Management program, building partnerships across the pharma and drug delivery value chain.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dd60c9c0606a41d4999afee087580526"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/dd60c9c0606a41d4999afee087580526",
            "image": [
              "{\"Id\":\"bz8gqj998ffspfz4j6k7kp\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04222.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bz8gqj998ffspfz4j6k7kp/SHL-Medical_2024_CPHI-Milan_DSC04222.jpg\",\"AssetId\":\"qscvn9ff7j6q6w8p5cvbpkr\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04222\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/4f96e1d0014945158411fa39d78b333c",
      "title": "Customer benefits and partnership categories",
      "text": {
        "markup": "<p>Through our partnership network, you gain access to enhanced services and support along the entire device value chain, ensuring smoother processes and better results for your projects.</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/690cb913e36d40378a871738b9eb3623"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/690cb913e36d40378a871738b9eb3623",
            "image": [
              "{\"Id\":\"6sprg484f3qcpmxnpt99g2k\",\"FileName\":\"SHL-Medical_PDA_Phoenix_2024_IMG_9183.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/6sprg484f3qcpmxnpt99g2k/SHL-Medical_PDA_Phoenix_2024_IMG_9183.jpg\",\"AssetId\":\"s8vstqtk9tmzcj7gqhnjxr4m\",\"AssetName\":\"SHL-Medical PDA Phoenix 2024 IMG 9183\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/63188ee8ba68451abfaa937f3171e721"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/63188ee8ba68451abfaa937f3171e721",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d7a7c3bfda4f44389b4c046366223d2f"
                  },
                  {
                    "contentUdi": "umb://element/b2577cff87154c0995c3d8e7d163ecf7"
                  },
                  {
                    "contentUdi": "umb://element/c42f8177625745a1be7206d117af5bd6"
                  },
                  {
                    "contentUdi": "umb://element/0edc96c32ba3472e99b3059f8495c8ac"
                  },
                  {
                    "contentUdi": "umb://element/a7d05523b2a84f42910ed39a876b92a0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/d7a7c3bfda4f44389b4c046366223d2f",
                  "title": "Primary packaging",
                  "text": {
                    "markup": "<ul>\n<li><span>Providing joint expertise and guidance on device-container compatibility </span></li>\n<li><span>De-risking selection of primary container by conducting pre-verification assessment of various containers variants </span></li>\n<li><span>Driving innovation and setting standards for new container formats&nbsp;</span></li>\n</ul>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/b2577cff87154c0995c3d8e7d163ecf7",
                  "title": "CDMO and CMO",
                  "text": {
                    "markup": "<ul>\n<li><span>Supporting partner C(D)MOs across the globe in establishing final assembly service and pre-validating their final assembly equipment for SHL platform devices</span></li>\n<li><span>Introducing fill-finish services for new container formats to ensure speed-to-market for novel SHL devices </span></li>\n<li><span>Providing joint expertise and guidance on fill-finish and final assembly</span></li>\n</ul>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/c42f8177625745a1be7206d117af5bd6",
                  "title": "Patient education",
                  "text": {
                    "markup": "<ul>\n<li><span>Developing standard trainers for SHL platform devices to reduce the overall trainer development timeline </span></li>\n<li><span>Offering a broad range of services to support patient engagement and adherence: IFU and packaging development, human factors and UX support services, patient training videos, o</span><span>n-boarding kits</span></li>\n</ul>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0edc96c32ba3472e99b3059f8495c8ac",
                  "title": "Consulting",
                  "text": {
                    "markup": "<ul>\n<li><span>Providing joint expert advice and guidance along the drug and device development journey </span></li>\n<li><span>Establishing efficient collaboration and communication pathways to streamline joint customer projects</span></li>\n</ul>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/a7d05523b2a84f42910ed39a876b92a0",
                  "title": "Digital",
                  "text": {
                    "markup": "<ul>\n<li><span>Integrating partner’s digital ecosystem with ours to ensure smooth data transmission </span></li>\n<li><span>Providing end-to-end digital solutions - connected device, digital environment for data collection, and user app developed by our digital partners </span></li>\n<li><span>Conducting research and driving market adoption of digital health in clinical trials, HCP office, and at-home settings&nbsp;</span></li>\n</ul>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/302fef9446dd436fa5f45847fe0455dc",
      "title": "Thought leadership",
      "subTitle": "We are proud to collaborate with innovators and key suppliers to pharma, ensuring that our customers receive the best possible support. Read on to learn more about some of our recent partner collaborations.",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d2d23add611c4d5fb7f2802fc7d64670"
            },
            {
              "contentUdi": "umb://element/e3fda979d8424d9fa1c265ebda816f05"
            },
            {
              "contentUdi": "umb://element/7eee5e6777b24ddeb63ea9729f5c3447"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/d2d23add611c4d5fb7f2802fc7d64670",
            "title": "Developing large volume cartridge for Maggie 5.0",
            "description": "Discover how SHL Medical and SCHOTT Pharma collaborate to optimize large-volume injection performance through rigorous mechanical, usability, and pre-clinical testing.",
            "icon": "",
            "file": [
              "{\"Id\":\"49xnfwrnttb6m5877pvnk88\",\"FileName\":\"2024 PDA_SHL Medical x SCHOTT Pharma - A summative report on exploratory studies.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/49xnfwrnttb6m5877pvnk88/2024_PDA_SHL_Medical_x_SCHOTT_Pharma_-_A_summative_report_on_exploratory_studies.pdf\",\"AssetId\":\"wjsz6q5m8nr3g3x9knbb7q67\",\"AssetName\":\"2024 PDA SHL Medical x SCHOTT Pharma - A summative report on exploratory studies\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/e3fda979d8424d9fa1c265ebda816f05",
            "title": "Delivering higher viscosities using 8 mm PFS with Molly 2.25 ",
            "description": "Explore how collaboration between SHL Medical and BD can expand design spaces for novel drug formulations and de-risk and streamline projects. ",
            "icon": "",
            "file": [
              "{\"Id\":\"b7xkfk8fjj47wcmzmtk46j9b\",\"FileName\":\"2024-PDA-SHL-Medical x BD - Incremental innovation.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/b7xkfk8fjj47wcmzmtk46j9b/2024-PDA-SHL-Medical_x_BD_-_Incremental_innovation.pdf\",\"AssetId\":\"j66xmpv3cvkr8fc6956tcfb\",\"AssetName\":\"2024 PDA SHL Medical x BD - Incremental innovation\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/7eee5e6777b24ddeb63ea9729f5c3447",
            "title": "Improving patient adherence in clinical trials with Molly Connected Cap",
            "description": "Learn how connected devices from SHL Medical and software solutions from AARDEX Group work together to generate insights on medication adherence through actionable data.",
            "icon": "",
            "file": [
              "{\"Id\":\"65scv5jfr8wsqn5mjhm3kjsw\",\"FileName\":\"2024-PDA-SHL-Medical x AARDEX Group.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/65scv5jfr8wsqn5mjhm3kjsw/2024-PDA-SHL-Medical_x_AARDEX_Group.pdf\",\"AssetId\":\"hx87m5k3cxpz58b69gzsj\",\"AssetName\":\"2024 PDA SHL Medical x AARDEX Group\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/c3e08793dd65496e88b40b32166f4edc",
      "title": "Get in touch",
      "text": {
        "markup": "<p><span>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else you want us to know about. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/61696950a1d54132b9d0e997b177d9f6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/61696950a1d54132b9d0e997b177d9f6",
            "icon": "",
            "title": "Email us",
            "text": {
              "markup": "<p><span>alliance@shl-medical.com</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "efc5a14b-10ef-4373-86b1-4bf418f60264",
      "udi": "umb://element/e2154ec862304c2f997a538c09631767",
      "title": "Partner news",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b343c69c7b39492ab511f4903a192ef6"
            },
            {
              "contentUdi": "umb://element/20858a12ca9d4d318d2e2041155133c1"
            },
            {
              "contentUdi": "umb://element/743a680567d946398c35a60e94d932f9"
            },
            {
              "contentUdi": "umb://element/2b85533509b3421888f234c89890a51a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/b343c69c7b39492ab511f4903a192ef6",
            "page": "umb://document/a4600b9329a748d5888aa445e363f194"
          },
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/20858a12ca9d4d318d2e2041155133c1",
            "page": "umb://document/38f4817bcb40487b9738d5e3fffdde19"
          },
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/743a680567d946398c35a60e94d932f9",
            "page": "umb://document/7cb18c0b8e9e45fc957c98ce430ae48b"
          },
          {
            "contentTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
            "udi": "umb://element/2b85533509b3421888f234c89890a51a",
            "page": "umb://document/64a583c2e0bd4606b07a099c72571884"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0e83c1b592d14caabe8a50bf40e7909e",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c32c1c3be5b544edbf96790c9bb53d9c",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "a4ead4",
        "label": "pale-green",
        "sortOrder": 6,
        "id": "5"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/637f99fad94c40e28cf13ae9d4856219",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/bcc2b8f09c564cc3a78a01f64a690544",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/3df16f99aefb436d87bb4be62d3536f9",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1f404c4a695c4afbb90551cf01935fc7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/1f404c4a695c4afbb90551cf01935fc7",
      "title": "Alliance partnerships",
      "text": {
        "markup": "<p>Fostering collaboration across the pharmaceutical and drug delivery value chain</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[By forming strategic partnerships with service providers and suppliers, we drive innovation in drug delivery systems. Learn more about it here.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Alliance Partnerships | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>