<?xml version="1.0" encoding="utf-8"?>
<Content Key="05b99996-fc6c-4521-95ff-8cef8cc2b6e1" Alias="Device development" Level="3">
  <Info>
    <Parent Key="65bc4c01-9a33-4750-b18b-597998595edf">Our services</Parent>
    <Path>/Homepage/OurServices/DeviceDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:50:38</CreateDate>
    <NodeName Default="Device development">
      <Name Culture="en-us">Device development</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/352b3c8bdf534b0eaa4a96bcdc815878",
        "settingsUdi": "umb://element/69d91514e6ec4acbbfdb8770226a4e9e"
      },
      {
        "contentUdi": "umb://element/742753d6c33740c0b9fc42dfe8aeb79b",
        "settingsUdi": "umb://element/f6793ee6428e43bd86c4288c3717c228"
      },
      {
        "contentUdi": "umb://element/248b608e503b42669429c7d7f14d6bd0",
        "settingsUdi": "umb://element/7bd8be740bba4ae6831e9223aaf48f24"
      },
      {
        "contentUdi": "umb://element/1a6cf7c63d9d4db69f93efe5baca6a94",
        "settingsUdi": "umb://element/8428b35f539f44cf911f34a7bbf4300e"
      },
      {
        "contentUdi": "umb://element/d0132b87d5db41199f46b04bf4907c40",
        "settingsUdi": "umb://element/a168fad3312248908fdf7f05458f57be"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/352b3c8bdf534b0eaa4a96bcdc815878",
      "title": "We take you end-to-end",
      "description": {
        "markup": "<p>In combination product development, pharma and biotech companies have varying device needs based on the drug. Given the breadth of devices we have launched together with our partners, we know how to meet demanding and varied requirements. To do so, we leverage our platform offerings and end-to-end services: from research, and studies to regulatory filings and final assembly. Our integrated approach ensures a smooth experience for all partners.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6b78fc1bbf874b54b492874135fe69fa"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/6b78fc1bbf874b54b492874135fe69fa",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/92983e6619494c3fa653b3e8ee977b3c"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/92983e6619494c3fa653b3e8ee977b3c",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1038318504/rendition/1080p/file.mp4?loc=external&log_user=0&signature=bc24a755483ec077bc2628ef3b03b00e904971863b5672af3f5c05367f4b64eb"
                }
              ],
              "settingsData": []
            },
            "title": "The makings of an autoinjector",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1657df6187af4212844e8dddfa87908d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/1657df6187af4212844e8dddfa87908d",
            "image": [
              "{\"Id\":\"kjvvf32pgk6vcqbq6rzq2g\",\"FileName\":\"FATM_9004e_Blue-s.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kjvvf32pgk6vcqbq6rzq2g/FATM_9004e_Blue-s.png\",\"AssetId\":\"x7msxt4jjtcrwc8qvv99qwx\",\"AssetName\":\"FATM_9004e_Blue\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/248b608e503b42669429c7d7f14d6bd0",
      "title": "Join us in crafting future healthcare solutions",
      "description": {
        "markup": "<p><span>We believe that people living with chronic conditions should not be defined by their diseases. That is why we develop advanced drug delivery systems that help enhance self-injection. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Why choose us",
          "udi": "umb://document/ce62a422eecf4c7784aa75c9947b7b3f"
        }
      ],
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2378e81c9bb842078875dbf7ea6193e3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/2378e81c9bb842078875dbf7ea6193e3",
            "image": [
              "{\"Id\":\"5pmsx2pc86cskw55wjn9w6\",\"FileName\":\"SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-7.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5pmsx2pc86cskw55wjn9w6/SHL-Medical_2024_Level_Up_Workshop_ZUG-20240808-7.jpg\",\"AssetId\":\"88bjgrfvhcn7c6mtthsgtzfz\",\"AssetName\":\"SHL-Medical 2024 Level Up Workshop ZUG-20240808-7\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/1a6cf7c63d9d4db69f93efe5baca6a94",
      "title": "",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/837ea52652514e6c9988aa5f9a95df0f"
            },
            {
              "contentUdi": "umb://element/e19036bc7a95406d9d110b8bab3ec353"
            },
            {
              "contentUdi": "umb://element/22bd96709ae4446e955e85a7f4776dd5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/e19036bc7a95406d9d110b8bab3ec353",
            "title": "Support services",
            "subTitle": "",
            "text": {
              "markup": "<p><span>Our quality, regulatory, and supply chain expertise is fully integrated into each device project to fulfill clinical, commercial, and aftermarket needs. </span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"mc68b9tkb8c5b68mkng8rrj\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8087.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mc68b9tkb8c5b68mkng8rrj/SHL-Medical-Office_People_Zug_Konstantin_KK5D8087.jpg\",\"AssetId\":\"fx3vw47v7xnjrs8jxfjsbgm\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8087\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Device support services",
                "udi": "umb://document/4bb3bbfcbb9f49b9a421c916f7c46319"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/22bd96709ae4446e955e85a7f4776dd5",
            "title": "Partnerships",
            "subTitle": "",
            "text": {
              "markup": "<p>We are building a partnership network in various areas to enhance offerings for customers along the entire device value chain.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"5vxk9nt4bng9wp5rqjnjws\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6634.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5vxk9nt4bng9wp5rqjnjws/SHL-Medical-Office_People_Zug_Konstantin_KK5D6634.jpg\",\"AssetId\":\"bvftkntmk2h68vzpcjrtfkx\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6634\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Alliance partnerships",
                "udi": "umb://document/1f327ebb3a8a49dbb417025ce806e53a"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/837ea52652514e6c9988aa5f9a95df0f",
            "title": "Our Products",
            "subTitle": "",
            "text": {
              "markup": "<p>We design, develop, and manufacture advanced drug delivery devices such as autoinjectors and pen injectors.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"mxwj47sz356pvrrsvb44mw75\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04863.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mxwj47sz356pvrrsvb44mw75/SHL-Medical_2024_CPHI-Milan_DSC04863.jpg\",\"AssetId\":\"7c2wxz5vpnbrctjcpvbpvwfw\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04863\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Our products",
                "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/d0132b87d5db41199f46b04bf4907c40",
      "title": "Get in touch",
      "text": {
        "markup": "<p><span>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else you want us to know about. </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/af56463556ad421588591e7bc5a2694e"
            },
            {
              "contentUdi": "umb://element/99f9f8d515f84834b3ea83e6f266cf75"
            },
            {
              "contentUdi": "umb://element/c218ab8613f1490fb6a77f2587e1e12c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/af56463556ad421588591e7bc5a2694e",
            "icon": "",
            "title": "Email us",
            "text": {
              "markup": "<p><span>We usually respond within 24 hours on working days. <br>info@shl-medical.com</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/99f9f8d515f84834b3ea83e6f266cf75",
            "icon": "",
            "title": "Call us",
            "text": {
              "markup": "<p>Mon-Fri from 8:00AM-5:00PM (GMT+2) <br>+41 41 368 00 00</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/c218ab8613f1490fb6a77f2587e1e12c",
            "icon": "",
            "title": "Visit us",
            "text": {
              "markup": "<p><span>You can find our office HQ at <br>Gubelstrasse 22 <br>6300 Zug, Switzerland</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/742753d6c33740c0b9fc42dfe8aeb79b",
      "title": "Why SHL Medical",
      "description": "Why choose SHL Medical as your company's autoinjector supplier",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d3b0a3b03bb546ed9d51872ba0d94342"
            },
            {
              "contentUdi": "umb://element/1c6c17ac51604434af9ddc729d80d0b6"
            },
            {
              "contentUdi": "umb://element/055aeda801414ad992ca9b804bdf3616"
            },
            {
              "contentUdi": "umb://element/79c86a2e64c545c08ea7dd0b48ff3a6e"
            },
            {
              "contentUdi": "umb://element/35d2e02adddc41a2961d70040f4b9946"
            },
            {
              "contentUdi": "umb://element/d5b08426234d45b4933bdeadbd531630"
            },
            {
              "contentUdi": "umb://element/787372b0cd304a3d853943db2d6530d8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d3b0a3b03bb546ed9d51872ba0d94342",
            "title": "Feasibility",
            "description": "We offer expert feasibility and device selection services to ensure optimal drug delivery solutions. Benefit from our approach to select the right device.",
            "image": [
              "{\"Id\":\"t85fwm2438689k737crwmwxb\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7269.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/t85fwm2438689k737crwmwxb/SHL-Medical-Office_People_Zug_Konstantin_KK5D7269.jpg\",\"AssetId\":\"34ctvtwnkz6wjggphst4g7cm\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7269\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/1c6c17ac51604434af9ddc729d80d0b6",
            "title": "Design",
            "description": "From research and innovation to human factors engineering and IP protection: our constant pursuit of innovative designs in drug delivery technologies is a cornerstone of our success.",
            "image": [
              "{\"Id\":\"bgc9bm4nsj88tfspb4n5ww9\",\"FileName\":\"Industrial Design Molly.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/bgc9bm4nsj88tfspb4n5ww9/Industrial_Design_Molly.jpg\",\"AssetId\":\"nwhvf29j2tbx2hf4m7wnkz\",\"AssetName\":\"Industrial Design Molly\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/055aeda801414ad992ca9b804bdf3616",
            "title": "Development",
            "description": "Our successes are all made possible by the insistence on science-based product development principles covering design input, testing, processes, and manufacturing engineering. ",
            "image": [
              "{\"Id\":\"sp7z9bqhb3wcv9b84g9jjckb\",\"FileName\":\"Manufacturing Engineering_20181220-SHL  5900- - .png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/sp7z9bqhb3wcv9b84g9jjckb/Manufacturing_Engineering_20181220-SHL__5900-_-_.png\",\"AssetId\":\"xbwzxnvgtnsbwpnxvsgfcw\",\"AssetName\":\"Manufacturing Engineering_20181220-SHL \\u6A5F\\u53F05900-\\u7DE8\\u8F2F-\\u7DE8\\u8F2F\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/79c86a2e64c545c08ea7dd0b48ff3a6e",
            "title": "Scale up ",
            "description": "Our integrated processes, from design to commissioning of project-specific injection molding and automated testing and assembly, enable us to effectively respond to varying volume forecasts with the necessary production speed.",
            "image": [
              "{\"Id\":\"m9nnqm9c5bhzmtx7nt8n89j9\",\"FileName\":\"FAAM0011 wide.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/m9nnqm9c5bhzmtx7nt8n89j9/FAAM0011_wide.png\",\"AssetId\":\"54vk79wwxt569rvpc9xtq9jq\",\"AssetName\":\"FAAM\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/35d2e02adddc41a2961d70040f4b9946",
            "title": "Production ",
            "description": "We have achieved significant MedTech milestones, from mass-produced blockbuster legacy devices to novel treatment modalities for various disease areas. Together with our partners, we continue to push production boundaries and discover new markets.",
            "image": [
              "{\"Id\":\"q6gm77xrpwsnbrxx9nvr7vw\",\"FileName\":\"Molding_DSC_1293.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/q6gm77xrpwsnbrxx9nvr7vw/Molding_DSC_1293.png\",\"AssetId\":\"jshjs47fgs8ckf784zxksfkp\",\"AssetName\":\"Molding_DSC_1293\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d5b08426234d45b4933bdeadbd531630",
            "title": "Assembly, labelling and packaging ",
            "description": "We offer final assembly, labeling, and packaging services for drug delivery devices in the US (Florida), and in Europe through an alliance partner.",
            "image": [
              "{\"Id\":\"3j7wnb8kq4vgq8nf3bjj6wb6\",\"FileName\":\"automated-assembly.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3j7wnb8kq4vgq8nf3bjj6wb6/automated-assembly.tif\",\"AssetId\":\"mzbm6wsfm7v49ch4tr4kq5\",\"AssetName\":\"automated-assembly\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/787372b0cd304a3d853943db2d6530d8",
            "title": "Support services and capabilities",
            "description": "Our quality, regulatory, and supply chain expertise is fully integrated into each device project to fulfill clinical, commercial, and aftermarket needs.",
            "image": [
              "{\"Id\":\"9njfpxtks2qvbvgkwhvfvk\",\"FileName\":\"Regulatory Support.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9njfpxtks2qvbvgkwhvfvk/Regulatory_Support.jpg\",\"AssetId\":\"2vjwkmqw7m89j34jh8jtck\",\"AssetName\":\"Regulatory Support\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/69d91514e6ec4acbbfdb8770226a4e9e",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/7bd8be740bba4ae6831e9223aaf48f24",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8428b35f539f44cf911f34a7bbf4300e",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/a168fad3312248908fdf7f05458f57be",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/f6793ee6428e43bd86c4288c3717c228",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4421fb4aea1449cfa452a0d052b5f97c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/4421fb4aea1449cfa452a0d052b5f97c",
      "title": "Device development",
      "text": {
        "markup": "<p>Every core competency and value-added service across our modular device development strategy has been constantly refined over the years to ensure the lasting value of the self-injection systems that we design and develop with our customers.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a4d71178f9f64b408c5dff934211248a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/a4d71178f9f64b408c5dff934211248a",
            "buttonIcon": "",
            "link": [
              {
                "name": "Our services",
                "udi": "umb://document/65bc4c019a334750b18b597998595edf"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[We offer comprehensive device development services for drug delivery systems. Partner with us for innovative and reliable medical devices.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Device Development Services | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>