<?xml version="1.0" encoding="utf-8"?>
<Content Key="88caa51e-7a56-4f67-bbc3-a76cd46a7971" Alias="Healthcare industrialization" Level="3">
  <Info>
    <Parent Key="65bc4c01-9a33-4750-b18b-597998595edf">Our services</Parent>
    <Path>/Homepage/OurServices/HealthcareIndustrialization</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-12T08:51:14</CreateDate>
    <NodeName Default="Healthcare industrialization">
      <Name Culture="en-us">Healthcare industrialization</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c8ce51c02f8b492eb52c0a489cb9380c",
        "settingsUdi": "umb://element/128cfdd847fb45cba4aa89008ba25299"
      },
      {
        "contentUdi": "umb://element/96660c05dbaf445b9ccce227271b9699",
        "settingsUdi": "umb://element/842240d97e2448a5afebce69c613caee"
      },
      {
        "contentUdi": "umb://element/771def818eaa4c759bc3ffe946abae16",
        "settingsUdi": "umb://element/8b0d8d82d1c74a1ea30b2ad945e26b7e"
      },
      {
        "contentUdi": "umb://element/5b400a08d3e947089361eba395b317f5",
        "settingsUdi": "umb://element/188039472baf4748a1d0f57dc656789e"
      },
      {
        "contentUdi": "umb://element/32535896d8694e99881768def13e088f",
        "settingsUdi": "umb://element/e06b039855944fc280b26dd35e43eeb2"
      },
      {
        "contentUdi": "umb://element/4064cda5de014a728b970501cca9f3ce",
        "settingsUdi": "umb://element/d2d562e0429a4f33a694f6d0b5af9925"
      },
      {
        "contentUdi": "umb://element/93050006f30542e0b9215164390a2a89",
        "settingsUdi": "umb://element/d0763b12ff794214a60aa9b4aec99dd4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/c8ce51c02f8b492eb52c0a489cb9380c",
      "title": "Precision tooling and advanced automation",
      "description": {
        "markup": "<p><span>As the industry leader of self-injection devices, SHL Medical has also pioneered the industrialization processes for autoinjector manufacturing. Our in-house scale-up equipment strategy has allowed us to help our pharmaceutical customers bring their products to patients with due speed and reliability. </span></p>\n<p>&nbsp;</p>\n<p><span>Driven by our commitment to improving the lives of patients across the entire patient care value chain, our market-proven tooling and automation solutions are now available to the wider healthcare sector through SHL Advantec, a dynamic sub-group offering advanced manufacturing and packaging technologies for medical devices and other healthcare products. From project initiation to final product delivery, SHL Advantec develops high-precision molds and advanced automation systems that enable 24/7 production of medical devices for patients worldwide.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1178108302d142748a46206ccf9196e0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/1178108302d142748a46206ccf9196e0",
            "image": [
              "{\"Id\":\"t9k3t5qmzg88kwfnkb6mc5p\",\"FileName\":\"enhanced-assembly-machine.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/t9k3t5qmzg88kwfnkb6mc5p/enhanced-assembly-machine.jpg\",\"AssetId\":\"fghs4mcx5n4qnbkjchwg392s\",\"AssetName\":\"enhanced-nr-edit\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/96660c05dbaf445b9ccce227271b9699",
      "title": "Mold commissioning and production scaling",
      "description": {
        "markup": "<p><span>SHL Advantec understands that our customers’ production needs may vary across a product’s lifecycle. That’s why we offer flexible mold design solutions to meet volume-driven manufacturing demands. Our comprehensive tooling program allows us to engineer a range of high-performance, multi-cavity molds of up to 48 cavities and beyond. This high-cavitation tooling expertise has a proven track record in ensuring consistent molded part quality and supporting various customer programs, including the scale-up of commercialized products on the market. </span></p>\n<ul>\n<li><span>Full complement of tooling process competencies</span></li>\n<li><span>High-performance, multi-cavity molds with run-to-run consistency</span></li>\n<li><span>Rigorous in-process quality inspections and measurements</span></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": [
        "right"
      ],
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f3d0075625d0472399532bb33ca49e9f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/f3d0075625d0472399532bb33ca49e9f",
            "image": [
              "{\"Id\":\"2k6pt7xkngm5sxb7ch66bmh\",\"FileName\":\"mold-front-cap-small.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2k6pt7xkngm5sxb7ch66bmh/mold-front-cap-small.png\",\"AssetId\":\"5hw79ckr77x6ntg3s5m998mr\",\"AssetName\":\"mold-front-cap-small\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/771def818eaa4c759bc3ffe946abae16",
      "title": "Fully automated assembly and testing equipment",
      "description": {
        "markup": "<p><span>SHL Advantec has developed a full range of manual, semi-automated, and fully automated solutions to support any scale of pre-clinical, clinical, or commercial supply. Our advanced testing and sophisticated assembly and final assembly machines allow us to offer solutions for rigorous testing and production needs. Designed from the ground up to facilitate modularization, these modular assembly and testing machines feature customizable stations and interchangeable fixtures supporting complex and high-volume production with shortened lead times. </span></p>\n<ul>\n<li><span>Modular machine and control systems for cross-project adaptability</span></li>\n<li><span>Scalable solutions for any scale of assembly or testing volumes</span></li>\n<li><span>Comprehensive servicing and maintenance support&nbsp;</span></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": "",
      "secondaryButton": "",
      "mediaPosition": "",
      "video": "",
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4d58ed59792f417fb74b072296f883cd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/4d58ed59792f417fb74b072296f883cd",
            "image": [
              "{\"Id\":\"66hxm5kxpvh9nk7h83ggj\",\"FileName\":\"fully-automated-autoinjector-assembly-machine.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/66hxm5kxpvh9nk7h83ggj/fully-automated-autoinjector-assembly-machine.jpg\",\"AssetId\":\"mvwsbzs9vwfjcxbssbjf9vck\",\"AssetName\":\"fully-automated-autoinjector-assembly-machine\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/4064cda5de014a728b970501cca9f3ce",
      "title": "SHL Advantec sub-brands",
      "text": {
        "markup": "<p><span>Our integrated healthcare industrialization strategy gives our customers access to streamlined solutions for improved efficiency and lower development risks. We leverage our portfolio of sub-brands to help our customers ensure seamless transition from mold development to high-speed, factory automation with sustained market responsiveness. </span></p>\n<p>&nbsp;</p>\n<p><span>Each equipped with extensive experience ranging from innovation and design to process and manufacturing optimization, our sub-brands combine precision engineering, expert craftsmanship, and customer-oriented innovation to meet the increasing demands from our customers.</span></p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8f1ebdece1c645c1a4ad6f0039fb0937"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/8f1ebdece1c645c1a4ad6f0039fb0937",
            "image": [
              "{\"Id\":\"282xs6x4k733tgthbzxkjbkm\",\"FileName\":\"advantec-brands-4.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/282xs6x4k733tgthbzxkjbkm/advantec-brands-4.png\",\"AssetId\":\"wjfvxk4k98xtrscjm3k395\",\"AssetName\":\"advantec-brands-4\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9515c402ef8540258d3dc243246ac55f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/9515c402ef8540258d3dc243246ac55f",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/2a929e573f5c4cb68842e43c16ef7214"
                  },
                  {
                    "contentUdi": "umb://element/12a341ed23b441c9897b953b856aa8c8"
                  },
                  {
                    "contentUdi": "umb://element/20561a8f21424754bb2b25bb7a876e06"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/2a929e573f5c4cb68842e43c16ef7214",
                  "link": [
                    {
                      "name": "SMC Mould Innovation AG",
                      "url": "https://www.smc-mould.ch/"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/12a341ed23b441c9897b953b856aa8c8",
                  "link": [
                    {
                      "name": "LCA Automation AG",
                      "url": "https://www.lca.ch/"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/20561a8f21424754bb2b25bb7a876e06",
                  "link": [
                    {
                      "name": "Superior Tooling Inc.",
                      "url": "https://www.sti-nc.com/"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": "",
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/93050006f30542e0b9215164390a2a89",
      "title": "Get in touch",
      "text": {
        "markup": "<p><span>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else you want us to know about.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/72c283957b7e4a9e89f5635dc639e967"
            },
            {
              "contentUdi": "umb://element/d80b0bd0577c4cba87a5b6bd1c7d8574"
            },
            {
              "contentUdi": "umb://element/278f14a6d0334cdbb9b39771f58e242d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/72c283957b7e4a9e89f5635dc639e967",
            "icon": "",
            "title": "Email us",
            "text": {
              "markup": "<p>We usually respond within 24 hours on working days.<br>info-advantec@shl-medical.com</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/d80b0bd0577c4cba87a5b6bd1c7d8574",
            "icon": "",
            "title": "Call us",
            "text": {
              "markup": "<p>Mon-Fri from 8:00AM-5:00PM (GMT+2) <br>+41 41 368 00 00</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/278f14a6d0334cdbb9b39771f58e242d",
            "icon": "",
            "title": "Visit us",
            "text": {
              "markup": "<p>You can find our office HQ at<br>Gubelstrasse 22<br>6300 Zug, Switzerland</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/32535896d8694e99881768def13e088f",
      "image": [
        "{\"Id\":\"9zmmwfsp7hnsvrsbxqssvbr\",\"FileName\":\"world-map-full-width.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9zmmwfsp7hnsvrsbxqssvbr/world-map-full-width.png\",\"AssetId\":\"mpp3xqkkf7t9pbgkg565qw\",\"AssetName\":\"world-map-full-width\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/5b400a08d3e947089361eba395b317f5",
      "text": {
        "markup": "<h2>Global operations and service network</h2>\n<p>SHL Advantec has formed a global operations network spanning three continents to deliver faster support and shorter supply chain services to our vast and diverse customer base in pharma, MedTech, automotive, aerospace, construction, and more. We share expertise, processes, and service capabilities with our sub-brands – Swiss-based LCA Automation and SMC Mould Innovation and US-based Superior Tooling – to operate as a comprehensive service provider for our customers. Leveraging our locations in Switzerland, Taiwan, China, Mexico, and the US, our over 600 employees worldwide are dedicated to helping our customers advance production quality and resilience, all delivered with unmatched speed and precision.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/128cfdd847fb45cba4aa89008ba25299",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/842240d97e2448a5afebce69c613caee",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 12,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8b0d8d82d1c74a1ea30b2ad945e26b7e",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d2d562e0429a4f33a694f6d0b5af9925",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/d0763b12ff794214a60aa9b4aec99dd4",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e06b039855944fc280b26dd35e43eeb2",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/188039472baf4748a1d0f57dc656789e",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f3fe3ba1622d45e8afe701183e8ace70"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/f3fe3ba1622d45e8afe701183e8ace70",
      "title": "Healthcare industrialization",
      "text": {
        "markup": "<p>From clinical pilots to full-scale manufacturing, our dedicated group of over 600 tooling and automation experts across the globe offers the right-sized solutions for any production requirements.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "Solutions by SHL Advantec",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Discover how our dedicated group offers custom solutions for your production requirements. From clinical pilots to full-scale manufacturing]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Healthcare industrialization | SHL Medical ]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>