{#
    Form

    Options:
        class {string}           (optional) - Adds custom classes
        action {string}          (optional) - Adds a label to the input
        method {string}          (optional) - Adds a label to the input
        attr {string}            (optional) - Adds attributes to the input
        loader {string}          (optional) - Adds loader before form submit
        hook {string}            (optional) - Adds a hook to the input
        async {string}           (optional) - Decide if form submit should be through API (async) or a backend form submit
        disableFormValidation {boolean} (optional) - Disable the default form validation

#}
{% macro form(data) %}

    {% set hook = data.hook or '' %}
    {%- if not data.disableFormValidation %}
        {% set hook = hook or 'form' %}
    {% endif -%}

    <form class="c-form{%- if data.class %} {{ data.class }}{% endif -%}"
        action="{{ data.action or '#' }}"
        {%- if data.method %} method="{{ data.method }}"{% endif -%}
        {%- if data.async %} data-async="{{ data.async }}"{% endif -%}
        {%- if data.attr %} {{ data.attr|safe }}{% endif -%}
        {%- if data.loader %} data-loader="{{ data.loader }}"{% endif -%}
        {%- if hook %} js-hook-{{ hook|safe }}{% endif -%}>

        {% if caller() %}

            {{ caller() }}

        {% endif %}

    </form>

{% endmacro %}
