{#
    Select

    Options:
        class {string}           (optional) - Adds custom classes
        type {string}            (optional) - Adds a label to the select
        label {string}                      - Adds a label to the select
        id {string|int}                     - Adds an id to the select (needed for label to be clickable)
        value {string                       - Adds a value to the select
        name {string}                       - Adds a name to the select
        hook {string}            (optional) - Adds a hook to the select
        attr {string}                       - Adds attributes to the select
        required {boolean}       (optional) - Add required property to the select
        disabled {boolean}       (optional) - Add disabled property to the select
        validate {string}        (optional) - Add form validation rules to input (validate: 'required,email')
        error {string}           (optional) - Add error state and message
        options {object}                    - Adds options
        options.default {string} (optional) - Adds option default state
        options.label {string}              - Adds option label
        options.value {string}              - Adds option value

#}
{% macro select(data) %}

    <div class="c-select form__item
        {%- if data.class %} {{ data.class }}{% endif -%}
        {%- if data.disabled %} form__item--disabled{% endif -%}
        {%- if data.labelAsPlaceholder %} form__item--lap{% endif -%}"
        {%- if data.labelAsPlaceholder %} js-hook-lap{% endif -%}>

        <div class="select__wrapper">
            <label class="select__label {%- if data.sronly %} u-sr-only{% endif -%}" for="{{ data.id }}">
                {{ data.label|safe }}

                {% set validate = data.validate | string if data.validate else '' %}
                {% if 'required' in validate or data.required %}<sup>*</sup>{% endif %}
            </label>
            <div class="select__input-wrapper">
                <select class="select__input"
                    name="{{ data.name }}"
                    id="{{ data.id }}"
                    {%- if data.validate %} data-validate="{{ data.validate }}"{% endif -%}
                    {%- if data.requiredError %} data-required-error="{{ data.requiredError }}"{% endif -%}
                    {%- if data.hook %} js-hook-{{ data.hook }}{% endif -%}
                    {%- if data.disabled %} disabled{% endif -%}
                    {%- if data.attr %} {{ data.attr|safe }}{% endif -%}>

                    {% for option in data.options %}
                        <option
                            {% if option.default %}hidden selected {% endif -%}
                            value="{{ option.value }}">
                            {% if not(option.default and data.labelAsPlaceholder) %}{{ option.label }}{% endif %}
                        </option>
                    {% endfor %}

                </select>
                <span class="select__icon">{% svg 'icons/chevron-down' %}</span>
            </div>
        </div>
        <div id="{{ data.name }}_error" class="form__item-error{%- if not data.error %} u-hidden{% endif -%}">{{ data.error }}</div>

    </div>

{% endmacro %}
