@using DTNL.UmbracoCms.Web.Helpers.Extensions
@model String


<div class="c-video c-video--background video--is-initialised video--is-playing" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" id="video-hero-video" data-video-platform="native" data-video-id="hero-video" data-video-muted="true" data-video-autoplay="true" data-video-playsinline="true" data-video-loop="true" data-video-sources="[{&quot;size&quot;:1920,&quot;source&quot;:[{&quot;url&quot;:&quot;http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4&quot;,&quot;type&quot;:&quot;video/mp4&quot;}]},{&quot;size&quot;:1280,&quot;source&quot;:[{&quot;url&quot;:&quot;http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4&quot;,&quot;type&quot;:&quot;video/mp4&quot;}]},{&quot;size&quot;:1024,&quot;source&quot;:[{&quot;url&quot;:&quot;http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4&quot;,&quot;type&quot;:&quot;video/mp4&quot;}]},{&quot;size&quot;:320,&quot;source&quot;:[{&quot;url&quot;:&quot;http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4&quot;,&quot;type&quot;:&quot;video/mp4&quot;}]}]" aria-label="Homepage video" js-hook-inview="" data-inview-persistent="true" data-inview-trigger="video[video-hero-video]::inview" role="application" js-hook-video="">
    <meta itemprop="name" content="Homepage video">
    <meta itemprop="description" content="Homepage video description">

    <div class="video__player" js-hook-video-player=""><video loop="loop" playsinline="playsinline" autoplay="autoplay" muted="muted"><source type="video/mp4" src="@Model"></video></div>
    <div class="video__loader"></div>
    <div class="video__button-container">
        <button class="video__button video__button--play" js-hook-video-play="">
            <span class="video__button-icon"></span>
            <span class="u-sr-only">Play</span>
        </button>

        <button class="video__button video__button--pause" js-hook-video-pause="">
            <span class="video__button-icon">❙❙</span>
            <span class="u-sr-only">Pause</span>
        </button>

        <button class="video__button video__button--replay" js-hook-video-replay="">
            <span class="video__button-icon">↻</span>
            <span class="u-sr-only">Replay</span>
        </button>
    </div>
</div>
