<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10647cf0-e349-4bd2-94e1-079a3e519764" Alias="Block List - Hero" Level="1">
  <Info>
    <Name>Block List - Hero</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Product Hero - {{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockThumbnails/Pdp Hero.png",
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>