<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d3e4ac0-cc3c-4aef-88d2-58e463117693" Alias="Block List - Product Banner" Level="1">
  <Info>
    <Name>Block List - Product Banner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ name }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>