<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f85c68b5-07c8-421b-9c5f-ef74e612c034" Alias="Block List - Hero" Level="1">
  <Info>
    <Name>Block List - Hero</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f5aea568-7cc0-415e-a28f-cd2def6adcb6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>