<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fe7e7e2-9ea4-440a-b6df-7f8e942c6c16" Alias="Block List - Content" Level="1">
  <Info>
    <Name>Block List - Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "277e3f8a-21af-4d83-8af7-e53ec5cb171a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "2 Column - {{title}}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Image - {{caption}}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6964dbc8-d0ed-4bde-9ea3-9a01b126f811",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Text - {{title}}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Video {{ title ? ' - '+ title : ''}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>