<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fe7e7e2-9ea4-440a-b6df-7f8e942c6c16" Alias="Block List - Content" Level="1">
  <Info>
    <Name>Block List - Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Video {{ title ? ' - '+ title : ''}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Quotes",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ text }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "efc5a14b-10ef-4373-86b1-4bf418f60264",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2eaa3665-a4c5-4e0a-9c7d-df3ff25d2ad4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ eventTitle }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "263e351a-172b-4ab5-9883-99a0a23a19dc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "History Timeline",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ba13aea6-6c44-46dd-bfe4-cf370e95a047",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4b945191-7d44-4ea4-a228-635e8d94cac9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Rich Text",
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>