<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cff03310-b067-4f96-864a-b0e7577ff6ba" Alias="Block List - Cards" Level="1">
  <Info>
    <Name>Block List - Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockThumbnails/Icon card.png",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockThumbnails/Image card.png",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockThumbnails/Number card.png",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "aab9cd9b-d2f2-4d26-bf95-192f83775afe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockThumbnails/Page card.png",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockThumbnails/product card.png",
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>