<?xml version="1.0" encoding="utf-8"?>
<DataType Key="220be312-1db3-4bca-a35d-f356f6628aeb" Alias="Block List - Downloads" Level="1">
  <Info>
    <Name>Block List - Downloads</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>