<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3dc71d8-a3b8-434b-9f61-b1ed0246908a" Alias="Checkbox list - Share socials" Level="1">
  <Info>
    <Name>Checkbox list - Share socials</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Facebook"
    },
    {
      "id": 2,
      "value": "Twitter"
    },
    {
      "id": 3,
      "value": "LinkedIn"
    },
    {
      "id": 4,
      "value": "Email"
    },
    {
      "id": 5,
      "value": "Whatsapp"
    }
  ]
}]]></Config>
</DataType>