<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16df234f-ee10-47d2-821a-2dbacdc1d669" Alias="Color Picker - Themes" Level="1">
  <Info>
    <Name>Color Picker - Themes</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"007cbe\",\"label\":\"light-blue\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e6e7e8\",\"label\":\"light-grey\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>