<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0af23642-35ef-47cb-a54c-bd98a9e7a79a" Alias="[Contentment] Data Picker - Brandfolder SVG" Level="1">
  <Info>
    <Name>[Contentment] Data Picker - Brandfolder SVG</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "DTNL.UmbracoCms.Web.Services.Brandfolder.DataSources.BrandfolderSvgDataSource, DTNL.UmbracoCms.Web",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "large"
  ],
  "hideSearch": "0",
  "maxItems": 1,
  "enableDevMode": "0"
}]]></Config>
</DataType>