<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6318f635-5d9b-4826-af52-29d1e7df0dff" Alias="[Contentment] Data Picker - Brandfolder Folder" Level="1">
  <Info>
    <Name>[Contentment] Data Picker - Brandfolder Folder</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "DTNL.UmbracoCms.Web.Services.Brandfolder.DataSources.BrandfolderDataSource, DTNL.UmbracoCms.Web",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ListDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "hideSearch": "0",
  "maxItems": 1,
  "enableDevMode": "0"
}]]></Config>
</DataType>