<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67b0f2c9-12cd-4f7e-9dba-fa2772b65a83" Alias="[Contentment] Data Picker - Brandfolder Image" Level="1">
  <Info>
    <Name>[Contentment] Data Picker - Brandfolder Image</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "DTNL.UmbracoCms.Web.Services.Brandfolder.DataSources.BrandfolderImageDataSource, DTNL.UmbracoCms.Web",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "large"
  ],
  "hideSearch": "0",
  "maxItems": 1,
  "enableDevMode": "0"
}]]></Config>
</DataType>