<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62c17fee-fbdb-43bb-942b-077914c53a5b" Alias="Downloads Icon Media Picker" Level="1">
  <Info>
    <Name>Downloads Icon Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/efd8ce6aae8741e887835c923b13054d",
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>