<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1760e18e-91da-4b98-b31c-890c9de0753b" Alias="Dropdown - Media Position" Level="1">
  <Info>
    <Name>Dropdown - Media Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "left"
    },
    {
      "id": 2,
      "value": "right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>