<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7545d069-bca9-4164-8a96-9d96fc7ac485" Alias="Dropdown - Image Size Ratio" Level="1">
  <Info>
    <Name>Dropdown - Image Size Ratio</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "3-4"
    },
    {
      "id": 2,
      "value": "4-3"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>