<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abf03c0f-8c15-4353-993e-2422f5841c97" Alias="Dropdown - Icons" Level="1">
  <Info>
    <Name>Dropdown - Icons</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>