<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae36c1bd-a2b8-4991-85c4-7aaf0aab078e" Alias="Dropdown - Button Role" Level="1">
  <Info>
    <Name>Dropdown - Button Role</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "First"
    },
    {
      "id": 2,
      "value": "Second"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>