<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb9b6a49-a32c-4c27-a71e-e537c7de357d" Alias="Dropdown Mailing" Level="1">
  <Info>
    <Name>Dropdown Mailing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ExampleEmail"
    },
    {
      "id": 2,
      "value": "ContactFormEmail"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>