<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62a1e513-290a-46cf-b266-f719379b6049" Alias="Dropdown - Rich Text Reduce Margin" Level="1">
  <Info>
    <Name>Dropdown - Rich Text Reduce Margin</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "top"
    },
    {
      "id": 2,
      "value": "bottom"
    },
    {
      "id": 3,
      "value": "top-bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>