<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40e4fad6-91a1-4a88-ade8-9b5168d66688" Alias="Dropdown - ClosedCaptions Kind" Level="1">
  <Info>
    <Name>Dropdown - ClosedCaptions Kind</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "subtitles"
    },
    {
      "id": 2,
      "value": "captions"
    },
    {
      "id": 3,
      "value": "chapters"
    },
    {
      "id": 4,
      "value": "descriptions"
    },
    {
      "id": 5,
      "value": "metadata"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>