<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc060185-bbaa-44d7-bf6f-d7a699a0a5c9" Alias="Dropdown - Rich Text Size" Level="1">
  <Info>
    <Name>Dropdown - Rich Text Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "extra-small"
    },
    {
      "id": 2,
      "value": "small"
    },
    {
      "id": 3,
      "value": "medium"
    },
    {
      "id": 4,
      "value": "large"
    },
    {
      "id": 5,
      "value": "extra-large"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>