<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5150b7a-a6d6-4e4f-b41f-40127b46f3ac" Alias="Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": false
}]]></Config>
</DataType>