<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34bd3110-5826-41c4-9433-442e3fc6d824" Alias="Header Menu - Feature - Block List" Level="1">
  <Info>
    <Name>Header Menu - Feature - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>