<?xml version="1.0" encoding="utf-8"?>
<DataType Key="900513e2-6efd-4fbe-a23b-60c69accbd0c" Alias="Header SubMenu - Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Header SubMenu - Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>