<?xml version="1.0" encoding="utf-8"?>
<DataType Key="918dfbfe-d233-4714-92ec-2bfd87eef6ac" Alias="Image Picker (wysiwyg)" Level="1">
  <Info>
    <Name>Image Picker (wysiwyg)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 0,
      "label": "mobile",
      "width": 480
    },
    {
      "alias": "mobilePlus",
      "height": 0,
      "label": "mobilePlus",
      "width": 768
    },
    {
      "alias": "tabletPortrait",
      "height": 0,
      "label": "tabletPortrait",
      "width": 788
    },
    {
      "alias": "tabletLandscape",
      "height": 0,
      "label": "tabletLandscape",
      "width": 968
    },
    {
      "alias": "laptop",
      "height": 0,
      "label": "laptop",
      "width": 1268
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,brandfolderImage,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>