<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b8b2ee6-7dd7-40db-97bf-60ede3fca3a5" Alias="Image Picker (office-modal)" Level="1">
  <Info>
    <Name>Image Picker (office-modal)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 267,
      "label": "mobile",
      "width": 356
    },
    {
      "alias": "mobilePlus",
      "height": 267,
      "label": "mobilePlus",
      "width": 356
    },
    {
      "alias": "tabletPortrait",
      "height": 267,
      "label": "tabletPortrait",
      "width": 356
    },
    {
      "alias": "tabletLandscape",
      "height": 267,
      "label": "tabletLandscape",
      "width": 356
    },
    {
      "alias": "laptop",
      "height": 267,
      "label": "laptop",
      "width": 356
    },
    {
      "alias": "desktop",
      "height": 267,
      "label": "desktop",
      "width": 356
    },
    {
      "alias": "widescreen",
      "height": 267,
      "label": "widescreen",
      "width": 356
    },
    {
      "alias": "4k",
      "height": 267,
      "label": "4k",
      "width": 356
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>