<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d4b2d0d-7dfc-4fa3-bd55-5e4c41addc28" Alias="Image Picker (heroPdp-cardKnowledge)" Level="1">
  <Info>
    <Name>Image Picker (heroPdp-cardKnowledge)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 350,
      "label": "mobile",
      "width": 260
    },
    {
      "alias": "mobilePlus",
      "height": 350,
      "label": "mobilePlus",
      "width": 260
    },
    {
      "alias": "tabletPortrait",
      "height": 350,
      "label": "tabletPortrait",
      "width": 260
    },
    {
      "alias": "tabletLandscape",
      "height": 585,
      "label": "tabletLandscape",
      "width": 440
    },
    {
      "alias": "laptop",
      "height": 585,
      "label": "laptop",
      "width": 440
    },
    {
      "alias": "desktop",
      "height": 585,
      "label": "desktop",
      "width": 440
    },
    {
      "alias": "widescreen",
      "height": 585,
      "label": "widescreen",
      "width": 440
    },
    {
      "alias": "4k",
      "height": 585,
      "label": "4k",
      "width": 440
    },
    {
      "alias": "mobile-card-knowledge",
      "height": 257,
      "label": "mobile-card-knowledge",
      "width": 343
    },
    {
      "alias": "mobilePlus-card-knowledge",
      "height": 257,
      "label": "mobilePlus-card-knowledge",
      "width": 343
    },
    {
      "alias": "tabletPortrait-card-knowledge",
      "height": 324,
      "label": "tabletPortrait-card-knowledge",
      "width": 432
    },
    {
      "alias": "tabletLandscape-card-knowledge",
      "height": 324,
      "label": "tabletLandscape-card-knowledge",
      "width": 432
    },
    {
      "alias": "laptop-card-knowledge",
      "height": 324,
      "label": "laptop-card-knowledge",
      "width": 432
    },
    {
      "alias": "desktop-card-knowledge",
      "height": 324,
      "label": "desktop-card-knowledge",
      "width": 432
    },
    {
      "alias": "widescreen-card-knowledge",
      "height": 324,
      "label": "widescreen-card-knowledge",
      "width": 432
    },
    {
      "alias": "4k-card-knowledge",
      "height": 324,
      "label": "4k-card-knowledge",
      "width": 432
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>