<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbb241e4-0c4c-45a6-aebd-d157cd9e5223" Alias="Image Picker (card-contact)" Level="1">
  <Info>
    <Name>Image Picker (card-contact)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 254,
      "label": "mobile",
      "width": 254
    },
    {
      "alias": "mobilePlus",
      "height": 343,
      "label": "mobilePlus",
      "width": 343
    },
    {
      "alias": "tabletPortrait",
      "height": 432,
      "label": "tabletPortrait",
      "width": 432
    },
    {
      "alias": "tabletLandscape",
      "height": 432,
      "label": "tabletLandscape",
      "width": 432
    },
    {
      "alias": "laptop",
      "height": 432,
      "label": "laptop",
      "width": 432
    },
    {
      "alias": "desktop",
      "height": 432,
      "label": "desktop",
      "width": 432
    },
    {
      "alias": "widescreen",
      "height": 432,
      "label": "widescreen",
      "width": 432
    },
    {
      "alias": "4k",
      "height": 432,
      "label": "4k",
      "width": 432
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>