<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62ba3387-7e75-4576-afd4-e37bac8c6910" Alias="Image Picker (image-caption)" Level="1">
  <Info>
    <Name>Image Picker (image-caption)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile-image3-4",
      "height": 467,
      "label": "mobile-image3-4",
      "width": 350
    },
    {
      "alias": "mobilePlus-image3-4",
      "height": 500,
      "label": "mobilePlus-image3-4",
      "width": 375
    },
    {
      "alias": "tabletPortrait-image3-4",
      "height": 500,
      "label": "tabletPortrait-image3-4",
      "width": 375
    },
    {
      "alias": "tabletLandscape-image3-4",
      "height": 533,
      "label": "tabletLandscape-image3-4",
      "width": 400
    },
    {
      "alias": "laptop-image3-4",
      "height": 580,
      "label": "laptop-image3-4",
      "width": 435
    },
    {
      "alias": "mobile-image4-3",
      "height": 350,
      "label": "mobile-image4-3",
      "width": 467
    },
    {
      "alias": "mobilePlus-image4-3",
      "height": 375,
      "label": "mobilePlus-image4-3",
      "width": 500
    },
    {
      "alias": "tabletPortrait-image4-3",
      "height": 375,
      "label": "tabletPortrait-image4-3",
      "width": 500
    },
    {
      "alias": "tabletLandscape-image4-3",
      "height": 400,
      "label": "tabletLandscape-image4-3",
      "width": 533
    },
    {
      "alias": "laptop-image4-3",
      "height": 435,
      "label": "laptop-image4-3",
      "width": 580
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>