<?xml version="1.0" encoding="utf-8"?>
<DataType Key="674e7e94-f705-418f-a925-3f21e419755a" Alias="Image Picker (heroPdp)" Level="1">
  <Info>
    <Name>Image Picker (heroPdp)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 375,
      "label": "mobile",
      "width": 320
    },
    {
      "alias": "mobilePlus",
      "height": 375,
      "label": "mobilePlus",
      "width": 320
    },
    {
      "alias": "tabletPortrait",
      "height": 375,
      "label": "tabletPortrait",
      "width": 320
    },
    {
      "alias": "tabletLandscape",
      "height": 695,
      "label": "tabletLandscape",
      "width": 590
    },
    {
      "alias": "laptop",
      "height": 695,
      "label": "laptop",
      "width": 590
    },
    {
      "alias": "desktop",
      "height": 695,
      "label": "desktop",
      "width": 590
    },
    {
      "alias": "widescreen",
      "height": 695,
      "label": "widescreen",
      "width": 590
    },
    {
      "alias": "4k",
      "height": 695,
      "label": "4k",
      "width": 590
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>