<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48f8dd63-775d-458e-9105-401c265b8487" Alias="Image Picker (history-timeline)" Level="1">
  <Info>
    <Name>Image Picker (history-timeline)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 428,
      "label": "mobile",
      "width": 343
    },
    {
      "alias": "mobilePlus",
      "height": 575,
      "label": "mobilePlus",
      "width": 442
    },
    {
      "alias": "tabletPortrait",
      "height": 747,
      "label": "tabletPortrait",
      "width": 575
    },
    {
      "alias": "tabletLandscape",
      "height": 975,
      "label": "tabletLandscape",
      "width": 750
    },
    {
      "alias": "laptop",
      "height": 1267,
      "label": "laptop",
      "width": 975
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>