<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5f7e609-8235-4f6a-beb5-a10dbf58173b" Alias="Image Picker (default)" Level="1">
  <Info>
    <Name>Image Picker (default)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 270,
      "label": "mobile",
      "width": 480
    },
    {
      "alias": "mobilePlus",
      "height": 432,
      "label": "mobilePlus",
      "width": 768
    },
    {
      "alias": "tabletPortrait",
      "height": 576,
      "label": "tabletPortrait",
      "width": 1024
    },
    {
      "alias": "tabletLandscape",
      "height": 698,
      "label": "tabletLandscape",
      "width": 1240
    },
    {
      "alias": "laptop",
      "height": 900,
      "label": "laptop",
      "width": 1600
    },
    {
      "alias": "desktop",
      "height": 1080,
      "label": "desktop",
      "width": 1920
    },
    {
      "alias": "widescreen",
      "height": 1440,
      "label": "widescreen",
      "width": 2560
    },
    {
      "alias": "4k",
      "height": 2160,
      "label": "4k",
      "width": 3840
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,brandfolderImage,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>