<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e521bd7d-b811-413f-b9cf-90866b7e36a7" Alias="Image Picker (article)" Level="1">
  <Info>
    <Name>Image Picker (article)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config>
    <![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 257,
      "label": "mobile",
      "width": 343
    },
    {
      "alias": "mobilePlus",
      "height": 257,
      "label": "mobilePlus",
      "width": 343
    },
    {
      "alias": "tabletPortrait",
      "height": 324,
      "label": "tabletPortrait",
      "width": 432
    },
    {
      "alias": "tabletLandscape",
      "height": 324,
      "label": "tabletLandscape",
      "width": 432
    },
    {
      "alias": "laptop",
      "height": 324,
      "label": "laptop",
      "width": 432
    },
    {
      "alias": "desktop",
      "height": 324,
      "label": "desktop",
      "width": 432
    },
    {
      "alias": "widescreen",
      "height": 324,
      "label": "widescreen",
      "width": 432
    },
    {
      "alias": "4k",
      "height": 324,
      "label": "4k",
      "width": 432
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]>
  </Config>
</DataType>
