<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63945e18-1206-486d-ad7e-73e80cd2d1aa" Alias="Image Picker (image3-4)" Level="1">
  <Info>
    <Name>Image Picker (image3-4)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 467,
      "label": "mobile",
      "width": 350
    },
    {
      "alias": "mobilePlus",
      "height": 500,
      "label": "mobilePlus",
      "width": 375
    },
    {
      "alias": "tabletPortrait",
      "height": 500,
      "label": "tabletPortrait",
      "width": 375
    },
    {
      "alias": "tabletLandscape",
      "height": 533,
      "label": "tabletLandscape",
      "width": 400
    },
    {
      "alias": "laptop",
      "height": 580,
      "label": "laptop",
      "width": 435
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics,brandfolderImage",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>