<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efa7937a-9b92-49fa-a41a-295647f56b00" Alias="Image Picker (stacking-card)" Level="1">
  <Info>
    <Name>Image Picker (stacking-card)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "mobile",
      "height": 384,
      "label": "mobile",
      "width": 384
    },
    {
      "alias": "mobilePlus",
      "height": 648,
      "label": "mobilePlus",
      "width": 648
    },
    {
      "alias": "tabletPortrait",
      "height": 306,
      "label": "tabletPortrait",
      "width": 408
    },
    {
      "alias": "tabletLandscape",
      "height": 228,
      "label": "tabletLandscape",
      "width": 304
    },
    {
      "alias": "laptop",
      "height": 314,
      "label": "laptop",
      "width": 418
    },
    {
      "alias": "desktop",
      "height": 314,
      "label": "desktop",
      "width": 418
    },
    {
      "alias": "widescreen",
      "height": 314,
      "label": "widescreen",
      "width": 418
    },
    {
      "alias": "4k",
      "height": 314,
      "label": "4k",
      "width": 418
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics,brandfolderImage",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>