<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35b04425-1dd6-4907-a37d-298982297ce5" Alias="Media Picker - File" Level="1">
  <Info>
    <Name>Media Picker - File</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "File",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>