<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec4e35e3-39ec-412d-af32-a9472020cdd7" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaArticle,umbracoMediaAudio,brandfolderFile,brandfolderImage,File,Image,umbracoMediaVectorGraphics,umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>