<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64c10e98-3b9a-41b2-828e-6c22a52a6c30" Alias="Multi URL Picker" Level="1">
  <Info>
    <Name>Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>