<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b9bfcbc-68f3-413d-967e-742da5916a45" Alias="Multinode Treepicker - Product Page" Level="1">
  <Info>
    <Name>Multinode Treepicker - Product Page</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "pageProduct",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>