<?xml version="1.0" encoding="utf-8"?>
<DataType Key="115a88e3-ffd1-4cb4-9d0f-642e0537aa84" Alias="SHL Colors All" Level="1">
  <Info>
    <Name>SHL Colors All</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"white\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"062f54\",\"label\":\"general\"}"
    },
    {
      "id": 1,
      "value": "{\"value\":\"fee8f9\",\"label\":\"lightest-pink\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"fcc5f0\",\"label\":\"pale-pink\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"662949\",\"label\":\"dark-pink\"}"
    },
    {
      "id": 13,
      "value": "{\"value\":\"e5f9f7\",\"label\":\"pastel-green\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"a4ead4\",\"label\":\"pale-green\"}"
    },
    {
      "id": 12,
      "value": "{\"value\":\"0a5f5a\",\"label\":\"dark-green\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"fff9ed\",\"label\":\"lightest-yellow\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"fef1d1\",\"label\":\"pale-yellow\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"f3f9f8\",\"label\":\"pastel-blue\"}"
    },
    {
      "id": 14,
      "value": "{\"value\":\"e3f8fa\",\"label\":\"lightest-blue\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"baedf3\",\"label\":\"pale-blue\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"007cbe\",\"label\":\"light-blue\"}"
    },
    {
      "id": 15,
      "value": "{\"value\":\"f6f6f6\",\"label\":\"light-grey\"}"
    },
    {
      "id": 16,
      "value": "{\"value\":\"fcf8f8\",\"label\":\"white-pink\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>