<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c136dfb-5cf8-4867-a447-f02cd8262864" Alias="SHL Colors" Level="1">
  <Info>
    <Name>SHL Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"fee8f9\",\"label\":\"t-lightest-pink\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"t-white\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"062f54\",\"label\":\"t-general\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"fcc5f0\",\"label\":\"t-pale-pink\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"a4ead4\",\"label\":\"t-pale-green\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"fef1d1\",\"label\":\"t-pale-yellow\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"fff9ed\",\"label\":\"t-lightest-yellow\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"baedf3\",\"label\":\"t-pale-blue\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"f3f9f8\",\"label\":\"t-pastel-blue\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"007cbe\",\"label\":\"t-light-blue\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"f6f6f6\",\"label\":\"t-light-grey\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>