<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2bd4cf1-f5db-4032-b1fb-6f5576cc53d9" Alias="SHL Colors Page Home" Level="1">
  <Info>
    <Name>SHL Colors Page Home</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 3,
      "value": "{\"value\":\"062f54\",\"label\":\"general\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"baedf3\",\"label\":\"pale-blue\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"007cbe\",\"label\":\"light-blue\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>