<?xml version="1.0" encoding="utf-8"?>
<DataType Key="354236bc-300e-4bd4-bf32-41114ba53005" Alias="Simple Rich Text Editor" Level="1">
  <Info>
    <Name>Simple Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "removeformat",
      "bold",
      "italic",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "inline",
    "overlayWidthSize": "small"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>