<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c74ce4f3-e602-4f2f-b7df-3ef2c008f0f5" Alias="SVG Media Picker" Level="1">
  <Info>
    <Name>SVG Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>