<?xml version="1.0" encoding="utf-8"?>
<DataType Key="905c3397-88c9-4112-a44b-f7134695c491" Alias="Tags - Read Only - Device Type" Level="1">
  <Info>
    <Name>Tags - Read Only - Device Type</Name>
    <EditorAlias>readOnlyTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "DeviceType",
  "StorageType": 1
}]]></Config>
</DataType>