<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9671433-8a75-48a8-9344-a8ca9451c199" Alias="Tags - Read Only - Container" Level="1">
  <Info>
    <Name>Tags - Read Only - Container</Name>
    <EditorAlias>readOnlyTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Container",
  "StorageType": 1
}]]></Config>
</DataType>