<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54cc7c08-daf1-4f76-a061-cd9dff08a6b3" Alias="Tags - Read Only - Volume Range" Level="1">
  <Info>
    <Name>Tags - Read Only - Volume Range</Name>
    <EditorAlias>readOnlyTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "VolumeRange",
  "StorageType": 1
}]]></Config>
</DataType>