<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a661b13e-0167-4cbf-a1b5-f0042d36ca49" Alias="Tags - Location" Level="1">
  <Info>
    <Name>Tags - Location</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Location",
  "StorageType": 1
}]]></Config>
</DataType>