<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d08f20b-4a9e-4cfd-b9aa-52c7a53ba8bf" Alias="Tags - Read Only - Page Type" Level="1">
  <Info>
    <Name>Tags - Read Only - Page Type</Name>
    <EditorAlias>readOnlyTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "PageType",
  "StorageType": 1
}]]></Config>
</DataType>