<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80062373-c1dd-44da-bfd3-536663650e55" Alias="Tags - Category" Level="1">
  <Info>
    <Name>Tags - Category</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "PageCategory",
  "StorageType": 1
}]]></Config>
</DataType>