<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08a4c495-278f-4ceb-b29b-9a548147a98a" Alias="Tags - Container Type" Level="1">
  <Info>
    <Name>Tags - Container Type</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "ContainerType",
  "StorageType": 1
}]]></Config>
</DataType>