<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5755051-4106-4853-a889-e4c2bec17543" Alias="Tags - Device Type" Level="1">
  <Info>
    <Name>Tags - Device Type</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "DeviceType",
  "StorageType": 1
}]]></Config>
</DataType>