<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f747590-8393-40bb-86e7-d4293be1dfdd" Alias="Tags - Content" Level="1">
  <Info>
    <Name>Tags - Content</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>