<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc98be41-360b-4a17-ba2c-b9342db49fe3" Alias="Tags - Volume Range" Level="1">
  <Info>
    <Name>Tags - Volume Range</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "VolumeRange",
  "StorageType": 1
}]]></Config>
</DataType>