<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e0f71ed-8975-4c98-ac70-c181b7de65bf" Alias="Tags - Read Only - Location" Level="1">
  <Info>
    <Name>Tags - Read Only - Location</Name>
    <EditorAlias>readOnlyTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Location",
  "StorageType": 1
}]]></Config>
</DataType>