<?xml version="1.0" encoding="utf-8"?>
<DataType Key="912cb5e5-0f2f-4e79-b9b7-45ac63bbc51a" Alias="Tags - Connectivity Type" Level="1">
  <Info>
    <Name>Tags - Connectivity Type</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "ConnectivityType",
  "StorageType": 1
}]]></Config>
</DataType>