<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aebfd999-3686-41aa-a055-358039032eab" Alias="Tags - Read Only - Route Of Administration" Level="1">
  <Info>
    <Name>Tags - Read Only - Route Of Administration</Name>
    <EditorAlias>readOnlyTags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "RouteOfAdministration",
  "StorageType": 1
}]]></Config>
</DataType>