<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef5092e9-8f84-409a-8537-808bd4aa916e" Alias="Textarea (max. 320)" Level="1">
  <Info>
    <Name>Textarea (max. 320)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 320,
  "Rows": 3
}]]></Config>
</DataType>