<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4979ddd1-d049-4c89-aaf9-ce295d442ba3" Alias="Toggle - Default True" Level="1">
  <Info>
    <Name>Toggle - Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>