<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a5188a6-bf03-4b72-b4c4-4aa5f8e76a4b" Alias="Video Picker" Level="1">
  <Info>
    <Name>Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>