<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dfd7c11-658e-46c4-aaa4-0955f52e1b9f" Alias="Event" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/Event</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:45</CreateDate>
    <NodeName Default="Event" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/eb4p0pmo/event.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>