<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4d58400-2bfe-4003-ab6a-21a485811858" Alias="Hand Heart" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/HandHeart</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:45</CreateDate>
    <NodeName Default="Hand Heart" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/ggcnlnh4/hand-heart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>