<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fd06494-d92d-431a-a061-706846f59f62" Alias="Info" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/Info</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:45</CreateDate>
    <NodeName Default="Info" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/uvsnadzn/info.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>