<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c09e9bc-7cc4-40ca-93e8-1d7ab3212129" Alias="Laptop" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/Laptop</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:45</CreateDate>
    <NodeName Default="Laptop" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/rxubstge/laptop.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>