<?xml version="1.0" encoding="utf-8"?>
<Media Key="fadaefb9-4b9b-417e-b491-162c6e7f3643" Alias="Marketing" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/Marketing</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:44</CreateDate>
    <NodeName Default="Marketing" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/rdxnv4u1/marketing.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>