<?xml version="1.0" encoding="utf-8"?>
<Media Key="d717f7e6-90be-4b11-8ae9-6be2ba19902c" Alias="Potted Plant" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/PottedPlant</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:44</CreateDate>
    <NodeName Default="Potted Plant" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/051bpv34/potted-plant.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>