<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8ce3b59-05e7-4901-9cf1-f20e208023e8" Alias="Rocket" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/Rocket</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:44</CreateDate>
    <NodeName Default="Rocket" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/na3n30hh/rocket.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>