<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bf7292e-e304-4f10-b982-492691db8f2e" Alias="Screenshot 2024 10 23 141106" Level="2">
  <Info>
    <Parent Key="f8a5ab09-b3cc-4e7b-a09e-21f15a8d8a91">Icons</Parent>
    <Path>/Icons/Screenshot20241023141106</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-20T09:48:12</CreateDate>
    <NodeName Default="Screenshot 2024 10 23 141106" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[#DEDFDF]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/faupo4ye/screenshot-2024-10-23-141106.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>