<?xml version="1.0" encoding="utf-8"?>
<Media Key="47659021-7e15-433b-ab4b-27da3774dace" Alias="White Paper" Level="2">
  <Info>
    <Parent Key="fb51e38b-6204-44d9-9a81-c2557e719e28">Icons</Parent>
    <Path>/Icons/WhitePaper</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T08:04:44</CreateDate>
    <NodeName Default="White Paper" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <dominantColor>
      <Value><![CDATA[rgba(0, 0, 0, 0)]]></Value>
    </dominantColor>
    <umbracoFile>
      <Value><![CDATA[/media/ccigkryv/white-paper.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>