{% from 'button.html' import button %}

{% macro search(data) %}
  <div class="c-search{%- if data.variant %} c-search--{{ data.variant }}{% endif -%}" js-hook-search>
    <form class="search__form t-white" action="search-results.html" method="get" js-hook-search-form>

      <button type="submit" class="search__icon-submit">
        {% svg 'icons/search' %}
      </button>

      <label for="searchinput" class="u-sr-only">
        {{ global.resource.common.search }}
      </label>

      <input
        js-hook-search-input
        class="search__input"
        type="text"
        id="searchinput"
        name="q"
        value="{{ data.value }}"
        placeholder="{{ global.resource.common.whatAreYouLookingFor }}">

      <button class="search__input-reset{%- if not data.value %} u-hidden{% endif -%}" js-hook-search-input-reset>
        {% svg 'icons/cross' %}
      </button>

      {% if data.variant === "in-hero" %}
        <hr class="search__hr" />
      {% endif %}

      {% if data.variant !== "in-flyout" %}
        {{ button({
          element: 'button',
          class: 'search__cta-submit',
          label: global.resource.common.search,
          icon: 'arrow-top-right',
          type: "submit"
        }) }}
      {% endif %}
    </form>
  </div>
{% endmacro %}
