<?xml version="1.0" encoding="utf-8"?>
<Media Key="ace14080-5075-4651-b7a1-656f9fb006af" Alias="insulCheck test" Level="2">
  <Info>
    <Parent Key="96be559c-dd3c-436e-87dd-bd8564dd31f5">Brandfolder Images</Parent>
    <Path>/BrandfolderImages/insulCheckTest</Path>
    <Trashed>false</Trashed>
    <ContentType>brandfolderImage</ContentType>
    <CreateDate>2024-11-05T19:17:22</CreateDate>
    <NodeName Default="insulCheck test" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[Alt text ]]></Value>
    </alt>
    <brandfolderUrl>
      <Value><![CDATA[[
  "https://cdn.bfldr.com/DTG6CG68/as/hkts8c57tbnkspcf8p93wm3/hkts8c57tbnkspcf8p93wm3?height=250&width=250&fit=crop"
]]]></Value>
    </brandfolderUrl>
  </Properties>
</Media>