<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef9d43ff-8a2e-4caa-8384-20ffae7a42f0" Alias="Molly for the Hompage hero" Level="2">
  <Info>
    <Parent Key="96be559c-dd3c-436e-87dd-bd8564dd31f5">Brandfolder Images</Parent>
    <Path>/BrandfolderImages/MollyForTheHompageHero</Path>
    <Trashed>false</Trashed>
    <ContentType>brandfolderImage</ContentType>
    <CreateDate>2024-11-11T15:51:23</CreateDate>
    <NodeName Default="Molly for the Hompage hero" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <brandfolderUrl>
      <Value><![CDATA[[
  "https://cdn.bfldr.com/DTG6CG68/as/nwsq2x3s37kgxvb7284k3666/nwsq2x3s37kgxvb7284k3666?height=250&width=250&fit=crop"
]]]></Value>
    </brandfolderUrl>
  </Properties>
</Media>