<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a56d62-7662-46b2-a0b9-5ccf967e2187" Alias="PDF asset" Level="2">
  <Info>
    <Parent Key="96be559c-dd3c-436e-87dd-bd8564dd31f5">Brandfolder Images</Parent>
    <Path>/BrandfolderImages/PDFAsset</Path>
    <Trashed>false</Trashed>
    <ContentType>brandfolderFile</ContentType>
    <CreateDate>2024-11-08T14:04:39</CreateDate>
    <NodeName Default="PDF asset" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <brandfolderUrl>
      <Value><![CDATA[[
  "https://cdn.bfldr.com/DTG6CG68/as/jg5r29xk86ncs7xsr2ghwpg/jg5r29xk86ncs7xsr2ghwpg?height=250&width=250&fit=crop"
]]]></Value>
    </brandfolderUrl>
  </Properties>
</Media>