<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d0da370-cd51-4d7a-87ef-25722665fa18" Alias="Operations" Level="4">
  <Info>
    <Parent Key="cd8755cb-4c5e-4751-a417-4f8bc230e415">Teams</Parent>
    <Path>/Homepage/Careers/Teams/Operations</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-28T08:12:54</CreateDate>
    <NodeName Default="Operations">
      <Name Culture="en-us">Operations</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/531e2e3c6ac04982b27466963a3d1a5c"
      },
      {
        "contentUdi": "umb://element/54634dafedda4d81a1a451236f8959e9",
        "settingsUdi": "umb://element/35598e14e48c4423a2fe542ca63a4e1d"
      },
      {
        "contentUdi": "umb://element/81c762a1960c48bcb72d271ea158203b",
        "settingsUdi": "umb://element/793f8b46f0344feba03c96e163ff3bd4"
      },
      {
        "contentUdi": "umb://element/5db86a613df84c88acf022574c3380dd",
        "settingsUdi": "umb://element/ed2e2293f3cf4b42aceddecffd5424ae"
      },
      {
        "contentUdi": "umb://element/23cc34eb6b4049a19069f56efd99cd1a",
        "settingsUdi": "umb://element/b6dc89d087ae42ebaa69b13394f6fee4"
      },
      {
        "contentUdi": "umb://element/c073eae7fdf04701828f791550efe335",
        "settingsUdi": "umb://element/12744b395c734e72b6f750a4b11825b3"
      },
      {
        "contentUdi": "umb://element/a9020aeb8913460e92d3ff02845a6a68",
        "settingsUdi": "umb://element/322725d37aec421597d27523b53a3272"
      },
      {
        "contentUdi": "umb://element/c59720697f654236ad976138119c5a28",
        "settingsUdi": "umb://element/22cbdde8f64348778aeabee6a5c345bf"
      },
      {
        "contentUdi": "umb://element/3f93a5d8095b4415bc7f33deab10d25a",
        "settingsUdi": "umb://element/f9ce05a734c946189bf23e93b8a7fc9e"
      },
      {
        "contentUdi": "umb://element/39cd329857c44a70a8eeb69c582c6797",
        "settingsUdi": "umb://element/43c4d03cc7454e1f805f95dd9dc555d9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/54634dafedda4d81a1a451236f8959e9",
      "title": "Process development",
      "description": {
        "markup": "<p>The Process development team oversees the development and validation of production processes for new products, tools, and equipment, from initial molding to final assembly. Serving as the primary liaison for both internal teams and external suppliers, we ensure a seamless transition of validated tools and equipment into Operations.</p>\n<p>&nbsp;</p>\n<p>We transform innovative ideas into reality and master precision by applying specialized process know-how as well as exploring new technologies and pushing boundaries beyond regular production environments. What makes our role unique is our end-to-end ownership of all production processes, which gives us incredible breadth and depth of experience to foster sustainable growth and innovation.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover roles",
          "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ded505bc7407436fa716a5109d834293"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/ded505bc7407436fa716a5109d834293",
            "image": [
              "{\"Id\":\"p4gpx8szxt9b7th9447zgj\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6223.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/p4gpx8szxt9b7th9447zgj/SHL-Medical-Office_People_Zug_Konstantin_KK5D6223.jpg\",\"AssetId\":\"6g9z49rsnz44fpftwn2k78w9\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6223\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/81c762a1960c48bcb72d271ea158203b",
      "title": "Operations engineering",
      "description": {
        "markup": "<p>In our drive to scale and deploy our global manufacturing capability and processes, our Operations engineering team provides the technical expertise right across production and drives automation and digitization. From compliance to capacity, we promote operations optimization and growth.</p>\n<p>&nbsp;</p>\n<p>In this team, we combine a strong technical foundation with the ability to collaborate across functions, strong communication skill with a flexible mindset, and go deep to solve problems. To provide tailored and innovative solutions in a fast-moving business like ours, we have to be ready to adapt to changes and proactively manage challenges.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover Operations Team openings",
          "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5ab5d5a0f51f4d9bb04f72b01d4ff81a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/5ab5d5a0f51f4d9bb04f72b01d4ff81a",
            "image": [
              "{\"Id\":\"xfbbq79wcp6n8rb6nn75spk\",\"FileName\":\"Automation_20161208-20161208 8862.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xfbbq79wcp6n8rb6nn75spk/Automation_20161208-20161208_8862.tif\",\"AssetId\":\"psfq8w7cs5px2qc4c45pw5jj\",\"AssetName\":\"Automation_20161208-20161208\\u745E\\u50658862\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/5db86a613df84c88acf022574c3380dd",
      "title": "Continuous improvement",
      "description": {
        "markup": "<p>Our CI team helps to grow our culture of continuous improvement and foster a growth mindset across the company. Promoting employee engagement with our \"\"ThinkLean\"\" system and other CI Programs, we simplify and improve processes in cross-functional teams.&nbsp;<br>&nbsp;<br>We look at CI as a mindset within SHL Medical, so that everyone can help us on our journey to make change for the better. Provided with the right tools, we need people who will challenge the status quo and find ways to improve what we do and how we do things.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "See our open positions",
          "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8400d5666bec43efada7ce3a20cfb4ec"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/8400d5666bec43efada7ce3a20cfb4ec",
            "image": [
              "{\"Id\":\"frwcvvqwwphq3z7tm49fqc8\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6959.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/frwcvvqwwphq3z7tm49fqc8/SHL-Medical-Office_People_Zug_Konstantin_KK5D6959.jpg\",\"AssetId\":\"m66n83gcsjqt4m3qj96pw\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6959\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/23cc34eb6b4049a19069f56efd99cd1a",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9ab66c7f3b0e404c88a9a0f3fe1f170c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/9ab66c7f3b0e404c88a9a0f3fe1f170c",
            "quoteText": "“I have never felt more supported in a workplace than at SHL. The company offers a remarkable blend of visionary innovation and a nurturing environment.”",
            "nameAuthor": "Mark",
            "role": "Manufacturing",
            "company": "SHL Medical Charleston",
            "image": [
              "{\"Id\":\"qbp4954395c93hhzrmfgnnnk\",\"FileName\":\"SHL-Medical_Portrait-MarkAnderson_headshot.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/qbp4954395c93hhzrmfgnnnk/SHL-Medical_Portrait-MarkAnderson_headshot.jpg\",\"AssetId\":\"4vhkfmv3pv58z7v645q7vbk\",\"AssetName\":\"Mark Anderson\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/c073eae7fdf04701828f791550efe335",
      "title": "Manufacturing",
      "description": {
        "markup": "<p>The Manufacturing team is essential to SHL Medical’s growth, scaling infrastructure and capacity to meet rising customer demand, and enhancing process efficiency and output to boost performance. Uniquely positioned as a unifying force within SHL Medical, Manufacturing drives seamless coordination across all departments, ensuring efficient end-to-end product delivery.&nbsp;</p>\n<p>&nbsp;</p>\n<p>Success in this function requires a powerful blend of curiosity, tenacity, resilience, paired with exceptional problem-solving skills and an unwavering commitment to continuous improvement.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Explore Manufacturing jobs",
          "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bfc94bd6b51a4dcb9c5721299e4a5172"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/bfc94bd6b51a4dcb9c5721299e4a5172",
            "image": [
              "{\"Id\":\"4kcxwbswmrgj4mm7b8s8r7\",\"FileName\":\"North_Charleston_USA_Facility-20240612-9.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4kcxwbswmrgj4mm7b8s8r7/North_Charleston_USA_Facility-20240612-9.jpg\",\"AssetId\":\"8gnwschhg9wb7fm84f64mtst\",\"AssetName\":\"North Charleston USA Facility-20240612-9\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/a9020aeb8913460e92d3ff02845a6a68",
      "title": "Supply chain",
      "description": {
        "markup": "<p>Supply chain management manages the end-to-end value chain to ensure it is optimized and aligned to our strategic goals. &nbsp;This means being forward-looking and assessing scalability, to create a capacity-connected framework that allows us to forecast and deliver more effectively on rising market demands.&nbsp;<br>&nbsp;<br>Our Supply chain team is unique for its integrated, technology-driven approach, fostering collaboration across regions to manage a complex supply network with a focus on innovation and sustainability. We rely on strong analytical abilities and strategic thinking combined with an agile mindset and commitment to implement new technologies and best practices.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Discover roles",
          "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cea565d83b4149bf878a6e264b83b9f0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/cea565d83b4149bf878a6e264b83b9f0",
            "image": [
              "{\"Id\":\"xqbzkqk6gsr4sm77ft3jxmb\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6444.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xqbzkqk6gsr4sm77ft3jxmb/SHL-Medical-Office_People_Zug_Konstantin_KK5D6444.jpg\",\"AssetId\":\"nf3hnthbr7jw2qwqgjjsjgsq\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6444\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/c59720697f654236ad976138119c5a28",
      "title": "Curious to meet our\u2028other teams?",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ab8865ce4c4f4a07aa09e2fe67a5117e"
            },
            {
              "contentUdi": "umb://element/d32e9a3853314fb8ab47f518db7071c2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/ab8865ce4c4f4a07aa09e2fe67a5117e",
            "title": "Engineering",
            "subTitle": "",
            "text": {
              "markup": "<p>Our Development Team are experts in the design, development and fulfilment of market-leading products.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"s7f3kjc44kfhj568x9mhk\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s7f3kjc44kfhj568x9mhk/SHL-Medical-Office_People_Zug_Konstantin_KK5D7293.jpg\",\"AssetId\":\"hq4k5rphjmpswpfcgw3tvx\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7293\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Team Development",
                "udi": "umb://document/0526d0a606794d969cd01a4167907bd7"
              }
            ]
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/d32e9a3853314fb8ab47f518db7071c2",
            "title": "Commercial and Corporate",
            "subTitle": "",
            "text": {
              "markup": "<p>From Sales to Marketing, from HR to Legal, this is a team that provides the expertise and insights to sustain our global growth.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              "{\"Id\":\"gzjmgpkb3xb86hvn8vqch6hs\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gzjmgpkb3xb86hvn8vqch6hs/SHL-Medical_2024_CPHI-Milan_DSC04898.jpg\",\"AssetId\":\"5vtjb4b9k78fck2m3f3rnk\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC04898\",\"AssetDescription\":\"\"}"
            ],
            "link": [
              {
                "name": "Team Global",
                "udi": "umb://document/c90815df22324264b7e163216bd2dd1f"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b2ee48dd-19e6-4136-bac5-160f37d10dd2",
      "udi": "umb://element/39cd329857c44a70a8eeb69c582c6797",
      "title": "Join us in crafting next-generation healthcare solutions",
      "vacancies": null,
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c4a12cdb61624eb399efd1e7e77c2168"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/c4a12cdb61624eb399efd1e7e77c2168",
            "buttonIcon": "",
            "link": [
              {
                "name": "Find your job",
                "udi": "umb://document/9135a424e3644e2a80dd9dc1708fffca"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/3f93a5d8095b4415bc7f33deab10d25a",
      "title": "More to explore",
      "text": "",
      "image": null,
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a16125cc853446d9babdbad532f9dc04"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/a16125cc853446d9babdbad532f9dc04",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/825a25b7ad774eb2a3b9ee4b63c4ba5b"
                  },
                  {
                    "contentUdi": "umb://element/ef283e643deb4d8098293506835ccefb"
                  },
                  {
                    "contentUdi": "umb://element/33e9f55fd31b48fdaddb970d0a602136"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/ef283e643deb4d8098293506835ccefb",
                  "link": [
                    {
                      "name": "How we work",
                      "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/33e9f55fd31b48fdaddb970d0a602136",
                  "link": [
                    {
                      "name": "How we hire",
                      "udi": "umb://document/c7daaa4bfe0a4afb927b776a62d77934"
                    }
                  ],
                  "icon": ""
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/825a25b7ad774eb2a3b9ee4b63c4ba5b",
                  "link": [
                    {
                      "name": "Who we are",
                      "udi": "umb://document/0dea5ada3f98479b93e3e5da63147ee8"
                    }
                  ],
                  "icon": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "cbdd4a8d-d91b-4309-b3f1-24da84668368",
      "udi": "umb://element/531e2e3c6ac04982b27466963a3d1a5c",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d45292a803d844e09922c5de17877ae9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/d45292a803d844e09922c5de17877ae9",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/e832b74fa7f042c7bd0c902c50d9565d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/e832b74fa7f042c7bd0c902c50d9565d",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1038199113/rendition/1080p/file.mp4?loc=external&log_user=0&signature=16287d876ebf8093d912608383bb86082f37e7f954b415a43ea221dafe68ad67"
                }
              ],
              "settingsData": []
            },
            "title": "SHL Operations",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "totalTime": "",
      "preview": [
        "{\"Id\":\"kh8tkf43ctxv9hgvfmgxmxf\",\"FileName\":\"shl-operations.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kh8tkf43ctxv9hgvfmgxmxf/shl-operations.png\",\"AssetId\":\"vfp6496r7x8ht8q9trbgrjvq\",\"AssetName\":\"shl-operations\",\"AssetDescription\":\"\"}"
      ],
      "caption": "",
      "fullWidth": "1"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/35598e14e48c4423a2fe542ca63a4e1d",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/793f8b46f0344feba03c96e163ff3bd4",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ed2e2293f3cf4b42aceddecffd5424ae",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b6dc89d087ae42ebaa69b13394f6fee4",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "662949",
        "label": "dark-pink",
        "sortOrder": 4,
        "id": "11"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/12744b395c734e72b6f750a4b11825b3",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/322725d37aec421597d27523b53a3272",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/22cbdde8f64348778aeabee6a5c345bf",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "ffffff",
        "label": "white",
        "sortOrder": 0,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/43c4d03cc7454e1f805f95dd9dc555d9",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/f9ce05a734c946189bf23e93b8a7fc9e",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/453f4c8d0375471a97c6bc4a2a70f71d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/453f4c8d0375471a97c6bc4a2a70f71d",
      "title": "Operations team",
      "text": {
        "markup": "<p>Meet our Operations team, responsible for managing, improving, and shaping our end-to-end global operations.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fadf71093aa84abfa2ca99c9e30cded6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/fadf71093aa84abfa2ca99c9e30cded6",
            "buttonIcon": "",
            "link": [
              {
                "name": "Join our Operations team",
                "udi": "umb://document/18fc109cf2d14b4c8cfd3ca188de2415"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8b8e8762a9734cd18ee9858cd0e9c24f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/8b8e8762a9734cd18ee9858cd0e9c24f",
            "buttonIcon": "",
            "link": [
              {
                "name": "How we work",
                "udi": "umb://document/2085a2d8eb2c445e9a0e07fa9dc28954"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "662949",
  "label": "dark-pink",
  "sortOrder": 4,
  "id": "11"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Meet our operational team: the backbone of our manufacturing & supply chain excellence, ensuring quality and efficiency in delivering healthcare solutions.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Meet The Operational Team]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>