.styleguide__paragraph {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-16;
}

.styleguide__paragraph-body-l {
  @include body-l;
}

.styleguide__paragraph-body-m {
  @include body-m;
}

.styleguide__paragraph-body-s {
  @include body-s;
}

.styleguide__paragraph-body-xs {
  @include body-xs;
}
