<?xml version="1.0" encoding="utf-8"?>
<Content Key="c86c7dcb-1239-4e01-b915-11bb7b462c47" Alias="Phase 2" Level="4">
  <Info>
    <Parent Key="eac2c7ab-8262-4d80-b0da-b74ff5799f5c">Device academy</Parent>
    <Path>/Homepage/NewsAndInsights/DeviceAcademy/Phase2</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-12-02T14:08:36</CreateDate>
    <NodeName Default="Phase 2">
      <Name Culture="en-us">Phase 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7dc1c5107ab2467a8cbecc72fae209a3",
        "settingsUdi": "umb://element/6e1c10830ea240dbbcb0f919b519a8ca"
      },
      {
        "contentUdi": "umb://element/b4b5a86b28604e2094a364ef68d7c2e6",
        "settingsUdi": "umb://element/4aeb45061b084c3a851fb72fc143adbc"
      },
      {
        "contentUdi": "umb://element/15002613925d448fb8665fca8841ed4b",
        "settingsUdi": "umb://element/6570bd43a43a49c99de6b0eaf9364427"
      },
      {
        "contentUdi": "umb://element/0bdac849ed864fbb95377ea63b67d482",
        "settingsUdi": "umb://element/b60374fd9f6146a3820194dd42cf1999"
      },
      {
        "contentUdi": "umb://element/83457abcfdb0494bab81df2b8f7420da",
        "settingsUdi": "umb://element/c36689020f54482793ed7cd23c3af2dc"
      },
      {
        "contentUdi": "umb://element/2b8112b772034fb698c79dbdbf133475",
        "settingsUdi": "umb://element/9344d94cd56340ac8f3d0e1ee69c5907"
      },
      {
        "contentUdi": "umb://element/bec3254be15b4cbf90563f19ca51ebb5",
        "settingsUdi": "umb://element/bf30fe1d767f40a3bf335fdb81d81cb5"
      },
      {
        "contentUdi": "umb://element/abbf29046667481c84b23dc369eb5b71",
        "settingsUdi": "umb://element/afac67fdbeb446f89a42ee1769ba5f8a"
      },
      {
        "contentUdi": "umb://element/e4136145cb7541d5b196efc80f2dc026",
        "settingsUdi": "umb://element/b1a823b1b61e4877b2bcded1e320932a"
      },
      {
        "contentUdi": "umb://element/e62b6880ca5646dc97c131ef54c2b0b4",
        "settingsUdi": "umb://element/60fd83baf7d84961a09084d5cd5a0b07"
      },
      {
        "contentUdi": "umb://element/9899cd653b864cb9a758941c1052f801",
        "settingsUdi": "umb://element/f2400eb3fbf14ade80588e34f8ff3931"
      },
      {
        "contentUdi": "umb://element/349fb1078bc443548bfdd0b35468d2ef",
        "settingsUdi": "umb://element/a93299a2cafa482b961e19d5edd5f30f"
      },
      {
        "contentUdi": "umb://element/e8d3b4ad17e44683b41e21a6a8182cac",
        "settingsUdi": "umb://element/f597d105a87d4f3d973ae0bd5b7ceddc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/7dc1c5107ab2467a8cbecc72fae209a3",
      "title": "",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/70ba5dff6dff490f9b333b7ce10b4e3d"
            },
            {
              "contentUdi": "umb://element/2f38069b4feb40c7aab2f8d05884ab40"
            },
            {
              "contentUdi": "umb://element/e07955568107488fb8c590b64e1bac70"
            },
            {
              "contentUdi": "umb://element/8226822871804ff3a4bdbc0dd1d7b2a1"
            },
            {
              "contentUdi": "umb://element/3095bff3acf0469a84c6d3b79adc2375"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/70ba5dff6dff490f9b333b7ce10b4e3d",
            "title": "- Device Landscape",
            "subTitle": "",
            "text": "",
            "image": "",
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/2f38069b4feb40c7aab2f8d05884ab40",
            "title": " - Device Development ",
            "text": "",
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/e07955568107488fb8c590b64e1bac70",
            "title": "- Clinical Trial and Regulatory Processes",
            "text": "",
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/8226822871804ff3a4bdbc0dd1d7b2a1",
            "title": " - Manufacture, Scale, and Ramp-Up",
            "text": "",
            "icon": [],
            "link": ""
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/3095bff3acf0469a84c6d3b79adc2375",
            "title": "- Post-Launch and Lifecycle Management",
            "text": "",
            "icon": [],
            "link": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/b4b5a86b28604e2094a364ef68d7c2e6",
      "text": {
        "markup": "<p>Introduction<br><br>Combination products combine 2 or more regulated components for use together, such as autoinjectors used for delivering monoclonal antibodies (mAbs) to treat chronic inflammatory conditions. Successfully developing a combination product requires an integrated approach that brings together the expertise of both medicinal product and device specialists. Using platform device solutions can significantly reduce the time-to-market for these products.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/15002613925d448fb8665fca8841ed4b",
      "text": {
        "markup": "<p>The challenges of combination products<br><br>Developing combination products presents a unique challenge: meeting multiple regulations, standards, and guidelines. This challenge becomes even more complex when the combined parts have synergistic effects, potentially requiring additional regulatory compliance. For example, an already-approved biologic used in an approved prefilled syringe (PFS) may still cause unwanted interactions between the drug and the PFS components. Established, proven processes are essential to prevent such complications.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/0bdac849ed864fbb95377ea63b67d482",
      "text": {
        "markup": "<p>Quality by Design<br><br><span data-sheets-root=\"1\">Each component of a combination product follows its own best practices, regulations, and expectations. For pharmaceutical products, these are outlined in ICH Q8(R2), a guideline from the International Council for Harmonisation (ICH). It promotes a Quality by Design (QbD) approach, which is defined as:<br>\u2028<br>\"A systematic approach to development that begins with predefined objectives, focusing on product understanding, process control, and quality risk management.\"<br><br></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/83457abcfdb0494bab81df2b8f7420da",
      "text": {
        "markup": "<p>Design Controls<br><br>In the U.S., combination product development is regulated by the FDA’s 21 CFR 820.30, which mandates 9 Design Controls actions when designing medical devices. In the EU, ISO 13485 §7.3 is the key document that governs these processes.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/2b8112b772034fb698c79dbdbf133475",
      "text": {
        "markup": "<p>Shared risk management for drugs and devices<br><br><span>Both drug and device components require thorough risk management, as outlined in ICH Q9(R1) and ISO 14971:2019. Risk management for each combination product development addresses issues that may arise when combining specific drugs with specific delivery devices. For instance, pairing a biologic with a particular device could cause protein aggregates—something that high-level guidance does not always account for.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/bec3254be15b4cbf90563f19ca51ebb5",
      "text": {
        "markup": "<p>The benefits of integrated development<br><br><span data-sheets-root=\"1\">Developing combination products requires a truly integrated process, where those designing, verifying, validating, and manufacturing the device work closely with pharmaceutical teams. While this may seem obvious, it’s still common for these teams to work in isolation, leading to poor results.\u2028<br><br>To achieve the best outcomes, there must be close alignment between the clinical phases of the drug/biologic and the Design Controls of the device development. This tight coordination shortens lead times and ensures a smoother, cost-effective journey to market.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/abbf29046667481c84b23dc369eb5b71",
      "text": {
        "markup": "<p>Development timelines<br><br>Creating a fully customized combination product, such as an autoinjector, can take up to 5 years. This timeline holds even when there is seamless collaboration between biologic and device teams, and when regulatory progress is well-aligned for both.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/e4136145cb7541d5b196efc80f2dc026",
      "text": {
        "markup": "<p>Platforms to reduce time-to-market<br><br>However, using a platform device that is already developed for a specific biologic can significantly reduce this timeline. Incorporating device selection early in the clinical trial process can further speed up development.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/e62b6880ca5646dc97c131ef54c2b0b4",
      "text": {
        "markup": "<p>Customization and branding opportunities<br><br>Selecting a platform device does not mean choosing a “one-size-fits-all” solution. Any deviations from the standard platform still require rigorous testing and validation. By selecting customization options early in the biologic’s development, device manufacturers can prepare for these tests through an applicability assessment. This advance planning accelerates the process, even when extensive customizations are required, such as custom logos, colors, or altered geometries for autoinjector components.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/9899cd653b864cb9a758941c1052f801",
      "text": {
        "markup": "<p>Key takeaways<br><br>- Combination products involve multiple regulated components, each with its own regulatory requirements.<br>- An integrated approach that bridges pharmaceutical and device expertise is essential for successful development.<br>- Choosing a customizable platform product can drastically reduce time-to-market for combination products.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": "",
      "reduceMargin": "",
      "primaryLink": "",
      "secondLink": "",
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/349fb1078bc443548bfdd0b35468d2ef",
      "title": "Downloads",
      "subTitle": "For deeper insights into the delivery device landscape, including its background and future prospects, download our SHL Device Academy Handbook.",
      "items": ""
    },
    {
      "contentTypeKey": "9b18a713-6dcc-4088-a8d7-1b1bec896c8d",
      "udi": "umb://element/e8d3b4ad17e44683b41e21a6a8182cac",
      "title": "Get in touch",
      "text": {
        "markup": "<p><span>Got a question? We have got the answer! Reach out for questions, ideas, partnerships, or anything else you want us to know about.<br></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/157e9273aa5d4794a2fbcfe604b9f9cc"
            },
            {
              "contentUdi": "umb://element/5b50200974214f2da0e2208612b03fbb"
            },
            {
              "contentUdi": "umb://element/8f30607889bf416aab4cb481d3449c2c"
            },
            {
              "contentUdi": "umb://element/5add08ffbde74742a3fc63f754b38b0a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/157e9273aa5d4794a2fbcfe604b9f9cc",
            "icon": [],
            "title": "Email us",
            "text": {
              "markup": "<p>We usually respond within 24 hours on working days.<br>info@shl-medical.com</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/5b50200974214f2da0e2208612b03fbb",
            "icon": [],
            "title": "Call us",
            "text": {
              "markup": "<p>Mon-Fri from 8:00 AM - 5:00 PM (GMT+2)<br>+41 41 368 00 00</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/8f30607889bf416aab4cb481d3449c2c",
            "icon": [],
            "title": "Visit us",
            "text": {
              "markup": "<p>You can find our office HQ at<br>Gubelstrasse 22<br>6300 Zug, Switzerland</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d3a32d1c-2e95-4aa1-9ea3-fe47662032b9",
            "udi": "umb://element/5add08ffbde74742a3fc63f754b38b0a",
            "icon": [],
            "title": "What are you interested in?",
            "text": {
              "markup": "<p>Your question or idea</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/6e1c10830ea240dbbcb0f919b519a8ca",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/4aeb45061b084c3a851fb72fc143adbc",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/6570bd43a43a49c99de6b0eaf9364427",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/b60374fd9f6146a3820194dd42cf1999",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/c36689020f54482793ed7cd23c3af2dc",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/9344d94cd56340ac8f3d0e1ee69c5907",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/bf30fe1d767f40a3bf335fdb81d81cb5",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/afac67fdbeb446f89a42ee1769ba5f8a",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/b1a823b1b61e4877b2bcded1e320932a",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/60fd83baf7d84961a09084d5cd5a0b07",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/f2400eb3fbf14ade80588e34f8ff3931",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/a93299a2cafa482b961e19d5edd5f30f",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/f597d105a87d4f3d973ae0bd5b7ceddc",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a12b5604cd5941f5b4f6b6fa1ec28184"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/a12b5604cd5941f5b4f6b6fa1ec28184",
      "title": "A deep dive into  autoinjector development",
      "text": {
        "markup": "<p>In this section, we explore the complexities and solutions involved in developing combination products that integrate drug and device development.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Read how combination products require integrated collaboration between drug and device teams to navigate complex regulations and optimize time-to-market.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Combination Products | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>