<?xml version="1.0" encoding="utf-8"?>
<Content Key="0063a812-4a4d-42c0-9490-473f60c87819" Alias="Elexy™" Level="4">
  <Info>
    <Parent Key="488d367b-a982-4883-b4a4-be3cf51ea3ee">Autoinjectors</Parent>
    <Path>/Homepage/OurProducts/Autoinjectors/Elexy</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-28T19:13:06</CreateDate>
    <NodeName Default="Elexy™">
      <Name Culture="en-us">Elexy™</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5d50ab4574b8462b9fe12faa5b9b4ce5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/5d50ab4574b8462b9fe12faa5b9b4ce5",
      "title": "Meet Elexy™ ",
      "image": [
        "{\"Id\":\"xk2mgwtqbsn6pv3rqfhpxwrt\",\"FileName\":\"Elexy_on table_2Elexy PFS CART_20240711.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xk2mgwtqbsn6pv3rqfhpxwrt/Elexy_on_table_2Elexy_PFS_CART_20240711.png\",\"AssetId\":\"nzmz3rpps3xm6f7qpb442p9\",\"AssetName\":\"Elexy on Table 2 Elexy\\u002BPFS\\u002BCART - Molly and Maggie\",\"AssetDescription\":\"\"}"
      ],
      "subTitle": "Versatile solution",
      "text": {
        "markup": "<p>Elexy™ aims to provide a best-in-class user experience and a wide range of injection profiles. Comprised of a reusable power unit and disposable drug cassettes, the Elexy system is compatible with both pre-filled syringe (PFS) and cartridge primary containers and, capable of delivering up to 5.0 mL in a single injection.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"8b4ch8k45b83vhmxn56pgjj\",\"FileName\":\"elexy-product-card.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/8b4ch8k45b83vhmxn56pgjj/elexy-product-card.jpg\",\"AssetId\":\"8sbv8kv4cz73jngn7bg95fw5\",\"AssetName\":\"elexy-product-card\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[[
  "Yes"
]]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[[
  "Pre-filled syringe | Cartridge with pre-installed needle (NIT®)"
]]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2f1df00bae8b43b1ae82e95e061eecb5",
        "settingsUdi": "umb://element/dbfb73c11b204391954408e014dd252f"
      },
      {
        "contentUdi": "umb://element/5f3c37a07ae049d9b151f5b4ede84a8f",
        "settingsUdi": "umb://element/0d051fabae7d4009ace500aa0db1d198"
      },
      {
        "contentUdi": "umb://element/546806d3f3dc4e62a513478d6e02ff08",
        "settingsUdi": "umb://element/ab0b740c80004bc199e52e44e2a56462"
      },
      {
        "contentUdi": "umb://element/b6b164c5e178412e9ebbcb2859ad1dc0",
        "settingsUdi": "umb://element/e3171da7dc804a2994908d6612768305"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/5f3c37a07ae049d9b151f5b4ede84a8f",
      "title": "Other solutions",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ffdf5b6e1c644db3a19522b2059456bc"
            },
            {
              "contentUdi": "umb://element/5a3950ba714b4906b3ead4d5880b8ae5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/ffdf5b6e1c644db3a19522b2059456bc",
            "productPage": "umb://document/ed42b9d7f5cf442699c72ea9a6285e19"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/5a3950ba714b4906b3ead4d5880b8ae5",
            "productPage": "umb://document/b280b049701240cd8498274147d3ce88"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/b6b164c5e178412e9ebbcb2859ad1dc0",
      "title": "Want to get to know\u2028Elexy™ better?",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1f826f18d6fa45e99727afa9392ec52c"
            },
            {
              "contentUdi": "umb://element/22bded2ef1cf491c96dadd705168cab6"
            },
            {
              "contentUdi": "umb://element/0c876e769a58439a8acabbae8c5b0013"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/1f826f18d6fa45e99727afa9392ec52c",
            "title": "Elexy™ PFS product card",
            "description": "Download",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/22bded2ef1cf491c96dadd705168cab6",
            "title": "Elexy™ Cartridge product card",
            "description": "Download",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/0c876e769a58439a8acabbae8c5b0013",
            "title": "Ondrug article",
            "description": "Download",
            "icon": "",
            "file": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/2f1df00bae8b43b1ae82e95e061eecb5",
      "title": "The benefits of Elexy™",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4dce44dbe0304fc089cb428c27f24051"
            },
            {
              "contentUdi": "umb://element/fa33e603e20844e7845a9bc7dac8d503"
            },
            {
              "contentUdi": "umb://element/2a0ea0e97e674eca84c52278d015559f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/4dce44dbe0304fc089cb428c27f24051",
            "title": "Preclinical",
            "text": {
              "markup": "<p>Elexy can support flexible experimental design for evaluating injection performance.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/fa33e603e20844e7845a9bc7dac8d503",
            "title": "Clinical",
            "text": {
              "markup": "<p>Elexy can allow for a seamless transition from trial to commercial use, reducing development risk and lifecycle management costs while accelerating time-to-market.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/2a0ea0e97e674eca84c52278d015559f",
            "title": "Commercial",
            "text": {
              "markup": "<p>Elexy’s reusable power unit offers potential advantages for dynamic treatment plans.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/546806d3f3dc4e62a513478d6e02ff08",
      "title": "Reusable power unit with integrated connectivity",
      "description": {
        "markup": "<p>The highly versatile Elexy™ features a drug-agnostic, reusable power unit to offer flexibility in drug cassette containers, volumes, viscosities, and injection speeds, providing risk mitigation in your development projects. With integrated cellular connectivity, Elexy provides a secure collection of comprehensive data, while safeguarding ease of use.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Explore innovations",
          "udi": "umb://document/9697eee3e0dd429d8d1df8320b81a899"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": "",
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/878b2c87ecd2410aa1a5bf7b01265b7e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/878b2c87ecd2410aa1a5bf7b01265b7e",
            "image": [
              "{\"Id\":\"7k4cqmx3nkcx5896hjshbm\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/as/7k4cqmx3nkcx5896hjshbm/7k4cqmx3nkcx5896hjshbm?height=250\\u0026width=250\\u0026fit=crop\",\"Name\":\"SHL-Medical 2024 CPHI-Milan DSC04268\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0d051fabae7d4009ace500aa0db1d198",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/e3171da7dc804a2994908d6612768305",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/dbfb73c11b204391954408e014dd252f",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ab0b740c80004bc199e52e44e2a56462",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[[
  "Reusable Electromechanical Autoinjector"
]]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/90b5b863e97549a28d1dde02706c4ee7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/90b5b863e97549a28d1dde02706c4ee7",
      "title": "Elexy™",
      "text": {
        "markup": "<p>Elexy™ is a versatile, electromechanical autoinjector with a reusable power unit compatible with drug cassettes containing a pre-filled syringe or cartridge.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/03bddb6eecab44a9a77bcb13131cc231"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/03bddb6eecab44a9a77bcb13131cc231",
            "buttonIcon": "",
            "link": [
              {
                "name": "Read more about Elexy™",
                "udi": "umb://document/f4b6e415faa249029dbd1d2215d7f41a"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null,
      "image": [
        "{\"Id\":\"wxx95qxrbf9rhg3p2f8t7r7q\",\"FileName\":\"elexy-cartridge-autoinjector-top.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/wxx95qxrbf9rhg3p2f8t7r7q/elexy-cartridge-autoinjector-top.png\",\"AssetId\":\"4kn7kh3sv236m9zmh6bq4g\",\"AssetName\":\"Elexy CART_product_page_hero\",\"AssetDescription\":\"\\u003Cp\\u003EElexy is an electromechanical autoinjector that can be used for cartridge and PFS (pre-filled syringe)\\u003C/p\\u003E\"}"
      ],
      "hideAnchorLinks": "0",
      "theme": {
        "value": "f6f6f6",
        "label": "light-grey",
        "sortOrder": 14,
        "id": "15"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "f6f6f6",
  "label": "light-grey",
  "sortOrder": 14,
  "id": "15"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Subcutaneous"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Elexy™ is a reusable autoinjector, integrating digital connectivity for enhanced patient monitoring. Explore its sustainable design and advanced features.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Elexy™ 3-5 ml Reusable Autoinjector | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/da541cd3cdc44294b9abf297f9667635"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/da541cd3cdc44294b9abf297f9667635",
      "title": "Specifications",
      "specifications": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/07fc3011564744e6bc21aa01157fae42"
            },
            {
              "contentUdi": "umb://element/cf23136e0a2d4c56a778fe2cb5a9d2cd"
            },
            {
              "contentUdi": "umb://element/2b556881e9a048939a91f44ad723e5d5"
            },
            {
              "contentUdi": "umb://element/97b22238efe041569a3469206eceee96"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/07fc3011564744e6bc21aa01157fae42",
            "title": "Dosage type",
            "text": "Empty-all | Full contents "
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/cf23136e0a2d4c56a778fe2cb5a9d2cd",
            "title": "Activation method",
            "text": "Needle cover"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/2b556881e9a048939a91f44ad723e5d5",
            "title": "Injection feedback",
            "text": "Audio, continuous visual, and tactile feedback"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/97b22238efe041569a3469206eceee96",
            "title": "Customization",
            "text": "Yes"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[[
  "versatile"
]]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[[
  "versatile"
]]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[[
  "1.0 - 5.0 mL"
]]]></Value>
    </volumeRange>
  </Properties>
</Content>