<?xml version="1.0" encoding="utf-8"?>
<Content Key="42cfb4ce-d540-401e-a027-8e9f2697bcdf" Alias="Maggie®" Level="4">
  <Info>
    <Parent Key="488d367b-a982-4883-b4a4-be3cf51ea3ee">Autoinjectors</Parent>
    <Path>/Homepage/OurProducts/Autoinjectors/Maggie</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-28T19:12:27</CreateDate>
    <NodeName Default="Maggie®">
      <Name Culture="en-us">Maggie®</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f3deb7cf6c714707a476620961074636"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/f3deb7cf6c714707a476620961074636",
      "title": "Meet Maggie® 3.0 mL",
      "image": [
        "{\"Id\":\"fh2mjnfpfg76jx9rqg9knk\",\"FileName\":\"Maggie3.0_A_2_20241017.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/fh2mjnfpfg76jx9rqg9knk/Maggie30_A_2_20241017.png\",\"AssetId\":\"r5pjg5m5js34wzjvm8nrs9rs\",\"AssetName\":\"Maggie_vertical\",\"AssetDescription\":\"\"}"
      ],
      "subTitle": "For specific and large-volume formulation",
      "text": {
        "markup": "<p>Maggie® accommodates a wider variety of formulation characteristics and volumes that are not possible with pre-filled syringe-based autoinjectors</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"3kjpqxhqxph7pgjf4v9hfr\",\"FileName\":\"maggie-3.0-product-card.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3kjpqxhqxph7pgjf4v9hfr/maggie-30-product-card.jpg\",\"AssetId\":\"hp57vhjrmm4jrcs6gmspwz\",\"AssetName\":\"maggie-3.0-product-card\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[[
  "No"
]]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[[
  "Cartridge with pre-installed needle (NIT®)"
]]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0f2012926e1047bcbeb7d476840c98e1",
        "settingsUdi": "umb://element/b8d8dce9816846928dbf8a079d6b76c6"
      },
      {
        "contentUdi": "umb://element/4e488e42a6b04430bafd6702a805c251",
        "settingsUdi": "umb://element/eb3382ec11c849d8acd3e96d73f12be0"
      },
      {
        "contentUdi": "umb://element/655051686b3a46c7b752aac52ff65446",
        "settingsUdi": "umb://element/a53469bf3a93405bb0b94d1d58a1277f"
      },
      {
        "contentUdi": "umb://element/572bea07af3f4379a0180f74edc85335",
        "settingsUdi": "umb://element/626e07bb1c7a44448dc3ee3c335d08f0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/0f2012926e1047bcbeb7d476840c98e1",
      "title": "Needle Isolation Technology (NIT®)",
      "description": {
        "markup": "<p>NIT® is a market-proven, pre-attached needle technology for cartridge-based injections that eliminates the need for patients to manually attach the needle. NIT provides complete control of cannula gauge and length to support target injection time and injection depth.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": null,
      "secondaryButton": null,
      "mediaPosition": "",
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e776086b65434d55bdb0b2feff261aad"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/e776086b65434d55bdb0b2feff261aad",
            "image": [
              "{\"Id\":\"mp33pwr47j3vr5fsw3b6c9\",\"FileName\":\"NIT in Maggie.PNG\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/mp33pwr47j3vr5fsw3b6c9/NIT_in_Maggie.png\",\"AssetId\":\"hfjsmsjxkjgzjsqvw33qbt\",\"AssetName\":\"NIT in Maggie\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/655051686b3a46c7b752aac52ff65446",
      "title": "Other solutions",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c6af9c27c89646a8953133146ee4d699"
            },
            {
              "contentUdi": "umb://element/4b7cb114372643b88a881fab41f9b627"
            },
            {
              "contentUdi": "umb://element/b5b3e68cb4954c06bcc6e62557646b67"
            },
            {
              "contentUdi": "umb://element/f8d25bffb4aa47ef9fb4231443d4d955"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/b5b3e68cb4954c06bcc6e62557646b67",
            "productPage": "umb://document/b280b049701240cd8498274147d3ce88"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/4b7cb114372643b88a881fab41f9b627",
            "productPage": "umb://document/ed42b9d7f5cf442699c72ea9a6285e19"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/f8d25bffb4aa47ef9fb4231443d4d955",
            "productPage": "umb://document/0063a8124a4d42c09490473f60c87819"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/c6af9c27c89646a8953133146ee4d699",
            "productPage": "umb://document/8eeff4fc3df34d0e83606fd734b1ad37"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/572bea07af3f4379a0180f74edc85335",
      "title": "Want to get to know Maggie® better?",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9b91376f046c476dba851fc51ce7b1cb"
            },
            {
              "contentUdi": "umb://element/f52d6e015c274de09cb6ff483d805145"
            },
            {
              "contentUdi": "umb://element/d302193140e94aa4bcdf20ea22a0dfc8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/9b91376f046c476dba851fc51ce7b1cb",
            "title": "Maggie® product card",
            "description": "",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/f52d6e015c274de09cb6ff483d805145",
            "title": "Ondrug article 1",
            "description": "Download",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/d302193140e94aa4bcdf20ea22a0dfc8",
            "title": "Ondrug article 2",
            "description": "Download",
            "icon": "",
            "file": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/4e488e42a6b04430bafd6702a805c251",
      "title": "Maggie® is easy-to-use ",
      "description": {
        "markup": "<p>Human factor studies indicate that patients find the two-step operated Maggie® devices to be user-friendly, particularly with NIT® eliminating major steps in needle attachment and vial medication draw.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Explore our services",
          "udi": "umb://document/65bc4c019a334750b18b597998595edf"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": "",
      "video": null,
      "image": null
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b8d8dce9816846928dbf8a079d6b76c6",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/a53469bf3a93405bb0b94d1d58a1277f",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/626e07bb1c7a44448dc3ee3c335d08f0",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/eb3382ec11c849d8acd3e96d73f12be0",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[[
  "Disposable autoinjector"
]]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/db9489914314406ba64aa40e79b832e2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/db9489914314406ba64aa40e79b832e2",
      "title": "Maggie®",
      "text": {
        "markup": "<p>Maggie® is a cartridge-based autoinjector technology built with our market-proven Needle Isolation Technology (NIT®).</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ffb0ab2c90534213a50eb086b32fa728"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/ffb0ab2c90534213a50eb086b32fa728",
            "buttonIcon": "",
            "link": [
              {
                "name": "Contact page",
                "udi": "umb://document/af2170d2b3d84a5aa889fb46696f8fcb"
              }
            ],
            "variant": [
              "primary"
            ]
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null,
      "image": [
        "{\"Id\":\"k3mrm94563jjj6gh7vjkcvrx\",\"FileName\":\"maggie-3.0-ml-autoinjector-cap-off-top.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/k3mrm94563jjj6gh7vjkcvrx/maggie-30-ml-autoinjector-cap-off-top.png\",\"AssetId\":\"cn5p9qtbw5nqgp69f8s25\",\"AssetName\":\"Maggie 3.0_product_page_hero\",\"AssetDescription\":\"\\u003Cp\\u003EMaggie 3.0 ml autoinjector wit the cap off for SHL Medical\\u003C/p\\u003E\"}"
      ],
      "hideAnchorLinks": "0",
      "theme": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "f6f6f6",
  "label": "light-grey",
  "sortOrder": 14,
  "id": "15"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Subcutaneous | Intramuscular"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Maggie® 3 ml is an autoinjector for high-dose drug delivery, offering more patient comfort and customizable features for pharmaceutical needs. Read more.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Maggie® 3 ml Autoinjector | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9d985b549ea24cfd971a2afd493b86c2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/9d985b549ea24cfd971a2afd493b86c2",
      "title": "Specification",
      "specifications": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/83ab618bbb43457d8e78b1d053f190b5"
            },
            {
              "contentUdi": "umb://element/f7f3af581a5c4ef182822fe45278b50f"
            },
            {
              "contentUdi": "umb://element/8e6582e47746461289b82da1b27fce63"
            },
            {
              "contentUdi": "umb://element/2c0403aa8c6f4393822ac70c598a51fc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/83ab618bbb43457d8e78b1d053f190b5",
            "title": "Dosage type ",
            "text": "Fixed dose | Optional automated priming and titration"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/f7f3af581a5c4ef182822fe45278b50f",
            "title": "Activation method",
            "text": "Needle cover"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/8e6582e47746461289b82da1b27fce63",
            "title": "Injection feedback",
            "text": "Continuous audible clicks, viewing window"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/2c0403aa8c6f4393822ac70c598a51fc",
            "title": "Customization",
            "text": "Yes"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[[
  "high"
]]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[[
  "high"
]]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[[
  "3.0 ml"
]]]></Value>
    </volumeRange>
  </Properties>
</Content>