<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed42b9d7-f5cf-4426-99c7-2ea9a6285e19" Alias="Molly® 2.25" Level="4">
  <Info>
    <Parent Key="488d367b-a982-4883-b4a4-be3cf51ea3ee">Autoinjectors</Parent>
    <Path>/Homepage/OurProducts/Autoinjectors/Molly225</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-28T19:11:45</CreateDate>
    <NodeName Default="Molly® 2.25">
      <Name Culture="en-us">Molly® 2.25</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f55ee2e5a289463e9c4e47de79160966"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/f55ee2e5a289463e9c4e47de79160966",
      "title": "Meet Molly® 2.25",
      "image": [
        "{\"Id\":\"qxxjjstpjnfxshb3rn9f6xn\",\"FileName\":\"Molly_2.25_instruction_1.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/qxxjjstpjnfxshb3rn9f6xn/Molly_225_instruction_1.png\",\"AssetId\":\"vkhfcmxwhkxx565qp7sv42p\",\"AssetName\":\"Molly_2.25_instruction_1\",\"AssetDescription\":\"\"}"
      ],
      "subTitle": "",
      "text": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"pbxtmb5x9xj49k53mgngg5fm\",\"FileName\":\"molly-2.5-product-card.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pbxtmb5x9xj49k53mgngg5fm/molly-25-product-card.jpg\",\"AssetId\":\"shrh5rxxjmvq3pb7zm4465\",\"AssetName\":\"molly-2.5-product-card\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[[
  "Yes"
]]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[[
  "Pre-Filled Syringe"
]]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c95435c32734ecd939c9e14e76ecd3e",
        "settingsUdi": "umb://element/69d9e58640d74d559970d7d9144a19ea"
      },
      {
        "contentUdi": "umb://element/25f97bed95ff404ba6199f8902a02e1a",
        "settingsUdi": "umb://element/55e38faeff104385a4333a1c533b970b"
      },
      {
        "contentUdi": "umb://element/6e49f845df1a4387ba30f7129965827f",
        "settingsUdi": "umb://element/97b4cb9a18844c9695e7d3d70e12ba31"
      },
      {
        "contentUdi": "umb://element/47b8a24ccb2d4ede961a43415dc2b64e",
        "settingsUdi": "umb://element/60cc28342a054693ae7848a68310f441"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/9c95435c32734ecd939c9e14e76ecd3e",
      "title": "Unparalleled track record",
      "text": {
        "markup": "<p><span>We work with 12+ pharmaceutical companies to commercialize our Molly® and Molly® 2.25 autoinjectors. 17 combination products have been approved so far, including the world’s first large-volume autoinjector with a ≥ 2.0 mL fill.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/53264e75fb564ace8117489f7c1c8848"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/53264e75fb564ace8117489f7c1c8848",
            "image": [
              "{\"Id\":\"2bnjb3437p8wskvwjjzj7h5\",\"FileName\":\"Molly_2.25_A_0_300dpi_20241118.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2bnjb3437p8wskvwjjzj7h5/Molly_225_A_0_300dpi_20241118.png\",\"AssetId\":\"sxmmt7594xcgm2q7tb4pn\",\"AssetName\":\"Molly 2.25 vertical\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ad9286bc08d44e41ab3a2dad6617b4a3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/ad9286bc08d44e41ab3a2dad6617b4a3",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/99209f419b4f41aa9af24907fc1e7d4f"
                  },
                  {
                    "contentUdi": "umb://element/f2720c679bb548deb3bfec3d536d2975"
                  },
                  {
                    "contentUdi": "umb://element/d27e331410fd408ba5ae4ef766a39a2c"
                  },
                  {
                    "contentUdi": "umb://element/888f3f52b59d4464b1af606c1feb1e3b"
                  },
                  {
                    "contentUdi": "umb://element/b1e0d2cddb97493db8d9a6e4496eb4c6"
                  },
                  {
                    "contentUdi": "umb://element/bbd6e2db27b14dcfb8858b62075157ff"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/f2720c679bb548deb3bfec3d536d2975",
                  "title": "Migraine",
                  "text": {
                    "markup": "<p>The 1mL Molly® autoinjector, designed for a medication targeting acute migraine headaches, was launched in 2016.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/d27e331410fd408ba5ae4ef766a39a2c",
                  "title": "Atopic dermatitis",
                  "text": {
                    "markup": "<div id=\"main-content\">\n<div>\n<div>\n<div>\n<div>\n<div>\n<div>\n<div>\n<div>\n<div data-autoclose=\"true\">\n<div>\n<div>\n<div data-message-author-role=\"assistant\" data-message-id=\"7ccf7504-0811-4ea6-8dda-ca105a3216af\" data-message-model-slug=\"gpt-4o\">\n<div>\n<div>\n<p>Molly® and Molly® 2.25 were introduced in 2020 as treatments for asthma and atopic dermatitis.</p>\n</div>\n</div>\n</div>\n</div>\n<div>\n<div>\n<div></div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/888f3f52b59d4464b1af606c1feb1e3b",
                  "title": "Diabetes",
                  "text": {
                    "markup": "<div>\n<div>\n<div>\n<div></div>\n</div>\n</div>\n</div>\n<div>\n<div>\n<div>\n<div data-message-author-role=\"assistant\" data-message-id=\"3838799f-3654-4836-82dd-4a95dd563ad0\" data-message-model-slug=\"gpt-4o\">\n<div>\n<div>\n<p>In 2020, the Molly® autoinjector was launched as a self-injection solution for diabetes patients, intended to work alongside insulin treatment.</p>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/99209f419b4f41aa9af24907fc1e7d4f",
                  "title": " Rheumatoid arthritis",
                  "text": {
                    "markup": "<p>The first Molly® autoinjector (1.0 mL) was launched in 2016 to treat moderate to severe rheumatoid arthritis.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/b1e0d2cddb97493db8d9a6e4496eb4c6",
                  "title": "Hypoglycemia",
                  "text": {
                    "markup": "<div class=\"flex-shrink-0 flex flex-col relative items-end\">\n<div></div>\n</div>\n<div>\n<div>\n<div>\n<div data-message-author-role=\"assistant\" data-message-id=\"e3336d67-0fbd-4c8b-921b-ed90d2745967\" data-message-model-slug=\"gpt-4o\">\n<div>\n<div>\n<p>In 2019, we launched the Molly autoinjector with a 1mL pre-filled syringe to treat severe hypoglycemia (very low blood sugar) in adults and children aged 2 years and older with diabetes.</p>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/bbd6e2db27b14dcfb8858b62075157ff",
                  "title": "Weight management",
                  "text": {
                    "markup": "<p>SHL Medical's Molly® autoinjector (1 mL version), launched in 2021, has significantly influenced patient care and the pharmaceutical industry through its role in effective weight-loss treatments.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "Want to check if Molly® is suitable for your molecular entity? Get in touch.",
      "primaryLink": [
        {
          "name": "Contact page",
          "udi": "umb://document/af2170d2b3d84a5aa889fb46696f8fcb"
        }
      ],
      "secondaryLink": "",
      "video": "",
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/25f97bed95ff404ba6199f8902a02e1a",
      "title": "Modular platform technology",
      "description": "Molly®'s modular autoinjector platform technology takes a unique approach to platform design by integrating modules into its ecosystem. These modules refer to the Molly device design and core technology, manufacturing infrastructures, and add-on features that respond to digital health and sustainability imperatives, as well as the ever-changing market landscape.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/07674a4f92c84858b628476c9cec53d7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/07674a4f92c84858b628476c9cec53d7",
            "title": "Modular platform technology",
            "description": "Molly®'s modular autoinjector platform technology takes a unique approach to platform design by integrating modules into its ecosystem. These modules refer to the Molly device design and core technology, manufacturing infrastructures, and add-on features that respond to digital health and sustainability imperatives, as well as the ever-changing market landscape.",
            "image": [
              "{\"Id\":\"w3pjmw7n45j6vzgtn3hjjxx\",\"FileName\":\"Tooling-molding-carving.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/w3pjmw7n45j6vzgtn3hjjxx/Tooling-molding-carving.tif\",\"AssetId\":\"jc5pw6wtqbq8xkr369rmh7s\",\"AssetName\":\"Tooling-molding-carving\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/6e49f845df1a4387ba30f7129965827f",
      "title": "Other variations",
      "text": "",
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d89a3ee8b13a4c8eb37661dca00fa6b1"
            },
            {
              "contentUdi": "umb://element/2c48286dc2304ad9b7959681855dec53"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/d89a3ee8b13a4c8eb37661dca00fa6b1",
            "productPage": "umb://document/8eeff4fc3df34d0e83606fd734b1ad37"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/2c48286dc2304ad9b7959681855dec53",
            "productPage": "umb://document/7e18f08f90f04eabbc14fde1e3c2d96c"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/47b8a24ccb2d4ede961a43415dc2b64e",
      "title": "Want to get to know Molly® 2.25 better?",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e838aa2facdd4192ab14e980bb3affe0"
            },
            {
              "contentUdi": "umb://element/2ed6b14010f74591aca9bf50c3788602"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/e838aa2facdd4192ab14e980bb3affe0",
            "title": "Molly® 2.25 mL product card",
            "description": "",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/2ed6b14010f74591aca9bf50c3788602",
            "title": "Molly® white paper",
            "description": "",
            "icon": "",
            "file": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/69d9e58640d74d559970d7d9144a19ea",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/55e38faeff104385a4333a1c533b970b",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/97b4cb9a18844c9695e7d3d70e12ba31",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/60cc28342a054693ae7848a68310f441",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[[
  "Disposable autoinjector"
]]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/335651857903411eb0005e7a5116a5c7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/335651857903411eb0005e7a5116a5c7",
      "title": "Molly® 2.25",
      "text": {
        "markup": "<p><span>Molly® 2.25 is a large-volume variant of the Molly autoinjector to accommodate larger-volume biologics. Featuring the same easy-to-use, 2-step operation, it inherited the modular platform development model to support high-volume manufacturing, faster development, and flexible design for unique branding needs.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8d0d7951336f4054aba4786fe12c7417"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/8d0d7951336f4054aba4786fe12c7417",
            "buttonIcon": "",
            "link": [
              {
                "name": "Contact us",
                "udi": "umb://document/af2170d2b3d84a5aa889fb46696f8fcb"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": "",
      "image": [
        "{\"Id\":\"qfnjsh46x65xqk5fbrc7f8nk\",\"FileName\":\"molly-2.25-ml-autoinjector-cap-off.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/qfnjsh46x65xqk5fbrc7f8nk/molly-225-ml-autoinjector-cap-off.png\",\"AssetId\":\"k98zcwsnxbbtqbjxkmwknnq\",\"AssetName\":\"Molly 2.25_product_page_hero\",\"AssetDescription\":\"\\u003Cp\\u003EMolly 2.5 ml autoinjector with the cap off for SHL Medical\\u003C/p\\u003E\"}"
      ],
      "hideAnchorLinks": "0",
      "theme": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "f6f6f6",
  "label": "light-grey",
  "sortOrder": 14,
  "id": "15"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Subcutaneous"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4a9124124544439481a30ce982faaf85"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/4a9124124544439481a30ce982faaf85",
      "title": "Specifications",
      "specifications": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c88dc2fadfcf4d3eb993f56e96726692"
            },
            {
              "contentUdi": "umb://element/a286e9424da54059b3e39cb9a5f968da"
            },
            {
              "contentUdi": "umb://element/d89fbfe201eb4f56b92b61b99c61e5fc"
            },
            {
              "contentUdi": "umb://element/8455b014dba2478eb6536c5a05667e9c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/c88dc2fadfcf4d3eb993f56e96726692",
            "title": "Dosage type",
            "text": "Fiexd | Full contents"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/a286e9424da54059b3e39cb9a5f968da",
            "title": "Activation method",
            "text": "Needle cover"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/d89fbfe201eb4f56b92b61b99c61e5fc",
            "title": "Injection feedback",
            "text": "Audible click, viewing window"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/8455b014dba2478eb6536c5a05667e9c",
            "title": "Customization",
            "text": "Yes"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[[
  "low"
]]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[[
  "medium"
]]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[[
  "2.25 ml"
]]]></Value>
    </volumeRange>
  </Properties>
</Content>