<?xml version="1.0" encoding="utf-8"?>
<Content Key="8eeff4fc-3df3-4d0e-8360-6fd734b1ad37" Alias="Molly®" Level="4">
  <Info>
    <Parent Key="488d367b-a982-4883-b4a4-be3cf51ea3ee">Autoinjectors</Parent>
    <Path>/Homepage/OurProducts/Autoinjectors/Molly</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-28T19:10:44</CreateDate>
    <NodeName Default="Molly®">
      <Name Culture="en-us">Molly®</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0496a76abd3a4cea9c40547837a2b119"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/0496a76abd3a4cea9c40547837a2b119",
      "title": "Meet Molly®",
      "image": [
        "{\"Id\":\"f5qt5bfcwwxshqg8gj7xv7p\",\"FileName\":\"Molly Modular Platform Autoinjector-FHD-high.gif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/f5qt5bfcwwxshqg8gj7xv7p/Molly_Modular_Platform_Autoinjector-FHD-high.gif\",\"AssetId\":\"gqqqt6wz74k3vs7gwjvn2gkm\",\"AssetName\":\"Molly Modular Platform Autoinjector\",\"AssetDescription\":\"\"}"
      ],
      "subTitle": "Meet all requirements",
      "text": {
        "markup": "<p><span>Built on a modular platform technology, Molly® is designed to meet the evolving requirements of future autoinjectors, such as introducing unique designs for branding and user requirements, as well as high-volume manufacturing. </span></p>\n<p>&nbsp;</p>\n<p><span>The Molly autoinjector is designed with an ergonomic body and a flange-shaped anti-roll cap for an easier handling experience</span>.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"p5m82k5h4bkcrbs7s9bjkg7t\",\"FileName\":\"molly-1.0-product-card.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/p5m82k5h4bkcrbs7s9bjkg7t/molly-10-product-card.jpg\",\"AssetId\":\"ppwjgkfvmqm3w32rrfk3975j\",\"AssetName\":\"molly-1.0-product-card\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[[
  "Yes"
]]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[[
  "Pre-Filled Syringe"
]]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7f9598fd5e754550890dde8f3dbb1192",
        "settingsUdi": "umb://element/3927908766524995a962f2d7c3931e72"
      },
      {
        "contentUdi": "umb://element/c99ef19e11d341cbb1d103536e06bbd5",
        "settingsUdi": "umb://element/d41622d98d7945069109b938e3063748"
      },
      {
        "contentUdi": "umb://element/b0c47e52846848e4b3a05a9885a9df6a",
        "settingsUdi": "umb://element/58d30ebc02d24ef59c246f5a4209f941"
      },
      {
        "contentUdi": "umb://element/73309fdc985c4a44b5e78d6eae4088f1",
        "settingsUdi": "umb://element/7ee40b034f53496985bd95f1332853b0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/7f9598fd5e754550890dde8f3dbb1192",
      "title": "Unparalleled track record",
      "text": {
        "markup": "<p>We work with 12+ pharmaceutical companies to commercialize our Molly® and Molly® 2.25 autoinjectors. 17 combination products have been approved so far, including the world’s first large-volume autoinjector with a ≥ 2.0 mL fill.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": null,
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8a3c5e80c8004766b16ae1ee8c1ac3bb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/8a3c5e80c8004766b16ae1ee8c1ac3bb",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/389f391146e749c6a72fc4ca1512f91e"
                  },
                  {
                    "contentUdi": "umb://element/dc86fa2ceb5743e78bd5ca5d66c8fbdd"
                  },
                  {
                    "contentUdi": "umb://element/5c55d2a532714b7883aa0937362b4b04"
                  },
                  {
                    "contentUdi": "umb://element/8b3404f56ac94e3bbcc8756c6862b44f"
                  },
                  {
                    "contentUdi": "umb://element/0cfaa9094caf4ee9abe827515fcbe31d"
                  },
                  {
                    "contentUdi": "umb://element/80892fde91c74fe6968c01152870303f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/dc86fa2ceb5743e78bd5ca5d66c8fbdd",
                  "title": "Migraine",
                  "text": {
                    "markup": "<p>In 2016, the second Molly® autoinjector was launched, specifically designed for a medication targeting acute migraine headaches.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/5c55d2a532714b7883aa0937362b4b04",
                  "title": "Atopic dermatitis",
                  "text": {
                    "markup": "<div>\n<div data-message-author-role=\"assistant\" data-message-id=\"7ccf7504-0811-4ea6-8dda-ca105a3216af\" data-message-model-slug=\"gpt-4o\">\n<div>\n<div>\n<p>Molly® and Molly® 2.25 were introduced in 2020 as treatments for asthma and atopic dermatitis.</p>\n</div>\n</div>\n</div>\n</div>\n<div>\n<div>\n<div>\n<div></div>\n<div></div>\n</div>\n</div>\n</div>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/389f391146e749c6a72fc4ca1512f91e",
                  "title": "Rheumatoid arthritis",
                  "text": {
                    "markup": "<p>Six years after introducing the Molly® platform, our first Molly® autoinjector was launched in 2016, treating<span> moderate to severe rheumatoid arthritis.</span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/8b3404f56ac94e3bbcc8756c6862b44f",
                  "title": "Diabetes",
                  "text": {
                    "markup": "<p>In 2020, the Molly® autoinjector was launched as a self-injection option for diabetes patients, designed to complement insulin therapy.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0cfaa9094caf4ee9abe827515fcbe31d",
                  "title": "Hypoglycemia",
                  "text": {
                    "markup": "<p>In 2019, we launched the Molly® autoinjector to treat severe hypoglycemia (very low blood sugar) in adults and children aged 2 years and older with diabetes.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/80892fde91c74fe6968c01152870303f",
                  "title": "Weight management",
                  "text": {
                    "markup": "<p>Launched in 2021, SHL Medical's Molly® autoinjector is used for effective weight-loss treatments, significantly impacting the pharmaceutical industry and patient care.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "Want to check if Molly® is suitable for your molecular entity? Get in touch.",
      "primaryLink": [
        {
          "name": "Contact us",
          "udi": "umb://document/af2170d2b3d84a5aa889fb46696f8fcb"
        }
      ],
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/b0c47e52846848e4b3a05a9885a9df6a",
      "title": "Other variations",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a12b066af3474dd0a8d9757ff4f43969"
            },
            {
              "contentUdi": "umb://element/a1584f5ee41346e0a962b81f9d9cf819"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/a12b066af3474dd0a8d9757ff4f43969",
            "productPage": "umb://document/ed42b9d7f5cf442699c72ea9a6285e19"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/a1584f5ee41346e0a962b81f9d9cf819",
            "productPage": "umb://document/7e18f08f90f04eabbc14fde1e3c2d96c"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/73309fdc985c4a44b5e78d6eae4088f1",
      "title": "Want to get to know Molly® better?",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0fd290b1c68248b0aedffd7f5f1907db"
            },
            {
              "contentUdi": "umb://element/e980a4c0fe204df1ab4e194a4b25a98d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/0fd290b1c68248b0aedffd7f5f1907db",
            "title": "Molly® product card",
            "description": "",
            "icon": "",
            "file": ""
          },
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/e980a4c0fe204df1ab4e194a4b25a98d",
            "title": "Molly® white paper",
            "description": "",
            "icon": "",
            "file": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/c99ef19e11d341cbb1d103536e06bbd5",
      "title": "Modular platform technology",
      "text": {
        "markup": "<p>Molly®'s modular autoinjector platform technology takes a unique approach to platform design by integrating modules into its ecosystem. These modules refer to the Molly device design and core technology, manufacturing infrastructures, and add-on features that respond to digital health and sustainability imperatives, as well as the ever-changing market landscape.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1fcf02a1dca9495fb788c3cf434bdf94"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/1fcf02a1dca9495fb788c3cf434bdf94",
            "image": [
              "{\"Id\":\"3tpmvxxch6mmk5bwkx76rs8z\",\"FileName\":\"shl-medical-fatm_not_modular_molly_20240509-2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3tpmvxxch6mmk5bwkx76rs8z/shl-medical-fatm_not_modular_molly_20240509-2.jpg\",\"AssetId\":\"7x98rm4cr6ssmg9whmgsb8v4\",\"AssetName\":\"FATM-Not Modular-Molly-Testing-20240509-2\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": null,
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "Device Platforms",
          "udi": "umb://document/e58cd0d25ff1434488a091dab0103fcf"
        }
      ],
      "secondaryLink": [
        {
          "name": "Success Stories",
          "udi": "umb://document/ef9871ae2da74fb08237c86c847f6b4b"
        }
      ],
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7f1470eef73c4adab9b1b16c43c3b2b7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/7f1470eef73c4adab9b1b16c43c3b2b7",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/5fd64472234d46a18a8e4b33205ea5ff"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/5fd64472234d46a18a8e4b33205ea5ff",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1003549319/rendition/1080p/file.mp4?loc=external&log_user=0&signature=b3f33bf9ec81bf479f4907cdf0956f69d505c58dd986765eb8681bb9d62bf365"
                }
              ],
              "settingsData": []
            },
            "title": "Customization made simpler with platform technology",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "mediaPosition": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/3927908766524995a962f2d7c3931e72",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/58d30ebc02d24ef59c246f5a4209f941",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/7ee40b034f53496985bd95f1332853b0",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d41622d98d7945069109b938e3063748",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[[
  "Disposable autoinjector"
]]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c9b42ae217904bf6a67f1db190e45596"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/c9b42ae217904bf6a67f1db190e45596",
      "title": "Molly®",
      "text": {
        "markup": "<p>Molly® is a single-dose autoinjector technology developed to help pharma and biotech companies reduce initial investments and expedite development timelines.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/efe714a1339e420fa4ada5adc8359167"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/efe714a1339e420fa4ada5adc8359167",
            "buttonIcon": "",
            "link": [
              {
                "name": "Contact us",
                "udi": "umb://document/af2170d2b3d84a5aa889fb46696f8fcb"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null,
      "image": [
        "{\"Id\":\"gcsvf82vqvbpk4wc7t5fh97\",\"FileName\":\"molly-1.0-ml-autoinjector-cap-off.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gcsvf82vqvbpk4wc7t5fh97/molly-10-ml-autoinjector-cap-off.png\",\"AssetId\":\"9c748vc68qhprnc4vwqwhk9v\",\"AssetName\":\"Molly 1.0_product_page_hero\",\"AssetDescription\":\"\\u003Cp\\u003EMolly 1.0 ml autoinjector with the cap off by SHL Medical\\u003C/p\\u003E\"}"
      ],
      "hideAnchorLinks": "0",
      "theme": {
        "value": "007cbe",
        "label": "light-blue",
        "sortOrder": 13,
        "id": "10"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "f6f6f6",
  "label": "light-grey",
  "sortOrder": 14,
  "id": "15"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[[
  "Subcutaneous"
]]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d58910a9bc8e45d5878fd4dea5262b71"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/d58910a9bc8e45d5878fd4dea5262b71",
      "title": "Specifications",
      "specifications": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/83c43bed64674993b31242779902f881"
            },
            {
              "contentUdi": "umb://element/0443f9745f974ec2968fc9dba239b896"
            },
            {
              "contentUdi": "umb://element/6f42ad384e0c46ecb13bcf29c8e34461"
            },
            {
              "contentUdi": "umb://element/c494d33eef8c400a865a5e8313936b40"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/83c43bed64674993b31242779902f881",
            "title": "Dosage type",
            "text": "Fixed | Full contents"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/0443f9745f974ec2968fc9dba239b896",
            "title": "Activation method",
            "text": "Needle cover"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/6f42ad384e0c46ecb13bcf29c8e34461",
            "title": "Injection feedback",
            "text": "Audible click, viewing window"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/c494d33eef8c400a865a5e8313936b40",
            "title": "Customization",
            "text": "Yes"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[[
  "low"
]]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[[
  "low"
]]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[[
  "1.0 ml"
]]]></Value>
    </volumeRange>
  </Properties>
</Content>