<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e18f08f-90f0-4eab-bc14-fde1e3c2d96c" Alias="Molly® Connected Cap" Level="4">
  <Info>
    <Parent Key="488d367b-a982-4883-b4a4-be3cf51ea3ee">Autoinjectors</Parent>
    <Path>/Homepage/OurProducts/Autoinjectors/MollyConnectedCap</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProduct</ContentType>
    <CreateDate>2024-11-28T19:12:08</CreateDate>
    <NodeName Default="Molly® Connected Cap">
      <Name Culture="en-us">Molly® Connected Cap</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a20e8557-fb61-41a6-aea1-e283b5fe580f">PageProduct</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/84e7961853f14d3a8b54b8068fa0f606"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f98c1015-4801-4b36-ac47-29600023cb1e",
      "udi": "umb://element/84e7961853f14d3a8b54b8068fa0f606",
      "title": "Meet the Connected Cap",
      "image": [
        "{\"Id\":\"s85gq9k2hkbftqqrttgghs3\",\"FileName\":\"molly-ccap-a-open-2.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/s85gq9k2hkbftqqrttgghs3/molly-ccap-a-open-2.png\",\"AssetId\":\"3cggrhmhjqkpkmbvqjf9rvc\",\"AssetName\":\"molly-ccap-a-open-2\",\"AssetDescription\":\"\\u003Cp\\u003EMolly cCap A open cap autoinjector by SHL Medical\\u003C/p\\u003E\"}"
      ],
      "subTitle": "Smart data transfer to the cloud",
      "text": {
        "markup": "<p>Upon removal from the Molly® device, the Connected Cap becomes active, allowing timestamped data to be relayed through a smart data transmission hub and to the cloud.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </banner>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  "{\"Id\":\"gvjrnrgjfj3kqpkcnmnxbvc\",\"FileName\":\"molly-connected-cap-product-card.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/gvjrnrgjfj3kqpkcnmnxbvc/molly-connected-cap-product-card.jpg\",\"AssetId\":\"sv7nnkc8jvt3jmh96qgftj4\",\"AssetName\":\"molly-connected-cap-product-card\",\"AssetDescription\":\"\"}"
]]]></Value>
    </cardImage>
    <connectivityType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </connectivityType>
    <containerType>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </containerType>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eb937d3980dd48549621045c9cb20fb9",
        "settingsUdi": "umb://element/41869812b27b4c33a06fdd4287fcf1dc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/eb937d3980dd48549621045c9cb20fb9",
      "title": "The benefits",
      "text": "",
      "image": null,
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b90f77e016304aa0bf7c18ff7c56f94b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/b90f77e016304aa0bf7c18ff7c56f94b",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/afd887ef280f4781a9d5fcc2c1e4a782"
                  },
                  {
                    "contentUdi": "umb://element/fe1cd9d462fb473287368c337224540a"
                  },
                  {
                    "contentUdi": "umb://element/93fce610e5bf42d59b6ef700c743887f"
                  },
                  {
                    "contentUdi": "umb://element/8961c6ffa3474b18b007149ce0fa8893"
                  },
                  {
                    "contentUdi": "umb://element/ffba8d45bab642e88b5dc13467f5ae77"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/afd887ef280f4781a9d5fcc2c1e4a782",
                  "title": "Easy to integrate",
                  "text": {
                    "markup": "<p>Platform technology enables rapid introduction of digitally enhanced autoinjector variants for new or existing autoinjectors.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/fe1cd9d462fb473287368c337224540a",
                  "title": "Easy to operate",
                  "text": {
                    "markup": "<p><span>No additional training is needed for healthcare providers or patients to use it. </span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/93fce610e5bf42d59b6ef700c743887f",
                  "title": "Easy to transfer data",
                  "text": {
                    "markup": "<p>Pairing is not needed thanks to the Bluetooth® beacon.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/8961c6ffa3474b18b007149ce0fa8893",
                  "title": "Easy to assemble",
                  "text": {
                    "markup": "<p>Retrofittable module offers flexible assembly options for clinical and commercial delivery, backed by our integrated capabilities.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/ffba8d45bab642e88b5dc13467f5ae77",
                  "title": "Easy to disassemble",
                  "text": {
                    "markup": "<p>Designed to support return-refurbish-recycle programs, facilitating circularity for a more sustainable future.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "Contact us",
          "target": "_blank",
          "url": "https://cms.shl-medical.com/get-in-touch/contact-page"
        }
      ],
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/41869812b27b4c33a06fdd4287fcf1dc",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <deviceType>
      <Value Culture="en-us"><![CDATA[[
  "Connected add-on for autoinjectors"
]]]></Value>
    </deviceType>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1572a6f1a8b84b35a62970c5f828e527"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/1572a6f1a8b84b35a62970c5f828e527",
      "title": "Molly®\u2028Connected Cap",
      "text": {
        "markup": "<p>The Molly® Connected Cap is a compact, retrofittable autoinjector add-on component that records and transmits data on patients’ device use.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5e50401860a44f3ca2ee8b224e7447eb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/5e50401860a44f3ca2ee8b224e7447eb",
            "buttonIcon": "",
            "link": [
              {
                "name": "Read more about Molly® Connected Cap",
                "udi": "umb://document/2ed21b911ad2475194cf4a1fc063513e"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null,
      "image": [
        "{\"Id\":\"3zjkrjtrrwcx7pq8fj9f848\",\"FileName\":\"molly-connected-cap-cap-off-top.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3zjkrjtrrwcx7pq8fj9f848/molly-connected-cap-cap-off-top.png\",\"AssetId\":\"88mn9499n5stkxshf6j7bqk\",\"AssetName\":\"Molly cCap_product_page_hero\",\"AssetDescription\":\"\\u003Cp\\u003EMolly Connected Cap with the cap off by SHL Medical\\u003C/p\\u003E\"}"
      ],
      "hideAnchorLinks": "0",
      "theme": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "f6f6f6",
  "label": "light-grey",
  "sortOrder": 14,
  "id": "15"
}]]></Value>
    </pageTheme>
    <routeOfAdministration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </routeOfAdministration>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <specifications>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/37417e9df22246948d35bdc0746b04ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acea092a-252a-46e4-bd64-a918d2664c91",
      "udi": "umb://element/37417e9df22246948d35bdc0746b04ed",
      "title": "Specifications",
      "specifications": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3556a3ab33a64484b251a4384c41f390"
            },
            {
              "contentUdi": "umb://element/fd7918ba5aec4669b2c77be13f09c2fc"
            },
            {
              "contentUdi": "umb://element/b60af32e942b44548d5068eaf1c94018"
            },
            {
              "contentUdi": "umb://element/029803ad6c9c457fa10bd28d8eea86dd"
            },
            {
              "contentUdi": "umb://element/bdc9381c53ba42de94df706ad1de1de5"
            },
            {
              "contentUdi": "umb://element/0081890c6090411a849f7fc5c0edde65"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/3556a3ab33a64484b251a4384c41f390",
            "title": "Compatibility",
            "text": "Molly and Molly 2.25 autoinjectors"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/fd7918ba5aec4669b2c77be13f09c2fc",
            "title": "Detection technology",
            "text": "Mechanical sensor"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/b60af32e942b44548d5068eaf1c94018",
            "title": "Parameter monitoring",
            "text": "Autoinjector cap removal"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/029803ad6c9c457fa10bd28d8eea86dd",
            "title": "Mode of connectivity",
            "text": "Bluetooth® beacon connectivity"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/bdc9381c53ba42de94df706ad1de1de5",
            "title": "Battery shelf life",
            "text": "Minimum of 12 months | Single use"
          },
          {
            "contentTypeKey": "a70c8f06-e0a8-4390-a23c-c36c98771435",
            "udi": "umb://element/0081890c6090411a849f7fc5c0edde65",
            "title": "Software integration",
            "text": "Option to integrate with SHL or third-party digital ecosystem"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </specifications>
    <specificationsFile>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </specificationsFile>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
    <viscosityLevel>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </viscosityLevel>
    <volumeLevel>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </volumeLevel>
    <volumeRange>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </volumeRange>
  </Properties>
</Content>