<?xml version="1.0" encoding="utf-8"?>
<Content Key="329aaa21-d9cb-40ee-b960-5742b6f60897" Alias="About us" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-07-21T22:52:18</CreateDate>
    <NodeName Default="About us">
      <Name Culture="en-us">About us</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <allLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </allLink>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <category>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </category>
    <contentBlocks>
      <Value Culture="en-us">
        <![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c408c32768ec411aa5050d862e8bbe10"
      },
      {
        "contentUdi": "umb://element/09eff2ba10514fb49077a7199e38184b",
        "settingsUdi": "umb://element/ca9f6745cd384a91a428cedcdb959cdc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/c408c32768ec411aa5050d862e8bbe10",
      "text": "Caring. Inclusive. Driven",
      "animateOnScroll": "0"
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/09eff2ba10514fb49077a7199e38184b",
      "title": "Accordions banner",
      "text": {
        "markup": "<p>this is a text in the accordions banner</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c8db8de65a244080bc2d3ea034222f70"
            },
            {
              "contentUdi": "umb://element/e655f3bc9366414b83b1a6ad3df38e73"
            },
            {
              "contentUdi": "umb://element/eb5b8c84791c421e9b2e241fceb664a9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/c8db8de65a244080bc2d3ea034222f70",
            "title": "Accordion item 1",
            "text": {
              "markup": "<p>Accordion item 1 - text</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/e655f3bc9366414b83b1a6ad3df38e73",
            "title": "Accordion item 2",
            "text": {
              "markup": "<p>Accordion item 2 - text</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
            "udi": "umb://element/eb5b8c84791c421e9b2e241fceb664a9",
            "title": "Accordion item 3",
            "text": {
              "markup": "<p>Accordion item 3 - text</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "primaryLink": [
        {
          "name": "About us",
          "udi": "umb://document/329aaa21d9cb40eeb9605742b6f60897"
        }
      ],
      "secondaryLink": null,
      "image": [
        {
          "key": "5fffa065-15a1-4ec0-82b8-9c9be91ebcd8",
          "mediaKey": "e06a4a80-d83e-4d7a-81a8-3efd4cdd206c"
        }
      ],
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4e723d68263a4b7fbfb3c96926d57ee1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/4e723d68263a4b7fbfb3c96926d57ee1",
            "totalTime": "01:30",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/b183fcda57b846b7ba81032a2d22d3f0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/b183fcda57b846b7ba81032a2d22d3f0",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Bunny",
            "description": "",
            "closedCaptions": null
          }
        ],
        "settingsData": []
      },
      "mediaDescription": "",
      "mediaPosition": "",
      "theme": {
        "value": "a4ead4",
        "label": "pale-green",
        "sortOrder": 4,
        "id": "5"
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/ca9f6745cd384a91a428cedcdb959cdc",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]>
      </Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <feature>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </feature>
    <hero>
      <Value Culture="en-us">
        <![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d9985706519b4da6a101f0766065b6bb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/d9985706519b4da6a101f0766065b6bb",
      "title": "Content Hero",
      "subtitle": "Content Hero",
      "tags": "",
      "primaryLink": null,
      "secondaryLink": null,
      "theme": "",
      "shortDescription": ""
    }
  ],
  "settingsData": []
}]]>
      </Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>
