<?xml version="1.0" encoding="utf-8"?>
<Content Key="d584ae47-5163-4563-9651-a45267aa19ef" Alias="Cookies" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/Cookies</Path>
    <Trashed>false</Trashed>
    <ContentType>pageCookies</ContentType>
    <CreateDate>2021-08-16T23:10:49</CreateDate>
    <NodeName Default="Cookies">
      <Name Culture="en-us">Cookies</Name>
      <Name Culture="nl-nl">Cookies</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="6d87d7cd-caab-4672-922f-d1e40814ac6f">PageCookies</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contentBlocks>
    <cookiesOptions>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a78d4fbc01f14f7ebfbeee11a4fb9371"
      },
      {
        "contentUdi": "umb://element/456a2a44abf7404cacf788fd2c17f3bb"
      },
      {
        "contentUdi": "umb://element/ba6bbaba7c86432ca6a86091cf3bea9c"
      },
      {
        "contentUdi": "umb://element/1b9972cd3e8642c6a4852d422c22eeee"
      },
      {
        "contentUdi": "umb://element/51b2b702ba9f498d908a55e4d7bbf1a8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/a78d4fbc01f14f7ebfbeee11a4fb9371",
      "value": "functional",
      "label": "Functional: Cookies that make sure the site works properly.",
      "cookieId": "functional",
      "required": "1"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/456a2a44abf7404cacf788fd2c17f3bb",
      "value": "analytics",
      "label": "Analytics: Cookies which allows us to measure the usage of the site. The collected data will be combined and aggregated to allow us to do static analyses.",
      "cookieId": "analytics",
      "required": "1"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/ba6bbaba7c86432ca6a86091cf3bea9c",
      "value": "social",
      "label": "Social networks: Cookies that allow us to share the contents of this site on social networks. Social networks profile and track users. By accepting these cookies you allow social networks to track your browsing activity.",
      "cookieId": "social",
      "required": "0"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/1b9972cd3e8642c6a4852d422c22eeee",
      "value": "advertising",
      "label": "Advertising: Cookies which allow us to offer you tailored content based on your browsing behavior. By accepting these cookies you allow advertising networks to track your browsing activity.",
      "cookieId": "advertising",
      "required": "0"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/51b2b702ba9f498d908a55e4d7bbf1a8",
      "value": " other",
      "label": "Other: Cookies which do not apply to the categories above. By accepting these cookies you allow social, advertising or other networks to track your browsing activity.",
      "cookieId": " other",
      "required": "0"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/74a0503cf2a049889497f099b49f4b51"
      },
      {
        "contentUdi": "umb://element/88147de5c669445d8291f575708ce52d"
      },
      {
        "contentUdi": "umb://element/42e3d73a630e478283f64e9928e8bb0d"
      },
      {
        "contentUdi": "umb://element/cb806adbdf11449294c89ac733eea5fd"
      },
      {
        "contentUdi": "umb://element/3d44ba4007684d13a28bb21ef723e95a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/74a0503cf2a049889497f099b49f4b51",
      "value": "functional",
      "label": "Functioneel: Deze cookies zijn nodig om een website beter te laten functioneren.",
      "cookieId": "functional",
      "required": "1"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/88147de5c669445d8291f575708ce52d",
      "value": "analytics",
      "label": "Analytisch: Met deze cookies kunnen wij de statistieken van onze site bijhouden.",
      "cookieId": "analytics",
      "required": "1"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/42e3d73a630e478283f64e9928e8bb0d",
      "value": "social",
      "label": "Sociale netwerken: Cookies waarmee we de inhoud van deze site op sociale netwerken kunnen delen. Door deze cookies te accepteren, staat u sociale netwerken toe uw surfactiviteit te volgen.",
      "cookieId": "social"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/cb806adbdf11449294c89ac733eea5fd",
      "value": "advertising",
      "label": "Advertenties: cookies waarmee wij u op maat gemaakte inhoud kunnen aanbieden op basis van uw browsegedrag. Door deze cookies te accepteren, staat u advertentienetwerken toe om uw browse-activiteit bij te houden.",
      "cookieId": "advertising"
    },
    {
      "contentTypeKey": "6442046f-45cd-49bb-ba92-15a843ec1f3d",
      "udi": "umb://element/3d44ba4007684d13a28bb21ef723e95a",
      "value": " other",
      "label": "Overig: cookies die niet van toepassing zijn op de bovenstaande categorieën. Door deze cookies te accepteren, staat u sociale, reclame- of andere netwerken toe om uw browse-activiteit bij te houden.",
      "cookieId": " other"
    }
  ],
  "settingsData": []
}]]></Value>
    </cookiesOptions>
    <cookiesText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </cookiesText>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </doNotIndex>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideFromSearch>
    <intro>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </intro>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </seoMetaTitle>
    <title>
      <Value Culture="en-us"><![CDATA[Cookie settings page]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>