<?xml version="1.0" encoding="utf-8"?>
<Content Key="1485a126-8e96-4a4a-a9b5-b75b0027371e" Alias="Empty overview" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/EmptyOverview</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProductOverview</ContentType>
    <CreateDate>2024-11-05T12:16:46</CreateDate>
    <NodeName Default="Empty overview">
      <Name Culture="en-us">Empty overview</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="04f4eb60-84e3-4b1a-ad4c-0e082cc075d1">PageProductOverview</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cae6b2995e4340a39e3db1486d87065c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/cae6b2995e4340a39e3db1486d87065c",
      "title": "Device platforms",
      "text": {
        "markup": "<p>What’s your molecule? With our device platforms, you don’t have to think about the self-service pen injector design. Because it’s already there.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <noResultsPrimaryLink>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d0db9b680361424ba186c44bb1598131"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
      "udi": "umb://element/d0db9b680361424ba186c44bb1598131",
      "buttonIcon": [
        {
          "key": "fe0a62b5-829b-4ef8-b0ac-58c0fc7219de",
          "mediaKey": "fadaefb9-4b9b-417e-b491-162c6e7f3643"
        }
      ],
      "link": [
        {
          "name": "Test Button",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "variant": [
        "primary"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </noResultsPrimaryLink>
    <noResultsSecondaryLink>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4e40a88b008e444cac7524a155f073c2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
      "udi": "umb://element/4e40a88b008e444cac7524a155f073c2",
      "buttonIcon": [
        {
          "key": "62f76304-4c51-4c81-8aff-22ae31c90718",
          "mediaKey": "0fd06494-d92d-431a-a061-706846f59f62"
        }
      ],
      "link": [
        {
          "name": "Test Button",
          "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
        }
      ],
      "variant": [
        "secondary"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </noResultsSecondaryLink>
    <noResultsText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>We currently don’t have any products matching your criteria. Do you feel like something is missing in our assortiment, let us know!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </noResultsText>
    <noResultsTitle>
      <Value Culture="en-us"><![CDATA[Sorry, we have no products that match your search criteria]]></Value>
    </noResultsTitle>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "baedf3",
  "label": "pale-blue",
  "sortOrder": 12,
  "id": "8"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>