<?xml version="1.0" encoding="utf-8"?>
<Content Key="94ef1911-88f6-42ee-aeb6-224123ca6355" Alias="Event Detail - Joey" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/EventDetailJoey</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-11T16:07:28</CreateDate>
    <NodeName Default="Event Detail - Joey">
      <Name Culture="en-us">Event Detail - Joey</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bd2ff1b7621b448ca9c9b3a8ae2b6d16",
        "settingsUdi": "umb://element/8f06d6491b3d4ecba6ee4528d7a7fa8c"
      },
      {
        "contentUdi": "umb://element/44f03a024c044ae5a2c44d89829a068d",
        "settingsUdi": "umb://element/3162d281e9f94492909b33eba878d332"
      },
      {
        "contentUdi": "umb://element/f4ed3283ef6745ac94407fd0996740b7",
        "settingsUdi": "umb://element/25db0b04123b422ab1fca6eefb8d5d55"
      },
      {
        "contentUdi": "umb://element/e21ea846c77143d5944bf6f4202fd256",
        "settingsUdi": "umb://element/ec81283b34494f5bb0f09b8f773c6783"
      },
      {
        "contentUdi": "umb://element/265e8e34169f4d899b6fe0856a9b2cb4",
        "settingsUdi": "umb://element/985357119f874964a1d59f84314702d7"
      },
      {
        "contentUdi": "umb://element/9a94f8bccca14d889a4ec914cf504678",
        "settingsUdi": "umb://element/120b3af6dc56470c8ff9695c3e9d4a68"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
      "udi": "umb://element/bd2ff1b7621b448ca9c9b3a8ae2b6d16",
      "image": [
        {
          "key": "b6f43ef9-20ec-463c-a37c-d574fed7d0c9",
          "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
        }
      ],
      "caption": "",
      "fullWidth": "1"
    },
    {
      "contentTypeKey": "ecbe2af4-190e-4c73-886b-bff753532aa8",
      "udi": "umb://element/44f03a024c044ae5a2c44d89829a068d",
      "text": {
        "markup": "<p>Maggie is a cartridge-based solution that accommodates fill volumes up to 3.0 mL. Built with SHL’s Needle Isolation Technology (NIT®), this 2-step autoinjector uses a permanently hidden needle, eliminating the need for patients to manually attach the needle before each injection.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "textSize": [
        "extra-large"
      ],
      "reduceMargin": [
        "top-bottom"
      ],
      "primaryLink": null,
      "secondLink": null,
      "showReadMoreOption": "0"
    },
    {
      "contentTypeKey": "2eaa3665-a4c5-4e0a-9c7d-df3ff25d2ad4",
      "udi": "umb://element/f4ed3283ef6745ac94407fd0996740b7",
      "eventTitle": "Event Details Test",
      "eventURL": "{\"layout\":{\"Umbraco.BlockList\":[{\"contentUdi\":\"umb://element/f5d2a5f1cb704003954d7d52b2304862\"}]},\"contentData\":[{\"contentTypeKey\":\"71083e4a-8343-45cb-ac79-34a03d4d17a0\",\"udi\":\"umb://element/f5d2a5f1cb704003954d7d52b2304862\",\"buttonIcon\":\"[{\\\"key\\\":\\\"bc50e37f-70a3-4447-afec-f886015d501a\\\",\\\"mediaKey\\\":\\\"fadaefb9-4b9b-417e-b491-162c6e7f3643\\\"}]\",\"link\":\"[{\\\"name\\\":\\\"google\\\",\\\"url\\\":\\\"google.com\\\"}]\",\"variant\":\"[\\\"primary\\\"]\"}],\"settingsData\":[]}",
      "eventLocationInfo": {
        "markup": "<p>Maggie is a cartridge-based solution that accommodates fill volumes up to 3.0 mL.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventTime": {
        "markup": "<p>eliminating the need for patients to manually attach the needle before each injection.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventImage": [
        {
          "key": "0c19c24a-2213-4d68-8283-017f3a9d7ddd",
          "mediaKey": "b12dd5a0-14e8-4e57-86af-47a65bb81c3c"
        }
      ]
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/e21ea846c77143d5944bf6f4202fd256",
      "title": "Text Media component",
      "text": {
        "markup": "<p>The readability score is calculated in real-time, so you can look at it while you write. However, if you want to stay focused, you can also choose not to look at the score while writing your first draft. That way, you can write without being distracted and make the final tweaks afterward.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7069fae02f834df39324d7b5d6b7a85d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/7069fae02f834df39324d7b5d6b7a85d",
            "image": [
              {
                "key": "a75eccc7-e23b-4d88-b696-59e57ca5d370",
                "mediaKey": "b12dd5a0-14e8-4e57-86af-47a65bb81c3c"
              }
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": null,
      "buttonsSupportText": "",
      "primaryLink": [
        {
          "name": "google",
          "url": "https://google.com"
        }
      ],
      "secondaryLink": null,
      "video": null,
      "mediaPosition": [
        "left"
      ]
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/265e8e34169f4d899b6fe0856a9b2cb4",
      "title": "Text Media Banner test",
      "description": {
        "markup": "<p>The readability score is calculated in real-time, so you can look at it while you write. However, if you want to stay focused, you can also choose not to look at the score while writing your first draft. That way, you can write without being distracted and make the final tweaks afterward.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "asdfs",
          "url": "asldf..com"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6bed92f8404b42428332cf1d7f33ffd7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/6bed92f8404b42428332cf1d7f33ffd7",
            "image": [
              {
                "key": "05bf70e7-6117-4143-8e7b-3d858d28bd90",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/9a94f8bccca14d889a4ec914cf504678",
      "title": "etst",
      "text": {
        "markup": "<p>sdfasdfasd asdf dsaf asfsa f asdfa dsf asdf adsf asdf asdf asdf&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3f389cd8823242ba97f31be34aaefeab"
            },
            {
              "contentUdi": "umb://element/0afd1ae53db34abd8db0db26b27b31a7"
            },
            {
              "contentUdi": "umb://element/f7d3b332a3b54210985df2de9d6670fe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/3f389cd8823242ba97f31be34aaefeab",
            "title": "asdfadsf",
            "subTitle": "sadfadsf",
            "text": {
              "markup": "<p>asdf adsf sdfsdfsf asfadsf adsf ads fdsf dsfd f&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "e0bd2261-a1a5-460c-aa6f-4bb5362f5669",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/0afd1ae53db34abd8db0db26b27b31a7",
            "title": "asdfadsf",
            "subTitle": "sadfadsf",
            "text": {
              "markup": "<p>asdf adsf sdfsdfsf asfadsf adsf ads fdsf dsfd f&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "e0bd2261-a1a5-460c-aa6f-4bb5362f5669",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "ac88e482-9387-47ea-a276-f5fffdc32112",
            "udi": "umb://element/f7d3b332a3b54210985df2de9d6670fe",
            "title": "asdfadsf",
            "subTitle": "sadfadsf",
            "text": {
              "markup": "<p>asdf adsf sdfsdfsf asfadsf adsf ads fdsf dsfd f&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "e0bd2261-a1a5-460c-aa6f-4bb5362f5669",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "link": null
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/8f06d6491b3d4ecba6ee4528d7a7fa8c",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/3162d281e9f94492909b33eba878d332",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/25db0b04123b422ab1fca6eefb8d5d55",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ec81283b34494f5bb0f09b8f773c6783",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/985357119f874964a1d59f84314702d7",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/120b3af6dc56470c8ff9695c3e9d4a68",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[[
  "Technology"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2024-10-31T00:00:00]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ef4157e39310444f96dc127ee4e13fc6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/ef4157e39310444f96dc127ee4e13fc6",
      "title": "SHL Medical expert to speak at Novartis Campus in Basel",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "e3f8fa",
  "label": "lightest-blue",
  "sortOrder": 11,
  "id": "14"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[[
  "Event"
]]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>