<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b3fde01-9809-456f-9f9b-5048eaa3d2ba" Alias="Event Detail" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/EventDetail</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-09-30T15:45:59</CreateDate>
    <NodeName Default="Event Detail">
      <Name Culture="en-us">Event Detail</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2e228254f6c14344b3953375559a2ec0",
        "settingsUdi": "umb://element/1723dcb786aa492aaac6f829bd568b04"
      },
      {
        "contentUdi": "umb://element/a163bf70650947bd9a41be2f8c1acf8d",
        "settingsUdi": "umb://element/b517194ecd7149e6959f8da4b0cdfbc2"
      },
      {
        "contentUdi": "umb://element/f3358f0d7a6b401fa1e73334752b36c0"
      },
      {
        "contentUdi": "umb://element/98ce65967ce940f39da309520ac58147",
        "settingsUdi": "umb://element/386e88276b624564ac5fad2bb12eb6af"
      },
      {
        "contentUdi": "umb://element/a3520d6ba83d4e6fa65aeafd4b097a30",
        "settingsUdi": "umb://element/ef9ce8a447124bf09ee3b6cc0ecb3654"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2eaa3665-a4c5-4e0a-9c7d-df3ff25d2ad4",
      "udi": "umb://element/2e228254f6c14344b3953375559a2ec0",
      "eventTitle": "Novartis Campus",
      "eventURL": "{\"layout\":{\"Umbraco.BlockList\":[{\"contentUdi\":\"umb://element/8b9b0baadc074c028444bd82defcda48\"}]},\"contentData\":[{\"contentTypeKey\":\"71083e4a-8343-45cb-ac79-34a03d4d17a0\",\"udi\":\"umb://element/8b9b0baadc074c028444bd82defcda48\",\"buttonIcon\":\"[{\\\"key\\\":\\\"0c76f4bd-0355-4ea6-882f-daeb2c4de2de\\\",\\\"mediaKey\\\":\\\"e8ce3b59-05e7-4901-9cf1-f20e208023e8\\\"}]\",\"link\":\"[{\\\"name\\\":\\\"Careers\\\",\\\"udi\\\":\\\"umb://document/029e0765846749608c2765a15582e54d\\\"}]\",\"variant\":\"[\\\"primary\\\"]\"}],\"settingsData\":[]}",
      "eventLocationInfo": {
        "markup": "<p><strong>Where</strong></p>\n<p>Novartis Campus<br>Fabrikstrasse 2<br>4056 Basel, Switzerland</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventTime": {
        "markup": "<p><strong>When</strong></p>\n<p>June 25-26 2024<br>10:00 – 18:00 (CEST)</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventImage": [
        {
          "key": "3be1baa9-ae4f-432c-bfd3-f86e0ce43f02",
          "mediaKey": "ef94ddbd-5ef9-4569-b7c3-6cb32091e04f"
        }
      ]
    },
    {
      "contentTypeKey": "2eaa3665-a4c5-4e0a-9c7d-df3ff25d2ad4",
      "udi": "umb://element/a163bf70650947bd9a41be2f8c1acf8d",
      "eventTitle": "Novartis Campus",
      "eventURL": null,
      "eventLocationInfo": {
        "markup": "<p><strong>Where</strong></p>\n<p>Novartis Campus<br>Fabrikstrasse 2<br>4056 Basel, Switzerland</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventTime": {
        "markup": "<p><strong>When</strong></p>\n<p>June 25-26 2024<br>10:00 – 18:00 (CEST)</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventImage": [
        {
          "key": "9395d6ef-53dc-4191-a22b-40271835f250",
          "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
        }
      ]
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/f3358f0d7a6b401fa1e73334752b36c0",
      "title": "Stacking Cards",
      "description": "Stacking Cards Description ",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/eb9a6b61d4414c649b350bdb1cf7d919"
            },
            {
              "contentUdi": "umb://element/4bd9e260747843b08f673f787aa1d18c"
            },
            {
              "contentUdi": "umb://element/af2bcf68458c4c1ca6ec6ee009671050"
            },
            {
              "contentUdi": "umb://element/81a35950b00d4a5993bb43b500325749"
            },
            {
              "contentUdi": "umb://element/be2144dc2e8d4a3191e0f26c7af28828"
            },
            {
              "contentUdi": "umb://element/cab30d8710e54696af69aad026a58186"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/eb9a6b61d4414c649b350bdb1cf7d919",
            "title": "Card 1 ",
            "description": "\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet pellentesque erat, et hendrerit orci imperdiet ac. Nulla ut dui aliquet, suscipit nibh ac, venenatis tortor.",
            "image": [
              {
                "key": "61933b6c-b95f-410a-993b-28884a9e3a31",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/4bd9e260747843b08f673f787aa1d18c",
            "title": "Card 1 ",
            "description": "\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet pellentesque erat, et hendrerit orci imperdiet ac. Nulla ut dui aliquet, suscipit nibh ac, venenatis tortor.",
            "image": [
              {
                "key": "61933b6c-b95f-410a-993b-28884a9e3a31",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/af2bcf68458c4c1ca6ec6ee009671050",
            "title": "Card 1 ",
            "description": "\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet pellentesque erat, et hendrerit orci imperdiet ac. Nulla ut dui aliquet, suscipit nibh ac, venenatis tortor.",
            "image": [
              {
                "key": "61933b6c-b95f-410a-993b-28884a9e3a31",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/81a35950b00d4a5993bb43b500325749",
            "title": "Card 1 ",
            "description": "\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet pellentesque erat, et hendrerit orci imperdiet ac. Nulla ut dui aliquet, suscipit nibh ac, venenatis tortor.",
            "image": [
              {
                "key": "61933b6c-b95f-410a-993b-28884a9e3a31",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/be2144dc2e8d4a3191e0f26c7af28828",
            "title": "Card 1 ",
            "description": "\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet pellentesque erat, et hendrerit orci imperdiet ac. Nulla ut dui aliquet, suscipit nibh ac, venenatis tortor.",
            "image": [
              {
                "key": "61933b6c-b95f-410a-993b-28884a9e3a31",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/cab30d8710e54696af69aad026a58186",
            "title": "Card 1 ",
            "description": "\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet pellentesque erat, et hendrerit orci imperdiet ac. Nulla ut dui aliquet, suscipit nibh ac, venenatis tortor.",
            "image": [
              {
                "key": "61933b6c-b95f-410a-993b-28884a9e3a31",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "fff9ed",
        "label": "lightest-yellow",
        "sortOrder": 8,
        "id": "7"
      }
    },
    {
      "contentTypeKey": "4b945191-7d44-4ea4-a228-635e8d94cac9",
      "udi": "umb://element/98ce65967ce940f39da309520ac58147",
      "title": "Our global presence",
      "regions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1813b487bbb745f687e74018472776f1"
            },
            {
              "contentUdi": "umb://element/1077185ff6974681ac3fa359e7214834"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c24b9f47-ca92-4827-9fd6-0b93a31c1427",
            "udi": "umb://element/1813b487bbb745f687e74018472776f1",
            "regionName": "Europe",
            "countries": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/30d85c17ed73427db9b2a684ec9ca793"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c4721a09-42a4-436f-bba2-c9c3bf9ed298",
                  "udi": "umb://element/30d85c17ed73427db9b2a684ec9ca793",
                  "countryName": "Sweden",
                  "countryCode": "SE",
                  "offices": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/309b5a2d04224a4a8c40fdc9c7ec6c4a"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "84d340cc-8fd8-4a3a-926c-13c5ae3b8d0f",
                        "udi": "umb://element/309b5a2d04224a4a8c40fdc9c7ec6c4a",
                        "officeName": "Stockholm",
                        "address": {
                          "markup": "<div>\n<div>Kungsgatan 37</div>\n<div>111 56 Stockholm</div>\n<div>Sweden</div>\n</div>",
                          "blocks": {
                            "contentData": [],
                            "settingsData": []
                          }
                        },
                        "description": "Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test ",
                        "email": "dummy@email.com",
                        "phone": "0612345678",
                        "image": [
                          {
                            "key": "426c035f-dde0-4d75-9330-2bc8c3193611",
                            "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
                          }
                        ],
                        "linkButton": {
                          "layout": {
                            "Umbraco.BlockList": [
                              {
                                "contentUdi": "umb://element/62e0c877cd574fd59a9501c93f0af12b"
                              }
                            ]
                          },
                          "contentData": [
                            {
                              "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
                              "udi": "umb://element/62e0c877cd574fd59a9501c93f0af12b",
                              "buttonIcon": [],
                              "link": [
                                {
                                  "name": "Home",
                                  "udi": "umb://document/61250d4a10094fcfbf1a5f23ac0ce9f4"
                                }
                              ],
                              "variant": ""
                            }
                          ],
                          "settingsData": []
                        },
                        "triggerX": "46",
                        "triggerY": "71"
                      }
                    ],
                    "settingsData": []
                  },
                  "mapZoom": "7",
                  "mapX": "-2",
                  "mapY": "15",
                  "triggerX": "44",
                  "triggerY": "35"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "c24b9f47-ca92-4827-9fd6-0b93a31c1427",
            "udi": "umb://element/1077185ff6974681ac3fa359e7214834",
            "regionName": "Asia",
            "countries": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d0ffe9242d2a4251a9163c62c8fb50b0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c4721a09-42a4-436f-bba2-c9c3bf9ed298",
                  "udi": "umb://element/d0ffe9242d2a4251a9163c62c8fb50b0",
                  "countryName": "Taiwan",
                  "countryCode": "TW",
                  "offices": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/5e3490dd52a148a7b6618e6eb718840f"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "84d340cc-8fd8-4a3a-926c-13c5ae3b8d0f",
                        "udi": "umb://element/5e3490dd52a148a7b6618e6eb718840f",
                        "officeName": "Taoyuan",
                        "address": {
                          "markup": "<div>\n<div>Kungsgatan 37</div>\n<div>111 56 Taoyuan</div>\n<div>Taiwan</div>\n</div>",
                          "blocks": {
                            "contentData": [],
                            "settingsData": []
                          }
                        },
                        "description": "At the Taoyuan office, we pursue sustainable operations and innovative technologies while leveraging our strong capabilities in design and process development.",
                        "email": "",
                        "phone": "",
                        "image": [],
                        "linkButton": null,
                        "triggerX": "45",
                        "triggerY": "21"
                      }
                    ],
                    "settingsData": []
                  },
                  "mapZoom": "50",
                  "mapX": "-30",
                  "mapY": "-9",
                  "triggerX": "77",
                  "triggerY": "61"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "2eaa3665-a4c5-4e0a-9c7d-df3ff25d2ad4",
      "udi": "umb://element/a3520d6ba83d4e6fa65aeafd4b097a30",
      "eventTitle": "Zurich Dinner",
      "eventURL": "{\"layout\":{\"Umbraco.BlockList\":[{\"contentUdi\":\"umb://element/3d2e0fedda44453db07165cfdc1e8cdb\"}]},\"contentData\":[{\"contentTypeKey\":\"71083e4a-8343-45cb-ac79-34a03d4d17a0\",\"udi\":\"umb://element/3d2e0fedda44453db07165cfdc1e8cdb\",\"buttonIcon\":\"[{\\\"key\\\":\\\"b5d4c019-d29b-43da-a4de-a7297b4688de\\\",\\\"mediaKey\\\":\\\"5d333957-bbe9-41b6-b735-c08352d6634a\\\"}]\",\"link\":\"[{\\\"name\\\":\\\"About us today\\\",\\\"udi\\\":\\\"umb://document/329aaa21d9cb40eeb9605742b6f60897\\\"}]\",\"variant\":null}],\"settingsData\":[]}",
      "eventLocationInfo": {
        "markup": "<p><strong>Where</strong></p>\n<p>downtown</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventTime": {
        "markup": "<p><strong>When</strong></p>\n<p>08.00</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "eventImage": [
        {
          "key": "b4065abc-bbbc-4900-9a4d-40ff63499e4e",
          "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/1723dcb786aa492aaac6f829bd568b04",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/b517194ecd7149e6959f8da4b0cdfbc2",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/386e88276b624564ac5fad2bb12eb6af",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/ef9ce8a447124bf09ee3b6cc0ecb3654",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[[
  "Technology"
]]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[2024-10-31T00:00:00]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5b04dcb85bc74c5eb7529e833b1832ca"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/5b04dcb85bc74c5eb7529e833b1832ca",
      "title": "SHL Medical expert to speak at Novartis Campus in Basel",
      "text": "",
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[[
  "Event"
]]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>