<?xml version="1.0" encoding="utf-8"?>
<Content Key="153dea60-c267-4014-99e1-0af2851f9138" Alias="News &amp; insights (1)" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/NewsInsights1</Path>
    <Trashed>false</Trashed>
    <ContentType>pageOverview</ContentType>
    <CreateDate>2024-10-17T13:18:49</CreateDate>
    <NodeName Default="News &amp; insights (1)">
      <Name Culture="en-us">News &amp; insights (1)</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="329c668c-1355-4b7a-89bc-5c38a8aff208">PageOverview</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4b69a402b1fd4581b475f13467bf3744"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/4b69a402b1fd4581b475f13467bf3744",
      "title": "News & insights",
      "text": {
        "markup": "<p>News &amp; insights</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <noResultsPrimaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsPrimaryLink>
    <noResultsSecondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsSecondaryLink>
    <noResultsText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Empty</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </noResultsText>
    <noResultsTitle>
      <Value Culture="en-us"><![CDATA[News & insights ]]></Value>
    </noResultsTitle>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>