<?xml version="1.0" encoding="utf-8"?>
<Content Key="49a8c6f4-e57d-40d9-8e51-841ed72c4977" Alias="Our Products" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/OurProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2021-07-21T19:24:12</CreateDate>
    <NodeName Default="Our Products">
      <Name Culture="en-us">Our Products</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[[
  "Technology"
]]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Test Description</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5bb3d4fb-7d77-4223-af60-9d2c9b2a13da",
    "mediaKey": "8dea5a73-94ca-4c6a-a1c2-40b2ed0f8ebc"
  }
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ccb83ded86324110b442269ef70ac84e",
        "settingsUdi": "umb://element/6099ba7670d94e90b1282386ed356a2e"
      },
      {
        "contentUdi": "umb://element/f5e24a382bcd43168dac4259d8458398",
        "settingsUdi": "umb://element/4de3d4d801e54d95895779daaccdc233"
      },
      {
        "contentUdi": "umb://element/554c916f179b429582bb3c28bfa0a7c3",
        "settingsUdi": "umb://element/445da65b12ad403d843817685d79c41a"
      },
      {
        "contentUdi": "umb://element/d10e5826cf6445749431d79e31d885c6",
        "settingsUdi": "umb://element/52eb2d8f0ed743e99a608443454485d6"
      },
      {
        "contentUdi": "umb://element/77bc404b52074ef68353659bcdffeef7",
        "settingsUdi": "umb://element/426318f59ed641ed8d569d6ef2be5add"
      },
      {
        "contentUdi": "umb://element/5dda515324334b3997848e2fbd87dc59",
        "settingsUdi": "umb://element/f4c82f040c2d460ca20f48023558d4ad"
      },
      {
        "contentUdi": "umb://element/b16fed43c7754841ad4a66b5ccec7ed3",
        "settingsUdi": "umb://element/0b29f920958745ac8182bd5760751366"
      },
      {
        "contentUdi": "umb://element/556c31fd98d94a11ad07b0c1bfda61ab",
        "settingsUdi": "umb://element/836790ad6b91480fbd6c28746dfc5a59"
      },
      {
        "contentUdi": "umb://element/5bc69437a02c4b86b4c7b2ba8b5e0cd2",
        "settingsUdi": "umb://element/b609e57d704442ae875c09cf8e5692a2"
      },
      {
        "contentUdi": "umb://element/1d170ce63f0748b4a64fec3380fd7732",
        "settingsUdi": "umb://element/50c5b331b9de42cfa234fb38e951310b"
      },
      {
        "contentUdi": "umb://element/b3195ccbb9d84a419f35f04452fe56e8",
        "settingsUdi": "umb://element/32277a30468f436fbf72ef2f6b9895e0"
      },
      {
        "contentUdi": "umb://element/d9cc790940b443fc975c86fb7a03aef3",
        "settingsUdi": "umb://element/35bdc57630734560a8ae801aa3f78239"
      },
      {
        "contentUdi": "umb://element/994525a6eec94188904d46c7bec7e4fb",
        "settingsUdi": "umb://element/5c468f6b1dad4441ac9760ffd871462f"
      },
      {
        "contentUdi": "umb://element/7b606c79246d4e218f26c416b7c71db1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/f5e24a382bcd43168dac4259d8458398",
      "title": "Another white banner",
      "description": {
        "markup": "Description of this white banner",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Careers",
          "udi": "umb://document/029e0765846749608c2765a15582e54d"
        }
      ],
      "secondaryButton": [
        {
          "name": "Brandoos",
          "url": "https://www.brandoos.com/"
        }
      ],
      "mediaPosition": [
        "start"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/64f82e4033494ff1b55830240ac3ff4b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/64f82e4033494ff1b55830240ac3ff4b",
            "image": [
              {
                "key": "0103f55c-f10b-48ab-ba03-7266bb120e8d",
                "mediaKey": "e06a4a80-d83e-4d7a-81a8-3efd4cdd206c"
              }
            ],
            "caption": "some random caption",
            "fullWidth": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/554c916f179b429582bb3c28bfa0a7c3",
      "title": "Facts and figures",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f16772469107453ba5afa4e22dbc0c27"
            },
            {
              "contentUdi": "umb://element/3223b81ca7ae42c8b26b0b104d2dfb35"
            },
            {
              "contentUdi": "umb://element/08be116637284f9f9f8a9e489bfc1ecd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/f16772469107453ba5afa4e22dbc0c27",
            "title": "200",
            "subTitle": "million US dollars invested in US manufacturing site",
            "text": {
              "markup": "<p>The manufacturing site will be awesome and huge and scale your production to the moon.&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/3223b81ca7ae42c8b26b0b104d2dfb35",
            "title": "50",
            "subTitle": "Million in yearly R&D investments",
            "text": {
              "markup": "<p>We develop the future with you...&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/08be116637284f9f9f8a9e489bfc1ecd",
            "title": "1",
            "subTitle": "Dollar spent",
            "text": {
              "markup": "<p>On a lollipop</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/d10e5826cf6445749431d79e31d885c6",
      "title": "October seventeenth",
      "text": {
        "markup": "<p>October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6cfff9dc13574b05943d13e5e63d473a"
            },
            {
              "contentUdi": "umb://element/0dcc93c71ffa44339eddfda69002e34f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/6cfff9dc13574b05943d13e5e63d473a",
            "image": [
              {
                "key": "c467fa49-59fc-4423-be17-8a31ea0bf7d7",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "fullName": "mr no",
            "role": "head of no",
            "location": [
              "Jakobstal"
            ],
            "phoneNumber": "0793096264",
            "email": "tobias.ammann@brandoos.com",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/0dcc93c71ffa44339eddfda69002e34f",
            "image": [
              {
                "key": "50af90d9-3748-4ffb-8487-19b7e81469c7",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "fullName": "Mr yes",
            "role": "head of yes",
            "location": [
              "Zug"
            ],
            "phoneNumber": "0793096264",
            "email": "tobias.ammann@brandoos.com",
            "description": {
              "markup": "<p>October seventeenth October seventeenth October seventeenth October</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "263e351a-172b-4ab5-9883-99a0a23a19dc",
      "udi": "umb://element/77bc404b52074ef68353659bcdffeef7",
      "title": "New component to test",
      "restartLinkLabel": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f21463f62e9b4cac89505914fea88e10"
            },
            {
              "contentUdi": "umb://element/5169381147eb40bcb0b7a099d7c0fcc9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e849b2df-79ec-4eda-933a-144b24cfd5ca",
            "udi": "umb://element/f21463f62e9b4cac89505914fea88e10",
            "year": "1999",
            "title": "test",
            "shortTitle": "test",
            "text": {
              "markup": "<p>test</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "9091f753-84c8-49df-8f7e-ca5efef535e5",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          },
          {
            "contentTypeKey": "e849b2df-79ec-4eda-933a-144b24cfd5ca",
            "udi": "umb://element/5169381147eb40bcb0b7a099d7c0fcc9",
            "year": "2000",
            "title": "test 2",
            "shortTitle": "test 2",
            "text": {
              "markup": "<p>test 2</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "38bbf1aa-6cb3-478c-b547-d2d3d274a141",
                "mediaKey": "8dea5a73-94ca-4c6a-a1c2-40b2ed0f8ebc"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/5dda515324334b3997848e2fbd87dc59",
      "title": "Test Oct 24",
      "description": {
        "markup": "Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Our services",
          "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1e1f93fa87664d7d83717cc261695485"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/1e1f93fa87664d7d83717cc261695485",
            "image": [
              {
                "key": "dba2c937-7704-4ae2-9a40-d25774c92128",
                "mediaKey": "7b8bfa86-84a0-4770-9ec1-318a8a366200"
              }
            ],
            "caption": "",
            "fullWidth": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/b16fed43c7754841ad4a66b5ccec7ed3",
      "title": "Test Oct 24 video",
      "description": {
        "markup": "Test ",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Our services",
          "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4ea67afcce4a482483044b60393740cf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/4ea67afcce4a482483044b60393740cf",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a82c7a0ca8d841768ff2664dad96b3aa"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/a82c7a0ca8d841768ff2664dad96b3aa",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Rabbit",
            "description": "",
            "totalTime": "",
            "closedCaptions": null
          }
        ],
        "settingsData": []
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c26b502e91c8493f8a369a35fab54f99"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/c26b502e91c8493f8a369a35fab54f99",
            "image": [
              {
                "key": "75466cc5-2447-4031-9203-304baaa0d623",
                "mediaKey": "ef94ddbd-5ef9-4569-b7c3-6cb32091e04f"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/ccb83ded86324110b442269ef70ac84e",
      "title": "Media + List/Accordeon",
      "text": {
        "markup": "<p>This is a media + List</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b326853267254e7d9893c929bdd195bc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/b326853267254e7d9893c929bdd195bc",
            "image": [
              {
                "key": "53e1fa7e-20da-4206-94d0-b23b821c1df1",
                "mediaKey": "e0241fd7-d9ab-4ccf-84f6-65c386bae1f1"
              }
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/21397b85e0f14919ac438694e49496c5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/21397b85e0f14919ac438694e49496c5",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3aed7862cb38449da199a8ec5184d192"
                  },
                  {
                    "contentUdi": "umb://element/99b47e823fba44caa1995c1f0762ed32"
                  },
                  {
                    "contentUdi": "umb://element/cb5444ef11f44b79bc0d40b7729aeb9f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/3aed7862cb38449da199a8ec5184d192",
                  "link": [
                    {
                      "name": "Publications & press releases",
                      "udi": "umb://document/4082e1d03d624008a31fd52e5e5f27f4"
                    }
                  ],
                  "icon": [
                    {
                      "key": "f389587b-4b1c-4da2-accb-a1e87b7c63dc",
                      "mediaKey": "47659021-7e15-433b-ab4b-27da3774dace"
                    }
                  ]
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/99b47e823fba44caa1995c1f0762ed32",
                  "link": [
                    {
                      "name": "Blog",
                      "udi": "umb://document/232d0930f6c0469eaefe6b0b54ac5fdb"
                    }
                  ],
                  "icon": []
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/cb5444ef11f44b79bc0d40b7729aeb9f",
                  "link": [
                    {
                      "name": "Google",
                      "url": "https://www.google.com/"
                    }
                  ],
                  "icon": [
                    {
                      "key": "b7c13969-da22-4427-a317-eb559d89b681",
                      "mediaKey": "fadaefb9-4b9b-417e-b491-162c6e7f3643"
                    }
                  ]
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/556c31fd98d94a11ad07b0c1bfda61ab",
      "title": "Why SHL is the best partner for biotech startups",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/88eff221de5944a2b3281316221d222e"
            },
            {
              "contentUdi": "umb://element/5400547618c245f5add0b10a296b98b4"
            },
            {
              "contentUdi": "umb://element/b62e1a12a9ed45e1941bc7e3680de9fc"
            },
            {
              "contentUdi": "umb://element/6b6352acaf674c718167bec24037ed55"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/88eff221de5944a2b3281316221d222e",
            "title": "We grow with you",
            "text": {
              "markup": "<div><span>We are ready to invest in your growth. Our scalable platform allows us to work on projects from small batches to tens of millions of units.&nbsp;</span></div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": [
              {
                "name": "Our services",
                "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/5400547618c245f5add0b10a296b98b4",
            "title": "End-to-end solution",
            "text": {
              "markup": "<div><span>We support you throughout all phases of device development, ensuring you get the right solution and expert insights at every stage.</span></div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": [
              {
                "name": "Injectors",
                "udi": "umb://document/1b97d017d1164368ab4d4d2b0cbdc361"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/b62e1a12a9ed45e1941bc7e3680de9fc",
            "title": "Our track record",
            "text": {
              "markup": "<div><span>We bring the longest experience and strongest track record in terms of number of products launched and customers served in the autoinjector&nbsp;</span>market.</div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/6b6352acaf674c718167bec24037ed55",
            "title": "Low investment and risk",
            "text": {
              "markup": "<div><span>Biotech startups can fully outsource the device development and manufacturing, leveraging SHL’s in-house manufacturing assets without having to invest in their&nbsp;</span>own.</div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/5bc69437a02c4b86b4c7b2ba8b5e0cd2",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cfc653d1d5ae4210999c93a1ce60cbe5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/cfc653d1d5ae4210999c93a1ce60cbe5",
            "quoteText": "AA Tobi Test SHL not only provides state-of-the-art autoinjector technology, but also offers vertically integrated end-to-end solutions that can drive success for various pharmaceutical needs. From design to machinery and manufacturing to final assembly - they can do it all. This is a key strength of SHL and puts them in a unique position in the market.\n",
            "nameAuthor": "Jakob Gjelstrup Kristensen",
            "role": "Senior Vice President Technical Development & Manufacturing",
            "company": "Zealand",
            "image": [
              {
                "key": "c4067cf6-11f0-4e30-9326-62958eaf4364",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/1d170ce63f0748b4a64fec3380fd7732",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/93846e05d69c4b4a8308692e2e7c0c0e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/93846e05d69c4b4a8308692e2e7c0c0e",
            "quoteText": "“As a business partner and strong collaborator since several years, we believe that over the period of time […] SHL has emerged as favorable device supplier which any healthcare or pharmaceutical company can rely upon.\"",
            "nameAuthor": "Carl",
            "role": "Hero",
            "company": "SHL",
            "image": [
              {
                "key": "06a73be7-ef8f-4caa-95cb-cbc6744d3f85",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/b3195ccbb9d84a419f35f04452fe56e8",
      "title": "Test with color?",
      "text": "",
      "image": null,
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d753c19fd5324648bf43f12fd4f1a319"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/d753c19fd5324648bf43f12fd4f1a319",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/25432c34cc294c9aafb21227a3d0ee98"
                  },
                  {
                    "contentUdi": "umb://element/bad886575e8840179baa0f751ad7ad8b"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/25432c34cc294c9aafb21227a3d0ee98",
                  "title": "lalala",
                  "text": {
                    "markup": "<p>lalala</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/bad886575e8840179baa0f751ad7ad8b",
                  "title": "lalala",
                  "text": {
                    "markup": "<p>lalal</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/d9cc790940b443fc975c86fb7a03aef3",
      "title": "Test for Eliane :) ",
      "description": {
        "markup": "This is the team that is at the forefront of designing and developing industry-leading products for SHL Medical.  This ranges from completely new products to modifications for specific markets and ensuring the ongoing integrity of current products.   Here you can help turn customer needs into transformational products – right through to commercial design and development.  We look for a range of skills, including CAD, 2D-3D modelling, cost and technical documentation, as well as prototyping, data science and usability.",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": null,
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/241c870e378a4d739101da05d090d1b9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/241c870e378a4d739101da05d090d1b9",
            "image": [
              {
                "key": "a17cfbd7-8512-4844-8400-3363407572a6",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/994525a6eec94188904d46c7bec7e4fb",
      "title": "Get in touch with our regional specialists",
      "text": {
        "markup": "<p>No matter what your needs are, our BD team is ready to take time for you.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/79095305e4c24a28bc30c89b8d691092"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/79095305e4c24a28bc30c89b8d691092",
            "image": [
              {
                "key": "3ee7ed97-81fd-4142-954f-8c5abf54f5e8",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "fullName": "Michael McGowan",
            "role": "Head of business development EMEA",
            "location": "",
            "phoneNumber": "",
            "email": "michael.mcgowan@shl-medical.com",
            "description": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/7b606c79246d4e218f26c416b7c71db1",
      "title": "Innovation comes in many forms at SHL",
      "description": "As the innovation leader and pioneer, we shape the future and reinvent drug\ndelivery solutions together with our customers.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/037ace01ad1a4df8a74bcab2bf74dee0"
            },
            {
              "contentUdi": "umb://element/d25fac3df6bd46c39fb026c7b4fe2f46"
            },
            {
              "contentUdi": "umb://element/c4c79372a36a44048a6765f82f36568f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/037ace01ad1a4df8a74bcab2bf74dee0",
            "title": "Product innovation",
            "description": "We are the most trusted brand in pharma and biotech, and we have launched over 50 autoinjector combination products. However, we are not stopping now; we are constantly pushing for new innovative products that will allow even more patients to lead better lives through self-administration and improved treatment experiences. ",
            "image": [
              {
                "key": "b7f0ea57-e46b-4425-b84c-e206d1a6570d",
                "mediaKey": "fb2aa18c-99a6-4972-8d85-3c08ac26c0ff"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d25fac3df6bd46c39fb026c7b4fe2f46",
            "title": "Manufacturing innovation",
            "description": "A key component of SHL Medical's success lies in its fully vertically integrated approach. This structure enables us to innovate our production processes, as we design and build our own manufacturing and testing equipment to provide optimal support throughout the device development value chain. By handling the majority of processes in-house, we proudly position ourselves as a comprehensive, end-to-end solution provider.",
            "image": [
              {
                "key": "916030f4-05d7-4ddf-a049-a6a17c0e3b11",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/c4c79372a36a44048a6765f82f36568f",
            "title": "Genuine sustainability",
            "description": "SHL Medical is committed to a truly sustainable approach, addressing environmental responsibility holistically. Rather than engaging in superficial measures, we focus on genuine improvements in our manufacturing processes, implementing innovative changes and continuously pursuing efficiency gains to reduce electricity consumption, minimize manufacturing waste, and more.",
            "image": [
              {
                "key": "6af5cdc5-946a-4752-924f-fa550de530c3",
                "mediaKey": "ef94ddbd-5ef9-4569-b7c3-6cb32091e04f"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4de3d4d801e54d95895779daaccdc233",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/445da65b12ad403d843817685d79c41a",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/52eb2d8f0ed743e99a608443454485d6",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "0a5f5a",
        "label": "dark-green",
        "sortOrder": 7,
        "id": "12"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/426318f59ed641ed8d569d6ef2be5add",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/f4c82f040c2d460ca20f48023558d4ad",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/0b29f920958745ac8182bd5760751366",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/6099ba7670d94e90b1282386ed356a2e",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/836790ad6b91480fbd6c28746dfc5a59",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b609e57d704442ae875c09cf8e5692a2",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 7,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/50c5b331b9de42cfa234fb38e951310b",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/32277a30468f436fbf72ef2f6b9895e0",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/35bdc57630734560a8ae801aa3f78239",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/5c468f6b1dad4441ac9760ffd871462f",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d786fa6b3f4c49f4ac877d30803bb8db"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/d786fa6b3f4c49f4ac877d30803bb8db",
      "title": "one",
      "text": {
        "markup": "<p>two</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "three",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fe25a83389a745bc8f285c1c0c61e888"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/fe25a83389a745bc8f285c1c0c61e888",
            "buttonIcon": [
              {
                "key": "75682a3a-39da-4667-9445-091b78147ef1",
                "mediaKey": "24b9c25c-ce9d-4713-b54b-401e077f523f"
              }
            ],
            "link": [
              {
                "name": "Brandoos",
                "url": "https://www.brandoos.com/"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a5fd1d275fb546a7859691e189ac3f45"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/a5fd1d275fb546a7859691e189ac3f45",
            "buttonIcon": [],
            "link": [
              {
                "name": "Brandoos",
                "url": "https://www.brandoos.com/"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "fef1d1",
  "label": "pale-yellow",
  "sortOrder": 9,
  "id": "6"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d6be2a0d445e4f069d57811c5fa1d08d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/d6be2a0d445e4f069d57811c5fa1d08d",
      "text": "This is slogan text"
    }
  ],
  "settingsData": []
}]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>