<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6fc049f-189f-4043-8b21-88ba0ffd5798" Alias="Product Test Landing" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/ProductTestLanding</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-05T06:41:41</CreateDate>
    <NodeName Default="Product Test Landing">
      <Name Culture="en-us">Product Test Landing</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[[
  "Technology"
]]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Test Description</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5bb3d4fb-7d77-4223-af60-9d2c9b2a13da",
    "mediaKey": "8dea5a73-94ca-4c6a-a1c2-40b2ed0f8ebc"
  }
]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/03ab290aeea34e7b9581caeb0397b2ba",
        "settingsUdi": "umb://element/a19d7186cd934e2ab153ac537f79436d"
      },
      {
        "contentUdi": "umb://element/d276e0679a5a4a5e818381417b4a18dc",
        "settingsUdi": "umb://element/da779ea4065242a288fcd04518f1b2fb"
      },
      {
        "contentUdi": "umb://element/0ee4bdb797374003a5eca42f512316fd",
        "settingsUdi": "umb://element/16b163944b0b48ccac035d75bd375243"
      },
      {
        "contentUdi": "umb://element/5f5406b389e4417d80022806d53e1e75",
        "settingsUdi": "umb://element/c76aef6f1019443a8d448e4a3678c0d1"
      },
      {
        "contentUdi": "umb://element/c715e51c217b41018d0880e81ed0cdd7",
        "settingsUdi": "umb://element/2560f71918ec4e68a505b505e06445e9"
      },
      {
        "contentUdi": "umb://element/25b1b1167bb3421bb9e9240b2809b9f1",
        "settingsUdi": "umb://element/933f450a84a240c987b7e5e2decba4c3"
      },
      {
        "contentUdi": "umb://element/2abbdf8a64184e37bdeba1adac245c98",
        "settingsUdi": "umb://element/02deded304e54b2ba94ad9b71de224ed"
      },
      {
        "contentUdi": "umb://element/03f3c6ceb32c4c89b09cdcc1817d1ffe",
        "settingsUdi": "umb://element/27b94dce94f246ab861c7fe1dd85e553"
      },
      {
        "contentUdi": "umb://element/c9ac21070562495f9b5377817655f914",
        "settingsUdi": "umb://element/926db0280f4240e3b136003d6936fd01"
      },
      {
        "contentUdi": "umb://element/089c83c6ddb34ddcbc67d4b4b950cda3",
        "settingsUdi": "umb://element/fdb9e39ee2704fae9065c3a6a1688c58"
      },
      {
        "contentUdi": "umb://element/fe3ed3d4da09452d91674566eeda59f7",
        "settingsUdi": "umb://element/83be09f0721c49a5ab1c6aef0740fe0d"
      },
      {
        "contentUdi": "umb://element/5680b38ceb444c83a4c6a1c6619e6825",
        "settingsUdi": "umb://element/79c6e180864b48aabf86dc96dfa44f33"
      },
      {
        "contentUdi": "umb://element/dbd3ad54eb5842d3858ffbfa4413c7cb",
        "settingsUdi": "umb://element/ace1242aaf91432eb47eb569274466ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/d276e0679a5a4a5e818381417b4a18dc",
      "title": "Another white banner",
      "description": {
        "markup": "Description of this white banner",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Careers",
          "udi": "umb://document/029e0765846749608c2765a15582e54d"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "start"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/29c6a217864f4a73a6dd5927c4920afb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/29c6a217864f4a73a6dd5927c4920afb",
            "image": [
              {
                "key": "0103f55c-f10b-48ab-ba03-7266bb120e8d",
                "mediaKey": "e06a4a80-d83e-4d7a-81a8-3efd4cdd206c"
              }
            ],
            "caption": "some random caption"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/0ee4bdb797374003a5eca42f512316fd",
      "title": "Cards Test",
      "text": {
        "markup": "<p>Cards Test</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/70c9f0c343d34683a51c889337a3c660"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/70c9f0c343d34683a51c889337a3c660",
            "title": "Test Card 1 Icon?",
            "text": {
              "markup": "<p>Test CardTest Card 1 Icon?Test Card 1 Icon?Test Card 1 Icon?Test Card 1 Icon? 1 Icon?</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/5f5406b389e4417d80022806d53e1e75",
      "title": "October seventeenth",
      "text": {
        "markup": "<p>October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth October seventeenth</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/25a9e814bff64cbbbb8cd3bd32b29eb5"
            },
            {
              "contentUdi": "umb://element/fd0d3946b395424d920e56de6df726e4"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/25a9e814bff64cbbbb8cd3bd32b29eb5",
            "image": [
              {
                "key": "c467fa49-59fc-4423-be17-8a31ea0bf7d7",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "fullName": "mr no",
            "role": "head of no",
            "location": [
              "Jakobstal"
            ],
            "phoneNumber": "0793096264",
            "email": "tobias.ammann@brandoos.com",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/fd0d3946b395424d920e56de6df726e4",
            "image": [
              {
                "key": "50af90d9-3748-4ffb-8487-19b7e81469c7",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "fullName": "Mr yes",
            "role": "head of yes",
            "location": [
              "Zug"
            ],
            "phoneNumber": "0793096264",
            "email": "tobias.ammann@brandoos.com",
            "description": {
              "markup": "<p>October seventeenth October seventeenth October seventeenth October</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "263e351a-172b-4ab5-9883-99a0a23a19dc",
      "udi": "umb://element/c715e51c217b41018d0880e81ed0cdd7",
      "title": "New component to test",
      "restartLinkLabel": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5f14f77ff9a644a0b0592de54c56e64e"
            },
            {
              "contentUdi": "umb://element/b5c17c5ede64496389853091af92fd23"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e849b2df-79ec-4eda-933a-144b24cfd5ca",
            "udi": "umb://element/5f14f77ff9a644a0b0592de54c56e64e",
            "year": "1999",
            "title": "test",
            "shortTitle": "test",
            "text": {
              "markup": "<p>test</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "9091f753-84c8-49df-8f7e-ca5efef535e5",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          },
          {
            "contentTypeKey": "e849b2df-79ec-4eda-933a-144b24cfd5ca",
            "udi": "umb://element/b5c17c5ede64496389853091af92fd23",
            "year": "2000",
            "title": "test 2",
            "shortTitle": "test 2",
            "text": {
              "markup": "<p>test 2</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "image": [
              {
                "key": "38bbf1aa-6cb3-478c-b547-d2d3d274a141",
                "mediaKey": "8dea5a73-94ca-4c6a-a1c2-40b2ed0f8ebc"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/25b1b1167bb3421bb9e9240b2809b9f1",
      "title": "Test Oct 24",
      "description": {
        "markup": "Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24 Test Oct 24",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Our services",
          "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d99d045664ca44ff902243b7710b0193"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/d99d045664ca44ff902243b7710b0193",
            "image": [
              {
                "key": "dba2c937-7704-4ae2-9a40-d25774c92128",
                "mediaKey": "7b8bfa86-84a0-4770-9ec1-318a8a366200"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/2abbdf8a64184e37bdeba1adac245c98",
      "title": "Test Oct 24 video",
      "description": {
        "markup": "Test ",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Our services",
          "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a4c4438b780c4b1ead5e362232e21582"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/a4c4438b780c4b1ead5e362232e21582",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c03acb1cf44648d19a1e6f9440917b63"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/c03acb1cf44648d19a1e6f9440917b63",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/720/Big_Buck_Bunny_720_10s_5MB.mp4"
                }
              ],
              "settingsData": []
            },
            "title": "Rabbit",
            "description": "",
            "totalTime": "",
            "closedCaptions": null
          }
        ],
        "settingsData": []
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/18610a92f97f4ba39afd3a136f20208c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/18610a92f97f4ba39afd3a136f20208c",
            "image": [
              {
                "key": "75466cc5-2447-4031-9203-304baaa0d623",
                "mediaKey": "ef94ddbd-5ef9-4569-b7c3-6cb32091e04f"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/03ab290aeea34e7b9581caeb0397b2ba",
      "title": "Media + List/Accordeon",
      "text": {
        "markup": "<p>This is a media + List</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c0a1cf17c7b34787b494ca7ce8359438"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/c0a1cf17c7b34787b494ca7ce8359438",
            "image": [
              {
                "key": "f60d8e4e-82a2-438a-9b41-a80bb684cb73",
                "mediaKey": "7b8bfa86-84a0-4770-9ec1-318a8a366200"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5007eea0f9544ee6942578f1c5795e75"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c86afab9-7e78-4f35-a6b6-d73e087ff39a",
            "udi": "umb://element/5007eea0f9544ee6942578f1c5795e75",
            "links": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/958a63ef612c4675822e4181f5bec636"
                  },
                  {
                    "contentUdi": "umb://element/fb5d7b654b254f1a98dc760e3e17e755"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/958a63ef612c4675822e4181f5bec636",
                  "link": [
                    {
                      "name": "Publications & press releases",
                      "udi": "umb://document/4082e1d03d624008a31fd52e5e5f27f4"
                    }
                  ],
                  "icon": [
                    {
                      "key": "f389587b-4b1c-4da2-accb-a1e87b7c63dc",
                      "mediaKey": "47659021-7e15-433b-ab4b-27da3774dace"
                    }
                  ]
                },
                {
                  "contentTypeKey": "9dcf44c5-820b-400e-b34a-ae5ccda2d114",
                  "udi": "umb://element/fb5d7b654b254f1a98dc760e3e17e755",
                  "link": [
                    {
                      "name": "Blog",
                      "udi": "umb://document/232d0930f6c0469eaefe6b0b54ac5fdb"
                    }
                  ],
                  "icon": []
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/03f3c6ceb32c4c89b09cdcc1817d1ffe",
      "title": "Why SHL is the best partner for biotech startups",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/49a2e2817a65451792d0e4462895cd2d"
            },
            {
              "contentUdi": "umb://element/71111aa0698c4f22bd22cfc5569b4c05"
            },
            {
              "contentUdi": "umb://element/508580e1b53942b7a1e35708d7281233"
            },
            {
              "contentUdi": "umb://element/80fc3b2ad3a2480ba366657a7898d1c5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/49a2e2817a65451792d0e4462895cd2d",
            "title": "We grow with you",
            "text": {
              "markup": "<div><span>We are ready to invest in your growth. Our scalable platform allows us to work on projects from small batches to tens of millions of units.&nbsp;</span></div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": [
              {
                "name": "Our services",
                "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/71111aa0698c4f22bd22cfc5569b4c05",
            "title": "End-to-end solution",
            "text": {
              "markup": "<div><span>We support you throughout all phases of device development, ensuring you get the right solution and expert insights at every stage.</span></div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": [
              {
                "name": "Injectors",
                "udi": "umb://document/1b97d017d1164368ab4d4d2b0cbdc361"
              }
            ]
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/508580e1b53942b7a1e35708d7281233",
            "title": "Our track record",
            "text": {
              "markup": "<div><span>We bring the longest experience and strongest track record in terms of number of products launched and customers served in the autoinjector&nbsp;</span>market.</div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/80fc3b2ad3a2480ba366657a7898d1c5",
            "title": "Low investment and risk",
            "text": {
              "markup": "<div><span>Biotech startups can fully outsource the device development and manufacturing, leveraging SHL’s in-house manufacturing assets without having to invest in their&nbsp;</span>own.</div>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [],
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/c9ac21070562495f9b5377817655f914",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4ad6383c1e2f4f3f94aae3c9433377da"
            },
            {
              "contentUdi": "umb://element/fa54df0c3daa4207abd919d58db8fad1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/4ad6383c1e2f4f3f94aae3c9433377da",
            "quoteText": "SHL not only provides state-of-the-art autoinjector technology, but also offers vertically integrated end-to-end solutions that can drive success for various pharmaceutical needs. From design to machinery and manufacturing to final assembly - they can do it all. This is a key strength of SHL and puts them in a unique position in the market.\n",
            "nameAuthor": "Jakob Gjelstrup Kristensen",
            "role": "Senior Vice President Technical Development & Manufacturing",
            "company": "Zealand",
            "image": [
              {
                "key": "c4067cf6-11f0-4e30-9326-62958eaf4364",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/fa54df0c3daa4207abd919d58db8fad1",
            "quoteText": "“As a business partner and strong collaborator since several years, we believe that over the period of time […] SHL has emerged as favorable device supplier which any healthcare or pharmaceutical company can rely upon.\"",
            "nameAuthor": "carl",
            "role": "Hero",
            "company": "SHL",
            "image": [
              {
                "key": "44b94538-327c-4fb8-b684-269a20d2033f",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/089c83c6ddb34ddcbc67d4b4b950cda3",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0c508b91ef9d4c24bc06be20e61dfd95"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/0c508b91ef9d4c24bc06be20e61dfd95",
            "quoteText": "“As a business partner and strong collaborator since several years, we believe that over the period of time […] SHL has emerged as favorable device supplier which any healthcare or pharmaceutical company can rely upon.\"",
            "nameAuthor": "Carl",
            "role": "Hero",
            "company": "SHL",
            "image": [
              {
                "key": "06a73be7-ef8f-4caa-95cb-cbc6744d3f85",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/fe3ed3d4da09452d91674566eeda59f7",
      "title": "Test with color?",
      "text": "",
      "image": null,
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f9f321f33a8e4f3582c6eed492cb5fdf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/f9f321f33a8e4f3582c6eed492cb5fdf",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7d2b75ae8bbd49ac81996c995f5c4a55"
                  },
                  {
                    "contentUdi": "umb://element/b876d466d97741aaa763b6f67d7b501f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/7d2b75ae8bbd49ac81996c995f5c4a55",
                  "title": "lalala",
                  "text": {
                    "markup": "<p>lalala</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/b876d466d97741aaa763b6f67d7b501f",
                  "title": "lalala",
                  "text": {
                    "markup": "<p>lalal</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/5680b38ceb444c83a4c6a1c6619e6825",
      "title": "Test for Eliane :) ",
      "description": {
        "markup": "This is the team that is at the forefront of designing and developing industry-leading products for SHL Medical.  This ranges from completely new products to modifications for specific markets and ensuring the ongoing integrity of current products.   Here you can help turn customer needs into transformational products – right through to commercial design and development.  We look for a range of skills, including CAD, 2D-3D modelling, cost and technical documentation, as well as prototyping, data science and usability.",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": null,
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b01401bfad8d4c79ac4269a8e874a388"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/b01401bfad8d4c79ac4269a8e874a388",
            "image": [
              {
                "key": "a17cfbd7-8512-4844-8400-3363407572a6",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/dbd3ad54eb5842d3858ffbfa4413c7cb",
      "title": "Get in touch with our regional specialists",
      "text": {
        "markup": "<p>No matter what your needs are, our BD team is ready to take time for you.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/eccf5ce232bd48aa8400eaa1890d0380"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/eccf5ce232bd48aa8400eaa1890d0380",
            "image": [
              {
                "key": "3ee7ed97-81fd-4142-954f-8c5abf54f5e8",
                "mediaKey": "76d7f03f-a3f8-40f9-bbdb-432c7508464c"
              }
            ],
            "fullName": "Michael McGowan",
            "role": "Head of business development EMEA",
            "location": "",
            "phoneNumber": "",
            "email": "michael.mcgowan@shl-medical.com",
            "description": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/da779ea4065242a288fcd04518f1b2fb",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/16b163944b0b48ccac035d75bd375243",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/c76aef6f1019443a8d448e4a3678c0d1",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/2560f71918ec4e68a505b505e06445e9",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/933f450a84a240c987b7e5e2decba4c3",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/02deded304e54b2ba94ad9b71de224ed",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/a19d7186cd934e2ab153ac537f79436d",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/27b94dce94f246ab861c7fe1dd85e553",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/926db0280f4240e3b136003d6936fd01",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 7,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/fdb9e39ee2704fae9065c3a6a1688c58",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/83be09f0721c49a5ab1c6aef0740fe0d",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/79c6e180864b48aabf86dc96dfa44f33",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ace1242aaf91432eb47eb569274466ac",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/343c2c2ce9d24b0d9932028bdc17ae03"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8729f6c2-664b-464c-ba2d-89ece9eb6ed2",
      "udi": "umb://element/343c2c2ce9d24b0d9932028bdc17ae03",
      "title": "Elexy Product Landing Test",
      "text": {
        "markup": "<p>Elexy™ provides best-in-class flexibility for a wide range of injection profiles, including varying volumes, viscosities, injection times, and primary containers, all while maintaining assured performance. Elexy’s power unit is compatible with drug cassettes containing a pre-filled syringe (1.0 mL and 2.25 mL) or a cartridge (3.0 mL and 5.0 mL).</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2302577f33e04d32af67ddd96af16b21"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/2302577f33e04d32af67ddd96af16b21",
            "buttonIcon": [],
            "link": [
              {
                "name": "Our services",
                "udi": "umb://document/c6048fef4d344093a88d1b4eb6aa0265"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f956cb6563124702a9dbe4e89078f1fe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/f956cb6563124702a9dbe4e89078f1fe",
            "buttonIcon": [],
            "link": [
              {
                "name": "Let's Get Started",
                "url": "google.com"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "image": [
        {
          "key": "33f613d7-ef41-45cf-afa1-434959a66105",
          "mediaKey": "183eb046-80d8-4097-9c60-bb9ee62e2fc9"
        }
      ],
      "hideAnchorLinks": "0",
      "theme": {
        "value": "0a5f5a",
        "label": "dark-green",
        "sortOrder": 2,
        "id": "12"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 9,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e4c9803c8dfb4e7eab75004f4dcd2d78"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/e4c9803c8dfb4e7eab75004f4dcd2d78",
      "text": "This is slogan text"
    }
  ],
  "settingsData": []
}]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>