<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd9dee27-4f1d-4543-bc6e-c4c65663c913" Alias="Product Overview" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/ProductOverview</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProductOverview</ContentType>
    <CreateDate>2024-08-14T08:40:23</CreateDate>
    <NodeName Default="Product Overview">
      <Name Culture="en-us">Product Overview</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="04f4eb60-84e3-4b1a-ad4c-0e082cc075d1">PageProductOverview</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/42eb9eaa27634cadb729b8263d228d3e",
        "settingsUdi": "umb://element/343d961878bb47f79548ad899cb7d099"
      },
      {
        "contentUdi": "umb://element/18ad1efef657407f9dadabffd447feec",
        "settingsUdi": "umb://element/918027a6e6ab4df68204587a24b79a05"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/42eb9eaa27634cadb729b8263d228d3e",
      "title": "Generic cards",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5485621c0e8c4ecb9cf5729dd8df408c"
            },
            {
              "contentUdi": "umb://element/164f5a45598e4117999667dd8fd30fea"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/5485621c0e8c4ecb9cf5729dd8df408c",
            "title": "1000 employeees",
            "subTitle": "",
            "text": {
              "markup": "<p>1000 employeees</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/164f5a45598e4117999667dd8fd30fea",
            "title": "1000 employeees",
            "subTitle": "",
            "text": {
              "markup": "<p>1000 employeees</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/18ad1efef657407f9dadabffd447feec",
      "title": "Product cards with specs",
      "text": {
        "markup": "<p>Product cards with specs</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f56fbcd7ba0a42fc9803c39b5acb394c"
            },
            {
              "contentUdi": "umb://element/cece289ad7874ef882886d4fe22c4418"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/f56fbcd7ba0a42fc9803c39b5acb394c",
            "productPage": "umb://document/3d6e9891755c4162b64cd994fa457e21"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/cece289ad7874ef882886d4fe22c4418",
            "productPage": "umb://document/13016a1375854e24a69a92faf37ba563"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/343d961878bb47f79548ad899cb7d099",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/918027a6e6ab4df68204587a24b79a05",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c43dec41d4c2482894cbc85dbb1b5140"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/c43dec41d4c2482894cbc85dbb1b5140",
      "title": "Products",
      "text": {
        "markup": "<p>Display of our products</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <noResultsPrimaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsPrimaryLink>
    <noResultsSecondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsSecondaryLink>
    <noResultsText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>No results found description</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </noResultsText>
    <noResultsTitle>
      <Value Culture="en-us"><![CDATA[No results found]]></Value>
    </noResultsTitle>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>