<?xml version="1.0" encoding="utf-8"?>
<Content Key="011ae59b-cd57-499b-a8a8-56aeda81c5ab" Alias="test-be" Level="2">
  <Info>
    <Parent Key="61250d4a-1009-4fcf-bf1a-5f23ac0ce9f4">Home</Parent>
    <Path>/Home/testBe</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-09-04T16:44:14</CreateDate>
    <NodeName Default="test-be">
      <Name Culture="en-us">test-be</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0fbb738a1b15407185045d9e7d2a92c1",
        "settingsUdi": "umb://element/20d01d376b18413e8282c5e52da84930"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4b945191-7d44-4ea4-a228-635e8d94cac9",
      "udi": "umb://element/0fbb738a1b15407185045d9e7d2a92c1",
      "title": "Our global presence",
      "regions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/739b8492bb824fb791ed1f9788be5d2c"
            },
            {
              "contentUdi": "umb://element/976fe1c3ccc540be8191e8010a436cbd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c24b9f47-ca92-4827-9fd6-0b93a31c1427",
            "udi": "umb://element/739b8492bb824fb791ed1f9788be5d2c",
            "regionName": "Europe",
            "countries": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3ad3664b66844a2b861e16fd97c4c359"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c4721a09-42a4-436f-bba2-c9c3bf9ed298",
                  "udi": "umb://element/3ad3664b66844a2b861e16fd97c4c359",
                  "countryName": "Sweden",
                  "countryCode": "SE",
                  "offices": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/6a601e51b7ca4fdf97de3506d14dfd3d"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "84d340cc-8fd8-4a3a-926c-13c5ae3b8d0f",
                        "udi": "umb://element/6a601e51b7ca4fdf97de3506d14dfd3d",
                        "officeName": "Stockholm",
                        "address": {
                          "markup": "<div>\n<div>Kungsgatan 37</div>\n<div>111 56 Stockholm</div>\n<div>Sweden</div>\n</div>",
                          "blocks": {
                            "contentData": [],
                            "settingsData": []
                          }
                        },
                        "description": "At the Stockholm office, we pursue sustainable operations and innovative technologies while leveraging our strong capabilities in design and process development.",
                        "email": "",
                        "phone": "",
                        "image": [],
                        "linkButton": null,
                        "triggerX": "46",
                        "triggerY": "71"
                      }
                    ],
                    "settingsData": []
                  },
                  "mapZoom": "7",
                  "mapX": "-2",
                  "mapY": "15",
                  "triggerX": "44",
                  "triggerY": "35"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "c24b9f47-ca92-4827-9fd6-0b93a31c1427",
            "udi": "umb://element/976fe1c3ccc540be8191e8010a436cbd",
            "regionName": "Asia",
            "countries": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3d12e61690e6432aa56aecafd85cacf8"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "c4721a09-42a4-436f-bba2-c9c3bf9ed298",
                  "udi": "umb://element/3d12e61690e6432aa56aecafd85cacf8",
                  "countryName": "Taiwan",
                  "countryCode": "TW",
                  "offices": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/15fbf1dd96014e80b56ae01e42c36002"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "84d340cc-8fd8-4a3a-926c-13c5ae3b8d0f",
                        "udi": "umb://element/15fbf1dd96014e80b56ae01e42c36002",
                        "officeName": "Taoyuan",
                        "address": {
                          "markup": "<div>\n<div>Kungsgatan 37</div>\n<div>111 56 Taoyuan</div>\n<div>Taiwan</div>\n</div>",
                          "blocks": {
                            "contentData": [],
                            "settingsData": []
                          }
                        },
                        "description": "At the Taoyuan office, we pursue sustainable operations and innovative technologies while leveraging our strong capabilities in design and process development.",
                        "email": "",
                        "phone": "",
                        "image": [],
                        "linkButton": null,
                        "triggerX": "45",
                        "triggerY": "21"
                      }
                    ],
                    "settingsData": []
                  },
                  "mapZoom": "50",
                  "mapX": "-30",
                  "mapY": "-9",
                  "triggerX": "77",
                  "triggerY": "61"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/20d01d376b18413e8282c5e52da84930",
      "identifier": "",
      "navigationTitle": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2b0236ecb05748b8984805b884e0f967"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/2b0236ecb05748b8984805b884e0f967",
      "title": "Hero Title",
      "primaryLink": null,
      "secondaryLink": null,
      "theme": "",
      "subTitle": "",
      "text": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[[
  "Publication"
]]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>