{#
Options:
title: string (required)
image: object (required)
tag: string (required)
url: string
date: string
description: string
cta: string
modalId: string
#}

{% from 'card-overlay.html' import cardOverlay %}
{% from 'image.html' import image %}

{% macro article(data) %}
  <{{ data.url and 'a' or 'button' }} class="c-article"
  {% if not data.url and data.modalId %} aria-controls="{{ data.modalId }}" aria-label="Open modalbox" {% endif %}>

  <div class="article__image-container">
    {{ image({
      objectFit: true,
      classes: 'article__image',
      imageStyle: 'article'
    }) }}

    {{ cardOverlay({
      classes: 'article__card-overlay',
      tag: data.tag,
      position: 'start',
      visible: true
    }) }}
  </div>

  {% if data.date %}
    <p class="article__date">{{ data.date }}</p>
  {% endif %}

  <h3 class="article__title">{{ data.title }}</h3>

  {% if data.description %}
    <p class="article__description">{{ data.description }}</p>
  {% endif %}

  {% if data.cta %}
    <p class="article__cta u-link">{{ data.cta }}</p>
  {% endif %}

  </{{ data.url and 'a' or 'button' }}>
{% endmacro %}
