@model DTNL.UmbracoCms.Web.Components.SearchTrigger;

<div class="c-search-trigger">
    <button class="search-trigger__button"
            aria-controls="navigation-mobile-search">
        <svg src="@SvgAliases.Icons.Search" />
        @Model.SearchLabel
    </button>
</div>
