.c-filters {
  position: sticky;
  top: 0;
  z-index: 5;
  transition: 300ms;
  transition-property: top, box-shadow;

  &:first-child {
    margin-block-start: $spacing-80;
  }

  .header--is-sticky.header--is-going-up & {
    top: 140px;
  }

  .is--filters-sticky & {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  .modal__body {
    margin-block-start: calc(#{$spacing-16} * -1);
  }
}

.filters__inner {
  @include container;
  padding-block: $spacing-16;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters__amount-label {
  @include h5;
}

.filters__form {
  overflow-y: scroll;
}

.filters__filter-container {
}
