@model DTNL.UmbracoCms.Web.Components.CardCarousel

<h2 class="section-card-carousel__title" asp-if="@Model.Title">@Model.Title</h2>

<div class="section-card-carousel__container">
    {% if data.description or data.ctaPrimary or data.ctaSecondary %}
    <div class="section-card-carousel__content-outer">
        <div class="section-card-carousel__content-inner">
            {% if data.description %}
            <p class="section-card-carousel__description">{{ data.description }}</p>
            {% endif %}
            <div class="section-card-carousel__button-container">
                {% if data.ctaPrimary %}
                {{ button(data.ctaPrimary | clone | merge({icon: 'arrow-top-right'})) }}
                {% endif %}
                {% if data.ctaSecondary %}
                {{ button(data.ctaSecondary| clone | merge({variant: "secondary", icon: 'arrow-top-right'})) }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {# CASE: show no carousel | cards.length <= 2 or there are three card, with the option to not display them in a carousel  #}
    {% if data.cards | length <= 2 or classShowThreeCardsSideBySide %}
    {% for cardData in data.cards %}
    {{ socialCarouselCard(cardData, data.carouselCardType) }}
    {% endfor %}
    {% else %}
    {# CASE: show carousel | cards.length > 2  #}
    {% call carousel({
    classes: "section-card-carousel__carousel",
    pagination: true,
    slidesDesktop: 3,
    slidesTablet: 2,
    slidesMobile: 1.2
    }) %}
    {% for cardData in data.cards %}
    <div class="swiper-slide">
        {{ socialCarouselCard(cardData, data.carouselCardType) }}
    </div>
    {% endfor %}
    {% endcall %}
    {% endif %}
</div>
