@model DTNL.UmbracoCms.Web.Components.DownloadOverlay

<div class="c-download-overlay t-white">
    <partial name="Modal" model="@Model.Modal">
        <partial name="PardotForm" model="@Model.PardotDownloadForm" />
    </partial>
</div>
