<?xml version="1.0" encoding="utf-8"?>
<Content Key="afa88453-f84f-49a5-a408-614b1d32d180" Alias="Device development" Level="3">
  <Info>
    <Parent Key="c6048fef-4d34-4093-a88d-1b4eb6aa0265">Our services</Parent>
    <Path>/Home/OurServices/DeviceDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-10-16T07:23:28</CreateDate>
    <NodeName Default="Device development">
      <Name Culture="en-us">Device development</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/81c921bea3be41c98038853661a07848",
        "settingsUdi": "umb://element/b06085406cbb4f87977ee9ffb91f027d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/81c921bea3be41c98038853661a07848",
      "title": "Overview carousel",
      "text": {
        "markup": "<p>This is the overview carousel</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fc4f9607c4034d838f9701bf87e5c5c8"
            },
            {
              "contentUdi": "umb://element/da11ad90549043f886f9d03978cc2ba2"
            },
            {
              "contentUdi": "umb://element/b7b716d9f7bb42aba4090683d4b6918c"
            },
            {
              "contentUdi": "umb://element/fdabb6aa9e254bddb25164b74ef0ff32"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/fc4f9607c4034d838f9701bf87e5c5c8",
            "title": "Card 1",
            "text": {
              "markup": "<p>This is card 1</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [
              {
                "key": "cc21e057-08c2-4104-ae5c-7a913c75f8dd",
                "mediaKey": "e8ce3b59-05e7-4901-9cf1-f20e208023e8"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/da11ad90549043f886f9d03978cc2ba2",
            "title": "Card 2",
            "text": {
              "markup": "<p>This is card 2</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [
              {
                "key": "12307a27-402b-416f-b891-04aa3b729d11",
                "mediaKey": "e8ce3b59-05e7-4901-9cf1-f20e208023e8"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/b7b716d9f7bb42aba4090683d4b6918c",
            "title": "Card 3",
            "text": "",
            "icon": [
              {
                "key": "b0a7638e-580c-43f0-a424-0422b849fde7",
                "mediaKey": "e8ce3b59-05e7-4901-9cf1-f20e208023e8"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/fdabb6aa9e254bddb25164b74ef0ff32",
            "title": "Card 4",
            "text": {
              "markup": "<p>This is card 4</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": [
              {
                "key": "e1e6eb07-77e6-4316-8c20-5b50195b1d6e",
                "mediaKey": "e8ce3b59-05e7-4901-9cf1-f20e208023e8"
              }
            ],
            "link": null
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b06085406cbb4f87977ee9ffb91f027d",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2730d6d50a754563a8d7310267125e5c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/2730d6d50a754563a8d7310267125e5c",
      "title": "Device development",
      "text": {
        "markup": "<p>Device development</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d1e296c84a35433fb8802b5fea03212a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/d1e296c84a35433fb8802b5fea03212a",
            "buttonIcon": [],
            "link": [
              {
                "name": "Technical services",
                "udi": "umb://document/1f31edb24e57421ca6558c8e46ac4347"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "baedf3",
  "label": "pale-blue",
  "sortOrder": 7,
  "id": "8"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>