<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f31edb2-4e57-421c-a655-8c8e46ac4347" Alias="Support services" Level="3">
  <Info>
    <Parent Key="c6048fef-4d34-4093-a88d-1b4eb6aa0265">Our services</Parent>
    <Path>/Home/OurServices/SupportServices</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-09-18T07:13:07</CreateDate>
    <NodeName Default="Support services">
      <Name Culture="en-us">Support services</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a44cc684235f48dab3453e73534fc118",
        "settingsUdi": "umb://element/cab7366e5ff8482a885745eba67b8de9"
      },
      {
        "contentUdi": "umb://element/6d31a90703ff4911a5396d84e248e534",
        "settingsUdi": "umb://element/4f1dc181e0ca4f8aa4633419912773ef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/a44cc684235f48dab3453e73534fc118",
      "title": "Services Accordion with 14 elements",
      "text": {
        "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8fb149eaf72243848cdcc7c6b1a8b1b9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/8fb149eaf72243848cdcc7c6b1a8b1b9",
            "image": [
              {
                "key": "82fdad45-84df-4e04-8d8b-60e393a098bb",
                "mediaKey": "ef94ddbd-5ef9-4569-b7c3-6cb32091e04f"
              }
            ],
            "caption": "Service XYZ is awesome"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/21e0cf1c26da4d1689df8f3894750d6a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/21e0cf1c26da4d1689df8f3894750d6a",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c647d3b6dee643a683b9598694a2bd84"
                  },
                  {
                    "contentUdi": "umb://element/ed02adcf90c1459396ff6fd7c7ea7e2a"
                  },
                  {
                    "contentUdi": "umb://element/b3a39b0f55db4c85ae017ddb61fa5fc8"
                  },
                  {
                    "contentUdi": "umb://element/0cc733361f1b49828f1fc31cdfc2e5cd"
                  },
                  {
                    "contentUdi": "umb://element/ffca8336a30b4a1eb12ae32a0f0ab5a8"
                  },
                  {
                    "contentUdi": "umb://element/74ea37c57e1c436a93cadc20257f7b97"
                  },
                  {
                    "contentUdi": "umb://element/0d8a4815036942b2ab73829bf2bf7e45"
                  },
                  {
                    "contentUdi": "umb://element/fe77943168ed4c309c6dab31ad69b73b"
                  },
                  {
                    "contentUdi": "umb://element/dd1be82b38bf41c3b49abccf1fe829f3"
                  },
                  {
                    "contentUdi": "umb://element/ed6bd0ca07614f38b052ccd69a042e77"
                  },
                  {
                    "contentUdi": "umb://element/75be98842a654d8584279e165a9b3d51"
                  },
                  {
                    "contentUdi": "umb://element/e8320e7488ab420dbfc2beb89fdd16a9"
                  },
                  {
                    "contentUdi": "umb://element/2765eb3931fa4a679d0241437b9563b8"
                  },
                  {
                    "contentUdi": "umb://element/746cf6e8c9d4423a8e0d3dc3efb486a5"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/c647d3b6dee643a683b9598694a2bd84",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/ed02adcf90c1459396ff6fd7c7ea7e2a",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/b3a39b0f55db4c85ae017ddb61fa5fc8",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0cc733361f1b49828f1fc31cdfc2e5cd",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/ffca8336a30b4a1eb12ae32a0f0ab5a8",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/74ea37c57e1c436a93cadc20257f7b97",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0d8a4815036942b2ab73829bf2bf7e45",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/fe77943168ed4c309c6dab31ad69b73b",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/dd1be82b38bf41c3b49abccf1fe829f3",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/ed6bd0ca07614f38b052ccd69a042e77",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/75be98842a654d8584279e165a9b3d51",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/e8320e7488ab420dbfc2beb89fdd16a9",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/2765eb3931fa4a679d0241437b9563b8",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/746cf6e8c9d4423a8e0d3dc3efb486a5",
                  "title": "Service one",
                  "text": {
                    "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "",
      "primaryLink": null,
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/6d31a90703ff4911a5396d84e248e534",
      "title": "Leading in final assembly services",
      "description": "Our state-of-the-art facility in Florida leads the industry in final assembly services, offering equipment qualification, process development, design transfer, and turnkey assembly. Equipped with advanced labeling, packaging, and serialization capabilities, we deliver end-to-end solutions tailored to your combination product needs, ensuring precision and efficiency at every stage.\n\nOur state-of-the-art facility in Florida leads the industry in final assembly services, offering equipment qualification, process development, design transfer, and turnkey assembly. Equipped with advanced labeling, packaging, and serialization capabilities, we deliver end-to-end solutions tailored to your combination product needs, ensuring precision and efficiency at every stage\n\n- ads\n- asd\n- asd\n",
      "primaryButton": null,
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/58ea3b51233043aba313c4097eb4992f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/58ea3b51233043aba313c4097eb4992f",
            "image": [
              {
                "key": "de29e71c-2b09-49df-84c1-bd5855193bea",
                "mediaKey": "ef94ddbd-5ef9-4569-b7c3-6cb32091e04f"
              }
            ],
            "caption": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/cab7366e5ff8482a885745eba67b8de9",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4f1dc181e0ca4f8aa4633419912773ef",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <contentTags>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </contentTags>
    <date>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </date>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3da0b2ce08034aa2a9d14149b401bb33"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/3da0b2ce08034aa2a9d14149b401bb33",
      "title": "Testing and technical services",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4a885c56a15942988dbcc14ec5d3989c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/4a885c56a15942988dbcc14ec5d3989c",
            "buttonIcon": [],
            "link": [
              {
                "name": "Product Overview",
                "udi": "umb://document/dd9dee274f1d4543bc6ec4c65663c913"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null,
      "text": {
        "markup": "<p>Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "f3f9f8",
  "label": "pastel-blue",
  "sortOrder": 8,
  "id": "9"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1c64b9540fe1469fb517fb852e9622bd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6bb08325-ffb2-433e-a401-b24693121f45",
      "udi": "umb://element/1c64b9540fe1469fb517fb852e9622bd",
      "text": "Monday. Tuesday. Wednesday. Thursday. Friday."
    }
  ],
  "settingsData": []
}]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <type>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </type>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>