{% from 'modal.html' import modal  %}
{% import 'accordion.html' as accordion %}
{% import 'form-elements.html' as form %}
{% from 'button.html' import button %}

{% set filtersLabels = global.resource.filters %}

{% call modal({
  size: 'aside',
  id: 'modal-filters',
  variant: 'drawer-right',
  title: filtersLabels.sortAndFilter,
  keepScrollPosition: true,
  classes: 'filters__modal modal--drawer-mobile-full-height',
  hook: "filters-modal"
}) %}

    {% if data.filters.length %}
    {% call form.form({
      class: 'filters__form',
      method: 'GET',
      action: global.api.filtersFormAction,
      async: true
    }) %}

      {% call accordion.default({
        classes: 'filters__accordion',
        variant: 'specs'
      }) %}
        {# this emtpy span is needed for the first accordion item to get full height and animate correctly #}
        <span></span>

        {% for filter in data.filters %}

          {% if filter.options.length %}
            {% call accordion.item({
              id: 'filter' + filter.label,
              title: filter.label
            }) %}

              {% set moreThanFourOptions = filter.options.length > 4 %}

              <fieldset class="filters__accordion-options">
                {{ form[filter.inputType]({
                  name: filter.label,
                  class: 'filters__accordion-options-item',
                  options: filter.options,
                  inputHook: 'filter-checkbox'
                }) }}
              </fieldset>


              {# @todo check with anne the specs for this #}
              {# {% if moreThanFourOptions %}
              {{ button({
                variant: 'link',
                label: filtersLabels.viewMoreOptions,
                class: 'filters__options-link',
                url: '#'
              })}}
              {% endif %} #}

            {% endcall %}
          {% endif %}

        {% endfor %}

      {% endcall %}

    {% endcall %}
  {% endif %}

  <div class="filters__sticky-buttons-wrapper">
    {{ button({
      label: global.resource.filters.show + ' ' + data.totalAmount + ' ' + global.resource.filters.results,
      element: 'button',
      class: 'filters__sticky-button',
      hook: 'filters-sticky-button js-hook-modal-close-btn'
    }) }}

    {{ button({
      label: global.resource.filters.resetAll,
      element: 'button',
      size: 'small',
      variant: 'link-underlined',
      hook: 'filters-sticky-button js-hook-filters-reset-button',
      attr: 'data-url="__api-response--filters.html"'
    }) }}
  </div>

{% endcall %}
