{% from 'card-image.html' import cardImage %}

{% macro flyout(data) %}

  <div class="c-flyout" js-hook-flyout aria-hidden="true" id="flyout-{{ data.id }}">
    <div class="flyout__container">
      <div class="flyout__content">
        <div class="flyout__title-column">
          <h2 class="flyout__title">{{ data.title }}</h2>
          <p class="flyout__description">{{ data.content }}</p>
          <a class="flyout__cta" href="{{ data.url }}" js-hook-flyout-main-cta>{{ data.title }}</a>
        </div>

        <ul class="flyout__main-item-list">
          {% for item in data.subitems %}
            <li class="flyout__main-item{% if loop.index0 === 0 %} is--open{% endif %}" js-hook-flyout-main-item>
              {% if item.subitems %}
                <button class="flyout__main-item-button" js-hook-flyout-main-item-anchor aria-expanded="false" aria-controls="flyout-list-{{ data.id }}-{{ loop.index0 }}">
                  {{ item.title }}

                  <div class="flyout__main-item-button-icon">
                    {% svg 'icons/chevron-right' %}
                  </div>
                </button>
              {% else %}
                <a href="{{ item.url }}" class="flyout__main-item-button" js-hook-flyout-main-item-anchor aria-expanded="false" aria-controls="flyout-list-{{ data.id }}-{{ loop.index0 }}">
                  {{ item.title }}
                </a>
              {% endif %}

              <ul class="flyout__subitem-list" id="flyout-list-{{ data.id }}-{{ loop.index0 }}">
                {% for subitem in item.subitems %}
                  <li class="flyout__subitem">
                    <a class="flyout__subitem-anchor" href="{{ subitem.url }}" js-hook-flyout-sub-item-anchor>
                      {{ subitem.title }}
                    </a>
                  </li>
                {% endfor %}
                {% if item.all %}
                  <li>
                    <a class="flyout__subitem-all" href="{{ item.all.url }}" js-hook-flyout-sub-item-anchor>{{ item.all.title }}</a>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endfor %}
        </ul>

        {% if data.feature %}
          <div class="flyout__feature-column">
            {{ cardImage({
              url: data.feature.url,
              image: data.feature.image,
              title: data.feature.title,
              content: data.feature.content
            }) }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endmacro %}
