<?xml version="1.0" encoding="utf-8"?>
<Content Key="488d367b-a982-4883-b4a4-be3cf51ea3ee" Alias="Autoinjectors" Level="3">
  <Info>
    <Parent Key="62f20918-7dd8-4024-ae08-fa675cd79656">Our products</Parent>
    <Path>/Homepage/OurProducts/Autoinjectors</Path>
    <Trashed>false</Trashed>
    <ContentType>pageProductOverview</ContentType>
    <CreateDate>2024-11-13T16:20:20</CreateDate>
    <NodeName Default="Autoinjectors">
      <Name Culture="en-us">Autoinjectors</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="04f4eb60-84e3-4b1a-ad4c-0e082cc075d1">PageProductOverview</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/04d4cad026e14e3a9be8ff6b8a6d23d5",
        "settingsUdi": "umb://element/ccaa62ffc6f4466c856cdd823f276335"
      },
      {
        "contentUdi": "umb://element/f7a033192d1f4fb0a4cb265fc49c99b0",
        "settingsUdi": "umb://element/be48d3266cb2420fb9b721b920113e56"
      },
      {
        "contentUdi": "umb://element/74f1e5dcfec14fa389229ec0b5f01c7f",
        "settingsUdi": "umb://element/a7db22d28c2443919551431c42795a9a"
      },
      {
        "contentUdi": "umb://element/725b2d3e1ba747ab983e47e375aa75b3",
        "settingsUdi": "umb://element/9c26405d03a845a291d060dfa78de15c"
      },
      {
        "contentUdi": "umb://element/8984cce688f541599c9aac61200f55d5",
        "settingsUdi": "umb://element/da2c997e3fad41fca9492f406750234d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/04d4cad026e14e3a9be8ff6b8a6d23d5",
      "title": "Autoinjector technology",
      "description": {
        "markup": "<p>Our autoinjector technologies combine precision engineering with user-friendly design, offering reliable and effective self-injection solutions. From pre-filled devices to reusable systems, our autoinjector technologies are designed to accommodate various drug formulations and patient needs, ensuring a seamless and comfortable injection experience.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Curious about our Molly® platform?",
          "udi": "umb://document/e58cd0d25ff1434488a091dab0103fcf"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6d17781e8e58493b914d20464430b3fd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/6d17781e8e58493b914d20464430b3fd",
            "image": [
              "{\"Id\":\"trx7bpfthjpnkmk8cqqkgb6\",\"FileName\":\"molly-1.0-device-packaging.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/trx7bpfthjpnkmk8cqqkgb6/molly-10-device-packaging.jpg\",\"AssetId\":\"9wphtk87jwhc8fxwtf4hk79\",\"AssetName\":\"molly-1.0-device-packaging\",\"AssetDescription\":\"\\u003Cp\\u003EMolly 1.0 medical autoinjector device and package\\u003C/p\\u003E\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/f7a033192d1f4fb0a4cb265fc49c99b0",
      "title": "The benefits of our autoinjectors",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/02f3b41f0623481f920e655eb8010188"
            },
            {
              "contentUdi": "umb://element/4a82128728f141b38b41de96db9acf6c"
            },
            {
              "contentUdi": "umb://element/42100b24e1ea4ad18f0f2fc3e2e69158"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/02f3b41f0623481f920e655eb8010188",
            "title": "Enhanced patient convenience",
            "text": {
              "markup": "<p>By reducing the reliance on hospital visits through self-injections at home.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/4a82128728f141b38b41de96db9acf6c",
            "title": "Extended drug lifecycle",
            "text": {
              "markup": "<p>By differentiating drug products through innovative delivery solutions.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": null
          },
          {
            "contentTypeKey": "4f676562-3620-4dd8-84f6-41e3a4bb26d9",
            "udi": "umb://element/42100b24e1ea4ad18f0f2fc3e2e69158",
            "title": "Expanded applications",
            "text": {
              "markup": "<p>By making autoinjectors suitable for all ages and different diseases.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "icon": "",
            "link": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "fef1ced5-3e44-4c02-a3ba-ece0f3223fac",
      "udi": "umb://element/74f1e5dcfec14fa389229ec0b5f01c7f",
      "title": "Therapy areas",
      "text": {
        "markup": "<p>Our innovative solutions are designed to improve the treatment experience across multiple therapeutic areas. Currently, our products support 12 out of 12 key therapeutic areas according to the IQVIA categorization as of December 2023.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ad846772611142d086a8ceeaff5cf27e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/ad846772611142d086a8ceeaff5cf27e",
            "image": [
              "{\"Id\":\"67rg6v89wbpt56mb7pxj9z\",\"FileName\":\"StockImage_shutterstock_457895536.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/67rg6v89wbpt56mb7pxj9z/StockImage_shutterstock_457895536.jpg\",\"AssetId\":\"488qt26sgg3bk54c39gx4wh\",\"AssetName\":\"StockImage shutterstock 457895536\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      },
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ad965e811ab04966b666e6e08fe0c287"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f2ad5855-e78e-4a62-b5f6-b60f76753014",
            "udi": "umb://element/ad965e811ab04966b666e6e08fe0c287",
            "accordions": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0f339e23f36648e78fd949da0b04cec4"
                  },
                  {
                    "contentUdi": "umb://element/f537191fe51d4b299ad2074b75018313"
                  },
                  {
                    "contentUdi": "umb://element/07a85d5b17924dac91e5a0e71cc56dc2"
                  },
                  {
                    "contentUdi": "umb://element/84e73614360f4a8eaa2637effe3226dc"
                  },
                  {
                    "contentUdi": "umb://element/674e567558c34545b15c84fa82e2c9d3"
                  },
                  {
                    "contentUdi": "umb://element/18525c7a7a464ceeadee3c655d672175"
                  },
                  {
                    "contentUdi": "umb://element/29add147c86f4d1d93cac938845c7530"
                  },
                  {
                    "contentUdi": "umb://element/6c1c184154ea420b8db6fe56925941aa"
                  },
                  {
                    "contentUdi": "umb://element/e7b75ad54bea439f83e3be68c246c2aa"
                  },
                  {
                    "contentUdi": "umb://element/a5c44ac087ca4d9bb054b60085c9b7d3"
                  },
                  {
                    "contentUdi": "umb://element/afd4450b3bf3438b803a859edff524b7"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/0f339e23f36648e78fd949da0b04cec4",
                  "title": "Endocrine and metabolic",
                  "text": {
                    "markup": "<p>Endocrine and metabolic diseases encompass a wide range of disorders that arise from hormonal imbalances or disruptions in the body’s metabolic processes, impacting everything from blood sugar regulation to bone health. SHL Medical has been at the forefront of delivering self-injection solutions for combination products used to treat conditions such as type 2 diabetes and hypercholesterolemia, as well as emerging treatments for weight management.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/f537191fe51d4b299ad2074b75018313",
                  "title": "Musculoskeletal",
                  "text": {
                    "markup": "<p>Musculoskeletal diseases affect the bones, muscles, joints, and connective tissues, often leading to pain, disability, and a reduced quality of life. Treating and managing these diseases requires a comprehensive approach. Today, around 20 of all the autoinjector combination products that SHL Medical helped develop are indicated for various musculoskeletal conditions, including one of the oldest blockbuster biologics indicated for rheumatoid arthritis and ankylosing spondylitis.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/07a85d5b17924dac91e5a0e71cc56dc2",
                  "title": "Dermatology",
                  "text": {
                    "markup": "<p>Dermatological diseases refer to a broad range of conditions affecting the skin, hair, and nails. These conditions vary widely in cause, severity, and symptoms, and can include infections, inflammatory disorders, autoimmune diseases, and skin cancers. Symptoms often involve changes in skin appearance, such as redness, rashes, scaling, itching, or abnormal pigmentation. In 2020, an autoinjector based on SHL Medical’s Molly® modular platform technology was approved for the treatment of atopic disorders, setting a record as the world’s first 2.0 mL autoinjector combination product.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/84e73614360f4a8eaa2637effe3226dc",
                  "title": "Cardiovascular",
                  "text": {
                    "markup": "<p>Cardiovascular diseases (CVDs) are among the leading causes of mortality globally. CVDs are a group of disorders affecting the heart and blood vessels, and these conditions are often caused by risk factors such as high blood pressure, high cholesterol, smoking, diabetes, obesity, and a sedentary lifestyle. Major types of CVDs include coronary artery disease, heart attack, heart failure, arrhythmias, and stroke. Since 2015, SHL Medical has supported the launch of six combination products indicated for cardiometabolic diseases, and in doing so, has supported the treatment journey of at least 1.6 million patients in this therapeutic area.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/674e567558c34545b15c84fa82e2c9d3",
                  "title": "CNS",
                  "text": {
                    "markup": "<p>The central nervous system (CNS) is essential for life, serving as the main control center for processing and transmitting information throughout the body. CNS diseases encompass disorders that affect the brain and spinal cord, which are responsible for controlling body functions, movement, and cognition. Over the decades, SHL Medical has supported pharmaceutical companies in launching combination products for neurological conditions such as migraine, as well as for neurodegenerative disorders like multiple sclerosis.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/18525c7a7a464ceeadee3c655d672175",
                  "title": "Gastroenterology",
                  "text": {
                    "markup": "<p>Gastroenterological diseases are conditions that affect the gastrointestinal (GI) system, which includes the stomach, intestines, esophagus, liver, pancreas, and gallbladder. These diseases range from common disorders, such as acid reflux and gastritis, to more serious conditions like inflammatory bowel disease (IBD), liver disease, and colorectal cancer. Painful and often debilitating for sufferers, these conditions require biological treatments for effective management. SHL Medical has supported the launch of several combination products in this area, indicated for conditions such as ulcerative colitis and Crohn’s disease.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/29add147c86f4d1d93cac938845c7530",
                  "title": "Respiratory",
                  "text": {
                    "markup": "<p><span>Respiratory diseases are conditions that affect the lungs and airways, disrupting breathing and oxygen exchange. They include asthma, chronic obstructive pulmonary disease (COPD), pneumonia, bronchitis, and lung cancer. Causes of respiratory diseases range from infections and environmental pollutants to smoking, genetic predisposition, and autoimmune reactions. Notably, the only biologic medicine globally approved for children with oral corticosteroid-dependent asthma utilizes SHL Medical's Molly® modular platform technology. </span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/6c1c184154ea420b8db6fe56925941aa",
                  "title": "Genitourinary",
                  "text": {
                    "markup": "<p>Genitourinary diseases are conditions that affect the organs of the reproductive and urinary systems, including the kidneys, bladder, urethra, and reproductive organs. Common examples include urinary tract infections (UTIs), kidney stones, prostate disorders, incontinence, and cystitis. A combination product, first approved two decades ago for the treatment of anemia in patients with chronic kidney failure, leverages the DAI® autoinjector developed by SHL Medical.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/e7b75ad54bea439f83e3be68c246c2aa",
                  "title": "Oncology",
                  "text": {
                    "markup": "<p>According to the American Cancer Society, one in three people in the United States will be diagnosed with cancer during their lifetime. Oncology diseases, commonly referred to as cancers, encompass a broad range of conditions characterized by the uncontrolled growth and spread of abnormal cells in the body. These diseases can affect nearly any organ or tissue, leading to various types of cancer, including breast, lung, prostate, colorectal, and skin cancer. In this area, SHL Medical has supported the launch of a combination product indicated for chronic lymphocytic leukemia.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/a5c44ac087ca4d9bb054b60085c9b7d3",
                  "title": "Ophthalmology",
                  "text": {
                    "markup": "<p>Ophthalmological diseases refer to a range of conditions that affect the eyes and visual system, leading to impaired vision or discomfort. Common examples include cataracts, glaucoma, age-related macular degeneration (AMD), diabetic retinopathy, and conjunctivitis. In 2024, SHL Medical's microdosing device technology has been instrumental in a medicament recently approved for neonatal retinopathy.</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                },
                {
                  "contentTypeKey": "1966b898-7c04-4840-81de-49dee71c3c70",
                  "udi": "umb://element/afd4450b3bf3438b803a859edff524b7",
                  "title": "Infectious diseases",
                  "text": {
                    "markup": "<p><span>Infectious diseases are illnesses caused by pathogens, such as bacteria, viruses, fungi, or parasites, which invade the body and disrupt normal functions. These diseases can spread from person to person, through contaminated surfaces, or via vectors like insects. Effective prevention and treatment of infectious diseases often involve sanitation, vaccines, and antibiotic medications. To date, at least six combination products supported by SHL Medical's device technologies have been approved for treating various infectious diseases. </span></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  }
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "buttonsSupportText": "Note: The 12th IQVIA-recognized therapy area, called \"Others\", which is also covered by SHL Medical, is not described below. Curious if your molecular entity is compatible with our autoinjectors? Get in touch.",
      "primaryLink": [
        {
          "name": "Contact us",
          "udi": "umb://document/af2170d2b3d84a5aa889fb46696f8fcb"
        }
      ],
      "secondaryLink": null,
      "video": null,
      "mediaPosition": ""
    },
    {
      "contentTypeKey": "a6953e44-33e7-4390-b39c-add278f0bad9",
      "udi": "umb://element/8984cce688f541599c9aac61200f55d5",
      "title": "Want to know the ins and outs of our autoinjectors?",
      "subTitle": "",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a7f8e0c5259f406fb05f15e3a3055bc2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7312d529-a33d-48f6-a73c-4a18c876f551",
            "udi": "umb://element/a7f8e0c5259f406fb05f15e3a3055bc2",
            "title": "Molly Autoinjector White Paper",
            "description": "",
            "icon": "",
            "file": [
              "{\"Id\":\"kxrk5qpg5fqsmn99rbpg\",\"FileName\":\"Molly-Autoinjector-White-Paper_SHL-Medical-1.pdf\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kxrk5qpg5fqsmn99rbpg/Molly-Autoinjector-White-Paper_SHL-Medical-1.pdf\",\"AssetId\":\"jpw99cgbh7h62p2kmrgpqjms\",\"AssetName\":\"Molly-Autoinjector-White-Paper SHL-Medical-1\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/725b2d3e1ba747ab983e47e375aa75b3",
      "title": "Get in touch with our Business Development team",
      "text": {
        "markup": "<p><span>No matter your needs, our Business Development team is ready to take time for you.&nbsp;</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6b49129905844e25b49a2b5dcd5f51ff"
            },
            {
              "contentUdi": "umb://element/6b5387d70e6a47debf1234307508294c"
            },
            {
              "contentUdi": "umb://element/e58340d2f3864d968f11a53d464f8fd6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/6b49129905844e25b49a2b5dcd5f51ff",
            "image": [
              "{\"Id\":\"4vwsff8vmrxz7b7z964fbcw7\",\"FileName\":\"SHL-Medical_MichaelMcGowan_headshot2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4vwsff8vmrxz7b7z964fbcw7/SHL-Medical_MichaelMcGowan_headshot2.jpg\",\"AssetId\":\"tcfwn7fpr399x8bxm7kxbrp\",\"AssetName\":\"Michael McGowan\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Michael McGowan",
            "role": "Head of Business Development EMEA",
            "location": "",
            "phoneNumber": "",
            "email": "michael.mcgowan@shl-medical.com",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/6b5387d70e6a47debf1234307508294c",
            "image": [
              "{\"Id\":\"28wb5t4w6nptbhqv84h3gww\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC05037.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/28wb5t4w6nptbhqv84h3gww/SHL-Medical_2024_CPHI-Milan_DSC05037.jpg\",\"AssetId\":\"2bxssf3z27qjh3jjn8b5sbjv\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC05037\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Paul Martinez",
            "role": "Head of Business Development Americas",
            "location": "",
            "phoneNumber": "",
            "email": "paul.martinez@shl-medical.com",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/e58340d2f3864d968f11a53d464f8fd6",
            "image": [
              "{\"Id\":\"vkmwr3tgxh4jmp9626vjqx3t\",\"FileName\":\"SHL-Medical_MarkusBauss_headshot2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vkmwr3tgxh4jmp9626vjqx3t/SHL-Medical_MarkusBauss_headshot2.jpg\",\"AssetId\":\"c7ktfk3n9f2tqzpwsnkfxccf\",\"AssetName\":\"Markus Bauss\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Markus Bauss",
            "role": "Head of Business Development APAC",
            "location": "",
            "phoneNumber": "",
            "email": "markus.bauss@shl-medical.com",
            "description": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/ccaa62ffc6f4466c856cdd823f276335",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/be48d3266cb2420fb9b721b920113e56",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/a7db22d28c2443919551431c42795a9a",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/da2c997e3fad41fca9492f406750234d",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/9c26405d03a845a291d060dfa78de15c",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d37b8e63b33347169d91a130d11decc2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/d37b8e63b33347169d91a130d11decc2",
      "title": "Autoinjectors",
      "text": {
        "markup": "<p>An autoinjector is an injection device that enables the user to deliver a predetermined drug dosage through self-injection. It contains a pre-filled primary container that holds a fixed amount of drug formulation.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/44bdf6649bed43728d7fdf78d8b26815"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/44bdf6649bed43728d7fdf78d8b26815",
            "buttonIcon": "",
            "link": [
              {
                "name": "See all our products",
                "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <noResultsPrimaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsPrimaryLink>
    <noResultsSecondaryLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </noResultsSecondaryLink>
    <noResultsText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>No Results Text - Content field&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </noResultsText>
    <noResultsTitle>
      <Value Culture="en-us"><![CDATA[No Results Title - Content field ]]></Value>
    </noResultsTitle>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[{
  "value": "007cbe",
  "label": "light-blue",
  "sortOrder": 13,
  "id": "10"
}]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>