<?xml version="1.0" encoding="utf-8"?>
<Content Key="e58cd0d2-5ff1-4344-88a0-91dab0103fcf" Alias="Device platforms" Level="3">
  <Info>
    <Parent Key="62f20918-7dd8-4024-ae08-fa675cd79656">Our products</Parent>
    <Path>/Homepage/OurProducts/DevicePlatforms</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:20:58</CreateDate>
    <NodeName Default="Device platforms">
      <Name Culture="en-us">Device platforms</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d099b172d3b74a15853a8e56d32e4cd4",
        "settingsUdi": "umb://element/4a3ac683db7e4b29b39f5f9a1dc0e1cc"
      },
      {
        "contentUdi": "umb://element/0184c38ac8444d06a579b6e37e3009e7",
        "settingsUdi": "umb://element/8c75d9c8ea4742c7878ea011733aee94"
      },
      {
        "contentUdi": "umb://element/32c20a77ec74469ca45888178fd76f45",
        "settingsUdi": "umb://element/bc5fdbe0eb9046e7b2512229976762f1"
      },
      {
        "contentUdi": "umb://element/55cb913a08fc464bb6953965165aa6cb",
        "settingsUdi": "umb://element/b5bfc9f329304cc18e98710eb8a603e2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/d099b172d3b74a15853a8e56d32e4cd4",
      "title": "Molly® - SHL Medical’s modular platform autoinjector",
      "description": {
        "markup": "<p>As more platform products enter the autoinjector market, we set out to revolutionize the impact of platform technologies on the industry. This vision led to the creation of the Molly modular platform, an adaptable solution designed to combine the strengths of a platform approach with enhanced flexibility in design, development, and production. Today, the Molly® platform is widely utilized for treating cardiometabolic conditions, including obesity, and serves as the delivery device for popular weight-loss drugs, showcasing its critical role in supporting modern therapeutic needs.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Read more about Molly at Success stories",
          "udi": "umb://document/ef9871ae2da74fb08237c86c847f6b4b"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": "",
      "video": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dc5934636d0547b3a86f75d0da52cce0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0c15a1bb-3192-4824-8dcd-4be0a3957175",
            "udi": "umb://element/dc5934636d0547b3a86f75d0da52cce0",
            "sources": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/9ea9c98b41834c24abe5306a9e18df38"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "737d7cee-e64f-475b-8fac-662e1d0c934d",
                  "udi": "umb://element/9ea9c98b41834c24abe5306a9e18df38",
                  "sourceSize": [
                    "1080p"
                  ],
                  "videoLink": "https://player.vimeo.com/progressive_redirect/playback/1003549319/rendition/1080p/file.mp4?loc=external&log_user=0&signature=b3f33bf9ec81bf479f4907cdf0956f69d505c58dd986765eb8681bb9d62bf365"
                }
              ],
              "settingsData": []
            },
            "title": "Customization made simpler with platform technology",
            "description": "",
            "totalTime": ""
          }
        ],
        "settingsData": []
      },
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3ded452c5970485886bc076cb119a259"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/3ded452c5970485886bc076cb119a259",
            "image": [
              "{\"Id\":\"chh7jx4hhrr99b4frnwpnqx\",\"FileName\":\"Molly-and-Molly-2.25-autoinjector-slider-1-1.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/chh7jx4hhrr99b4frnwpnqx/Molly-and-Molly-225-autoinjector-slider-1-1.png\",\"AssetId\":\"xs3tb49pnpnwq4nf485zpqxr\",\"AssetName\":\"Molly-and-Molly-2.25-autoinjector-slider-1-1\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/0184c38ac8444d06a579b6e37e3009e7",
      "title": "Advantages of SHL Medical platforms",
      "description": "Partnering with SHL Medical means comprehensive support for your drug delivery development project from start to finish. Here are the key advantages of utilizing the Molly® platform to bring your drug to market.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a6da720100d64575840a5ef197999f60"
            },
            {
              "contentUdi": "umb://element/0cc611bc5f6f47a8af4486d809f33c8a"
            },
            {
              "contentUdi": "umb://element/cfbcf185973c421d89c2ca57c4b89243"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/a6da720100d64575840a5ef197999f60",
            "title": "Smart investment",
            "description": "Investing in SHL Medical's self-injection device platform represents a strategic decision for customers. With access to an established manufacturing infrastructure, they can utilize our in-house assets or opt to invest in their own. This approach minimizes the risks typically associated with capital investments, allowing for seamless integration into the Molly platform.",
            "image": [
              "{\"Id\":\"pgg5wfg5n49f8pnzr83p29jq\",\"FileName\":\"North_Charleston_USA_Facility-20240612-4.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pgg5wfg5n49f8pnzr83p29jq/North_Charleston_USA_Facility-20240612-4.jpg\",\"AssetId\":\"8zjn2wgqk5r3cc2mn88wsc\",\"AssetName\":\"North Charleston USA Facility-20240612-4\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/0cc611bc5f6f47a8af4486d809f33c8a",
            "title": "Faster development times",
            "description": "SHL Medical's platform accelerates development timelines, leveraging over 30 years of expertise in self-injection solutions. Customers benefit from a wide range of customization options and future-proof technologies that address the growing demands for digital connectivity and sustainability. This scalability ensures efficient production, whether for low or high volumes.",
            "image": [
              "{\"Id\":\"v3t8v9px9bgrh5fjk4jxjpq\",\"FileName\":\"Teaser 2-2_Molly Autoinjector - Modular Platform Technology-high.gif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/v3t8v9px9bgrh5fjk4jxjpq/Teaser_2-2_Molly_Autoinjector_-_Modular_Platform_Technology-high.gif\",\"AssetId\":\"gqqqt6wz74k3vs7gwjvn2gkm\",\"AssetName\":\"Molly Modular Platform Autoinjector\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/cfbcf185973c421d89c2ca57c4b89243",
            "title": "Reduced risks and cost",
            "description": "Partnering with SHL Medical significantly reduces risks and costs for customers. The platform is backed by a robust portfolio of patent families and offers extensive customization options. It provides a highly reliable solution that guarantees a safe and easy injection experience for patients, enhancing overall satisfaction and confidence in the product.",
            "image": [
              "{\"Id\":\"skq7xhsc4grfqfvrpsgjsm\",\"FileName\":\"molly.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/skq7xhsc4grfqfvrpsgjsm/molly.png\",\"AssetId\":\"ns9mf7qwrmffh4cf7s68v679\",\"AssetName\":\"molly\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "a9040e34-e98e-4dd7-bc30-b527556e461e",
      "udi": "umb://element/32c20a77ec74469ca45888178fd76f45",
      "title": "Our device platforms",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b6b7406a4e4e4a3baf6ef8a2085ddc67"
            },
            {
              "contentUdi": "umb://element/8a88eb3335eb4d13895c17c85ddb584a"
            },
            {
              "contentUdi": "umb://element/fa73cb8e6ba74128a7aca00b84850e2c"
            },
            {
              "contentUdi": "umb://element/21d3ea262cc94042a2f5b7da2b3ba57e"
            },
            {
              "contentUdi": "umb://element/0397317cdfb1466e8ed12627b24b3fee"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/b6b7406a4e4e4a3baf6ef8a2085ddc67",
            "productPage": "umb://document/8eeff4fc3df34d0e83606fd734b1ad37"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/8a88eb3335eb4d13895c17c85ddb584a",
            "productPage": "umb://document/ed42b9d7f5cf442699c72ea9a6285e19"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/fa73cb8e6ba74128a7aca00b84850e2c",
            "productPage": "umb://document/42cfb4ced540401ea0278e9f2697bcdf"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/21d3ea262cc94042a2f5b7da2b3ba57e",
            "productPage": "umb://document/b280b049701240cd8498274147d3ce88"
          },
          {
            "contentTypeKey": "8d32fc2f-c717-4512-b4bd-15daf695084c",
            "udi": "umb://element/0397317cdfb1466e8ed12627b24b3fee",
            "productPage": "umb://document/0063a8124a4d42c09490473f60c87819"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/55cb913a08fc464bb6953965165aa6cb",
      "title": "Get in touch with our Business Development team",
      "text": {
        "markup": "<p>No matter your needs, our Business Development team is ready to take time for you.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/524b605907a149549a8186e2e6a5bdc2"
            },
            {
              "contentUdi": "umb://element/3718c7642b604c518d77eb0fa017e3c7"
            },
            {
              "contentUdi": "umb://element/159aed4016004c96923ee275da904f11"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/524b605907a149549a8186e2e6a5bdc2",
            "image": [
              "{\"Id\":\"4vwsff8vmrxz7b7z964fbcw7\",\"FileName\":\"SHL-Medical_MichaelMcGowan_headshot2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/4vwsff8vmrxz7b7z964fbcw7/SHL-Medical_MichaelMcGowan_headshot2.jpg\",\"AssetId\":\"tcfwn7fpr399x8bxm7kxbrp\",\"AssetName\":\"Michael McGowan\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Michael McGowan",
            "role": "Head of Business Development EMEA",
            "location": "",
            "phoneNumber": "",
            "email": "michael.mcgowan@shl-medical.com",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/3718c7642b604c518d77eb0fa017e3c7",
            "image": [
              "{\"Id\":\"28wb5t4w6nptbhqv84h3gww\",\"FileName\":\"SHL-Medical_2024_CPHI-Milan_DSC05037.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/28wb5t4w6nptbhqv84h3gww/SHL-Medical_2024_CPHI-Milan_DSC05037.jpg\",\"AssetId\":\"2bxssf3z27qjh3jjn8b5sbjv\",\"AssetName\":\"SHL-Medical 2024 CPHI-Milan DSC05037\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Paul Martinez",
            "role": "Head of Business Development Americas",
            "location": "",
            "phoneNumber": "",
            "email": "paul.martinez@shl-medical.com",
            "description": ""
          },
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/159aed4016004c96923ee275da904f11",
            "image": [
              "{\"Id\":\"vkmwr3tgxh4jmp9626vjqx3t\",\"FileName\":\"SHL-Medical_MarkusBauss_headshot2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vkmwr3tgxh4jmp9626vjqx3t/SHL-Medical_MarkusBauss_headshot2.jpg\",\"AssetId\":\"c7ktfk3n9f2tqzpwsnkfxccf\",\"AssetName\":\"Markus Bauss\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Markus Bauss",
            "role": "Head of Business Development APAC",
            "location": "",
            "phoneNumber": "",
            "email": "markus.bauss@shl-medical.com",
            "description": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/4a3ac683db7e4b29b39f5f9a1dc0e1cc",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/8c75d9c8ea4742c7878ea011733aee94",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/bc5fdbe0eb9046e7b2512229976762f1",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/b5bfc9f329304cc18e98710eb8a603e2",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3334af6af55b4636899409558a697574"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/3334af6af55b4636899409558a697574",
      "title": "Device platforms",
      "text": {
        "markup": "<p>Device platforms like autoinjectors provide reliable, user-friendly solutions for self-administering medications. Engineered for consistent dosing, they improve patient adherence, safety, and comfort. With customizable features, autoinjectors cater to diverse therapeutic needs, enhancing drug delivery and patient care. At SHL Medical, we offer multiple device platforms for both pre-filled syringes and cartridges, including a versatile model compatible with both formats.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/545557e7d4c94ae8b8ac6eb92628eb2b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "71083e4a-8343-45cb-ac79-34a03d4d17a0",
            "udi": "umb://element/545557e7d4c94ae8b8ac6eb92628eb2b",
            "buttonIcon": "",
            "link": [
              {
                "name": "Check our products",
                "udi": "umb://document/62f209187dd84024ae08fa675cd79656"
              }
            ],
            "variant": ""
          }
        ],
        "settingsData": []
      },
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Discover SHL's versatile device platforms for self-administering medications, enhancing patient care with reliable, user-friendly autoinjectors.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Device Platforms | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>