<?xml version="1.0" encoding="utf-8"?>
<Content Key="9697eee3-e0dd-429d-8d1d-f8320b81a899" Alias="Innovation" Level="3">
  <Info>
    <Parent Key="62f20918-7dd8-4024-ae08-fa675cd79656">Our products</Parent>
    <Path>/Homepage/OurProducts/Innovation</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:21:58</CreateDate>
    <NodeName Default="Innovation">
      <Name Culture="en-us">Innovation</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c581eb64f0604a439296c4cede487a5f",
        "settingsUdi": "umb://element/cd263c719bad42d6a7f0d2c6f3474faf"
      },
      {
        "contentUdi": "umb://element/eb5911fe9b4a49d0a9eeeff246d688f7",
        "settingsUdi": "umb://element/6295dcdeccc4443e8f535f454096cba8"
      },
      {
        "contentUdi": "umb://element/922ac36906114399922683ffbbe1e2b5",
        "settingsUdi": "umb://element/8c6c40689cca43e4b6ee56655231e8af"
      },
      {
        "contentUdi": "umb://element/1b3d5d7fa7684b39abaa68209bfc45e0",
        "settingsUdi": "umb://element/cd58a44594f6454db9363dfc21a21439"
      },
      {
        "contentUdi": "umb://element/ec8d978b8d3c47669b4d0dcddefaccc1",
        "settingsUdi": "umb://element/a02748e7bfcb47fca51e930fe9da13f7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0533595f-1b13-4987-9033-f0940680c6ee",
      "udi": "umb://element/c581eb64f0604a439296c4cede487a5f",
      "title": "Facts and figures",
      "text": "",
      "primaryLink": null,
      "secondaryLink": null,
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/65b106f652c74bcdade18f3a6428c87c"
            },
            {
              "contentUdi": "umb://element/a45ba07cc4d5404cb7b0c2a565c82463"
            },
            {
              "contentUdi": "umb://element/eb29c56eaa9e480fb00174b42f7e3ae3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/65b106f652c74bcdade18f3a6428c87c",
            "title": "227",
            "subTitle": "active patent families for single-use autoinjectors",
            "text": {
              "markup": "<p>With 227 patent families, which is 2.5 times more than our closest competitor, we lead the way in innovation.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/a45ba07cc4d5404cb7b0c2a565c82463",
            "title": "12",
            "subTitle": "therapy areas covered",
            "text": {
              "markup": "<p>Our devices are used in all therapy areas (IQVIA) covering 40+ indications, serving a wide range of different patient types.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d2b19bb1-da31-4dac-b251-032514e2246d",
            "udi": "umb://element/eb29c56eaa9e480fb00174b42f7e3ae3",
            "title": "30+",
            "subTitle": "years experience in self-injection solutions",
            "text": {
              "markup": "<p>As innovation leader, we have launched over 50 combination products and are driving customer success.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/eb5911fe9b4a49d0a9eeeff246d688f7",
      "title": "Innovation comes in many forms at SHL",
      "description": "As the innovation leader and pioneer, we shape the future and reinvent drug\ndelivery solutions together with our customers.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d280edb1097b4e8d8692fa034cc37858"
            },
            {
              "contentUdi": "umb://element/16b21dd2050248c0ac48b844ed1e2cf2"
            },
            {
              "contentUdi": "umb://element/84a7e0926ddf4de7859811cff23f7ba6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/d280edb1097b4e8d8692fa034cc37858",
            "title": "Product innovation",
            "description": "We are the most trusted brand in pharma and biotech, and we have launched over 50 autoinjector combination products. However, we are not stopping now; we are constantly pushing for new innovative products that will allow even more patients to lead better lives through self-administration and improved treatment experiences. ",
            "image": [
              "{\"Id\":\"m7vw66m59rtcx7v8ckw6r7c\",\"FileName\":\"Industrial Design_8888e.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/m7vw66m59rtcx7v8ckw6r7c/Industrial_Design_8888e.tif\",\"AssetId\":\"gxx85gjcp2npcggjkc5v9fz\",\"AssetName\":\"Industrial Design_8888e\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/16b21dd2050248c0ac48b844ed1e2cf2",
            "title": "Manufacturing innovation",
            "description": "A key component of SHL Medical's success lies in its fully vertically integrated approach. This structure enables us to innovate our production processes, as we design and build our own manufacturing and testing equipment to provide optimal support throughout the device development value chain. By handling the majority of processes in-house, we proudly position ourselves as a comprehensive, end-to-end solution provider.",
            "image": [
              "{\"Id\":\"w3pjmw7n45j6vzgtn3hjjxx\",\"FileName\":\"Tooling-molding-carving.tif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/w3pjmw7n45j6vzgtn3hjjxx/Tooling-molding-carving.tif\",\"AssetId\":\"jc5pw6wtqbq8xkr369rmh7s\",\"AssetName\":\"Tooling-molding-carving\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/84a7e0926ddf4de7859811cff23f7ba6",
            "title": "Genuine sustainability",
            "description": "SHL Medical is committed to a truly sustainable approach, addressing environmental responsibility holistically. Rather than engaging in superficial measures, we focus on genuine improvements in our manufacturing processes, implementing innovative changes and continuously pursuing efficiency gains to reduce electricity consumption, minimize manufacturing waste, and more.",
            "image": [
              "{\"Id\":\"56nkqzkmm8xxcgvxb68kbn\",\"FileName\":\"SHL-Medical_MollySE_AOU_installation_20241008-4.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/56nkqzkmm8xxcgvxb68kbn/SHL-Medical_MollySE_AOU_installation_20241008-4.jpg\",\"AssetId\":\"kcc7pwbvmqpvcfrnbhvgvtvz\",\"AssetName\":\"SHL-Medical MollySE AOU installation 20241008-4\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/922ac36906114399922683ffbbe1e2b5",
      "title": "Elexy™",
      "description": {
        "markup": "<p>SHL Medical's first electromechanical autoinjector is a one-of-kind. It is truly versatile as it features one interface for both pre-filled syringes and cartridges. IIts versatility also accelerates time to market for new drug therapies, helping companies quickly respond to emerging therapeutic needs. Elexy™ offers top-tier flexibility across diverse injection profiles, accommodating varying volumes, viscosities, injection durations, and primary container types, all with reliable performance. Its power unit supports drug cassettes containing either pre-filled syringes (1.0 mL and 2.25 mL) or cartridges (3.0 mL and 5.0 mL).</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Learn more about Elexy",
          "udi": "umb://document/f4b6e415faa249029dbd1d2215d7f41a"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f66346c6c4854c248fe7dcc03554a257"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/f66346c6c4854c248fe7dcc03554a257",
            "image": [
              "{\"Id\":\"88nmvnfptm38sz8s3z4p4fhq\",\"FileName\":\"Elexy_cassette_multiple_round_20240711.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/88nmvnfptm38sz8s3z4p4fhq/Elexy_cassette_multiple_round_20240711.png\",\"AssetId\":\"h7ngftp8bjnhspccq8mjnt\",\"AssetName\":\"Elexy Cassette Multiple Round - Molly and Maggie\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/1b3d5d7fa7684b39abaa68209bfc45e0",
      "title": "Molly® Connected Cap",
      "description": {
        "markup": "<p>At SHL Medical, envisioning the future of Digital Health is a priority. We are not only developing new connected devices but also actively developing connectivity solutions for existing marketed products. While challenging, innovation remains a hallmark of our work, exemplified by the creation of the Molly® Connected Cap—a compact, retrofittable autoinjector add-on that records and transmits data on patients’ device usage.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Learn more about Molly® Connected Cap",
          "udi": "umb://document/2ed21b911ad2475194cf4a1fc063513e"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "left"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/eab0935f255a4f4b8c3fda82d308f841"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/eab0935f255a4f4b8c3fda82d308f841",
            "image": [
              "{\"Id\":\"kvf6xt3n9v2hfc8xx4mggvnm\",\"FileName\":\"molly-ccap-open.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/kvf6xt3n9v2hfc8xx4mggvnm/molly-ccap-open.png\",\"AssetId\":\"k5wjkqmj74vng2v6x34qsxh\",\"AssetName\":\"molly-ccap-open\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3c44e8a5-b940-47e6-a5c4-303bfd08cf88",
      "udi": "umb://element/ec8d978b8d3c47669b4d0dcddefaccc1",
      "title": "Large-volume/high-viscosity drug delivery systems",
      "description": {
        "markup": "<p>SHL Medical is currently developing the future landscape of versatile drug delivery systems that support the growing trend toward personalized medicine and less frequent injections. Often developed as large-volume and/or high-viscosity subcutaneous formulations, these novel therapeutic molecules require innovative technologies that consider the delivery mechanism and patients’ ease of use. We are hopeful that our new and innovative product platforms will support self-administration for therapeutic areas like oncology.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryButton": [
        {
          "name": "Get in touch",
          "udi": "umb://document/21192522bf8e4532839d88739fe48bf4"
        }
      ],
      "secondaryButton": null,
      "mediaPosition": [
        "right"
      ],
      "video": null,
      "image": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/39ea62d30cb1490aa2e7885948e7811c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8681ee8c-079a-4d70-8dbd-d90a5018488e",
            "udi": "umb://element/39ea62d30cb1490aa2e7885948e7811c",
            "image": [
              "{\"Id\":\"5ngsmv7w9wct2qg73496nm84\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D7738.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/5ngsmv7w9wct2qg73496nm84/SHL-Medical-Office_People_Zug_Konstantin_KK5D7738.jpg\",\"AssetId\":\"4jnkbkqbp6g4j9wc7nqjbptv\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D7738\",\"AssetDescription\":\"\"}"
            ],
            "caption": "",
            "fullWidth": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/cd263c719bad42d6a7f0d2c6f3474faf",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "062f54",
        "label": "general",
        "sortOrder": 1,
        "id": "3"
      }
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/6295dcdeccc4443e8f535f454096cba8",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/8c6c40689cca43e4b6ee56655231e8af",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "f3f9f8",
        "label": "pastel-blue",
        "sortOrder": 10,
        "id": "9"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/cd58a44594f6454db9363dfc21a21439",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "e3f8fa",
        "label": "lightest-blue",
        "sortOrder": 11,
        "id": "14"
      }
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/a02748e7bfcb47fca51e930fe9da13f7",
      "identifier": "",
      "navigationTitle": "",
      "theme": {
        "value": "062f54",
        "label": "general",
        "sortOrder": 1,
        "id": "3"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bfb094478630404c9efa0ec224b12712"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/bfb094478630404c9efa0ec224b12712",
      "title": "Innovation in drug delivery",
      "text": {
        "markup": "<p><span>We shape the future as the innovation leader. </span></p>\n<p>&nbsp;</p>\n<p><span>SHL Medical is not only a medical device company; we are an innovation company. Not only did we pioneer the autoinjector market, but we are also pushing the envelope in future drug delivery.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": null,
      "secondaryLink": null
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Pioneering in the autoinjector market and crafting the future of drug delivery. Learn more on innovation in drug delivery technology by SHL Medical.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Innovation in drug delivery | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>