<?xml version="1.0" encoding="utf-8"?>
<Content Key="611e7211-bef4-45cb-a9d0-79d2d36192dd" Alias="Solutions by customer type" Level="3">
  <Info>
    <Parent Key="62f20918-7dd8-4024-ae08-fa675cd79656">Our products</Parent>
    <Path>/Homepage/OurProducts/SolutionsByCustomerType</Path>
    <Trashed>false</Trashed>
    <ContentType>pageContent</ContentType>
    <CreateDate>2024-11-13T16:21:22</CreateDate>
    <NodeName Default="Solutions by customer type">
      <Name Culture="en-us">Solutions by customer type</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fae4cae2-90ca-4da9-aaf4-4da25f9b9d1d">PageContent</Template>
  </Info>
  <Properties>
    <cardCategory>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardCategory>
    <cardDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardDescription>
    <cardImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cardImage>
    <contentBlocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7f37c286608c4fadb625f3567dcc9ada",
        "settingsUdi": "umb://element/6114912fcdf34411b56e04196fc64cfc"
      },
      {
        "contentUdi": "umb://element/df9699a134bf4098bfbef3a94be28ba1",
        "settingsUdi": "umb://element/9b3504c62ec54a1aa04b54b0d7028c5a"
      },
      {
        "contentUdi": "umb://element/c0c2f62d83a34da393c721ac94f115e2",
        "settingsUdi": "umb://element/1f94d598aef9464faf4068e548e82bb6"
      },
      {
        "contentUdi": "umb://element/8d48118843c342668d61e1bdab8e842d",
        "settingsUdi": "umb://element/d5be344a6432417fb721ec73d981a172"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/7f37c286608c4fadb625f3567dcc9ada",
      "title": "Why SHL is the best partner for biotech startups",
      "description": "The learnings from helping customers and patients all over the world have enriched us with unparalleled experience. Regardless of our customers’ changing needs, our agile and holistic support will always be there to provide the most reliable customer journey, from ideation to products with longevity.\n",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e8f6f18d17554d2bafb51c2d38932cbc"
            },
            {
              "contentUdi": "umb://element/2a3f8606e50049168488e6d8a824bdb8"
            },
            {
              "contentUdi": "umb://element/af3cd7e55678413a9866c04605ff6262"
            },
            {
              "contentUdi": "umb://element/4f28161b9c764bb1aecbdbae597d402f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/e8f6f18d17554d2bafb51c2d38932cbc",
            "title": "We grow with you",
            "description": "We are ready to invest in your growth. Our scalable platforms allow us to work on projects from small batches to tens of millions of devices.\n",
            "image": [
              "{\"Id\":\"2zt8w3j5xzpbt45nqrhrtfr\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D6645.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2zt8w3j5xzpbt45nqrhrtfr/SHL-Medical-Office_People_Zug_Konstantin_KK5D6645.jpg\",\"AssetId\":\"xmtfsvmxx5hsjc9gf49v5wcw\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D6645\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/2a3f8606e50049168488e6d8a824bdb8",
            "title": "End-to-end solution",
            "description": "We support you throughout all phases of device development, ensuring you get the right solution and expert insights at every stage.\n",
            "image": [
              "{\"Id\":\"xt9vr8b6httvm4mkxf3n7t6\",\"FileName\":\"SHL-Medical-Office_People_Zug_Konstantin_KK5D8369.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/xt9vr8b6httvm4mkxf3n7t6/SHL-Medical-Office_People_Zug_Konstantin_KK5D8369.jpg\",\"AssetId\":\"vcf6njzfgm5gwpvv88hsz\",\"AssetName\":\"SHL-Medical-Office People Zug Konstantin KK5D8369\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/af3cd7e55678413a9866c04605ff6262",
            "title": "Our demonstrated expertise",
            "description": "We have the longest expertise which allows us to tackle very different types of projects.\n",
            "image": [
              "{\"Id\":\"2j74p82jg76z6jvqqs3wkq96\",\"FileName\":\"Employee_7535.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/2j74p82jg76z6jvqqs3wkq96/Employee_7535.jpg\",\"AssetId\":\"mcp4shrpv5wsjg6j4khbbf8\",\"AssetName\":\"Employee_7535\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/4f28161b9c764bb1aecbdbae597d402f",
            "title": "Low investment and risk",
            "description": "You can fully outsource device manufacturing, leveraging our in-house manufacturing assets without having to invest in your own. ",
            "image": [
              "{\"Id\":\"pgxmj2v2fsgts289gb3xsj\",\"FileName\":\"shl-medical-AMSD-rsa-20240206-7.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/pgxmj2v2fsgts289gb3xsj/shl-medical-AMSD-rsa-20240206-7.jpg\",\"AssetId\":\"r5vw4sk7mfrswc4g5g7vsnpq\",\"AssetName\":\"shl-medical-AMSD-rsa-20240206-7\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": ""
    },
    {
      "contentTypeKey": "faa47dda-a4ae-4f0c-b1d3-43d9a49e9151",
      "udi": "umb://element/df9699a134bf4098bfbef3a94be28ba1",
      "title": " Why global pharma companies partner with us",
      "description": "Our entrepreneurial spirit and visionary foundation have driven our success since our inception in 1989. Through groundbreaking innovations, we have reshaped the drug delivery industry. By collaborating closely with our partners, we turn ambitious projects into successful solutions.",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a220a0044dfc4f9bbafe6b36feb58a95"
            },
            {
              "contentUdi": "umb://element/413c0549a05b4e20bc5efafa3dc399b4"
            },
            {
              "contentUdi": "umb://element/74f9b8897b6346b1bebe2ff571e981b6"
            },
            {
              "contentUdi": "umb://element/a50891cf4d6b41f8a95f8a3c9c26ecdd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/a220a0044dfc4f9bbafe6b36feb58a95",
            "title": " Our track record",
            "description": "We have the longest experience and strongest track record in the autoinjector market.\n",
            "image": [
              "{\"Id\":\"fqmtv85cbm45qt9v6w4nc6\",\"FileName\":\"Celebrating Molly(R) _ Brief history of Molly(R) autoinjectors-high.gif\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/fqmtv85cbm45qt9v6w4nc6/Celebrating_MollyR___Brief_history_of_MollyR_autoinjectors-high.gif\",\"AssetId\":\"qmsgtcsnnt4xqb6b947z37kq\",\"AssetName\":\"Celebrating Molly\\u00AE   Brief history of Molly\\u00AE autoinjectors-high\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/413c0549a05b4e20bc5efafa3dc399b4",
            "title": "We innovate for you",
            "description": "We are dedicated to advancing drug delivery systems that expand the possibilities for self-injection, ensuring broader treatment options.\n",
            "image": [
              "{\"Id\":\"7shgvg66tkt5ppj7hw8fb5mp\",\"FileName\":\"Elexy_Mutiple_1PU 2cassettes_20240730.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/7shgvg66tkt5ppj7hw8fb5mp/Elexy_Mutiple_1PU_2cassettes_20240730.png\",\"AssetId\":\"r4vh9s6th54xt42b4kj5hs\",\"AssetName\":\"Elexy Multiple 1PU\\u002B2 Cassettes - Molly and Maggie\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/74f9b8897b6346b1bebe2ff571e981b6",
            "title": "High customer proximity",
            "description": "Our customer proximity due to our global presence offers high supply chain security and ensures efficient and sustainable collaboration.\n",
            "image": [
              "{\"Id\":\"9zmmwfsp7hnsvrsbxqssvbr\",\"FileName\":\"world-map-full-width.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/9zmmwfsp7hnsvrsbxqssvbr/world-map-full-width.png\",\"AssetId\":\"mpp3xqkkf7t9pbgkg565qw\",\"AssetName\":\"world-map-full-width\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "8f57620e-26a8-4e68-9e7a-df9129fbb959",
            "udi": "umb://element/a50891cf4d6b41f8a95f8a3c9c26ecdd",
            "title": "Seamless scalability",
            "description": "The scalability from low- to high-volume supply with options of asset ownership allows for flexible, high-quality solutions.\n",
            "image": [
              "{\"Id\":\"vbwnnxm7wfvrt9nbknbxb5p\",\"FileName\":\"2_Drug_C_Molding.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/vbwnnxm7wfvrt9nbknbxb5p/2_Drug_C_Molding.jpg\",\"AssetId\":\"rc5ksfvq8q8x5zkh5h9656\",\"AssetName\":\"2 Drug C Molding\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      },
      "firstCardColor": {
        "value": "baedf3",
        "label": "pale-blue",
        "sortOrder": 12,
        "id": "8"
      }
    },
    {
      "contentTypeKey": "0a812379-8299-46e8-9156-d0cf1920b582",
      "udi": "umb://element/c0c2f62d83a34da393c721ac94f115e2",
      "quotes": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/575b36be31654b37a6d12b730f46a6f0"
            },
            {
              "contentUdi": "umb://element/57b7ce58c7854721af7b967ba481c345"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/575b36be31654b37a6d12b730f46a6f0",
            "quoteText": "“SHL not only provides state-of-the-art autoinjector technology, but also offers vertically integrated end-to-end solutions that can drive success for various pharmaceutical needs. From design to machinery and manufacturing to final assembly - they can do it all.”",
            "nameAuthor": "Jakob Gjelstrup Kristensen",
            "role": "Senior Vice President Technical Development & Manufacturing",
            "company": "Zealand",
            "image": [
              "{\"Id\":\"3fsmfcmxsrk9nf5qkh26shjk\",\"FileName\":\"zealand-pharma-logo-spaced.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/3fsmfcmxsrk9nf5qkh26shjk/zealand-pharma-logo-spaced.png\",\"AssetId\":\"r87sctbpwsmchgp8mbjw97\",\"AssetName\":\"zealand-pharma-logo-spaced\",\"AssetDescription\":\"\"}"
            ]
          },
          {
            "contentTypeKey": "17ed66f3-0be9-4732-8dc4-2535d3739d1e",
            "udi": "umb://element/57b7ce58c7854721af7b967ba481c345",
            "quoteText": "“As a business partner and strong collaborator since several years, we believe that over the period of time, SHL has emerged as favorable device supplier which any healthcare or pharmaceutical company can rely upon.”",
            "nameAuthor": "Satyashodhan Patil",
            "role": "Deputy GM Device Development",
            "company": "Sun Pharmaceutical Industries",
            "image": [
              "{\"Id\":\"64ctb5r92sgmgb3rmxpvwf6\",\"FileName\":\"sun-pharma-logo-spaced-tall.png\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/64ctb5r92sgmgb3rmxpvwf6/sun-pharma-logo-spaced-tall.png\",\"AssetId\":\"qs3vpt6bs3h3c5cx83pt97h\",\"AssetName\":\"sun-pharma-logo-spaced-tall\",\"AssetDescription\":\"\"}"
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "445794ef-8481-4f6a-8eaf-845fda4fb393",
      "udi": "umb://element/8d48118843c342668d61e1bdab8e842d",
      "title": "Get in touch with Customer Solutions",
      "text": {
        "markup": "<p>Reach out to our Customer Solutions Director for more information and demonstrations.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "primaryLink": "",
      "secondaryLink": "",
      "showCarousel": "1",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2b003faf81ea432f9ac12c36b66c3eab"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fa45115c-51e5-4f3c-9386-abdb3c8036df",
            "udi": "umb://element/2b003faf81ea432f9ac12c36b66c3eab",
            "image": [
              "{\"Id\":\"cjwq2zb7jg4t7th5zbp9ffg\",\"FileName\":\"SHL-Medical_VinceMasciopinto_Headshot2.jpg\",\"Url\":\"https://cdn.bfldr.com/DTG6CG68/at/cjwq2zb7jg4t7th5zbp9ffg/SHL-Medical_VinceMasciopinto_Headshot2.jpg\",\"AssetId\":\"xgsrn9j8t43vj8vk8bg7m9st\",\"AssetName\":\"Vince Masciopinto\",\"AssetDescription\":\"\"}"
            ],
            "fullName": "Vincent Masciopinto",
            "role": "Customer Solutions Director",
            "location": "",
            "phoneNumber": "",
            "email": "vincent.masciopinto@shl-medical.com",
            "description": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/6114912fcdf34411b56e04196fc64cfc",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "fecd61f2-eabe-438f-8cc0-5949254a80f6",
      "udi": "umb://element/9b3504c62ec54a1aa04b54b0d7028c5a",
      "identifier": "",
      "navigationTitle": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/1f94d598aef9464faf4068e548e82bb6",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    },
    {
      "contentTypeKey": "64bb302d-ba0a-42fd-82c1-4134101178ef",
      "udi": "umb://element/d5be344a6432417fb721ec73d981a172",
      "identifier": "",
      "navigationTitle": "",
      "theme": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <disableSocialShare>
      <Value><![CDATA[]]></Value>
    </disableSocialShare>
    <doNotFollow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotFollow>
    <doNotIndex>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </doNotIndex>
    <hero>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a159a5370a8f4e718f2c0f6825bf07dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "748d5c31-bf30-4ed4-8465-ca1252d29191",
      "udi": "umb://element/a159a5370a8f4e718f2c0f6825bf07dd",
      "title": "The right solutions for all customer segments",
      "text": {
        "markup": "<p><span>While we have the scale and prowess to serve established global pharma companies, we pride ourselves to be the best partner to biotech startups as well </span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subTitle": "",
      "primaryLink": "",
      "secondaryLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </hero>
    <hideFromSearch>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </ogTitle>
    <pageTheme>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTheme>
    <searchKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeywords>
    <seoMetaDescription>
      <Value Culture="en-us"><![CDATA[Partner with SHL for scalable autoinjector solutions, offering end-to-end support, unmatched expertise, and low-risk manufacturing for biotech startups.]]></Value>
    </seoMetaDescription>
    <seoMetaTitle>
      <Value Culture="en-us"><![CDATA[Solutions for emerging biotech | SHL Medical]]></Value>
    </seoMetaTitle>
    <slogan>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </slogan>
    <twitterDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterImage>
    <twitterTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>